[2018-03-10 01:10] saschanaz commented on #1559
@marcoscaceres, do we want to keep this formatter-like feature after we do https://github.com/w3c/webidl2.js/issues/125?

[2018-03-10 03:08] marcoscaceres commented on #1559
No, I’d like to get rid of the formatter in ReSpec.

[2018-03-10 13:33] marcoscaceres commented on #460
@sidvishnoi has tests for this in #1567. @shikhar-scs, can you work together on this with @sidvishnoi? I guess we also need a test for the sub-heading.

[2018-03-10 13:46] marcoscaceres commented on #1559
@Orphis, should be good now, but you update ReSpec in the Web RTC repo.

[2018-03-10 13:46] marcoscaceres commented on #1559
fixed typo above.

[2018-03-10 14:01] Orphis commented on #1559
Thanks!

[2018-03-10 14:18] shikhar-scs commented on #460
collaboration is always good to have. :smiley:  However, if it were not for my exams, I would have completed this work by myself. :sweat_smile: .

So yeah, @sidvishnoi please have a look at my PR #1516 . It has been reviewed by @marcoscaceres and thus, you can push your work related to the tests at https://github.com/shikhar-scs/respec/tree/h1-and-title, refactoring it according to my code [here](

[2018-03-12 08:47] socketpair opened #1568 "&lt; in server-timing description"
![image](https://user-images.githubusercontent.com/1157412/37273502-dea323fe-25fb-11e8-9916-a213537e9797.png)

[2018-03-12 09:33] marcoscaceres commented on #1502
All, I think I've now reviewed all your proposals (if I missed yours by accident, then please email me!!!).

Looking at the [timeline](https://developers.google.com/open-source/gsoc/timeline), you can start submitting your proposals from this week, until March 27 16:00 UTC. Please follow Google's instructions for how to submit.

Remember, these are **your proposals**, and the suggestion I've left

[2018-03-12 10:45] alvestrand commented on #1559
@vivienlacourba can you take care of updating webrtc-pc and friends?

[2018-03-13 08:10] #670 closed

[2018-03-13 21:15] OrionStar25 commented on #1563
The link to User's Guide has been fixed! :smile:

[2018-03-13 21:37] OrionStar25 commented on #1552
There is something about this is this issue: https://github.com/jasmine/jasmine/issues/583

[2018-03-13 23:09] marcoscaceres commented on #1552
It is, but it’s actually fine. We’ve managed to run tge test suite in random order without issue.

[2018-03-13 23:09] #1552 closed

[2018-03-14 06:21] marcoscaceres commented on #670
+ respec@20.0.5

[2018-03-14 08:54] marcoscaceres opened #1572 "Linter should check for “.” in p and li"
Got a code review where I had forgotten full stops in a couple of places. That wastes reviewers time.

[2018-03-14 22:33] OrionStar25 commented on #1572
[code]

[2018-03-15 02:22] marcoscaceres commented on #1572
something like that, but it would be a bit more involved: basically, I would like to asynchronously (via `requestIdleCallback()`, if available) check each `p.textContent.trim().endsWith(".")`.

[2018-03-15 07:21] shivendrarox commented on #921
Hi!! @marcoscaceres,
I am interested on working in this one!

[2018-03-15 09:58] shivendrarox commented on #921
Hi!! @marcoscaceres,
I am interested on working in this one!

[2018-03-15 10:02] shivendrarox commented on #921
are you meaning something like this ?
https://codepen.io/shivendrarox/pen/bvpzmB

[2018-03-15 10:31] pvgenuchten opened #1573 "Parsing xml in markdown gives lower case tags"
## Important info

* ReSpec version: 19.0.1

## Description of problem

I try to add xml snippets as part of markdown include using \`\`\`
(to indicate the encoding, using \`\`\`xml is not supported)
I noticed that tags are transformed to lowercase, which leads to invalid xml according to xsd

## Expected

XML tags keep original casing

## Reproduce

Try for example this snippet
[code]

[2018-03-15 11:10] marcoscaceres commented on #921
Not quite :) more like this:
https://github.com/w3c/respec/blob/develop/src/w3c/style.js#L82

Browsers already know how to preload things.

[2018-03-15 11:20] marcoscaceres commented on #921
Basically, we need to use this function when the spec is a CG-Draft
https://github.com/w3c/respec/blob/develop/src/core/utils.js#L148

And you would need to figure out where the CG-Draft template is loaded from. On my phone, so can’t check :(

[2018-03-15 11:54] OrionStar25 commented on #1572
Alright, excellent! I'd like to work on this :100:

[2018-03-15 12:24] marcoscaceres commented on #1572
Ok, please take a look at:
https://github.com/w3c/respec/blob/develop/src/core/linter.js

And the linterRules directory:
https://github.com/w3c/respec/blob/develop/src/core/

But let’s finish the biblio PR before starting on this one.

[2018-03-15 13:21] dontcallmedom opened #1574 "Extended attribute on types in union"
## Important info

* URL to affected spec: https://w3c.github.io/mediacapture-main/ (but currently only in PR https://github.com/w3c/mediacapture-main/pull/515 )
* ReSpec version: 20.0.4 (but problem persists in 20.0.5)
* [ x ] I did a "hard refresh", but it's still busted.

## Description of problem
The WebIDL fragment
```typedef ([Clamp] unsigned long or ConstrainULongRange) ConstrainULong;``` i

[2018-03-15 13:27] marcoscaceres commented on #1574
Interesting! Will take a look tomorrow.

[2018-03-15 13:30] marcoscaceres commented on #1574
I think this is the first time I’ve ever seen such a IDL fragment. I suspect that the template file is missing support for inclusion of extended attributes.

[2018-03-16 00:53] marcoscaceres opened #1576 "Allow makeStandardOps() to take overrides"
In the test, we do a lot of this:
[code]

We should allow `makeStandardOps(configOverride = {})`:

And then do the following in `makeStandardOps()`:

[code]

[2018-03-16 01:18] shikhar-scs commented on #1576
So, by this you mean that whenever we want a custom config, instead of writing 2 extra steps, we can send the required configurations directly as arguments to the `makeStandardOps` function.

[2018-03-16 02:21] marcoscaceres commented on #1576
Correct. And with the ability to also override the body.

[2018-03-16 04:45] marcoscaceres commented on #1576
I'm not sure if we need to do anything with `makeDefaultBody()` at this point. The problem with `makeDefaultBody()` is that sometimes you want stuff at the front of it, other times at the back, and sometimes you want to trash it entirely... so best not bother with it.

[2018-03-16 08:50] #1576 closed

[2018-03-16 12:13] #1097 closed

[2018-03-17 05:30] #460 closed

[2018-03-17 11:30] marcoscaceres commented on #873
So it’s not exactly checked: it just blindly adds a meta charset saying it’s UTF-8. But the document might be in a different encoding.

[2018-03-17 11:33] shubhshrma commented on #873
```TextEncoder``` of the API is what we need here?

[2018-03-18 01:54] #1574 closed

[2018-03-18 03:42] saschanaz commented on #1568
It seems it somehow has been fixed?

[2018-03-18 14:45] socketpair commented on #1568
Yes, someone fix that.

[2018-03-18 14:45] #1568 closed

[2018-03-19 03:31] marcoscaceres commented on #873
I think so, then decode it out to UTF-8.

[2018-03-19 03:57] marcoscaceres commented on #1573
Confirmed. This might be a limitation of marked.js, which is the library we use for markdown parsing... however, would need to check what's going on.

[2018-03-19 03:58] marcoscaceres commented on #1573
@pvgenuchten, ReSpec 20+ uses a newer version of marked.js. Could you confirm that it's still busted there?

[2018-03-19 04:15] marcoscaceres commented on #1573
@pvgenuchten, ok, you just need to change the "<" to "&lt;":

[code]
[code]

[2018-03-19 04:16] marcoscaceres commented on #1573
Closing as won't fix, as the work around is ok.

[2018-03-19 04:16] #1573 closed

[2018-03-19 12:59] sidvishnoi opened #1580 "npm start doesn't build all components"
[code]

I'm using the `examples/basic.html` (local branch in sync with 6b9412b23080d0446fca3aea6d744b19e3cbe097) . I think it's related to updates in webidl: 1aa913521a7158204aa49f55863597335ac9160f (checking out a commit behind this one didn't give error)

Let me know if I'm the only one facing the issue.

[2018-03-19 13:05] marcoscaceres commented on #1580
Maybe try `npm run build`? Could be that handlebars didn’t build.

[2018-03-19 13:09] sidvishnoi commented on #1580
Oh! That fixes it!
So we do we need to build it each time there is some update like that?

[2018-03-19 13:13] marcoscaceres commented on #1580
Yeah, it’s rare to update the templates. But we should update package.json and tge dev guide so it doesn’t catch people out. It’s gotten me too in the past.

[2018-03-21 04:06] #674 closed

[2018-03-21 04:24] marcoscaceres opened #1582 "Improve github labels"
Github labels are showing up, and they are awesome. Some improvements we could make:

- [x] cache issues (critical - we only get 60 requests / hour on Github)
- [x] concurrent download of issues (critical). The current design awaits each issue.
- [ ] wrap them in an unordered list (`<ul>`).
- [x] add an aria label, so this reads: "This issue is labelled on github as: x, y, and z".
- [x] remove or

[2018-03-21 05:19] himanish-star commented on #1582
Yep. This kills the design of the labels

[2018-03-21 05:33] himanish-star commented on #1207
I would like to start my work on this

[2018-03-21 05:39] himanish-star commented on #879
I would like to take over this

[2018-03-21 05:44] marcoscaceres commented on #1502
I think everyone's proposals are in, so closing this. Thanks again everyone!

[2018-03-21 05:44] #1502 closed

[2018-03-21 05:48] marcoscaceres commented on #1494
@OrionStar25, this could be a good one. What needs to be done:

- [ ]  Remove team submission.
- [ ]  Fix the template for isMemberSubmission, so that the `@@@whatever` get replaces with actual configuration options.

See how other things in that file are done... should hopefully be straight forward.

[2018-03-21 08:10] marcoscaceres commented on #1582
We hit a couple of unexpected issues with the last release of this feature (49463aa89b6c8eb45f17d0a08e28b567c3ec5d6e). Mainly to do with the changes we made for fetching and github API limits.

[2018-03-21 16:28] sidvishnoi commented on #686
Any updates on this?

[2018-03-21 17:29] sidvishnoi commented on #683
I would like to work on this one.

But would it be a good idea to add `express` as dependency? It's a little too heavy for this need (the in-built `http` should do well enough, right?).

Will it be basically a form based UI?

[2018-03-21 23:10] marcoscaceres commented on #683
I'd be ok with using the native one, but we would need to evaluate how much addition pain it adds. For example, handling the responses, reading files, handling any failure cases (and responding with the right error), etc.

Or just a command line UI, where you answer questions.

[2018-03-22 01:59] marcoscaceres commented on #686
What we could do is basically just pre-populate:
https://github.com/w3c/respec/blob/develop/src/core/inlines.js#L27

Like:
[code]

[2018-03-22 03:34] OrionStar25 commented on #1494
sotd.html is present in a different tree and not in develop. Can you please explain why is that? @marcoscaceres

[2018-03-22 03:56] marcoscaceres commented on #1494
oh, @saschanaz refactored all those :) So it's now here (src/w3c/templates/sotd.js):
https://github.com/w3c/respec/blob/develop/src/w3c/templates/sotd.js#L40

[2018-03-22 03:59] marcoscaceres commented on #857
@riannella, we spent a fair bit of time on this (https://github.com/w3c/respec/pull/1561) but we concluded that neither APA and MLA were really suitable for referencing in specs. Also, the current structure (or lack of it) in specref made this harder/more error prone than we anticipated.

So, unfortunately, we won't be able to support this. Closing as won't fix.

[2018-03-22 03:59] #857 closed

[2018-03-22 20:07] palemieux opened #1585 "Script fails on IE11 with `SCRIPT1010: Expected identifier`"
See example at https://www.sandflow.com/public/ttml-ww-profiles.html

[2018-03-23 03:48] saschanaz commented on #1238
Recently Mozilla launched [its own data repository](https://github.com/mdn/browser-compat-data) for [MDN](https://developer.mozilla.org/en-US/docs/MDN/Contribute/Structures/Compatibility_tables), it may be a possible alternative.

[2018-03-23 03:54] marcoscaceres commented on #1585
Unfortunately, we don't support IE anymore, as Microsoft has discontinued it. We do support Edge tho.

[2018-03-23 03:54] #1585 closed

[2018-03-23 04:23] marcoscaceres commented on #1238
Oh, nice to see! We could definitely add support for that. Looks like they are still sorting out the data format.

[2018-03-23 04:24] marcoscaceres commented on #1238
Actually, this is nice checking interface compat against WebIDL in a spec. Definitely want to add support for this at some point.

[2018-03-23 04:25] marcoscaceres commented on #1238
...so, the caniuse.com integration is nice for the head of the document... and the MDN compat tables are good for when WebIDL is declared.

[2018-03-25 07:52] shikhar-scs commented on #1572
@marcoscaceres can I please take up this issue if no one is working on it ?

[2018-03-25 09:42] sidvishnoi commented on #683
/claim

[2018-03-26 00:28] marcoscaceres commented on #683
We should probably look at using https://github.com/WICG/starter-kit as a base maybe.

[2018-03-26 00:39] marcoscaceres commented on #1572
@shikhar-scs sure, but coordinate with @OrionStar25, as she also wanted to help.

If you do start work on it, you might want to follow this one:
https://github.com/w3c/respec/blob/develop/src/core/linter-rules/no-http-props.js

Also, we should start with just the `p` elements, as I think they are less difficult than the `li`. The `li` checks would  be a separate linter rule - as some spec writers

[2018-03-26 02:19] shikhar-scs commented on #1572
Awesome ! I'll get started with this :+1:

[2018-03-27 07:13] deniak opened #1590 "Missing whitespace in headers between status and date"
## Important info

* URL to affected spec: https://w3c.github.io/payment-method-basic-card/index.html
* ReSpec version: 20.2.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Expected: Header should be `W3C Editor's Draft 29 January 2018`

But what actually happened (the bug): Header is `W3C Editor's Draft29 January 2018`

[2018-03-27 07:39] #1590 closed

[2018-03-28 00:12] AmeliaBR opened #1592 "Editor's Guide is missing content / needs cross-refs"
The [ReSpec Editor's Guide](https://github.com/w3c/respec/wiki/ReSpec-Editor's-Guide) on the wiki has a few references to content that is no longer on that page. E.g.,

I think the "table" might be the one on the [`specStatus` page](https://github.com/w3c/respec/wiki/specStatus), but there is no demonstration of the output boilerplate.

More generally, it would be useful if key terms in the guide

[2018-03-28 03:39] OrionStar25 commented on #1592
I agree, there are a lot of missing examples in the wiki. This needs to be updated with small visual mockups.

[2018-03-28 03:48] marcoscaceres commented on #1592
So, I think we can "hack" the visuals by dragging and dropping images into a Github issue. That will upload the content to github... then we can take the generated URL and paste it into the wiki. I don't know why we can't do that directly in the wiki... it's just not supported.

More generally, the wiki could definitely use a lot of improvements.

[2018-03-28 05:31] #1494 closed

[2018-03-28 07:06] OrionStar25 commented on #1535
WebIDL issue! I'd love to work ont this please :smiley:

[2018-03-28 07:14] r12a opened #1594 "Language markup showing in Editors list"
## Important info

* https://w3c.github.io/jlreq/
* ReSpec version: 20.3.0
* [ yes ] I did a "hard refresh", but it's still busted.

## Description of problem

Expected:

But what actually happened (the bug): Language-related markup showing through in Editors list.

![screen shot 2018-03-28 at 08 07 37](https://user-images.githubusercontent.com/4839211/38014246-f9499e70-325f-11e8-9e75-6b6bd1cfbc1b

[2018-03-28 08:37] marcoscaceres commented on #1594
Confirmed. Looks like we regressed at some point.

[2018-03-28 13:54] sidvishnoi commented on #915
Would it be better (and possible) to provide just the `wgURI` and infer `wg` and `wgPatentURI` from it? I think it's easier to remember the group URI instead of group number.
We may perhaps scrape (or create a tiny database from) this https://www.w3.org/2004/01/pp-impl/#groups to get group details. This may be done as a part of #683.

[2018-03-28 14:58] dontcallmedom commented on #915
a better way than scraping would be to use the [W3C API](https://api.w3.org/doc) to that effect (probably to slurp the data every so often, rather than directly from in the browser)

[2018-03-29 03:47] #879 closed

[2018-03-29 04:55] marcoscaceres opened #1596 "Confirm that tests exist in WPT"
Using the [github api for repo contents]( https://developer.github.com/v3/repos/contents/) we should confirm that `data-tests` files exist.

[2018-03-29 05:05] marcoscaceres commented on #1535
Starting point is:
https://github.com/w3c/respec/blob/develop/src/core/inlines.js#L67-L87

And where the warning happens:
https://github.com/w3c/respec/blob/develop/src/core/biblio.js#L182-L189

Somewhere in the above (you whomever works on it), normalization of the reference needs to happen.

[2018-03-30 22:36] palemieux opened #1598 "The document license cannot be limited to the W3C Document License"
The document license is either:

(a) the permissive license
(b) a dual license if `isCCBY` is true

and the [W3C Document License](https://www.w3.org/Consortium/Legal/2015/doc-license) cannot be selected alone.

This is AFAIK a change from earlier releases, and has a significant intellectual property impact.

Recommend adding an explicit option to select the [W3C Document License](https://www.w3.o

[2018-03-31 12:10] sidvishnoi commented on #1596
In this repo: https://github.com/w3c/web-platform-tests/, right?
Or the repo and branch will be available in `conf`?

Can/Should I take this?

[2018-03-31 12:19] marcoscaceres commented on #1596
we should plan out the details and see what useful things we get back from the API. Main problem we want to solve is the 404 case, where a spec points to a missing test in `data-tests`.

[2018-03-31 12:24] sidvishnoi commented on #1596
I looked into the Github Trees API. But it gives complete repo tree (not inside some path) which means the response is unnecessarily large.

[2018-04-02 07:00] #1559 closed

[2018-04-02 07:05] marcoscaceres opened #1599 "IDL stringifier is causing RangeError"
## Important info

* URL to affected spec: https://w3c.github.io/selection-api/
* ReSpec version: 20.4.0.
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Expected:
Selection interface should be displayed correctly.

But what actually happened (the bug):
The IDL below throws:

[code]
Optional, steps to reproduce:

Given:
[code]

Seems this has regressed. It seems ou

[2018-04-02 13:07] #1599 closed

[2018-04-02 18:04] himanish-star commented on #1207
Starting my work on this! :smiley:

[2018-04-02 21:52] marcoscaceres commented on #878
Closing as “works for me”.

[2018-04-02 21:52] #878 closed

[2018-04-02 22:03] marcoscaceres commented on #1598
Do you have a link to a spec affected by this?

[2018-04-02 22:21] palemieux commented on #1598
https://www.w3.org/TR/2018/PR-ttml-imsc1.0.1-20180227/ and https://www.w3.org/TR/2018/PR-ttml-imsc1.0.1-20180227/ were erroneously published with the permissive license, whereas https://www.w3.org/TR/2017/WD-ttml-imsc1.0.1-20170322/ was not.

In other words, between the WD and the CR, respec.js changed the default copyright statement.

[2018-04-03 00:42] marcoscaceres commented on #1598
Ah, got it. Thanks! If you set the following:

license: “w3c”,

That should set it back to the restrictive license.

Out of curiosity, why is the document not using the permissive license?

[2018-04-03 00:46] marcoscaceres commented on #1598
Just to be clear, all the available options are listed here: https://github.com/w3c/respec/wiki/license

[2018-04-03 03:18] palemieux commented on #1598
@marcoscaceres Setting `license: “w3c”` yields an error: _You cannot use license "w3c" with W3C Specs. Please set respecConfig.license: "w3c-software-doc" instead._

See https://rawgit.com/w3c/imsc/IMSC1.1/imsc1/spec/ttml-ww-profiles.html?license=w3c

[2018-04-03 03:18] palemieux commented on #1598
The specification uses the document license by resolution of the WG.

[2018-04-03 03:31] marcoscaceres commented on #1598
@palemieux, thanks for confirming and the additional info. That indeed looks like bug!

I'll see what's going on and get that fixed for you.

[2018-04-03 04:08] marcoscaceres commented on #1598
Incoming PR.

Doing a bit of archeology, it seems I made the change here:
https://github.com/w3c/respec/pull/1267

And related:
https://github.com/w3c/respec/commit/6b014b0da4257e000e53ac9815f0f3a41e756f9b

But I can't find the rationale complaining about "w3c" as a license.

@plehegar, apologies as we about this a while back, but is there are reason for groups to still be using the restrictive li

[2018-04-03 04:11] marcoscaceres commented on #1598
Ok, PR is https://github.com/w3c/respec/pull/1604 . Waiting on ✅ review for @plehegar or a W3C Team member.

[2018-04-03 10:22] marcoscaceres opened #1605 "punctuation checker not working correctly"
Testing with:
https://w3c.github.io/payment-request/

## Description of problem

- [ ] The punctuation checker claims to have found a bad `p`, but doesn't actually help the Editor find it.
- [ ] The description is still getting a bit messed up, seems to be generating two `<p>`.

Expected:
For the linter to show me where the error is.
For the description to render correctly.

Optional, steps to rep

[2018-04-03 10:57] saschanaz opened #1606 "respec2html error is always `😱 ReSpec error: JSHandle@error`"
For example: https://travis-ci.org/w3c/respec/jobs/361570561

We should be able to read JSHandle object wrapping Error, returned by puppeteer.

[2018-04-03 11:04] marcoscaceres commented on #1606
@saschanaz, unwrapping those errors would be really helpful. Any chance you could take this?

[2018-04-03 23:58] #1606 closed

[2018-04-04 00:05] MichielBijl opened #1609 "Canonical URL not updated with anchor-navigation"
Not entirely sure if this is a ReSpec bug or an iOS bug.

## Important info

* URL to affected spec: http://w3c.github.io/aria-practices/
* ReSpec version: latest
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Expected:
URL including hash is copied—for example: http://w3c.github.io/aria-practices/#dialog

But what actually happened (the bug):
Canonical URL was cop

[2018-04-04 05:56] himanish-star commented on #1445
/claim

[2018-04-04 06:02] shikhar-scs commented on #1605
@marcoscaceres I guess the following is working.

I pasted the following text in the payment-request page :
[code]

The Editor can check the console of his browser to see the `textContent` of the `offendingElements` . Now, a simple ctrl+f of the `textContext()` can help him/her find the exact <p> tag. Refer the following screenshot to check the same. (Ignore the console.log() of line 34)

![marcos

[2018-04-04 06:07] himanish-star commented on #1445
I would like to work on this :smiley:

[2018-04-04 06:13] marcoscaceres commented on #1445
Setting @himanish-star to investigate the bug. Will let him decide if he wants to proceed with it.

[2018-04-04 06:27] marcoscaceres commented on #1605
Better is to `console.log(offendingElement)`. Then the editor can just right click on it, and select "scroll into view".

[2018-04-04 06:42] shikhar-scs commented on #1605
Yep we could do that 👍
What about the description.

[2018-04-04 07:00] marcoscaceres commented on #1605
Must be something wrong with the code that's doing the markdown conversion. Definitely should not be adding an extra paragraph. Might need to check if Linter.js is buggy.

[2018-04-04 07:41] marcoscaceres commented on #1609
ReSpec doesn't manipulate URLs on copy, so I'm guessing this is a bug in iOS. Tried on desktop browsers and was unable to reproduce.

[2018-04-04 07:41] #1609 closed

[2018-04-04 21:03] OrionStar25 commented on #1339
Can I work on this @marcoscaceres ?

[2018-04-04 21:15] OrionStar25 commented on #826
Isn't this the same as:
`prevVersion: the URI to the previous (dated) version of the specification. ONLY ever use this for CG/BG
//      documents, for all others it is autogenerated.`

Either way, tests aren't added for this too.

[2018-04-05 02:05] marcoscaceres opened #1614 "caniuse layout and click issues on mobile"
## Important info

* URL to affected spec: https://w3c.github.io/payment-request/
* ReSpec version: Click the ReSpec pill (e.g., 20.7.0).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

what actually happened (the bug):

The boxes are shown ontop of the copyright line.

The boxes are not responding to touch/clicks.

Expected:
For boxes to be above copyright line an

[2018-04-05 02:07] marcoscaceres commented on #1614
Will provide a screenshot when I get to work.

[2018-04-05 02:20] saschanaz commented on #1614
Not a phone, any touchable devices are enough to repro this. Tapping should lock the popup state.

[2018-04-05 02:59] marcoscaceres commented on #1614
hover on small screen currently looks like this:

![screenshot 2018-04-05 12 51 59](https://user-images.githubusercontent.com/870154/38345101-9048a0ca-38d0-11e8-8bf1-79bf595db487.png)

Screenshot from iPhone:
![screenshot 2018-04-05 12 58 22](https://user-images.githubusercontent.com/870154/38345215-3751400c-38d1-11e8-883a-597e05c8c425.png)

[2018-04-05 04:25] marcoscaceres commented on #1614
No biggy tho. It should be fairly straight forward to fix. Part of "beta" testing ☺️

[2018-04-05 07:11] marcoscaceres commented on #826
`previousURI` and `prevVersion` are a bit different. For example, a spec can be split into two, or it could have been renamed.

More details https://github.com/w3c/respec/wiki/previousURI

[2018-04-05 07:14] marcoscaceres commented on #1339
Sure, but I can't recall exactly what would need to be done. Can you take a look at the referenced bug/discussion above and make a proposal here. Once we get agreement on what we should do, then we can code it up.

[2018-04-05 07:23] marcoscaceres opened #1615 "Smarter caching by making use of rate limit info"
Github's API rate limits requests to HTTP's "X-RateLimit-Limit" per hour. When the rate limit is reset is indicated by the HTTP header, `X-RateLimit-Reset:` which is a unix date. We can basically use this date to work out how long we need to cache resources for (e.g., issues).

More info: https://developer.github.com/v3/rate_limit/

[2018-04-05 09:17] OrionStar25 commented on #826
Oh, okay. I didn't find it in `headers.js` and thought it has been changed to that.  I'd try to write tests for this soon. Can you tell me what file I should be looking in?

[2018-04-05 09:30] OrionStar25 commented on #1339
This is something which was initially wanted:
https://s3.amazonaws.com/pr-preview/rmisev/url/empty-host-for-file.html

Along with this:
- [ ] a  link to the concerned pr/commit and
- [ ] the status of the spec
needs to be shown too. All this was so that we can see what major changes have been made in the versions.

This is our current isPreview :
![screenshot from 2018-04-05 15-00-50](https://user

[2018-04-05 17:46] himanish-star commented on #1445
@iherman, sorry to bother you but I tried to reproduce this issue at https://w3c.github.io/pwpub/?includePermalinks=true but I can't find any permaLink symbol next to the W3C logo. Could you help me in reproducing this issue? :smiley:

[2018-04-06 01:17] #1598 closed

[2018-04-06 06:52] iherman commented on #1445
Hm. You are right, the problem disappeared:-)

There has been several updates of respec since this, so this may have been inadvertently taken care of in one of those iterations.

Closing for now...

[2018-04-06 06:52] #1445 closed

[2018-04-06 07:32] marcoscaceres commented on #1614
I've removed this from Payment Request spec - but will re-enable it once we get this fixed.

[2018-04-06 07:33] marcoscaceres opened #1618 "caniuse should export as "caniuse.com""
When exporting caniuse to HTML, it should only export as "canisue.com" with the link to the corresponding feature.

[2018-04-06 08:02] marcoscaceres commented on #1339
Feel free to have a go at trying to put something together. I'm still not sure clear as to what configuration options need to be added, but maybe you can prototype something while I'm away.

[2018-04-06 09:24] MichielBijl commented on #1609
Yeah I couldn’t reproduce it on desktop either. I know Apple introduced this around the time AMP was released. iOS grabs the value of `<link rel="canonical" href="…">`. I’ll file a bug with iOS.

[2018-04-06 17:59] sidvishnoi commented on #1614
This would become a lot easier if we could use nested `ul` for the content that is hidden (submenu like, basically wrapping hidden items in another container). Any chance that we may do that instead?

[2018-04-06 18:27] marcoscaceres commented on #1614
Nested ul should be ok. I thought that’s what we had already. Can you provide a quick example of what you are thinking here?

[2018-04-10 13:27] sidvishnoi commented on #1614
Was thinking of something similar.
`<button>` is something I didn't think of.
Do we also want hover support or just want to toggle on click/touch?

[2018-04-10 22:50] andrea-perego opened #1620 "Include support to "list of tables""
I wonder whether there's any plan to support "list of tables" - similarly to what done for ["table of figures"](https://github.com/w3c/respec/wiki/figure).

[2018-04-11 09:52] foolip opened #1621 "Update templates to point to new web-platform-tests location after move"
Per https://bit.ly/wpt-transition w3c/web-platform-tests will move to web-platform-tests/wpt. Before it's happened we should prepare the changes in ReSpec, and once it's done those changes should be merged.

Redirects will be in place for specs that use a pinned version of ReSpec, but the new URLs should be rolled out over time.

[2018-04-16 05:10] marcoscaceres commented on #1621
I guess what ReSpec needs to do is warn if it sees any old URL. Right now, Editors configure their test suite like so:

[code]

Looking at [the usage data for testSuiteURI])(https://github.com/search?p=2&q=org%3Aw3c+testSuiteURI&type=Code), most people are pointing to "w3c-test.org" or "wpt.fyi", which I assume will continue to work as expected.

So, it would only be the "w3c/web-platform-tests" o

[2018-04-16 05:45] marcoscaceres commented on #1621
@foolip, [sent a PR for this](https://github.com/w3c/respec/pull/1622). It shows a warning:

![screenshot 2018-04-16 15 36 06](https://user-images.githubusercontent.com/870154/38791700-88e2136a-418c-11e8-88d6-1c64fda9e0a4.png)

Can you confirm that it's ok for Editors to still point to "w3c-test.org"?

Also, I guess it will take time to move individual projects over (I see 2018-06-01) in the doc.

[2018-04-16 09:09] foolip commented on #1621
Yeah, changing anything about w3c-test.org isn't part of this move.

I understand now that ReSpec doesn't have "w3c/web-platform-tests" baked into a template, so actually what the task for the move is to send PRs on the specs that have that string somewhere.

@marcoscaceres I think the warning would do the trick eventually, but do you know how many specs would be affected? Might it be less work to

[2018-04-16 10:28] marcoscaceres commented on #1621
Thankfully, looks like [less than 10](https://github.com/search?utf8=✓&q=org%3Aw3c+testSuiteURI+web-platform-tests&type=Code). So, pretty easy to do.

[2018-04-16 11:17] foolip commented on #1621
Which path would you prefer? I can update https://bit.ly/wpt-transition to use your list instead if you're not already keen to add this warning for other reasons.

[2018-04-16 11:30] foolip commented on #1621
@marcoscaceres, OK will put that into the doc, thanks!

[2018-04-18 11:31] tripu opened #1624 "Remove all unused branches?"
There are [42 branches](https://github.com/w3c/respec/branches/all)&hellip;
Time for a little clean-up?

[2018-04-18 17:01] gkellogg opened #1625 "Use schema:DefinedTerm for SEO"
schema.org is introducing [DefinedTerm](https://github.com/schemaorg/schemaorg/pull/1776), which may be useful to add to the JSON-LD output in SEO.

TermDefinitions are contained within a DefinedTermSet, which would use to reveal terms defined within a spec using `dfn` as part of the JSON-LD blob. For example:

[code]

[2018-04-19 15:48] siusin opened #1626 "don't create a new id when an issue is referenced more than once"
## Important info

* URL to affected spec: [Resource Timing L2](https://github.com/w3c/resource-timing/commit/bcb09cc55ba958616dd9959a6b92581f29269841)
* ReSpec version: 20.7.1.
* [Y ] I did a "hard refresh", but it's still busted.

## Description of problem

Expected: don't create a new id when an issue is referenced more than once

But what actually happened (the bug): there was a duplicate ID (

[2018-04-22 10:57] sidvishnoi commented on #1596
With https://bit.ly/wpt-transition, I think the Github trees API might be a good solution.
Should we wait for transition before adding this feature or look into the Content API (if we need it earlier)?

[2018-04-22 22:40] marcoscaceres commented on #1624
Down to 16 branches now. Might be able to remove a few more :)

[2018-04-22 22:40] #1624 closed

[2018-04-23 03:09] marcoscaceres commented on #1596
I don't see any harm in us investigating a bit. We could document here first how it would be done before we start coding anything.

[2018-04-23 04:53] marcoscaceres commented on #1342
Duplicate of https://github.com/w3c/respec/issues/1626

[2018-04-23 04:53] #1342 closed

[2018-04-23 04:54] marcoscaceres commented on #1626
Thanks @siusin! We will try to get to it soon.

[2018-04-23 10:52] #923 closed

[2018-04-23 11:39] marcoscaceres commented on #1502
Good luck everyone tomorrow (or day after, depending on your timezone!) on the GSoC announcement. If you are not selected and want to know why, I'm happy to provide you with some feedback and where/how to improve for next year.

Thanks again to all of you for participating. It's been a privilege collaborating with you all for the last few months.

[2018-04-24 01:26] marcoscaceres opened #1631 "Centralize github fetching"
Fetching from github can require credentials and can be rate limited. It would be good to centralize fetching of github data through the github module.

[2018-04-24 02:47] palemieux opened #1632 "Implementation report not required for REC"
When `specStatus: "REC"` and `implementationReportURI` is missing, respec emits: _CR, PR, and REC documents need to have an implementationReportURI defined._

This is however inaccurate since implementation reports are not a requirement for Recommendations per the [W3 process](https://www.w3.org/2018/Process-20180201/). The implementation report might in fact misleading and/or incomplete once and

[2018-04-24 05:45] marcoscaceres commented on #1632
@palemieux thanks for the clarification. I'll change the `implementationReportURI` to only be required for CR.

The following is for my own record keeping purposes, and in case this comes up again for discussion (not intended to open debate about the W3C Process, as this is not the right place to have that discussion):

This probably would not be relevant after REC, as CR is based on two conformin

[2018-04-24 05:59] palemieux commented on #1632
Exactly. The implementation report, i.e. the document used to demonstrate that every feature is supported by at least two implementations, is relevant only when transitioning from CR to PR.

Right. I would not call this kind of deliverable an "implementation report", but rather a "test suite" or an "interoperability matrix". In other words, I would make a difference between (a) the document used t

[2018-04-24 05:59] palemieux commented on #1632
Thanks!

[2018-04-24 10:11] sidvishnoi opened #1635 "core/utils: fetchAndCache caches headers improperly"
`fetchAndCache` in `core/utils.js` saved headers as `200 ok` even when a request resulted in 404.

![](https://i.imgur.com/fdd9GRl.png)

This leads to parsing response JSON as `SyntaxError: Unexpected token : in JSON `

It should probably throw on failed requests, if a cached version is not found.

[2018-04-24 13:16] #1626 closed

[2018-04-25 21:45] palemieux opened #1636 "Comment filing in SOTD does not match W3M practice"
It looks like W3M has started pointing to github instead of a mailing list as a means of submitting comments.

See SOTD at https://www.w3.org/TR/2018/REC-ttml-imsc1.0.1-20180424/

It does not look like this is supported by respec.

[2018-04-25 21:50] palemieux commented on #1636
Suggest adding a link to github in the SOTD if `wgPublicList` is not specified.

[2018-04-25 21:53] palemieux opened #1637 "Translation boilerplate does not match W3M practice?"
W3M uses the following boilerplate: _The English version of this specification is the only normative version. Non-normative translations may also be available_ instead of _See also translations_

See https://www.w3.org/TR/ttml-imsc1.0.1/

[2018-04-25 21:58] marcoscaceres commented on #1637
Sorry, what’s W3M?

[2018-04-25 22:00] palemieux commented on #1637
W3M = W3 team/management, e.g. @plehegar

[2018-04-25 22:01] marcoscaceres commented on #1636
Yeah, that would be good. Less and less groups are using mailing lists, and could definitely add this automatically.

[2018-04-25 22:02] marcoscaceres commented on #1637
The translation boilerplate above, is that a new text expected by PubRules?

[2018-04-25 22:05] palemieux commented on #1637
I am not sure. The boilerplate was inserted manually by W3M at publication.

The document passes pubrules: https://www.w3.org/pubrules/?url=https%3A%2F%2Fwww.w3.org%2FTR%2F2018%2FREC-ttml-imsc1.0.1-20180424%2F&profile=REC&validation=simple-validation&noRecTrack=false&informativeOnly=false&echidnaReady=false&patentPolicy=pp2004

[2018-04-26 02:26] marcoscaceres commented on #1637
@tripu or @deniak, have the requirements changed over at echidna regarding the translation boilerplate? Should I update ReSpec with the text @palemieux  suggests?

[2018-04-26 07:25] marcoscaceres commented on #1625
@gkellogg, seems interesting. But `description` seems kinda heavy headed... would duplicate a lot of content that is that https://w3c.github.io/some-API/#dfn-Foo. Maybe that's ok.

[2018-04-26 07:26] marcoscaceres commented on #1625
@gkellogg, as before, extra bonus points 🌟 if any service is exposing this to users.

[2018-04-26 10:48] deniak commented on #1637
We are looking at dropping the rule (https://github.com/w3c/specberus/pull/570) but it's still being discussed within W3M. In the meantime, we are still requiring a translation link in the headers of the doc (https://github.com/w3c/specberus/blob/master/lib/rules/headers/translations.js)

[2018-04-26 11:12] marcoscaceres commented on #1637
Ah, ok. The matching is done just on the link. @palemieux, who provided that text for you? I don’t mind integrating it. Seems nicer than the current boilerplate.

[2018-04-26 13:33] gkellogg commented on #1625
Given that it’s still a proposed term, I wouldn’t expect to see any use in the field yet.  Once it’s in, adding this would be straightforward, probably controlled by yet another flag.

Term definitions are some of the most useful enrypoints into a spec, IMHO, and providing more SEO support for them could be a good thing, but it’s worth circulating in the schema community first. If 20 specs each de

[2018-04-26 13:36] gkellogg commented on #1625
@marcoscaceres `description` is also difficult to get uniformly, as there is no set style for doing definitions; may be the containing paragraph or sentence, or could be from the dd in a definition list, or anything else.

[2018-04-26 13:53] #1632 closed

[2018-04-26 14:06] palemieux commented on #1637
@plehegar provided the text.

[2018-04-26 17:08] plehegar commented on #1637
I shamelessly stole the text from WOFF 2. The translation database has been retired so we should stop linking to it. I would hold on this front until we know better.

[2018-04-26 17:41] plehegar opened #1639 "Missing js/deps/require.js?"
## Important info

* ReSpec version: GitHub/develop branch

## Description of problem

missing js/deps/require.js

What happened (e.g., it crashed)?:

trying to follow instructions in https://github.com/w3c/respec/wiki/Developers-Guide to modify
js\w3c\templates\sotd.html and provide a patch for the w3c-common profile. Did npm install, etc.

When trying to run the following command:
  node ./tools

[2018-04-27 01:36] marcoscaceres commented on #1637
ok, thanks @plehegar. Closing for now.

[2018-04-27 01:36] #1637 closed

[2018-04-27 02:12] marcoscaceres commented on #1639
The instructions were indeed out of date. It should have said `build:components` instead of just "build", which copies over all the dependencies.

I've updated the docs to say:

[code]

Apologies for that! now fixed.

[2018-04-27 02:12] #1639 closed

[2018-04-27 02:40] marcoscaceres commented on #1625
Yeah, I was thinking the same thing. We might need to establish some kind of explicit opt-in for export purposes (similar to what BikeShed does, but with qualifiers).

[code]

We could even have `data-export-closest`, which could take a CSS Selector for complex cases.

[2018-04-27 07:09] marcoscaceres opened #1640 "[META] Support ES Modules"
When Firefox 60 lands in May, we will have ES module support across all target browsers. That means we can start considering using them in ReSpec.

We should evaluate what that means for our current plugin design and for the dependencies (which are not ES Modules). With dynamic `import()` support, we can basically get rid of RequireJS.

Ideally, we would then have ReSpec do this:

 1.  load a ligh

[2018-04-28 05:32] saschanaz commented on #1640
A downside is more round trips for the first visit, which is probably okay.

[2018-04-30 10:35] sidvishnoi opened #1642 "Test the dropdown for caniuse feature"
In `spec/core/caniuse-spec.js` (line 116), the `firefoxButton.focus()` is not working. Need to figure out an alternative (or make it work).

Files for feat/caniuse: `src/core/caniuse.js`, `js/core/css/caniuse.css`, `spec/core/caniuse-spec.js`

~It is currently a part of https://github.com/w3c/respec/pull/1627~

[2018-05-01 04:33] #1614 closed

[2018-05-01 04:48] #1618 closed

[2018-05-01 04:51] marcoscaceres opened #1643 "Warn about href's that link to nonexistent id's"
The linter should warn where there is a local reference (e.g., "#foo") but there is no element with id foo in the document.

[2018-05-01 09:24] #1529 closed

[2018-05-01 10:03] #1621 closed

[2018-05-01 18:27] plehegar commented on #1636
For the record, "W3M practice" is actually the rule at https://github.com/w3c/specberus/blob/master/lib/rules/sotd/mailing-list.js

[2018-05-01 19:02] palemieux commented on #1636
Any chance to fix this soon... if not, I will have to fix manually. Just let me know.

[2018-05-02 15:17] sidvishnoi opened #1649 "Harmonizing var highlight colors with BikeShed"
It would be great if we could come to an agreement between Bikeshed's selection of color palette and that of ReSpec, keeping accessibility in mind.

Here are the present colors:
<img width="300" src ="https://user-images.githubusercontent.com/8426945/39535049-927c6df0-4e50-11e8-8270-41f6894330f1.png">

I've also added a [preview gif](https://github.com/w3c/respec/wiki/highlightVars) for ReSpec's h

[2018-05-02 15:42] marcoscaceres commented on #1649
Screenshots would be really helpful above.

[2018-05-02 16:06] sidvishnoi commented on #1649
Here are the present colors:
![screenshot from 2018-05-02 21-34-00](https://user-images.githubusercontent.com/8426945/39535049-927c6df0-4e50-11e8-8270-41f6894330f1.png)

For those who want to try them out: https://codepen.io/sidvishnoi/pen/YLVMgV

I've also added a preview gif for ReSpec's highlightVars in action: https://github.com/w3c/respec/wiki/highlightVars

[2018-05-02 19:30] gkellogg opened #1650 "WebIDL and data-dfn-for creates fragments with whitespace"
## Important info

* URL to affected spec: Based on https://json-ld.org/spec/latest/json-ld-api/. Minimal excerpt included here
* ReSpec version: 20.10.1
* Whittled down to minimal reproducible example

## Description of problem

Anchors and references are generated with either `%20` or space (` `).

Given the following document:

[code]

Note that the definition of _colliding keywords_ includes a

[2018-05-02 22:47] marcoscaceres commented on #1650
Although indeed a bug, convention is to use a “-“ instead of spaces in enums. See:
https://w3ctag.github.io/design-principles/#casing-rules

Would that help?

[2018-05-03 02:43] gkellogg commented on #1650
It may be now, but not when these error codes were originally created. In any case, it's in JSON-LD 1.0 and probably can't be changed for 1.1. ReSpec formerly generated reasonable fragment identifiers for these.

[2018-05-03 03:10] marcoscaceres commented on #1650
Understood, but it’s also an indicator that something might not be right with the API. For example, the JsonLdErrorCode emun is trying to use enum values for error messages? That’s definitely not ok.

[2018-05-03 03:51] marcoscaceres commented on #1650
@gkellogg, understood (hi @dlongley! :D). Let's treat this as a regression in ReSpec, which it definitely is. We can discuss API issues over on the JSON-LD Repo.

@sidvishnoi, this is a good one if you want to get your feet wet with the IDL code. You want to take it? I can point you to where the bug is likely happening.

[2018-05-07 03:00] marcoscaceres commented on #1649
@sidvishnoi, could you close this bug and reopen it here:

https://github.com/w3c/tr-design/

That will give us a neutral space in which to discuss harmonization.

[2018-05-07 04:53] sidvishnoi commented on #1649
Closing in favour of https://github.com/w3c/tr-design/issues/152

[2018-05-07 04:53] #1649 closed

[2018-05-07 06:56] marcoscaceres opened #1653 "Use npm version on release"
In `./tools/release.js` there is a bunch of logic for bumping the version number of the package.json... we could just use `npm version`, as we can determine if something is a major | minor | patch.

https://docs.npmjs.com/cli/version

[2018-05-09 15:25] saschanaz commented on #1640
Firefox 60 has landed 🎉

[2018-05-10 10:27] tidoust opened #1656 ""stod" typo in src/w3c/headers.js?"
Sorry, not following the issue template. I just stumbled into what looks like a typo while having a look at the code. I don't even know whether this has any practical impact on existing specs.

At: https://github.com/w3c/respec/blob/develop/src/w3c/headers.js#L520
I suspect `stod` should be `sotd`.

You might want to update the variable name in https://github.com/w3c/respec/blob/develop/tests/spec

[2018-05-11 03:26] marcoscaceres commented on #1656
oopsy! PRs sent!

[2018-05-11 04:05] #1656 closed

[2018-05-11 07:30] sidvishnoi opened #1662 "[META] Implement cross-references feature"
Today, creating a cross reference in ReSpec requires Editors to manually search for the `id` of a term by going into another spec and copying the URL. This means Editors that Editors need to write, For example:

[code]

For most Editors, this can be quite labor intensive and error prone. Also, the `id` being referenced might be removed or changed, causing cross references to break.

Ultimately, sp

[2018-05-12 12:25] tidoust opened #1666 "link-to-dfn module may report a TypeError"
## Important info

* URL to affected spec: https://wicg.github.io/InputDeviceCapabilities/
* ReSpec version: 20.10.4
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
TypeError reported by Respec while generating the spec
[code]

But what I was expecting?:
No error... or a more meaningful error if the spec needs to be fixed.

Error

[2018-05-12 14:59] tidoust commented on #1469
I thought I'd report here because I've been investigating how to make Respec run in JSDOM (for [Reffy](https://github.com/tidoust/reffy)). Good news is it's mostly doable. Bad news is it's not exactly straightforward...

The tweaks that I needed to make to JSDOM and Respec in Reffy are parked in a `drop-respec` branch in Reffy for now. See [code and comments in `util.js`](https://github.com/tidous

[2018-05-12 17:25] saschanaz opened #1667 "Convert respec-worker as an ES module"
As part of #1640:

A worker script can be a module if we construct it by `new Worker(url, { type: "module" })`. I think this will ultimately benefit #1469 where we can load it as a module that can also work in Node.js.

- [x] Wait until browsers support it

[2018-05-13 05:35] saschanaz commented on #1640
It seems MSEdge on April 2018 update does not support dynamic import() yet.

[2018-05-13 06:21] saschanaz opened #1668 "Separate static and dynamic parts"
For example:

`webidl-clipboard.js` has a part that can be static (adding clipboard copy buttons) and a dynamic UI part (adding event listeners to those added buttons). Currently respec2html removes any dynamic UI features and this causes weird situation that users cannot use the feature in respec2html-generated page.

We may separate those two parts so that we can ultimately:

1. serve static par

[2018-05-14 04:26] marcoscaceres commented on #1667
That be very cool. Do you have any details about `{type: "module"}` support?

[2018-05-14 04:30] marcoscaceres commented on #1469
@tidoust, I thought Reffy ran against "static" documents? If we had a Reffy web service, ReSpec could simply post a static snapshot directly from the browser without needing to run any transformations on the server.

To rephrase: what is Reffy's input?

[2018-05-14 05:18] marcoscaceres commented on #1666
@sidvishnoi's going to look into it! Thanks for the link to the spec, @tidoust.

[2018-05-14 05:35] saschanaz commented on #1667
MDN: https://developer.mozilla.org/en-US/docs/Web/API/Worker/Worker
Spec: https://html.spec.whatwg.org/multipage/workers.html#dedicated-workers-and-the-worker-interface
Chromium tracker: https://bugs.chromium.org/p/chromium/issues/detail?id=680046

[2018-05-14 06:09] marcoscaceres commented on #1668
@plehegar, tl;dr: ReSpec in "live mode" (e.g., Editor's drafts) adds useful things like buttons that allow readers to copy/paste WebIDL with one click. The W3C currently doesn't allow JS on TR (apart from fixup.js), so we are wondering... what would we need to be allowed to ship some additional JS on TR?

[2018-05-14 07:33] tidoust commented on #1469
Reffy's goal is to generate a knowledge graph of specs and an analysis of that graph to create a list of potential anomalies. To generate the knowledge graph, Reffy:

1. starts from a list of spec URLs (multiple lists, actually: [specs-common.json](https://github.com/tidoust/reffy/blob/master/specs-common.json), [specs-cg.json](https://github.com/tidoust/reffy/blob/master/specs-cg.json), [specs-wh

[2018-05-14 07:51] marcoscaceres commented on #1469
@tidoust thanks for clarifying. @saschanaz, do you know if [puppeteer](https://github.com/GoogleChrome/puppeteer) runs without needing a virtual screen? If yes, then that addresses GPU-less CLI environments problem in one sense... still a fat dependency, but at least we don't need to refactor code significantly to back port ReSpec to JSDOM.

[2018-05-14 07:58] #1643 closed

[2018-05-14 08:02] marcoscaceres opened #1669 "Document linter rules"
We don't have documentation for the linter rules. We should document them:

- [x] no-headingless-sections
- [x] no-http-props
- [x] privsec-section
- [x] check-punctuation
- [x] local-refs-exist

We should also document how to create them from a developer perspective.

[2018-05-14 08:03] marcoscaceres opened #1670 "Linter rules API is ... not great"
The linter rule API returns either and object or an array... this is pretty terrible. It should return just one type.

[2018-05-14 08:12] saschanaz commented on #1469
puppeteer runs in headless mode by default, so yes.

[2018-05-14 08:14] marcoscaceres commented on #1469
@tidoust, given that Puppeteer runs without needing the virtual display, is it a viable alternative to JSDOM for Reffy?

[2018-05-14 08:45] tidoust commented on #1469
Sure! I was not reporting these issues as requests to change ReSpec. The problem here is not how ReSpec is written, it is JSDOM not yet supporting enough features for ReSpec. I just wanted to document the current limitations somewhere.

Actually, we still have a virtual screen for now on the server, but maybe that's no longer needed with Puppeteer (it was for nightmare). We just haven't tried with

[2018-05-14 09:07] marcoscaceres commented on #1469
Ok cool. Sorry I was confused. I appreciate the documentation above also, so thanks for that!

Understood. Ok, if there is anything else we can do, happy to try to help. Reffy looks super cool and if we can integrate somehow directly (via POST or whatever), happy to help with that however we can!

[2018-05-14 09:57] marcoscaceres commented on #1666
We found a couple of issues. The CG template should complain in the "wg" is not set. And the linkTargets should not crash when it encounters an empty `<a>`.

[2018-05-14 14:30] saschanaz opened #1672 "Remove direct imports for texts"
(From #1671)

We currently depends on `requirejs/text` by importing CSS/JS files by e.g. `import css from "deps/text!core/css/bp.css";`, instead we should do:

[code]

The files then should be served separately, but ultimately we should do the same for ES modules (#1640).

[2018-05-15 01:03] saschanaz commented on #1662
Can we work with CSSWG people so that Shepherd can provide a filter API?

[2018-05-15 01:08] saschanaz commented on #1662
Also, this is an interesting note... [From SVGWG](https://github.com/w3c/svgwg/wiki/Testing):

Shepherd is a test suite manager that includes issue tracking, etc. The functionality of Shepherd has been replaced by Github and the SVG WG will not be using Shepherd.

[2018-05-15 06:36] #1666 closed

[2018-05-15 07:54] marcoscaceres commented on #1662
Yep, we are already on it :) It might be we don't end up using Shepherd at all, but just BikeShed's data (which is based on Shepherd's data).

We will see how to best contribute to BikeShed's data - and figure out how to best get ReSpec data into BikeShed's data.

[2018-05-15 23:50] saschanaz commented on #1662
BikeShed's data 1) still requires a web service as they are still BIG 2) is in their own format. I think getting raw Shepherd data in JSON will be easier then, especially with cache.

[2018-05-16 02:38] marcoscaceres commented on #1662
Current plan is for @sidvishnoi to dig a bit deeper into the data, sizes, formats ... and into the problem itself. He is planing to have an full outline for us to review on the 1st of June (he is currently heads down doing his final exams 🤓📚)

[2018-05-16 04:50] marcoscaceres commented on #1662
Related discussion https://github.com/tobie/specref/issues/467

[2018-05-16 06:12] marcoscaceres opened #1674 "Ugly IDL errors"
## Important info

* URL to affected spec: any
* ReSpec version: Click the ReSpec pill (e.g., 20.11.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
My IDL had an error, but the error being shown by ReSpec is super ugly (wrong thing code, missing space char):
![screenshot 2018-05-16 16 02 34](https://user-images.githubuserconte

[2018-05-17 05:11] marcoscaceres opened #1676 "Linking warnings should not show normalized form"
## Important info

* URL to affected spec:
* ReSpec version: 20.1.0.
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

The definition linking warnings are showing the normalized linked text:

[code]

But what I was expecting?:
I was expecting:

[code]

Optional, steps to reproduce:
 1. try to link (`<a data-link-for="foo">bar</a>`)

[2018-05-19 07:03] xfq commented on #1424
Related issue: #1662

FWIW, the source code of Shepherd is here: http://hg.csswg.org/dev/

Specifically, the source of the specification DB/parser is here: http://hg.csswg.org/dev/specification/

[2018-05-19 18:03] plinss commented on #1662
Note that Shepherd already has all the anchor data in a MySQL database and it gets updated frequently throughout the day. It would be simple to add to Shepherd's existing API to only return specific anchor data for a given set of linking texts (e.g ReSpec could make a single http request with a list of all cross references for the current spec). No need to setup yet another database or try to scra

[2018-05-19 20:43] sidvishnoi commented on #1662
Thank you @plinss. I'll get back on this as soon as my exams are over and let you know :)

[2018-05-21 17:33] sidvishnoi commented on #1535
Accidentally closed. Reopening

[2018-05-23 07:33] tidoust opened #1678 "Large images appear stretched"
## Important info

* URL to affected spec: [Extensions to the Semantic Sensor Network Ontology](https://w3c.github.io/sdw/proposals/ssn-extensions/)
* ReSpec version: 20.11.1.
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
Figure in [section 3.1](https://w3c.github.io/sdw/proposals/ssn-extensions/#ultimate-feature-of-interest) ap

[2018-05-23 07:45] saschanaz opened #1679 "Nothing really checks config.format for markdown processing"
Searching `config.format` only shows tests, nothing in src/* checks it. It seems currently respec is always calling marked, degrading the performance...

[2018-05-23 07:46] saschanaz commented on #1679
Ah sorry, it's `conf.format === "markdown";`.

[2018-05-23 07:46] #1679 closed

[2018-05-24 07:57] marcoscaceres commented on #1678
ReSpec tries to correct images without width and height, as when those attributes are missing it  causes layout thrashing and it's a symptom that something is probably wrong with the image (in this case, they are way overlarge).

Two options:
  1. fix the image size to make them something that fits.
  1. Or, set `width=""` and `height=""`. That tells ReSpec to leave the image alone, and let's it s

[2018-05-24 08:37] tidoust commented on #1678
OK, in the end, the issue is that `base.css` auto-shrinks the width of images without preserving the image ratio.

The problem occurs with reasonably-sized SVG images as well by the way. See for instance
[Figure 1 in Web App Manifest](https://w3c.github.io/manifest/#content-security-policy) if you reduce the width of the browser window (or view the spec on a mobile device in portrait mode): the in

[2018-05-25 01:04] marcoscaceres commented on #1207
Marked finally got updated to conform with Common Mark and got a bunch of security patches, so we are going to stick with it for now.

[2018-05-25 01:04] #1207 closed

[2018-05-26 18:05] sidvishnoi opened #1683 "Add CSS for :target"
For example, on https://w3c.github.io/payment-request/#bib-payment-method-basic-card, one cannot find `[payment-method-basic-card]` easily as it's on bottom of page where it can't be scrolled to based on URL fragment. One has to make eye movement all the way down to bottom to find it.

It would be nice if there is a little CSS on `:target` which lets one focus easily where the hash link lead to.

[2018-05-27 05:09] marcoscaceres commented on #1683
Agree, some kind of emphasis would be nice. I think Wikipedia does something similar, so maybe we can look at their style.

[2018-05-29 07:53] #1351 closed

[2018-06-05 07:38] marcoscaceres commented on #1662
@plinss, @saschanaz, @sidvishnoi has updated the proposal. Would you mind having a look?

@plinss, we are going to try to build a prototype using static data first. In the proposal above, please see the "The Web Service (Shepherd)". We are going to try to work out exactly what fields we need, but would like your early input if something like we are proposing there is possible.

[2018-06-07 07:43] marcoscaceres commented on #1678
Closing, based on above.

[2018-06-07 07:43] #1678 closed

[2018-06-07 08:12] #1535 closed

[2018-06-08 01:53] plinss commented on #1662
The proposed API looks fine, and should be easily doable. You'll probably also want to be able to send the anchor type information (and allow the client to specify the anchor type) to further reduce ambiguity. e.g. query for an element, vs an attribtute, vs ...

Also, I expect some queries will have a large number of search terms, you might want to have a POST method as well containing a JSON payl

[2018-06-08 03:45] marcoscaceres commented on #1662
POSTing JSON sounds like a great idea - probably better than the GET approach entirely. Much nicer grouping too. Any precedence for the data structure to send or should we roll our own?

[2018-06-08 14:04] plinss commented on #1662
Go ahead and roll your own data structure

[2018-06-12 09:34] sidvishnoi commented on #1318
Closed in favour of https://github.com/w3c/respec/issues/1643 via https://github.com/w3c/respec/pull/1664

[2018-06-12 09:34] #1318 closed

[2018-06-13 21:16] marcoscaceres commented on #1238
Closed via #1238

[2018-06-13 21:16] #1238 closed

[2018-06-13 21:19] marcoscaceres opened #1693 "Include MDN Compat data"
Where there is MDN compat data available, we should show it somehow:

https://github.com/mdn/browser-compat-data

[2018-06-19 02:45] sidvishnoi opened #1699 "Refactor all jquery-enhanced utils to vanilla js while keeping backward compatibility"
Refactor all core/jquery-enhanced.js utils to vanilla js (in core/utils) while keeping backward compatibility and use vanilla js DOM utils in ReSpec.
- Modules:
  - [x] $.makeID -> addId (https://github.com/w3c/respec/pull/1691)
  - [x] $.allTextNodes -> getTextNodes (https://github.com/w3c/respec/pull/1698)
  - [x] $.renameElement -> renameElement (https://github.com/w3c/respec/pull/1806)
  - [x]

[2018-06-19 23:38] saschanaz opened #1702 "Replace webidl writer to webidl2.js one"
Our webidl writer is fairly old and based on an old dependency that we want to remove. Rewriting it will be a duplicated effort, maybe we can modify webidl2.js writer so that we can use it on ReSpec.

See also w3c/webidl2.js#210

[2018-06-20 15:00] saschanaz opened #1704 "IDL writer doesn't support bodyless stringifier"
## Important info

* URL to affected spec:
* ReSpec version: the main branch
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

[code]

This is a valid IDL but fails to be parsed on ReSpec.

[2018-06-20 15:01] saschanaz opened #1705 "IDL writer doesn't support setlike<>"
## Important info

* URL to affected spec:
* ReSpec version: the main branch
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

[code]

This is a valid IDL but fails to be parsed on ReSpec.

[2018-06-21 01:42] saschanaz opened #1707 "Anonymous IDL operations cause empty idlMethName spans"
## Important info

* URL to affected spec:
* ReSpec version: the main branch
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

![image](https://user-images.githubusercontent.com/3396686/41693321-c9ae6024-753f-11e8-8570-94c8f3083d84.png)

[2018-06-22 04:34] #1704 closed

[2018-06-22 04:34] #1705 closed

[2018-06-22 04:34] #1707 closed

[2018-06-24 13:46] saschanaz opened #1711 "Use eslint on Travis"
Currently Codacy uses eslint but it's not fully customizable and it only shows error for new issues. Maybe we can use eslint directly.

[2018-06-25 21:19] marcoscaceres opened #1713 "Add linter rule for internal slots"
Internal slots need to be preceded by a "."... so:

[code]

Should make ReSpec upset.

[2018-06-25 23:02] marcoscaceres commented on #1713
Note to self... something along the lines:
[code]

[2018-06-26 17:34] marcoscaceres commented on #1711
This is actually Codacy's best feature.

But I agree that our linting story is sad and needs to be fixed.

[2018-06-26 17:53] marcoscaceres opened #1716 "Support "old ids" for terms that change"
When a term was defined in published spec, but then vanishes from a spec, ReSpec should complain.

This may be because:
 1. the term was deleted
 2. the section was renamed

Related to:
https://github.com/w3c/tr-design/issues/153

[2018-06-27 07:17] mgiuca opened #1717 "WebIDL rendering adds "<span class='idlSectionComment'>" to output"
## Important info

* URL to affected spec: https://wicg.github.io/web-share-target/
* ReSpec version: 22.0.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
WebIDL with a "partial dictionary" after another dictionary has "`<span class='idlSectionComment'>`
`</span>`" in between the two dictionaries.

But what I was expecting?:
Not

[2018-06-27 20:28] marcoscaceres commented on #1717
Small regression, @saschanaz

[2018-06-28 07:29] #1717 closed

[2018-06-28 07:29] marcoscaceres commented on #1717
Will release in about 10 hours

[2018-06-28 14:09] marcoscaceres commented on #1717
(🤞) fixed in 22.0.1.

[2018-06-29 16:22] #1683 closed

[2018-06-29 19:26] marcoscaceres opened #1724 "Add support for “changes since”"
It would be nice to show substantive since some tag (e.g., “CR”).

[2018-06-30 17:02] marcoscaceres opened #1725 "W3C logo showing up in unofficial drafts?"
## Important info

* URL to affected spec:
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
@nicky508 wrote:

What happened (e.g., it crashed)?:

But what I was expecting?:

To have no logo.

Optional, steps to reproduce:
 1. ...

[2018-07-02 07:16] nicky508 commented on #1725
Important info

    URL to affected spec:
    ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
   Yes - I did a "hard refresh", but it's still busted.

Description of problem
The W3C logo is removed from the unofficial drafts. In the past it was possible to override the W3C logo with your own logo. Now the W3C logo is removed, it is not possible to override it and put your own logo on the dra

[2018-07-02 08:51] sidvishnoi commented on #1725
Why is this being done?
https://github.com/w3c/respec/blob/cf5651238b15060fe4f7c8b141a5ed7908e4f477/src/w3c/headers.js#L231-L233

This was done in https://github.com/w3c/respec/commit/f16890dccf7332a57af1ed9b9d6d5611c6881d52 (fix: double logos in cg spec (closes #1286))

[2018-07-02 16:13] marcoscaceres commented on #1725
Working on fix.

[2018-07-02 17:39] sidvishnoi opened #1726 "Prevent SpecRef request if there are no refs"
If a request to SpecRef is sent that has no values in `refs`, such as `https://specref.herokuapp.com/bibrefs?refs=`, we gets lots of errors (like `Legacy SpecRef entries are not supported`) as SpecRef returns data that we don't want (or handle) and respec hangs.

TODO:
1. Investigate why and when does it happen.
2. As a fix, if there are no `refs`, don't send a request.

[2018-07-02 17:57] #1725 closed

[2018-07-03 06:05] danielpeintner opened #1728 "Recent ReSpec update broke WebIDL parsing for WoT defintitions"
## Important info

* URL to affected spec: https://w3c.github.io/wot-scripting-api/
* ReSpec version: 22.1.0

## Description of problem

What happened (e.g., it crashed)?:

Many WebIDL defintitions cause parsing issues. For example `interface WoT`
https://w3c.github.io/wot-scripting-api/#the-wot-object

But what I was expecting?:

The following used to parse just fine and now complains about many

[2018-07-03 08:43] marcoscaceres commented on #1728
Thanks for letting us know! Will fix today.

[2018-07-03 14:51] marcoscaceres commented on #1728
@danielpeintner thanks for providing the test case to reproduce (hi also @zolkis, as I see he is editing).

Looking at your IDL, the problem is that the IDL itself is invalid. Although you define the `Observable` interface in you spec, WebIDL forbids arbitrary interfaces from being used as a generic (only certain things, like `Promises`, can use that syntax).

The `typedef`s are also invalid. If y

[2018-07-03 14:51] #1728 closed

[2018-07-03 15:57] #1674 closed

[2018-07-03 17:05] zolkis commented on #1728
@marcoscaceres thanks for the review. Looks like now we get better checking on the WebIDL and finally need to fix our stuff.

The intent about `maplike` was to express a collection of named properties in an object as property bag instead of specifying arrays. We could just say `object` or `any` or `Dictionary` and specify the types in prose. Just like we need to do with the type of values provided

[2018-07-03 18:01] marcoscaceres commented on #1728
Got it. You might need to just define an interface for that:

[code]

Maybe take a look at how URLQueryParams interface works. This seems quite similar.

[2018-07-03 23:00] gkellogg commented on #1650
Ping, this seems to have gotten lost, and now causes problems to be noted when rendering, for example, https://w3c.github.io/json-ld-api. I did try to resurrect my ReSpec development environment to dive into the code, but got hung up with `npm install` errors I can't resolve.

[2018-07-04 18:28] sidvishnoi commented on #1424
Closing in favour of #1662

[2018-07-04 18:28] #1424 closed

[2018-07-05 17:58] marcoscaceres opened #1737 "Two spaces between optional and identifier"
## Important info

* URL to affected spec:
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
When `optional` thing,  two in instead of one, give:

[code]
But what I was expecting?:
single space between `optional` and `PaymentComplete`.

Optional, steps to reproduce:
 1. Same ab

[2018-07-05 18:00] marcoscaceres commented on #1650
@gkellogg sent a PR:
https://github.com/w3c/respec/issues/1650

But it only deals with spaces... can you confirm that "@" and other symbols are ok?

[2018-07-06 01:50] #1737 closed

[2018-07-06 14:14] marcoscaceres opened #1741 "Unhelpful error details"
## Important info

* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
the first part is helpful, but the details are not:

<img width="532" alt="screenshot 2018-07-06 10 09 19" src="https://user-images.githubusercontent.com/870154/42383408-2249beec-8105-11e8-8aba-96c4d7465b34.png">

What happened (e.g., it crashed

[2018-07-06 15:34] #1726 closed

[2018-07-06 18:16] marcoscaceres opened #1742 "Another somewhat unhelpful error"
## Important info

* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

<img width="510" alt="screenshot 2018-07-06 14 14 43" src="https://user-images.githubusercontent.com/870154/42394131-0631fa72-8127-11e8-9811-25b81e0651a9.png">

But what I was expecting?:
A little bit more in

[2018-07-06 18:25] sidvishnoi opened #1743 "(core/pluralize): Add support for singularize"
It would be nice if pluralization also works for singularizing terms. For example,
Instead of `<dfn data-lt="bar">bars</dfn>`, we could write `<dfn>bars</dfn>` but still refer to it as `<a>bar</a>` or `<a>bars</a>`.

Presently it works opposite way only. i.e.
`<dfn>bar</dfn>` can be refereed as `<a>bar</a>` or `<a>bars</a>`, but `<dfn>bars</dfn>` cannot be referred as `<a>bar</a>`.

[2018-07-08 21:15] gkellogg commented on #1650
@marcoscaceres this would seem to an improvement, but URI path components are quite prescriptive, but for validation, this likely depends on if you validate as a [URI](https://www.ietf.org/rfc/rfc3986.txt)/IRI or as a [URL](https://url.spec.whatwg.org). The URL spec allows characters such as `@`, while URI is restricted to `ALPHA / DIGIT / "-" / "." / "_" / "~"`, for the most part. For a Spec, the

[2018-07-09 12:19] saschanaz opened #1745 "IDL Index looks too condensed"
## Important info

* URL to affected spec: https://w3c.github.io/payment-request/
* ReSpec version: 22.1.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

![image](https://user-images.githubusercontent.com/3396686/42450007-bd8d68c6-83bd-11e8-97bf-a500152ac259.png)

But what I was expecting?: Less condensed IDL definitions (spaces

[2018-07-09 12:28] marcoscaceres commented on #1650
Fwiw, we use URLs.

[2018-07-09 15:02] #1650 closed

[2018-07-09 15:05] marcoscaceres commented on #1745
The optional issue should be fixed in respec 22.2.0. But yeah, should probably add a new line (or actual padding) between each idl block.

[2018-07-09 15:09] marcoscaceres commented on #1745
actually, no... the optional issue is still there. Definitely need to fix that, as it's actually dropping the space.

[2018-07-10 04:32] saschanaz commented on #1745
#1747 does not fix the condensing issue.

[2018-07-10 04:34] marcoscaceres commented on #1745
Ah, true. Thanks! I was thinking best option is to add a new line, and not padding.

[2018-07-10 04:35] marcoscaceres commented on #1745
@saschanaz, do you want to take this one?

[2018-07-10 22:21] aardrian opened #1752 "Heading mark-up in notes"
## Important info

* URL to affected spec: https://www.w3.org/TR/wai-aria-practices-1.1/

## Description of problem

It is common practice for developers to view-source on pages for guidance on how patterns are coded, or just to take code as-is for their own use. There is HTML in the WAI-ARIA Authoring Practices 1.1 that I feel should be adjusted to better follow the principles of ARIA and best pr

[2018-07-10 22:39] #1745 closed

[2018-07-11 12:46] marcoscaceres commented on #1752
Agree we should look into this. We clearly know the heading level, so we could probably just add “no-toc" to prevent these from showing up in the ToC. We should check what bikeshed does too.

[2018-07-11 13:43] #1742 closed

[2018-07-11 22:01] sidvishnoi commented on #1741
Should be caused on any `pub("error")` as:
https://github.com/w3c/respec/blob/b571192c7d7b9f09872e371c6245f740e9546511/src/core/pubsubhub.js#L63-L65

[2018-07-12 19:15] sidvishnoi opened #1754 "Change the way references are defined as informative or normative"
The following modified syntax shall be used for defined whether an inline spec reference is informative or normative:
- `[[!spec]]`: normative.
- `[[?spec]]`: informative.
- `[[spec]]`: decided based on parent. If defined in a non-normative section, then informative, else normative.

[2018-07-16 16:08] sidvishnoi opened #1757 "META(core/xrefs): requirements for API endpoint"
Requirements for keyword based search endpoint to CSSWG's Shepherd database. As a part of https://github.com/w3c/respec/issues/1662.

We expect to POST a top-level JSON object. The object has the following properties:

 * `options` (optional, Object).
 *  `keys` (Array).

Which are described in detail below.

## Example of POSTed message

[code]

## Example JSON Response

[code]

## `options` prop

[2018-07-16 16:11] sidvishnoi commented on #1757
A temporary endpoint as a playground for Xrefs API: https://wt-466c7865b463a6c4cbb820b42dde9e58-0.sandbox.auth0-extend.com/xref-proto-2

[2018-07-17 13:04] saschanaz opened #1760 "Incorrect extended attribute in IDL causes silent failure"
## Important info

* URL to affected spec:
* ReSpec version: 22.3.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Try inserting this in examples/basic.html:

[code]

What happened (e.g., it crashed)?: The webidl module fails only with a console message.

But what I was expecting?: No failure

[2018-07-17 14:39] nigelmegitt opened #1761 "[FEATURE REQUEST"
## Important info

* URL to affected spec: https://rawgit.com/w3c/imsc/imsc1.1-cr2/imsc1/spec/ttml-ww-profiles.html#references (hopefully will move to https://www.w3.org/TR/ttml-imsc1.1/ at some point soon)
* ReSpec version: 22.0.1.
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

When specific dated references to external specs are needed, the specref id is often c

[2018-07-17 15:30] marcoscaceres commented on #1761
@nigelmegitt, you can do the following:

Add the following to your config:
[code]

And then, just cite:

[code]

And it should show up in the references as "ttml2".

[2018-07-17 15:30] #1761 closed

[2018-07-17 15:57] nigelmegitt commented on #1761
Awesome, thank you! And @palemieux, see https://github.com/w3c/respec/issues/1761#issuecomment-405624624

[2018-07-19 19:47] marcoscaceres opened #1762 "Support `Assert:` in algorithms"
Be nice if `Assert:` appears in an algorithm's `<li>`, ReSpec highlights the line.

[2018-07-21 13:30] saschanaz commented on #1760
Turns out that webidl2.js somehow supports the `[ExtAttr="stringliteral"]` syntactically-extended style but ReSpec doesn't know about it. Supporting it is easy, but should we?

[2018-07-25 05:08] saschanaz commented on #1760
We may do it via w3c/webidl2.js#138.

[2018-07-25 08:02] saschanaz commented on #1760
@marcoscaceres

So another important point here is that a silent failure happens in ReSpec. I think we may add `pub("fatal", err)` so that a user can be notified that a bug just happened. What do you think?

[2018-07-25 08:06] saschanaz commented on #1741
I agree we can just remove it as AFAIK error stacks are visible via dev tools.

[2018-07-25 08:52] marcoscaceres commented on #1760
Fatal could be good, so long as we don’t show the stack. Then we can console.error() for that

[2018-07-25 08:57] marcoscaceres commented on #1741
Agree

[2018-07-25 18:02] npm1 opened #1768 "Multiple dfn with the same name"
## Important info

* URL to affected spec: https://w3c.github.io/hr-time
* ReSpec version: 22.3.1

## Description of problem
The spec has a warning:

`Missing <dfn> for Performance interface.`

In the spec, we have:

- A  `<dfn>Performance</dfn>` in a section with `data-dfn-for="Performance"  data-link-for="Performance"`.

- A `<dfn>performance</dfn>` in a section with `data-dfn-for="WindowOrWorke

[2018-07-26 06:30] saschanaz opened #1769 "WPT tests button looks broken on Edge"
## Important info

* URL to affected spec: https://w3c.github.io/hr-time/
* ReSpec version: 22.3.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: WPT tests button is broken because [Edge does not supports `<details>` and `<summary>` yet](https://caniuse.com/#feat=details). Even the latest Edge 18 preview does not.

But what I was

[2018-07-26 06:44] saschanaz commented on #1768
It seems #1508 is related.

[2018-07-26 07:44] saschanaz commented on #1769
Will be great if it's small and lightweight enough.

[2018-07-26 08:15] marcoscaceres commented on #1768
@saschanaz, Yeah :( Still not figured this out. Trying to find time to dig into it. I've got a bunch of conference talks next week, so right now super busy on those. Will try to look into in August unless anyone else can take it.

@sidvishnoi, did you see anything useful/helpful while you were investigating?

[2018-07-26 09:49] sidvishnoi commented on #1768
It is related to #1508 as @saschanaz  mentioned and not a regression.

During some playing, I found keeping IDL case-insensitive resolves this. So,
 - `core/utils@getDfnTitles()` needs to return non-lowercase titles for IDL
 - https://github.com/w3c/respec/blob/01907217105dffa420a23717485c3cf07ae8eb3b/src/core/webidl.js#L656 needs to use `originalName` instead of `name`

By doing the above during

[2018-07-30 10:29] r12a opened #1786 "Language tags exposed in editor list company names"
## Important info

* URL to affected spec: http://w3c.github.io/clreq/
* ReSpec version: 22.3.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
See the editor lists at top of page, such as:

It's possible to surround 董福興 with `<span lang='zh-hant'>`, but not 特邀专家. If you add markup around the latter, it is displayed as source code. Presumably because the respec sour

[2018-07-31 00:06] npdoty opened #1788 "standard way to mark fingerprinting surface vectors"
Potential feature/enhancement for ReSpec: it would be nice if authors could easily note that a particular section/feature was a potential addition to the fingerprinting surface (or sometimes, a "fingerprinting vector") and then ReSpec would add the nice icon next to it, and alt text regarding browser fingerprinting. This is a convention in HTML, and it would be useful to have it for other specs as

[2018-07-31 00:52] saschanaz commented on #1788
So it seems the necessary insertion is:

[code]

[code]

Should we make it clickable, [as HTML does](https://html.spec.whatwg.org/#fingerprinting-vector)?

[2018-07-31 01:44] marcoscaceres commented on #1788
Would probably be good to make this a general W3C thing, as part of tr-design.

[2018-07-31 03:02] marcoscaceres commented on #1768
Fix didn't seem to work on the actual spec, tho it worked in our tests. Need to check what's going on.

[2018-07-31 03:16] marcoscaceres commented on #1768
Ok, so it's a bit better. At least the IDLType is linking, but the first `dfn` for `Performance` is not being matched.

@sidvishnoi, would you mind having another look and doing some more experimentation? I think this can be reduced down to a very test case. You just need an  `interface  Performance {};` and a `<dfn>Performance</dnf>`, and another interface `interface Conflict { attribute Performa

[2018-08-01 02:37] saschanaz opened #1789 "<dfn> for Gamepad is being ignored"
## Important info

* URL to affected spec: http://w3c.github.io/gamepad/#gamepad-interface
* ReSpec version: 22.3.3
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

![image](https://user-images.githubusercontent.com/3396686/43497846-2562a22c-957f-11e8-8960-82174212c637.png)

But what I was expecting?: `Gamepad` should get a correc

[2018-08-01 06:06] marcoscaceres commented on #1789
Looks like it.

[2018-08-01 12:17] saschanaz commented on #1786
This looks similar with #1594. How about we add `lang` field for editors list, rather than allowing HTML everywhere? @marcoscaceres

[2018-08-01 12:37] r12a commented on #1786
Indeed, it appears to be part of that issue (sorry for missing it).  A fix was provided for names, but not for organisations.

I believe we should stick with the markup, rather than add a metadata field. Look at the example above, for instance. Both the name and the organisation information are a mix of Chinese and English.  It would be incorrect to apply a zh language tag to the text 'Invited Exp

[2018-08-01 12:39] r12a commented on #1594
Reopening because the fix provided only addressed the names, and not the organisations. Moving the report here from #1786.

## Important info

* URL to affected spec: http://w3c.github.io/clreq/
* ReSpec version: 22.3.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
See the editor lists at top of page, such as:

It's possible to surround 董福興 with `<span lang='zh-ha

[2018-08-01 12:46] #1786 closed

[2018-08-01 13:01] sidvishnoi commented on #1768
Okay. Had a play with this. I think it is time we make `definitionMap` case sensitive for IDL (it worked [_almost_](https://user-images.githubusercontent.com/8426945/43523144-09ce6624-95b9-11e8-813a-31391fb61d6d.png) well as I tried) as I think everything else will be a "workaround". Do we have some reason to not do it yet?

[2018-08-01 13:18] marcoscaceres commented on #1768
No reason. What means do we to reliably identify IDL?

[2018-08-01 13:27] sidvishnoi commented on #1768
We can check if dfn's term (`textContent`/`data-lt`) exist in some `pre.idl`. We might need to pre-process a `Set` of IDL terms. Not sure here. You and @saschanaz  have more experience with IDL things.

[2018-08-01 13:37] #1594 closed

[2018-08-01 13:39] marcoscaceres commented on #1768
Maybe just `<dfn data-dfn-type=“idl”>Foo</dfn>` for now, then we can make it smarter?

[2018-08-01 14:57] r12a commented on #1594
Thanks for the fix.  How will i be notified when it goes live?  (Because i need to add the language tags at that point.)

[2018-08-02 04:31] marcoscaceres commented on #1594
Released respec@22.3.4 and confirmed it's 👍

[2018-08-02 06:54] saschanaz opened #1791 "<dfn> for DOMParser.parseFromString is ignored"
## Important info

* URL to affected spec: https://w3c.github.io/DOM-Parsing/#the-domparser-interface
* ReSpec version: 22.3.3
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: The dfn exists but IDL does not link.

But what I was expecting?: IDL should link to the dfn.

[2018-08-02 10:32] r12a commented on #1594
Seems to be working. Many thanks!

[2018-08-02 12:34] saschanaz commented on #1791
`dfn`s for enum items are also being ignored

[2018-08-03 13:39] saschanaz opened #1793 "Replace `deps/domReady` with a wrapper for deprecation notice"
Following #1767.

We may modify copydeps.js as:

[code]

and create a small wrapper for existing `deps/domReady` like this:

[code]

Thoughts? @marcoscaceres @sidvishnoi

[2018-08-04 01:12] npdoty commented on #1788
@saschanaz  It could be clickable, but I'm not exactly sure what the target of the link should be. (It could be the Mitigating Browser Fingerprinting Note, which we'd like to re-publish again soon, or it could be that part of the HTML spec, although that is specific to HTML and not exactly up-to-date regarding fingerprintability.)

Also, including that .png image for now would be great, but also i

[2018-08-05 13:04] tidoust opened #1794 "No space after readonly in "readonly maplike" definitions"
## Important info

* URL to affected spec: [Web MIDI API](http://webaudio.github.io/web-midi-api/)
* ReSpec version: 22.3.4
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

No space after `readonly` in `readonly maplike` declaration in definition of [`MIDIInputMap`](http://webaudio.github.io/web-midi-api/#dom-midiinputmap), whereas the space exists in the [source](h

[2018-08-05 14:14] marcoscaceres commented on #1794
Confirmed. Looks like a recent regression. Should be easy to fix.

[2018-08-06 04:35] marcoscaceres opened #1795 "Add support for IDL namespace"
Would be nice to support `namespace` declarations in WebIDL.

[2018-08-06 04:58] saschanaz commented on #1788
@marcoscaceres, mind opening an issue for tr-design? I'm not very familiar with that repo.

[2018-08-06 14:43] zcorpan commented on #1788
The fingerprint image in https://github.com/whatwg/whatwg.org/pull/64 when merged will be CC0 per https://resources.whatwg.org/README.md

When the fingerprint PRs are merged, I think the default will be to link to the definition in the Infra standard.

[2018-08-07 02:35] #1789 closed

[2018-08-07 02:38] marcoscaceres commented on #1768
Closed via https://github.com/w3c/respec/pull/1792

[2018-08-07 02:38] #1768 closed

[2018-08-07 02:38] marcoscaceres commented on #1794
Closed via https://github.com/w3c/respec/pull/1792

[2018-08-07 04:26] marcoscaceres commented on #1793
Something like that would be nice.

[2018-08-08 04:10] saschanaz commented on #1793
Closed by #1797

[2018-08-08 04:10] #1793 closed

[2018-08-08 07:13] marcoscaceres commented on #1788
Closing in favor of https://github.com/w3c/tr-design/issues/162

[2018-08-08 07:13] #1788 closed

[2018-08-13 17:28] sidvishnoi opened #1799 "[META] Summary - Google Summer of Code 2018"
This issue documents the work done by @sidvishnoi (i.e. me) during his GSoC internship and serves as the final official submission.

## tl;dr

- [[Commits](https://github.com/w3c/respec/search?o=desc&q=author%3Asidvishnoi+author-date%3A2018-04-24..2018-08-14&s=committer-date&type=Commits)]
- Issues: [[Opened](https://github.com/w3c/respec/search?q=author%3Asidvishnoi+is%3Aissue+created%3A2018-04-2

[2018-08-13 21:26] marcoscaceres commented on #1799
This is probably best put into the wiki.

[2018-08-14 06:38] sidvishnoi commented on #1799
Moved to [wiki](https://github.com/w3c/respec/wiki/Google-Summer-of-Code-2018-Summary).

[2018-08-14 06:38] #1799 closed

[2018-08-14 06:53] marcoscaceres commented on #1711
@saschanaz, this can be closed now, right?

[2018-08-14 06:54] saschanaz commented on #1711
Yup, closed by #1777

[2018-08-14 06:54] #1711 closed

[2018-08-17 09:45] andreastt opened #1803 "‘File a bug’ link broken despite correct GitHub config"
## Important info

* URL to affected spec: https://w3c.github.io/webdriver/
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1). From w3c.org
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

The ‘File a bug’ link in the top metadata points to https://github.com/w3c/issues/ (404) instead of https://github.com/w3c/webdriver/issues or https://github.com/w3c/webdrive

[2018-08-17 09:50] sidvishnoi commented on #1803
As a quick-fix, please add a trailing slash in the end of GitHub URL.

[2018-08-20 03:03] marcoscaceres commented on #1803
@sidvishnoi, did you by chance investigate a bit what was happening there?

[2018-08-20 04:39] marcoscaceres opened #1804 "give `var`s a type"
Given `var`, like `<var>details</var>`, it would be nice to be able to give the `var` a data type, so then you could do:

[code]

As we know `details` is `IDLContainerType`, then it could auto link `id` to `IDLContainerType`'s `id` member or attribute.  Similarly with step 3, we could link the method on IDLContainerType.

[2018-08-20 04:41] marcoscaceres commented on #1804
We could also come up with a syntax for defining vars.

[2018-08-20 05:13] marcoscaceres commented on #1804
The same applies with internal slots. We need to be able to say that an internal slot is for a particular interface.

[code]

Should be able write:

[code]

Or even:

[code]

We can't link [[\details]] unless we know the type. We will eventually know this from WebIDL itself.

[code]

[2018-08-20 06:58] sidvishnoi commented on #1803
Yeah. We have a minor issue. See:
https://github.com/w3c/respec/blob/da275e4a1b4fa54924d3dcbf6ad6c2fd9abc7f5f/src/core/github.js#L87

We just need to ensure that `ghUrl` has a trailing slash. Should be fairly simple to fix.
We could handle this in code, or we could document in wiki to ask editors to ensure the right URL.

[2018-08-20 07:02] marcoscaceres commented on #1803
We should probably do it in code, as we shouldn't expect people to read the docs.

[2018-08-20 10:29] #1803 closed

[2018-08-20 10:33] andreastt commented on #1803
Thanks for the quick turnaround!

[2018-08-20 12:32] jakubklimek opened #1808 "Linter reports false errors on "local-refs-exist" when href contains unicode symbols"
## Important info

* ReSpec version: 22.5.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

When "local-refs-exist" linter runs, and the anchor contains unicode characters like this:
[code]
it reports a false error `Linter (local-refs-exist): Broken local reference found in document. <a href=​"#přehled" class=​"tocxref respec-offending-element">​…​</a>​`

The link

[2018-08-20 14:16] marcoscaceres commented on #1803
No problem. We are going to off a couple days before releasing a new build - we are working on a couple of additional fixes.

[2018-08-20 15:49] #1808 closed

[2018-08-24 04:48] marcoscaceres opened #1811 "IDL link to local members in same document"
With the inline IDL syntax, the following doesn't currently work as expected:

[code]

The base part links `PaymentAddress`, but the `languageCode` member doesn't.

I think this is incorrect:

https://github.com/w3c/respec/blob/develop/src/core/link-to-dfn.js#L82

There we should try linking locally first (or if data-link-for="" is present), then try external referenced.

@sidvishnoi, thoughts?

[2018-08-24 12:10] sidvishnoi commented on #1811
Mostly yes. Did things to make things work. 😞 Will be back after a week, hopefully this isn't high priority right now.

Yes. that is required. I mainly did `{{{ }}}` for external linking right now. Need to make it work local first.

[2018-08-27 11:56] yoavweiss opened #1812 "Small-caps is not appropriate for `<code>`"
## Important info

* https://w3c.github.io/performance-timeline/#getentries-method-0
* ReSpec version: 22.6.0
* [x] I did a "hard refresh", but it's still busted. N/A - it's a style issue

## Description of problem

Going to the link above you can see that code segments are displayed with small-caps, inherited from the `<h6>` style. That doesn't really work.

`<code>` should be excluded from those

[2018-08-27 12:01] marcoscaceres commented on #1812
base.css is maintained at https://github.com/w3c/tr-design

[2018-08-27 12:02] marcoscaceres commented on #1812
That seems odd. I’ll check what’s going on there.

[2018-08-28 01:55] marcoscaceres commented on #1812
Filed https://github.com/w3c/tr-design/issues/164 and PR https://github.com/w3c/tr-design/issues/165

[2018-08-28 01:55] #1812 closed

[2018-08-29 09:00] jakubklimek opened #1813 "Autogenerated (section) IDs omit unicode characters"
## Important info

* ReSpec version: 22.5
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Autogenerated IDs of sections (and other parts of the document as well) based on headings omit unicode characters, creating nonsensical words in URLs.

I would expect the IDs to keep the words intact (i.e. do only lowercase, if that is necessary)

Optional, steps to reproduce:

[2018-08-29 22:48] marcoscaceres commented on #1813
Can probably use: https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript

[2018-08-30 04:06] jakubklimek commented on #1813
@marcoscaceres To cite the first comment in that post:

The point here is to keep them in. They are valid IRIs and when I define them manually in the ids, they work perfectly.

[2018-08-30 05:48] marcoscaceres commented on #1813
oh, my bad... I misread. We had problems with these IRIs before when sharing them on twitter, etc. The support for fragments that contain unicode is quite spotty.

[2018-08-30 06:03] jakubklimek commented on #1813
Well, and was this recently? Tried and https://t.co/S4yYjMNh9i works. Also works ok in Firefox and Chrome... I mean I am not a fan of limiting oneself by a buggy implementation. Instead I would push for fixing the implementation...

[2018-08-31 08:41] tidoust opened #1814 "data-dfn-for ignored for duplicate IDL enum terms"
## Important info

* URL to affected spec: [Presentation API](https://w3c.github.io/presentation-api/)
* ReSpec version: Click the ReSpec pill (e.g., 22.6.0).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

The  `PresentationConnectionState` enum, defined in [section 6.5](https://w3c.github.io/presentation-api/#interface-presentationconnection) contains a `closed`

[2018-09-04 02:06] marcoscaceres commented on #1814
Yeah, we don't support this very well right now. It's best to:

[code]

As best practice, the enums should be defined as above l. Also, `CloseReason` looks like it should be a `DOMString`, not an enum.

[2018-09-04 08:13] tidoust commented on #1814
I suspect the first `data-link-for` in your code should be `data-dfn-for`, but even with that fix, that does not fix the problem. Did I miss something?

Hmm, why? The [actual definition](https://w3c.github.io/presentation-api/#dom-presentationconnectionclosereason) has 3 values (`closed`, `error`, `wentaway`) and implementations are not supposed to create new ones.

[2018-09-04 08:15] marcoscaceres commented on #1814
Strange. Can you put up a patch over on the other repo?

It's more that reasons are usually given, not "enums"... which usually represent states in state machines.

[2018-09-04 09:44] tidoust commented on #1814
Not sure what patch I should put. What I'm saying is that the following minimal ReSpec doc has the problem:

[code]

[2018-09-04 09:47] marcoscaceres commented on #1814
Ok, np. Will work off your test case above.

[2018-09-05 07:34] marcoscaceres commented on #1814
Fix incoming https://github.com/w3c/respec/pull/1816

[2018-09-05 10:04] #1813 closed

[2018-09-06 13:09] #1814 closed

[2018-09-06 13:16] marcoscaceres commented on #1814
@tidoust seems good now on v22.7.1. Linking to the right things. Thanks again for the test case!

[2018-09-08 05:49] marcoscaceres commented on #1580
Closing this, as we do now build components when we run `npm start`

[2018-09-08 05:49] #1580 closed

[2018-09-12 09:50] thakurdivyanshu commented on #1762
can i work on this??

[2018-09-12 10:56] marcoscaceres commented on #1762
Sure! Got for it. Is the description clear enough?

[2018-09-14 16:12] deborahgu opened #1820 "improved UX: normative and informative references should link directly, to correspond to web best practices and user expectations"
When users select a link in a W3C doc, they generally expect the behavior of the modern web: i.e. they expect that link to take them to the document that seems to be linked. The ReSpec behavior is to take the user instead to the references section, written like a print bibliography, which contains the link the user expected to see twice, once by title and once by URL, as if the bibliography were i

[2018-09-14 21:52] sideshowbarker opened #1821 "Add self-links to headings (§ hyperlink anchor)"
It would be great if Respec-generated specs had self-links for all headings, the way the HTML spec does and that Bikeshed-generated specs do.

To be clear, I mean the feature where, in the left margin just before the heading, there’s a `§` character that’s a hyperlink to the URL for that heading.

[2018-09-15 02:06] marcoscaceres commented on #1820
We agree, which is why we have `data-cite`, which does precisely what you describe: links directly to another spec AND adds a reference to the bibliography. See example of using with `a` element: https://github.com/w3c/respec/wiki/data--cite

If there is some spec doing it incorrectly, I’d suggest fixing that spec. I’m happy to provide guidance, just ping 🛎.

[2018-09-15 02:06] #1820 closed

[2018-09-15 14:00] #1821 closed

[2018-09-15 14:33] marcoscaceres commented on #827
closed via https://github.com/w3c/respec/pull/1822

I'm going to deprecate the old code.

[2018-09-15 14:48] marcoscaceres commented on #1821
Will release hopefully tomorrow or Monday :)

[2018-09-16 09:37] marcoscaceres commented on #425
Fixed to read, in voice over, to, for example, read "Section level 2. The Foo Interface. Link, section symbol."

[2018-09-16 09:37] #425 closed

[2018-09-16 09:39] marcoscaceres commented on #479
closing as won't fix.

[2018-09-16 09:45] marcoscaceres commented on #479
actually, might still do this... but we put everything between top and the references inside main.

[2018-09-16 10:01] marcoscaceres commented on #622
handled by ESLint now

[2018-09-16 10:01] #622 closed

[2018-09-16 10:04] marcoscaceres commented on #723
won't  fix.

[2018-09-16 10:04] #723 closed

[2018-09-16 10:06] marcoscaceres commented on #824
Good enough for now.

[2018-09-16 10:06] #824 closed

[2018-09-16 10:07] #827 closed

[2018-09-16 10:09] marcoscaceres commented on #836
I think this was fixed.

[2018-09-16 10:09] #836 closed

[2018-09-16 10:16] marcoscaceres commented on #1162
![screen shot 2018-09-16 at 8 15 31 pm](https://user-images.githubusercontent.com/870154/45595337-62285c00-b9ed-11e8-9d2f-f20e64f0b691.png)

Whitespace is respected now by the WebIDL2.js parser.

[2018-09-16 10:16] #1162 closed

[2018-09-16 10:17] marcoscaceres commented on #1140
Closing, as we've been doing ok

[2018-09-16 10:17] #1140 closed

[2018-09-16 10:28] marcoscaceres commented on #1676
The behaviour of these links has changed. After failing to link to IDL, we now try to link to concepts and warn if a concept can't be found... so this now invalid.

[2018-09-16 10:28] #1676 closed

[2018-09-17 01:29] marcoscaceres commented on #1080
We are getting sub second render times, so probably don’t need this. Reducing the size of ReSpec by dropping requirejs and jQuery would be time better spent.

[2018-09-17 01:29] #1080 closed

[2018-09-17 01:30] marcoscaceres commented on #1653
The tradeoff would be an async call vs 10 lines of code that determines the version number... so not worth it.

[2018-09-17 01:30] #1653 closed

[2018-09-17 05:29] #1437 closed

[2018-09-17 08:55] palemieux opened #1828 "No ID for section: Table of Contents"
https://rawgit.com/w3c/imsc/release/imsc1.1-PR/imsc1/spec/ttml-ww-profiles.html

Pubrules report _No ID for section: 'Table of Contents'._

See rendered version at:

https://www.w3.org/pubrules/?url=http%3A%2F%2Fsandflow.com%2Fpublic%2Fimsc%2FOverview.html&profile=PR&validation=simple-validation&noRecTrack=false&informativeOnly=false&echidnaReady=false&patentPolicy=pp2004

respec.js version 23.0.2

[2018-09-17 09:26] marcoscaceres commented on #1828
Thanks! on it.

[2018-09-17 10:35] marcoscaceres commented on #1828
Patch waiting for review https://github.com/w3c/respec/pull/1829

[2018-09-17 11:53] thijsbrentjens opened #1830 "Duplicate ids are generated for sections with the same title in Markdown docs"
## Important info

* URL to affected spec: (not live in production at the moment)
* ReSpec version: 23.0.2 based build of Geonovum, but generic issue
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
In ReSpec documents using Markdown duplicate ids are generated on the header elements if sections have the same title. In HTML docs this does not occur.

But what I was e

[2018-09-17 14:30] marcoscaceres commented on #1828
+ respec@23.0.3

[2018-09-17 16:45] marcoscaceres commented on #1309
Closing this, as I think current practice across specs is good and clear.

[2018-09-17 16:45] #1309 closed

[2018-09-17 16:50] marcoscaceres commented on #1186
Going to stick with current release tool.

[2018-09-17 16:50] #1186 closed

[2018-09-17 20:08] deborahgu commented on #1820
Oh, thanks! And yes, every single respec doc I'm contributing to in any way is not doing this correctly (or at least, not consistently).  I will contact all the editors for those documents.

[2018-09-23 08:56] shikhar-scs commented on #1804
Hey @marcoscaceres ✋ . Wanted to be back at respec. 😄 Would this be good to start with 😅 ?

[2018-09-24 03:38] marcoscaceres commented on #1804
@shikhar-scs welcome back! Awesome shirt, btw! 🦊🤘 Be really cool if you wanted to work on this.

It depends on https://github.com/w3c/respec/issues/1811 getting fixed tho. @sidvishnoi, what's your plan for that one? Do you want to give some pointers to @shikhar-scs?

As an aside, what would be really cool would be to show the `data-idl-type` when the user hovers over a matching variable. Like Visu

[2018-09-24 04:30] shikhar-scs commented on #1804
Lol, thanks for sending it though 😅 .

Then, should I go to #1811 first ?

Yeah @sidvishnoi this would be great. I'll look into hover too once I get started with this. 😄

[2018-09-24 04:38] marcoscaceres commented on #1804
Yeah, might be worth having a look - but coordinate with @sidvishnoi, because he might have a patch in the works already.

For a bit more background, @sidvishnoi built a very basic parser for that "{{{" "}}}" syntax. But it's not working quite right yet. The code is very small/elegant, so hopefully easy to see what it's doing:
https://github.com/w3c/respec/blob/develop/src/core/inline-idl-parser.j

[2018-09-24 14:02] thijsbrentjens commented on #1830
I tried to figure out what is going on.

It seems that the code at https://github.com/Geonovum/respec/blob/develop/src/core/markdown.js#L205 is never executed (at least, adding a breakpoint in my browser does not pause executing the code).

Around https://github.com/w3c/respec/blob/develop/src/core/structure.js#L59 I found that there is an id attribute for the h object in:
[code]
So somewhere an i

[2018-09-24 14:10] marcoscaceres commented on #1830
Thanks for looking into it! That’s really helpful. I’ll try to find a little time to reproduce what you did tomorrow. It’s indeed strange that the markdown module is not setting the html.

[2018-09-25 23:27] gkellogg commented on #1830
This happens with examples too:

[code]

Produces the following:

[code]

[2018-09-26 03:50] marcoscaceres commented on #1830
Trying to reproduce now...

[2018-09-26 06:57] marcoscaceres commented on #1830
Ok, PRs sent and waiting for review. It was two separate bugs.

For the markdown case, automatically adding ids is something that was added to Marked.js v4. I've disabled it, and now ReSpec handles the ID generation.

The examples was a bug on my part - I'd cloned the `pre` before actually removing the id! So thanks @gkellogg for letting me know about this.

[2018-09-26 07:05] thijsbrentjens commented on #1830
Thanks @marcoscaceres  !

[2018-09-26 11:07] #1830 closed

[2018-09-26 11:11] marcoscaceres commented on #1830
+ respec@23.0.4

[2018-09-27 14:52] himanish-star commented on #1582
Hey @marcoscaceres!!!!, sure I would love to work on this. But, as I am pretty much occupied with some other work, I think I'll be only able to work on this in the weekends. Will that work for you?
I could start off with this from the coming weekend :)

[2018-09-27 14:53] marcoscaceres commented on #1582
oh, whenever you can. No stress! If you don't get time, that's also fine. Just let me know.

[2018-09-30 17:05] yatri1609 commented on #1339
@marcoscaceres I would like to take this issue up for the next week

[2018-10-01 00:45] marcoscaceres opened #1834 "Warn when test appears more than once"
Given, for instance:

[code]

ReSpec should warn about duplicate tests.

Effectively, somewhere here, we need to check and warn of duplicates:
https://github.com/w3c/respec/blob/develop/src/core/data-tests.js#L86-L98

And also drop the duplicates.

[2018-10-01 06:09] marcoscaceres commented on #1339
@yatri1609 sounds great. When you can, take a look at
https://github.com/w3c/respec/pull/1334#issuecomment-318301008 ... as I can't recall the details. Suggestions on how to make things better are welcomed!

[2018-10-01 06:47] yatri1609 commented on #1339
Sure I'll suggest what I can do on this and discuss here. @marcoscaceres

[2018-10-01 07:09] sidvishnoi commented on #1834
Warn duplicate in entire document or duplicate with respect to a single `[data-tests]` element?

[2018-10-01 07:11] marcoscaceres commented on #1834
Good question, a single `[data-tests]` element? Sometimes test cover multiple things so it's ok to repeat them.

[2018-10-02 12:57] yatri1609 commented on #1339
@marcoscaceres So I checked by clicking the preview so it does reverts back to this screen so we can just add to the title that `This is a preview of the PR #xyz solving Issue #abc`

What do you think?

![bug 2](https://user-images.githubusercontent.com/34381723/46349688-5638cd00-c670-11e8-8c18-d01ba2347eaf.png)

[2018-10-02 13:14] marcoscaceres commented on #1339
If we can get both those bits of information, that would be amazing. Just having “this is a preview of pull request X” would be already be a big improvement.

[2018-10-02 13:56] tobie commented on #1339
Yeah, these are [easy to get](https://github.com/tobie/pr-preview#params-optional). And you can give the config file default values here: https://github.com/tobie/pr-preview/blob/master/lib/models/config.js#L36

[2018-10-02 15:41] #1754 closed

[2018-10-02 16:02] #1811 closed

[2018-10-03 08:02] chaals commented on #1217
Seems like however marked.js picks up things marked with <pre>```</pre> doesn't get the language identifier for extra languages added in #1835, either

[2018-10-03 11:31] deniak opened #1842 "Export crashes on the editor's draft of JSON-LD"
## Important info

* URL to affected spec: https://cdn.rawgit.com/w3c/json-ld-syntax/eb61149c86124d4a53ec01f16cd8db132201ad44/index.html
* ReSpec version: 23.1.1

* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: Trying to export that document produces a JS error the first time. It seems to work the 2nd time though. This is problema

[2018-10-03 11:56] yatri1609 commented on #1339
@tobie As you said so just to clarify if I'm doing it right or wrong, I need to add `.pr-preview.json` file right with the params I need to pass, and define things out there? Am I doing it right or is it something that I have miissunderstood? Thanks

[2018-10-03 13:33] tobie commented on #1339
I’m not sure I understand your question. Some of that data is dynamic, so it can’t belong in `pr-preview.json`, further more you want something generic so not every spec has to be changed for this to work.

[2018-10-03 13:42] yatri1609 commented on #1339
Right, for the data which is dynamic, we are passing them through the `config.js` file whereas we just add the normal this code to the `.pr-preview.json` file.
`{
 "src_file": "index.html",
 "type": "respec",
 "params":
 {
   "isPreview": true,
   "prNumber": "{{ pull_request.number }}"
 }
}`
Is this correct?

[2018-10-03 14:57] marcoscaceres commented on #1842
confirmed. Will take a look first thing tomorrow!

[2018-10-03 15:40] marcoscaceres commented on #1842
@deniak looks like the crash is happening here:
 https://cdn.rawgit.com/w3c/json-ld-syntax/eb61149c86124d4a53ec01f16cd8db132201ad44/common/common.js

on line 165 - which is outside the control of ReSpec... cc'ing @gkellogg who might know about these scripts?

[2018-10-03 16:32] gkellogg commented on #1842
Thanks @marcoscaceres this doesn't seem to come up in normal usage. This code block was moved from `postProcess` to use pubsubhub along with other changes, but that shouldn't change it's basic processing. I'll add some guard checks around it, either to ensure `textContent()` is a string, or to use `innerText`, or both.

How can I reproduce the error outside of a web browser, where I don't notice a

[2018-10-03 16:38] marcoscaceres commented on #1842
Oh, I wonder if it’s triggering outside a browser context at all? Could you check the output and see if the save event fires? I recall for saving that ReSpec provides a different API - which may not be firing the save event.

[2018-10-03 16:40] marcoscaceres commented on #1842
Ok, just saw your update! Hopefully you can reproduce from there.

[2018-10-03 19:37] gkellogg commented on #1842
Thanks, previews are back! It would still be useful to know that a failure occurred preventing the preview links from showing up.

[2018-10-04 01:43] marcoscaceres commented on #1339
@yatri1609 if you see any other goodies from https://github.com/tobie/pr-preview we could use, please feel free to suggest improvements to the current text. If the params just get added to the URL, then we should be able to pick them up easily from the `config` object.

@tobie, thanks again for your guidance!

[2018-10-04 07:51] deniak commented on #1842
@marcoscaceres thanks for investigating. Closing this one as it solved @gkellogg's issue.

[2018-10-04 07:51] #1842 closed

[2018-10-04 10:13] yatri1609 commented on #1339
I didn't understand what are actually telling me to do.

[2018-10-04 10:58] sidvishnoi commented on #1339
Send a PR to @tobie/pr-preview to edit [config.js](https://github.com/tobie/pr-preview/blob/539dba710fa21e8c6cada0de330a2d45824754fc/lib/models/config.js#L38,L42) for respec.

We need to add those params (`prNumber` and `prUrl`) in defaults, so users don't have to explicitly specify them in their `pr-preview.json` files.

[2018-10-04 11:00] yatri1609 commented on #1339
Ohk I got you! I thought that but then I again got confused!

[2018-10-04 11:42] tobie commented on #1339
Yeah, sorry for the terse comments. I’ve had little time dor this but wanted to make sure that this wasn’t forgotten.

[2018-10-04 11:55] yatri1609 commented on #1339
No problem @tobie

[2018-10-04 13:51] #1339 closed

[2018-10-04 14:16] marcoscaceres commented on #1214
Our new context-based citation system solves for this automatically.

[2018-10-04 14:16] #1214 closed

[2018-10-04 14:28] marcoscaceres commented on #1020
We now support this.

[2018-10-04 14:28] #1020 closed

[2018-10-04 15:22] sidvishnoi opened #1846 "(refactor): Remove jQuery from ReSpec"
Remove jQuery from following remaining modules:

- [x] core/requirements https://github.com/w3c/respec/pull/1845
- [x] [core/figures](https://github.com/w3c/respec/blob/develop/src/core/figures.js) https://github.com/w3c/respec/pull/1956
- [x] [core/structure](https://github.com/w3c/respec/blob/develop/src/core/structure.js) https://github.com/w3c/respec/pull/1957
- [x] [core/link-to-dfn](https://

[2018-10-04 16:19] sidvishnoi commented on #1846
Doing some of the quick ones (figures, structure, conformance) in [remove-jquery branch](https://github.com/w3c/respec/tree/remove-jquery).

[2018-10-04 23:27] marcoscaceres commented on #1363
I’ve decided this will make things more complicated

[2018-10-04 23:27] #1363 closed

[2018-10-05 02:47] marcoscaceres commented on #1846
Maybe we should leave those of interns? We have a few other high priority things that I'd really like for use to work together on: ✨ https://github.com/w3c/respec/issues/1804 ✨

[2018-10-09 12:36] ktk opened #1849 "WebIDL & <dl> tag"
There used to be a `<dl>` tag in ReSpec, this was used to create nicer looking API docs like for example in [this example](https://dev.w3.org/2008/video/mediaann/ReSpec.js/documentation.html#webidl-support) (side note: this link really confused me as it seems to show the date of today as revision so I first thought this is the latest version of the spec).

Did this get purged at one point? The [We

[2018-10-10 00:28] marcoscaceres commented on #1849
So, as a community, we decided that WebIDL conveys the exact level of information (and the WebIDL tables are thus redundant, because they just replicate what the IDL says). Another issue was that the IDL tables made specs huge, making specs bloated specs.

[2018-10-10 00:30] marcoscaceres commented on #1849
Sorry, hit enter too soon... fixed above.

[2018-10-10 09:40] ktk commented on #1849
Thanks for the info, my question was more in terms of is there really no predefined CSS we can use to make API documentation (arguments, return values etc) look better? I find it quite hard to make that appealing that way.

[2018-10-10 09:52] marcoscaceres commented on #1849
Oh, got you. We can totally try to fix that. I’m open to suggestions.

[2018-10-10 09:54] marcoscaceres commented on #1849
Oh wait, you mean the wiki? That’s controlled by Github I think. But can check.

[2018-10-10 12:36] ktk commented on #1849
No I mean in ReSpec itself. I see that the old table-style was complex but I would appreciate to have tags where we can make API specs look better. Something in the direction of what JSDoc tooling generates, like:

<img width="544" alt="screen shot 2018-10-10 at 14 34 31" src="https://user-images.githubusercontent.com/583021/46736584-f69e7b00-cc88-11e8-835c-956956acba26.png">

That is from [an exa

[2018-10-11 07:16] marcoscaceres opened #1852 "Single slash "/" resolution in data-cite is both right and wrong."
## Important info

* URL to affected spec: https://github.com/w3c/resource-timing/
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
Given:
[code]

It resolves the URL incorrectly to TR.

But what I was expecting?:

A link to the performance 2 spec.

Optional, steps to reproduce:
 1. Use the code above

[2018-10-11 07:30] marcoscaceres opened #1853 "Don’t warn about normative links in informative sections"
When reference is already normative elsewhere.

[2018-10-11 11:56] sidvishnoi commented on #1852
Looks like we're only taking `href` key into account. If `edDraft` is available, we have to pick that, right? (https://specref.herokuapp.com/bibrefs?refs=performance-timeline-2)

[2018-10-11 12:06] marcoscaceres commented on #1852
ReSpec is actually doing the right thing, per URL resolution rules:

“/#frag“ + base = base/#

 I’m not sure we should fix this.

[2018-10-12 03:58] marcoscaceres commented on #1852
I've thought about this a bit... decided it's not worth fixing.

[2018-10-12 03:58] #1852 closed

[2018-10-12 11:02] akansha2608 commented on #1846
Hi @sidvishnoi @marcoscaceres i would like to work on it m can you help me getting started for this repository?

Thanks

[2018-10-12 11:47] iherman opened #1855 "Merge partial WebIDL definition in idl-index?"
Using partial interface/dictionary definitions in a spec may be helpful to push the IDL portion to where the general definition of the relevant features are. On the other hand, using respect's idl-index is helpful to collect all IDL-s into one place.

However, at the moment, all partial definitions are 'just' collected in the index one after the other. It may be helpful to the reader if all the pa

[2018-10-12 13:33] marcoscaceres commented on #1855
I agree that would be nice, but it might get confusing as a lot of people copy/paste the IDL into code, documentation, etc. So I’d be personally a bit hesitant for us to support this.

[2018-10-12 14:34] marcoscaceres commented on #1855
Yeah, was thinking the same... like id=“idl-index” class=“combined” or something. The (not super hard) part is re-parsing the WebIDL, and doing the merge.

[2018-10-12 15:41] rjksmith opened #1856 "data-cite: Reference Subpage Resolution"
## Important info

* URL to affected spec: http://w3c.github.io/sdw/proposals/geotagging/webvmt/#overview
* ReSpec version: 23.3.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

I'm trying to use <code>data-cite</code> to link to a particular section of a subpage using <code>&lt;a&gt;</code>, as [described in the Respec Wiki](https://github.com/w3c/respec/wiki/dat

[2018-10-13 22:11] marcoscaceres commented on #1856
The behavior is correct, but it’s not meeting user expectations that the path is resolved using the citation as the base. So when starting with “/“, we should add “.” to the front.

[2018-10-14 10:45] #1856 closed

[2018-10-16 20:56] marcoscaceres commented on #1856
Excellent, thanks for confirming.

[2018-10-21 11:52] yatri1609 commented on #1804
@marcoscaceres Can I work on this? I would like to start with some real coding with this one.

[2018-10-21 12:29] sideshowbarker opened #1858 "Generating MDN annotations in spec output"
This is a feature proposal for a new feature to automatically generate MDN annotations in spec output.

For any specific feature in a spec, ReSpec would automatically generate an MDN annotation with:

* a link to any MDN articles that document that feature
* the summary description of that feature from the MDN article (available as tooltip text on hovering over the annoation)
* the (caniuse-like)

[2018-10-24 07:07] marcoscaceres commented on #1804
@yatri1609 sure! Take a look at using bubble.js for the hover to show the data type.
https://github.com/krasimir/bubble.js

[2018-10-24 07:52] sidvishnoi commented on #1804
@marcoscaceres How about using the `title` attribute itself or some regular CSS+JS events if `title` isn't enough? I'm not sure if we should add another library here even though it's tiny.

[2018-10-24 10:35] marcoscaceres commented on #1804
Agree. I should have said, “something like” bubblejs. Starting with title attribute could work, though something a bit prettier would be nice.

[2018-10-25 13:54] thijsbrentjens opened #1859 "ReSpec adds width=0 and height=0 for images in a figure"
## Important info

* URL to affected spec: (Geonovum): https://geonovum.github.io/IMVG/
* ReSpec version: Geonovum implementation, based on v 23.0.4
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)? Some images in https://geonovum.github.io/IMVG/ were not shown, because ReSpec added a width=0 and height=0 attribute to the img tag in

[2018-10-25 16:36] marcoscaceres commented on #1859
Fix sounds reasonable to me. If you can prepare a PR, it would be greatly appreciated.

[2018-10-27 05:43] #1859 closed

[2018-10-29 18:38] dduuu commented on #1025
In angular install remove-element using this command (npm install --save element-remove)
and the import remove-element in polyfill (import 'element-remove';)

[2018-10-29 21:26] gkellogg opened #1862 "data-cite shouldn't create bibliography reference if citation is to shortName"
## Important info

* URL to affected spec: https://w3c.github.io/json-ld-syntax/
* ReSpec version: 23.4.0
* [x] See example failing test

## Description of problem

JSON-LD 1.1 uses term definitions in common with related specs. An example term definition is the following:

[code]

When `shortName` is configured to "json-ld11", it does turn the reference into a local reference, however it also add

[2018-10-29 21:28] gkellogg commented on #1862
See related issues w3c/json-ld-syntax#88.

[2018-10-31 10:47] ktk commented on #1849
Thanks @marcoscaceres, the linked issue is a step in the right direction. However, there are still things I miss:

* a description for the method itself. This section says what the code is or does.
* a description for each parameter of the method

In the linked issue you have a method with no arguments, how would it look like with arguments?

[2018-11-01 01:58] marcoscaceres commented on #1849
I guess I would do:

[code]

And so on... That describes the data `type`, and the behavior of those types is described in the algorithm. WebIDL handles the coercion.

Alternatively:

[code]

[2018-11-01 09:12] greenkeeper[bot] opened #1865 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.105.1` to `1.106.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fsnyk-1.106.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very likely causi

[2018-11-02 05:36] marcoscaceres commented on #1804
sounds like a plan :)

[2018-11-04 22:59] marcoscaceres opened #1868 "IETF specs don't work with data-cite?"
## Important info

* URL to affected spec: https://w3c.github.io/navigation-timing/
* ReSpec version: Click the ReSpec pill (e.g., 23.4.0).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
Using `data-cite` instead of `href=` for IETF specs doesn't seem to work.

But what I was expecting?:

That is would work

Optional, steps to re

[2018-11-05 14:23] gsnedders opened #1869 "Add Bikeshed like dfn-panels showing where terms are referenced"
## Important info

* URL to affected spec: https://w3c.github.io/payment-request/
* ReSpec version: 24.4.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: I clicked on a term (e.g., "payment method") and wanted to find places where the term is referenced. Nothing happened.

But what I was expecting?:

Compared with a spec that use

[2018-11-05 23:34] treyhboy commented on #1846
Hi, @marcoscaceres @sidvishnoi can I work on this one?

[2018-11-05 23:52] marcoscaceres commented on #1846
Sure! Feel free to take any of the above.

[2018-11-06 10:41] marcoscaceres commented on #1869
Duplicate of https://github.com/w3c/respec/issues/1103 . Would indeed be a really nice addition. PR welcome! It might be nice to see if the JS for that feature can be generalized so we can use it across both ReSpec and BikeShed.

[2018-11-06 10:41] #1869 closed

[2018-11-06 17:23] palemieux opened #1870 "pubrules fail due to a spurious `/` in github links"
respec.js introduces a spurious `/` in github links in the SotD.

Found [while checking `http://sandflow.com/public/imsc/Overview.html`](https://www.w3.org/pubrules/?url=http%3A%2F%2Fsandflow.com%2Fpublic%2Fimsc%2FOverview.html&profile=REC&validation=simple-validation&noRecTrack=false&informativeOnly=false&echidnaReady=false&patentPolicy=pp2004).

See also https://github.com/w3c/specberus/issues/7

[2018-11-07 01:28] marcoscaceres commented on #1870
@palemieux sent a PR. Just waiting on review. Will have the fix out later today 🤞.

[2018-11-07 03:57] greenkeeper[bot] opened #1873 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.14.3` to `1.15.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fprettier-1.15.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this project. It **might no

[2018-11-07 06:05] marcoscaceres commented on #1862
@gkellogg thanks for the test. Saved me a bit of time. Incoming PR.

[2018-11-07 10:46] #1870 closed

[2018-11-07 11:16] #1862 closed

[2018-11-07 13:45] greenkeeper[bot] opened #1876 "An in-range update of fs-extra is breaking the build 🚨"
## The dependency [fs-extra](https://github.com/jprichardson/node-fs-extra) was updated from `7.0.0` to `7.0.1`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Ffs-extra-7.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fs-extra is a direct dependency of this project, and **

[2018-11-08 06:58] #1865 closed

[2018-11-08 19:11] greenkeeper[bot] opened #1877 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.108.0` to `1.108.1`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fsnyk-1.108.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very likely causi

[2018-11-09 04:58] saschanaz opened #1878 "data-lt generates duplicated definitions"
## Important info

* URL to affected spec: https://w3c.github.io/gamepad/extensions.html
* ReSpec version: 23.5.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

`<dfn data-lt="pulse()>pulse</dfn>` becomes `data-lt="pulse()|pulse|gamepadhapticactuator.pulse()|gamepadhapticactuator.pulse|pulse()|pulse"` and causes an error saying

[2018-11-09 08:26] saschanaz opened #1880 "Get a way to exclude certain IDL blocks from IDL index"
Specs sometimes have IDLs only to give examples/templates but not for actual implementations.

https://drafts.csswg.org/cssom/#dom-cssstyledeclaration-_camel_cased_attribute

https://w3c.github.io/mediacapture-main/#interface-definition

Bikeshed has a way to exclude them from IDL index [by marking it as `extract`](https://tabatkins.github.io/bikeshed/#no-idl), but ReSpec has no equivalent feature

[2018-11-10 22:48] greenkeeper[bot] opened #1881 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `3.1.0` to `3.2.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Feslint-config-prettier-3.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-config-prett

[2018-11-11 17:24] greenkeeper[bot] opened #1882 "An in-range update of clipboard is breaking the build 🚨"
## The devDependency [clipboard](https://github.com/zenorocha/clipboard.js) was updated from `2.0.1` to `2.0.2`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fclipboard-2.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

clipboard is a devDependency of this project. It **mig

[2018-11-12 02:31] saschanaz commented on #1880
The Media Capture and Streams spec does have some IDL types that won't ever be directly referenced by others. Maybe those should be marked as `.example`s, but currently the IDL Index would still collect them.

[2018-11-12 03:50] marcoscaceres commented on #1880
The Media Capture thing is weird... because `ConstrainablePattern` wants to be an abstract interface, and it theory is normative (in as far that it defines normative things). It just can't be implemented to do anything (i.e., it's a kind of editorial aid).

So, I guess maybe we need an explicit "no-index" CSS class, but also exclude IDL that is non-normative. That would solve for both.

[2018-11-12 04:12] marcoscaceres commented on #1878
Hmm... need to check why the `data-lt`s are not being treated as a set.

No. We should fix that.

[2018-11-12 05:56] marcoscaceres commented on #1882
Closed via #1884

[2018-11-12 05:56] #1882 closed

[2018-11-12 21:32] greenkeeper[bot] opened #1885 "An in-range update of serve is breaking the build 🚨"
## The devDependency [serve](https://github.com/zeit/serve) was updated from `10.1.0` to `10.1.1`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fserve-10.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

serve is a devDependency of this project. It **might not break your pro

[2018-11-17 04:39] saschanaz commented on #1885
@marcoscaceres Any clue what causes this?

[2018-11-17 04:44] marcoscaceres commented on #1885
Intermittent failures are the best :) no big deal, though I’m a bit unsure how to recover.

[2018-11-18 15:18] saschanaz commented on #1885
Closing, as 56716da9085d9dbe32056ed2f70b13fbdfcc540d didn't break anything.

[2018-11-18 15:18] #1885 closed

[2018-11-19 06:28] saschanaz opened #1892 "Merge equivalent CSS classes for IDL"
Currently the IDL text contains several different CSS classes that does the same, for example:

[code]

Recently I has been trying #1702 and found this complicates the code by forcing different class names for each IDL type names.

Maybe we can do something like:

[code]

... so that we can use same CSS classes for IDL type names?

[2018-11-19 06:35] marcoscaceres commented on #1892
Would be nice!

[2018-11-21 08:08] #1892 closed

[2018-11-22 05:59] saschanaz opened #1900 "Babel's stage presets are deprecated"
https://babeljs.io/blog/2018/07/27/removing-babels-stage-presets

We will probably want to migrate before upgrading to future releases.

[2018-11-22 06:12] saschanaz commented on #1900
@marcoscaceres Any thoughts? Maybe we can migrate to https://www.npmjs.com/package/@babel/preset-env or simply remove the dependency.

[2018-11-22 06:13] marcoscaceres commented on #1900
preset-env is probably the way to go... we just target last stable.

[2018-11-22 07:44] #1900 closed

[2018-11-22 07:55] saschanaz opened #1902 "uglify-es is deprecated"
https://github.com/mishoo/UglifyJS2/issues/3156#issuecomment-392943058

😮

[2018-11-22 07:55] marcoscaceres commented on #1902
Whaaaaa!?! Why did that happen?

[2018-11-22 07:57] marcoscaceres commented on #1902
Ok, looking at https://github.com/terser-js/terser

[2018-11-22 07:59] saschanaz commented on #1902
terser is just a fork so I'm expecting the migration be easy enough.

[2018-11-22 08:00] marcoscaceres commented on #1902
yeah, that's what I'm reading too... I wonder if it matters that we depend on a particular version of Uglify-es still... the newer version had a bug that prevented us from upgrading.

[2018-11-22 08:03] marcoscaceres commented on #1902
Ok, looks like it should work, as they've kept the same release numbers and everything... and they might actually have fixed the bug (I don't recall anymore what the bug was), given that they've merged some things (🤞).

[2018-11-22 08:03] saschanaz commented on #1902
I tried uglify-es 3.3.9 again (which is the last version that caused #1461) and the issue seems to be magically fixed already. That bug magically appeared anyway.

[2018-11-22 08:04] marcoscaceres commented on #1902
Alright! Let's switch it up!!!! :D TERSER TERSER TERSER!!!

[2018-11-22 16:22] sandhawke commented on #1562
This is a major issue for me.   Suggested workaround?

[2018-11-23 01:56] saschanaz opened #1905 "Use @ts-check wherever appropriate"
It enables strict type check for JavaScripts on any TypeScript-based IDE (e.g. VSCode) so that inappropriate function call can be prohibited before running tests.

[2018-11-23 03:35] saschanaz commented on #1905
Adding `//@ts-check` at the top of the file is all that needed.

[2018-11-23 04:38] saschanaz commented on #1905
TIL [AssemblyScript](https://github.com/AssemblyScript/assemblyscript) exists 😮

[2018-11-23 08:01] saschanaz opened #1907 "Link or unlink iterable<>?"
Currently we don't prevent links for `iterable<>`, causing `<dfn> for "iterable" does not exist` warning.

https://github.com/w3c/respec/blob/c23d764aa7f6f31f7f87b916c6fa8ba858b7f0f6/src/core/dfn-finder.js#L14-L17

But I haven't seen any spec that has a spec definition for `iterable`. What should be done?

cc: @marcoscaceres

[2018-11-23 08:02] marcoscaceres commented on #1907
mmm... I guess try to link, and if no in-document definition, link to WebIDL spec?

[2018-11-23 08:29] marcoscaceres commented on #1562
@sandhawke, can you help me understand a little more which of your specs it's affecting? I'm assuming you also have a "ED" before a FPWD?

[2018-11-23 08:34] saschanaz commented on #1907
Introducing a feature that nobody would use feels like a non-starter... especially given that Bikeshed does not link `iterable` to anywhere and people are still happy.

Also I'm not sure what should be done here:

[code]

I think nobody will do this but still it's a possible name collision. Maybe it can use `!` like `idl-foo!iterable` as overloads currently do?

[2018-11-23 08:49] marcoscaceres commented on #1907
I don't know if we can make that determination about happiness. I would certainly appreciate being able tot click on "stringifier" to actually read how it's implemented (either in the spec, or default behavior in IDL).

Agree. Links to attribute.

I think here we actually should link to Web IDL. Is there any reason for a spec to override the definition of "iterable"?

(same comments for stringifie

[2018-11-23 09:01] marcoscaceres commented on #1907
If I remember correctly, this means `.toString()` must be implemented for stringifier - So searching for "foo.toString()" in the spec might make sense... and if it's not there, fall back to WebIDL.

I can't remember if  `iterable` puts any requirements on the defining spec.

[2018-11-23 10:57] saschanaz commented on #1907
I don't like the suggested fallbacking behavior, as it would make me assume there be a special definition within the spec. Clicking that and instead being redirected to a Web IDL spec is IMO a user experience nightmare 😥

[2018-11-23 10:58] marcoscaceres commented on #1907
I might be misunderstanding. Is it different to how we currently link to the IDL spec for `DOMString`?

[2018-11-23 11:02] saschanaz commented on #1907
AFAIK it does not fallback and always go IDL so I can always expect the same behavior. Fallbacking shows a link that may be linked to the current page or the IDL spec for the same IDL member.

[2018-11-23 11:08] marcoscaceres commented on #1907
Agree. yes.

Yes, you are right. But the question is if the spec author is allowed to override or specify custom behavior. If yes, then it must be possible to link to the overridden behavior. But if not, then exclusively linking directly to IDL makes perfect sense (like with DOMString).

Hopefully I got that right? ... To be clear, I'm only suggesting we allow override is we absolutely need to - a

[2018-11-23 11:10] marcoscaceres commented on #1907
(I trust your judgement tho! Please do whatever you think is best!!!!)

[2018-11-23 11:13] saschanaz commented on #1907
I would agree with the spec author point of view, but somehow disagree with the reader PoV. My preferred way:

1. No link by default (as other syntaxs e.g. `attribute`, `getter` etc. do not).
2. Link when author wants (so that reader can easily know the spec includes a definition for this, by the existence of the link).

[2018-11-23 11:16] marcoscaceres commented on #1907
The above sounds good. Let's go with it.

[2018-11-23 11:22] saschanaz commented on #1907
@marcoscaceres BTW do we have a list of specs that use ReSpec? I wonder what the actual specs do for `iterable<>`.

[2018-11-23 11:29] marcoscaceres commented on #1907
https://w3c.github.io/encrypted-media/#mediakeystatusmap-interface

[2018-11-23 11:34] saschanaz commented on #1907
Thanks! But that text... is just a duplication from Web IDL. Hmm.

[2018-11-23 12:41] marcoscaceres commented on #1907
Lol, I didn’t actually click it. I’ll see if I can another.

[2018-11-24 10:40] saschanaz opened #1911 "Anonymous IDL operations cause id collision"
## Important info

* URL to affected spec:
* ReSpec version: 23.7.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

Operations without names potentially get the same ids.

[code]

But what I was expecting?:

Maybe just no id? Or it may be `idl-def-foo--getter`.

[2018-11-25 03:39] sandhawke commented on #1562
Yeah, specifically it's in a CG.   So even after FPWD it'll never have a /TR URL.

Example: https://credweb.org/report/snapshot

So, really there are two orthogonal problems here: ED before FPWD, and CG-ED, neither of which are supported by respec.  I've dealt with ED-before-FPWD enough over the years (dozens of times before respec came along) that I don't want to just ignore that one, but it's tr

[2018-11-25 04:56] saschanaz commented on #1309
So we actually already have a fallback behavior, still with a warning. IMO one should be able to directly link to the IDL spec without any type of warning, especially when the operation is explicitly marked as `[Default]`.

My suggested behavior:

1. If a `dfn` is found, link it and terminate
2. If we have `[Default]`, get a default link for the operation identifier. Throw if not found.

@marcosca

[2018-11-25 05:02] marcoscaceres commented on #1562
Ok, we should come up with something clever here.... like "ED" without a `previousStatus` drops the "Latest published version".

I agree we need a CG-ED status. That makes sense. But we might need to take that TR-Design as it might require additional image assets.

Agree.

[2018-11-25 05:03] marcoscaceres commented on #1309
Yes, that sounds good.

[2018-11-25 15:09] marcoscaceres commented on #1562
Actually, we have CG-DRAFT.

[2018-11-25 17:14] sandhawke commented on #1562
That's different. That's like a WD.  It's a publication approved by the CG as a non-final Report.  For example. the CG-DRAFT form of the CG-ED I linked above is: https://credweb.org/report/20181011

[2018-11-26 00:38] marcoscaceres commented on #1562
Sorry to drag this out, as changing this could have some significant implications I want to make sure we get It right. My recollection for when we set up community groups was that, they could only be in three states (what's currently supported):

 * unofficial
 * CG-Draft
 * CG-Final

The rationale being that, as [CG are governed by a simple Draft/Final publication process](https://www.w3.org/comm

[2018-11-26 20:55] sandhawke commented on #1562
I'm kind of lost in the relevant documents.  Do you see something that suggests a CG-Draft could be published without group approval?

[2018-11-28 07:33] saschanaz opened #1917 "Remove non-styling IDL CSS classes"
#1892 removed many CSS classes, but we still have some that dynamically added for test purpose, e.g. `idlInterface`. Currently they are to make sure we get the correct IDL text, but that purpose can be fulfilled more easily by comparing the whole processed `textContent` of `<pre>` with the original untouched one.

What do you think? @marcoscaceres

[2018-11-28 07:36] marcoscaceres commented on #1917
Removing then is reasonable so long as we can continue styling things consistently.

[2018-11-28 07:36] marcoscaceres commented on #1917
*them

[2018-11-29 11:44] greenkeeper[bot] opened #1922 "An in-range update of hyperhtml is breaking the build 🚨"
## The dependency [hyperhtml](https://github.com/WebReflection/hyperhtml) was updated from `2.18.0` to `2.19.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fhyperhtml-2.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

hyperhtml is a direct dependency of this project, and

[2018-11-29 12:01] saschanaz commented on #1922
Looks like the new hyperhtml now has a new pattern? `` instead of previous `

[2018-11-29 12:18] saschanaz commented on #1922
Filed https://github.com/WebReflection/hyperHTML/issues/300 for this.

[2018-11-29 13:03] #1922 closed

[2018-11-29 14:11] saschanaz opened #1924 "A duplicated IDL block unexpectedly wraps the former by `<code>`"
## Important info

* URL to affected spec: (local repo)/tests/spec/core/webidl.html
* ReSpec version: develop branch
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

![image](https://user-images.githubusercontent.com/3396686/49227270-0ede7b00-f42c-11e8-85c8-846f637bbc92.png)

But what I was expecting?:

This shouldn't happen.

~~I

[2018-12-01 04:19] saschanaz opened #1929 "Remove support for Error object from core/ui"
https://github.com/w3c/respec/blob/c1a1f82e2bebd8e75bbcc809e8afebc7c1fee13c/src/core/ui.js#L99-L134

core/ui has a long code block to support `pub("error", new Error("..."))` but looks like we never use it.

@marcoscaceres, I think we decided not to expose raw error messages and stacks to the UI, right? Maybe we can remove it.

[2018-12-01 04:38] marcoscaceres commented on #1929
Yeah, let's remove it.

[2018-12-01 17:37] greenkeeper[bot] opened #1931 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fkarma-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project. It **might not break you

[2018-12-02 04:17] saschanaz commented on #1931
Closed by #1932

[2018-12-02 04:17] #1931 closed

[2018-12-02 07:08] #1929 closed

[2018-12-02 15:57] sidvishnoi commented on #1769
also, we should handle this overflow causing scrollbars to appear.

![scrolls](https://user-images.githubusercontent.com/8426945/49341832-f4e5a800-f678-11e8-9bc1-eec97afa18f3.gif)

[2018-12-03 19:44] anoited007 commented on #1846
@marcoscaceres Sorry I missed ur follow up. I will get to work then.

[2018-12-05 13:53] greenkeeper[bot] opened #1934 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.114.0` to `1.114.1`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fsnyk-1.114.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very likely causi

[2018-12-06 02:16] saschanaz commented on #1934
This may indicate the main branch is broken, but the branch passes the tests. 🤔

[2018-12-06 02:17] saschanaz commented on #1934
#1935 also fails because of this. There certainly is a problem.

[2018-12-06 03:52] marcoscaceres commented on #1934
This must be puppeteer again.

[2018-12-06 04:50] saschanaz commented on #1934
But #1925 was okay, and other later builds were also okay before today. The last release of puppeteer was 6 days ago. Weird.

[2018-12-06 06:54] saschanaz commented on #1934
AFAIK Karma tests does not use puppeteer so it shouldn't be the cause.

[2018-12-06 12:18] yatri1609 commented on #1804
@marcoscaceres Sorry I had a accident so wasn't able to work, but now since I am well I will like to get back on this if @sidvishnoi you aren't working on this?

[2018-12-06 13:14] sidvishnoi commented on #1804
@yatri1609 Oh. We hope you're good now.

I'm having exams so I won't be working on this till 17th. We have done some work on "giving var a type" part where we essentially re-wrote the inline-idl parser. So feel free to check it out in https://github.com/w3c/respec/pull/1848

Once that is done, we will fix the xref part and you can take the data type on hover part (See: https://github.com/w3c/respe

[2018-12-06 13:20] saschanaz commented on #1791
This is because the spec is using obsolete `for` instead of `data-dfn-for`.

[2018-12-06 13:20] #1791 closed

[2018-12-06 18:07] yatri1609 commented on #1804
@sidvishnoi Yeah I'm good now, Sure I will start looking at how we can have the data type hovering part

[2018-12-06 21:31] marcoscaceres commented on #1804
(I'm away until next week, unfortunately - will try to respond soon)

[2018-12-06 23:13] gkellogg opened #1938 "List of Definitions broken"
## Important info

* URL to affected spec: https://w3c.github.io/json-ld-syntax/
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1). 23.7.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
The list of definitions from the ReSpec pill "Definitions..." control is broken. It seems to have an entry for each definition, which is simply an empty anchor.

[2018-12-06 23:30] gkellogg opened #1939 "WebIDL complains of duplicate definitions"
## Important info

* URL to affected spec: https://w3c.github.io/json-ld-api/#idl-def-rdfdataset-iterable
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1). 23.7.2.
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

In a [single section](https://w3c.github.io/json-ld-api/#rdf-dataset-interfaces) two interfaces are defined both with an `itterable` method. The firs

[2018-12-07 02:57] saschanaz commented on #1939
@marcoscaceres I would like to see our logic defined to link anonymous member declarations:

[code]

Any good idea?

[2018-12-07 03:58] mihirg008 commented on #1939
Hi there, I'm beginning to contribute to open source projects, can you help me out how to work on this issue?

[2018-12-07 04:20] saschanaz commented on #1939
@mihirg008 Welcome to ReSpec! 🎉

Unfortunately I'm a bit hesitant to fix this before getting a general solution. If you have an idea about the logic for the issue described in https://github.com/w3c/respec/issues/1939#issuecomment-445106209, that would be a great start!

[2018-12-07 05:08] saschanaz commented on #1939
A food for an idea... How about using whitespace, as named members are all whitespace-less?

[code]

[2018-12-07 06:35] sidvishnoi commented on #1939
Why are we not using the parameters like: `dom-foo--getter!overload--short-index`, `dom-foo--getter-!overload--domstring-name` (something like this, maybe without argument name and just keeping the type)

[2018-12-07 06:52] sidvishnoi commented on #1938
@saschanaz it's working with v23.7.0. Are you working on this?

[2018-12-07 06:54] saschanaz commented on #1938
Not yet, feel free to assign yourself!

[2018-12-07 06:57] saschanaz commented on #1939
I think that's too easy to change. IDs must be resistant from signature changes (adding arguments like `addEventListener`) and name changes like https://github.com/w3c/FileAPI/pull/106. (#1716)

[2018-12-07 07:04] sidvishnoi commented on #1939
@saschanaz Parameter names are likely to change, but not their types. So maybe:
[code]

[2018-12-07 07:09] saschanaz commented on #1939
That still can be changed by added arguments, and also by changing the type itself into a union. What about just indexing by numbers: `dom-foo--getter-1`, as IMO the order would never change.

[2018-12-07 14:18] #1934 closed

[2018-12-09 14:20] saschanaz opened #1944 "Introduce general helper function to point elements from warnings"
See https://github.com/w3c/respec/pull/1943#discussion_r240034603 for the context.

I would be happy if the warning/error list can point to the problematic element if possible, rather than only the messages.

[2018-12-09 17:09] marcoscaceres commented on #1944
Agree... we need something like `authorWarn(msg, optional elem)`. And if elem is passed we `console.warn` and add the "respec-offending-element" CSS class to it.

[2018-12-09 18:03] marcoscaceres commented on #1939
Really want to get rid of the !overload nonsense and make sure we align with HTML and BikeShed on this. We might need a backwards compatibility strategy, but !overload really has to die.

[2018-12-10 06:19] saschanaz commented on #1939
Is it nonsense because of numbering behavior or because of `!`?

[2018-12-11 12:16] #1795 closed

[2018-12-13 00:26] saschanaz opened #1950 "Warn when self-citing"
## Important info

* URL to affected spec:
* ReSpec version: develop
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

`USVString` links to http://localhost:8080/tests/spec/core/webidl.html#idl-USVString when locally opened.

But what I was expecting?:

It should always link to https://heycam.github.io/webidl/#idl-USVString.

CCing

[2018-12-13 08:33] saschanaz commented on #1878
Looks like the module `dfn` first generates `pulse()|pulse` and then registers them to `definitionMap`, and then `dfn-finder` (or `webidl` when writing the original post) again generates the remaining parts and then again registers them to `definitionMap`, causing the duplication error.

[2018-12-13 09:40] sidvishnoi commented on #1950
@saschanaz We never added support for xref linking in IDL blocks. Will check in more depth after exam tomorrow.

[2018-12-14 08:22] saschanaz opened #1952 "Get local references list from definitions"
Clicking a definition in a bikeshed-generated spec shows a popup that includes local references.

![image](https://user-images.githubusercontent.com/3396686/49991560-d363b500-ffc4-11e8-9f5f-11077330e7e4.png)

It would be great to get the same feature.

[2018-12-14 12:31] sidvishnoi commented on #1952
@saschanaz We're tracking it in https://github.com/w3c/respec/issues/1103 (and https://github.com/w3c/respec/issues/1869)
Looks like it's the right time to do it as we've 3 separate issues on that 😅

[2018-12-14 13:10] saschanaz commented on #1952
Oops! 🤣

[2018-12-14 13:10] #1952 closed

[2018-12-14 13:10] #1878 closed

[2018-12-14 13:31] sidvishnoi commented on #1950
No. it's not it. I reverted its changes but no effect.

Can you confirm about breakage in 23.4.0 and 23.5.0?

[2018-12-14 13:54] saschanaz commented on #1950
unpkg currently gives me HTTP 503 so not yet 😅

[2018-12-14 13:56] saschanaz commented on #1950
Okay, it now works and I can confirm cross-reference works correctly in 23.4.0.

[2018-12-14 14:14] saschanaz commented on #1950
TIL we have two modules that process `[data-cite]`: `data-cite` and `link-to-dfn`. Why?

[2018-12-14 14:38] saschanaz commented on #1950
I got the situation.

1. https://github.com/w3c/respec/commit/9604ca8ca1486996b1c21d2a7cbe24ac641b43a1 prevented self-citing by comparing `conf.shortName` with `data-cite`
2. Our testset's `conf.shortName` is `webidl`
3. ReSpec thinks we are self-citing, so it links to the localhost rather than Web IDL specification!

IMO we should warn in this case rather than silently self-cite.u

[2018-12-16 04:37] saschanaz opened #1954 "Refactor `conf.definitionMap` as a module"
`definitionMap` is not really a configuration, it's a collection of elements set in run-time. Maybe `import { definitionMap } from "./dfn";` should be preferred as currently passing `conf.definitionMap` to functions is a pain.

[2018-12-16 08:13] saschanaz commented on #1136
I think #1920 fixed this.

[2018-12-16 08:13] #1136 closed

[2018-12-16 08:33] saschanaz opened #1955 "Refactor biblio-db with idb dependency"
We now have `idb-keyval` so we probably want to use it there, as the current code is a mixture of Promises and callbacks.

[2018-12-16 09:44] saschanaz commented on #1954
Or maybe modularize `conf` itself?

[2018-12-17 10:17] NJnisarg commented on #1955
Hello, I am new to this project and am trying to contribute. Since this was marked as good first issue I was trying to understand it. Can you guide me to work on this?

What I understood is biblio-db is a module which stores the data related to some kind of references and it seems to be built on top of indexedDB API. If I am not wrong it has its own functions that work as wrappers to the lower lev

[2018-12-17 10:53] saschanaz commented on #1955
@NJnisarg Hello, welcome to ReSpec! 🎉

Yes, this issue is to replace direct calls to raw IndexedDB API with the library `idb-keyval`. AFAIK most of the things should be straightforward for one who knows IDB well, but one of my concern is that `idb-keyval` is just a key-value store so it does not support `onupgradeneeded` event. Maybe we should upgrade to https://www.npmjs.com/package/idb for this.

[2018-12-17 11:17] marcoscaceres commented on #1955
@NJnisarg, just in case you haven't yet seen it, we have a dev guide to help people get started https://github.com/w3c/respec/wiki/Developers-Guide

[2018-12-17 11:34] NJnisarg commented on #1955
@marcoscaceres and @saschanaz Thanks! I have gone through the Developer Guide and am trying to work with what the issue suggests. I am understanding the codebase a little as of now and would like to take this up as my first issue. I would post questions that are relevant to the issue here. Thanks again and looking forward to contribute.

[2018-12-17 12:45] saschanaz opened #1959 "Remove makeOwnerSwapper()?"
@marcoscaceres, I found that `makeOwnerSwapper()` is added by https://github.com/w3c/respec/pull/766 but is not being used anywhere. Can it be removed, or do we have any compatibility concerns?

[2018-12-17 14:43] saschanaz commented on #1668
Bikeshed adds inline scripts, maybe we can do the same?

[2018-12-17 17:08] sidvishnoi commented on #1955
Certainly if it helps. Presently, the `idb-keyval` is being used just in `core/xref` (and its tests) and it should be trivial to replace. I'll send a PR tomorrow for that.

[2018-12-17 17:55] NJnisarg commented on #1955
@sidvishnoi Hello, by the way I am trying to work on this biblio-db issue, do you mind if I continue and generate a PR in a few days? I might reach out for help.

[2018-12-17 18:00] sidvishnoi commented on #1955
@NJnisarg Sure feel free to ask wherever needed. Happy to help.
And yes, we can wait on this biblio-db PR, no hurries. I'll just set up the `idb` dependency so you can import and use it later (and I'll fix the usage in xref module).

[2018-12-18 03:49] #1880 closed

[2018-12-18 04:08] marcoscaceres commented on #1959
Yep, we can remove it.

[2018-12-18 06:37] marcoscaceres commented on #1939
Mostly, yes. Overloads form a unique method signature (if only by type), so we should figure out how to make signatures unique without resulting to counting or odd-urls.

[2018-12-18 08:57] marcoscaceres commented on #1668
On documents published on /TR/? If yes, then we can make a case to the W3C.

[2018-12-18 09:03] marcoscaceres commented on #1954
I agree. We should not be using `conf` to pass stuff around. That's a (terrible) legacy thing we should put a stop to.

[2018-12-18 09:25] saschanaz commented on #1668
Yes, check this out for example: https://www.w3.org/TR/webaudio/

[2018-12-19 07:35] saschanaz commented on #1954
@marcoscaceres What should be the module look like? I'm thinking about two choices:

1. `import { conf } from "configuration";` where `conf` is exactly the object that modules get as a parameter. Easiest to migrate.
2. `import * as conf from "configuration"; conf.get("something");` where the module exposes `get()` and `setDefault()` functions. A more encapsulating way.

[2018-12-19 07:47] saschanaz commented on #1668
https://www.w3.org/TR/clreq/ has an arbitrary JS file. Not sure it's explicitly allowed or not.

[2018-12-19 10:32] marcoscaceres commented on #1954
I was thinking the opposite. I don't think we need a module for configuration, as it's always just passed as an argument when a plugin is initialized (which I think makes sense).

But what we should check is where random things get added to `conf` by a module (e.g., the `definitionMap`). That's not great. Things like `definitionMap` should get `export`ed from modules, and not added to `conf`.

[2018-12-19 11:57] saschanaz commented on #1954
It makes sense, but it's still a pain because frequently its functions have to share the config object and the only good way is to pass it as an argument every time.

[2018-12-19 13:33] marcoscaceres commented on #1954
I’m open to exploring the pain points, fwiw.

Another option is to simply access `window.respecConfig`, as `conf` is always a pointer to that.

My main concern with the export would be around it being racy. The current design assures that respecConfig is the whatever is available after load.

[2018-12-19 13:40] saschanaz commented on #1954
Accessing global is no-go for me, as one of my ultimate hope is to make ReSpec node-able, in other words, to process documents without a full browser executable (#1469).

IMO it should probably be okay as the `base-runner` module controls when should a module run.

[2018-12-19 13:51] marcoscaceres commented on #1954
Ok, let’s play this out a bit. How do you envision user configuration working with the module?

[2018-12-19 14:05] saschanaz commented on #1954
I would keep the global `respecConfig` thing for now but only change how to access it from other modules, probably with `get()` and `setDefault()` functions exposed. My concern here is `conf.get("name")` is more verbose than `conf.name` 😅

[2018-12-19 14:09] saschanaz commented on #1954
(I will try the definition map thing first as we have a consensus.)

[2018-12-20 07:44] Swapnilr1 commented on #1846
Can I work on this issue if it is not already in progress?

[2018-12-20 07:58] sidvishnoi commented on #1846
Hi! Looks like now only [core/issue-notes](https://github.com/w3c/respec/blob/develop/src/core/issues-notes.js) remains.
@saschanaz are you going to leave this one for the rest of us? 😂

[2018-12-20 08:00] Swapnilr1 commented on #1846
@sidvishnoi Alright, actually when I saw this only 5/8 were marked complete. I will look at some other issue.

[2018-12-20 08:03] sidvishnoi commented on #1058
Close this in favour of https://github.com/w3c/respec/issues/1955?

[2018-12-20 08:05] Swapnilr1 commented on #1762
Can I work on this issue if it is not already in progress? @marcoscaceres Could you please explain in more detail what is required? I am new here.

[2018-12-20 08:08] sidvishnoi commented on #1762
Hi @Swapnilr1 👋
Have a look at https://w3c.github.io/payment-request/#paymentrequest-updated-algorithm (list item 1):

We need to identify such lines and highlight them.
Feel free to ask if you have any questions. I'll be here to help.

[2018-12-20 08:20] marcoscaceres commented on #1846
@Swapnilr1 easy one https://github.com/w3c/respec/issues/1959 (remove some dead code)

[2018-12-20 08:21] marcoscaceres commented on #1846
@Swapnilr1 you can also search "src/" for "$(" to see if there are any other jQuery things we missed.

[2018-12-20 08:22] marcoscaceres commented on #1058
Agree.

[2018-12-20 08:22] #1058 closed

[2018-12-20 08:36] Swapnilr1 commented on #1762
@sidvishnoi Just to confirm, is this effect OK? Changing <li> Assert:... </li> to <li><mark> Assert:... </mark></li> ?

![highlightassert](https://user-images.githubusercontent.com/35957512/50273290-43a88580-0460-11e9-9038-129db9e2b2c1.png)

[2018-12-20 08:41] marcoscaceres commented on #1762
We probably just want the `<li>` to gain a CSS class "asset". Alternatively, we could wrap the `Assert:` with a `<span class="assert">`.

[2018-12-20 08:41] sidvishnoi commented on #1762
Although this looks good, it would be better if we add a class to `<li>` like `.assert`.
About the style, I think @marcoscaceres should tell that.

[2018-12-20 08:45] marcoscaceres commented on #1762
@divyanshu132 take a look at https://heycam.github.io/webidl/ ... it uses "assertion" and has a style definition. We basically want to copy that :)

[2018-12-20 08:48] Swapnilr1 commented on #1762
@marcoscaceres @sidvishnoi Thanks a lot for the explanation. So I should just write JS code to add class "assert" for Assertions in lists, and then the style can be set in the CSS?

[2018-12-20 10:30] marcoscaceres commented on #1769
@saschanaz I guess we WONTFIX the Edge aspects anymore.

[2018-12-20 10:31] saschanaz commented on #1769
@marcoscaceres Edge 18 is just out, and I think we'll also see Edge 19 based still on EdgeHTML (as the latest preview have some changes). So IMO not yet.

[2018-12-20 10:46] marcoscaceres commented on #1769
Ok, I guess the least we can do is grab the default HTML for those elements?

[2018-12-20 10:47] marcoscaceres commented on #1769
Oops, I mean the default CSS!

[2018-12-20 15:09] Swapnilr1 commented on #1959
@marcoscaceres I have removed `makeOwnerSwapper()` by using grep and removing declarations and definitions where found and then proceeded to verify that it does not break anything. However, security/snyk shows 14 vulnerabilities on my PR. I am not sure what I can do to fix this. Could you please guide me with what I need to fix?

[2018-12-20 15:42] marcoscaceres commented on #1959
Oh, ignore those. Those are from a dependency and we patch them on release.

[2018-12-20 15:45] Swapnilr1 commented on #1959
@marcoscaceres So that means my PR will be merged?

[2018-12-21 08:38] sidvishnoi commented on #1959
Closed via https://github.com/w3c/respec/pull/1967

[2018-12-21 08:38] #1959 closed

[2018-12-21 14:32] devanshbatra04 commented on #1743
Hi, I want to pick this issue up, since it's tagged as a good first bug. Would love to start contributing.

[2018-12-21 14:37] devanshbatra04 commented on #1846
Hi, I am taking up the last one if that's fine.

[2018-12-21 17:30] sidvishnoi commented on #1743
Hi @devanshbatra04 👋
Yes. This still is something we would love to have.
Make sure you've gone through our [Developers guide](https://github.com/w3c/respec/wiki/Developers-Guide). Feel free to ask if you have any questions.

[2018-12-21 18:10] sidvishnoi commented on #1846
I've added tests in list above. So, someone can do them also.

[2018-12-21 21:51] palemieux opened #1970 "Link generation does not work in <pre> blocks"
## Important info

[code]

## Description of problem

```<a>Foo</a>``` in `<pre>` is not changed into a link to the definition of `Foo`.

[2018-12-22 01:17] marcoscaceres commented on #1970
To link, pre would need to have class=idl (and would need to be valid WebIDL).

[2018-12-22 01:19] marcoscaceres commented on #1970
Sorry, I misunderstood. It’s removing the link? I’ll take a look.

[2018-12-22 01:39] saschanaz commented on #1970
Looks like there is a regression in core/structure.

[2018-12-22 04:01] #1954 closed

[2018-12-22 06:14] saschanaz commented on #1640
@marcoscaceres You recently said you are planning to use Webpack/Rollup. Do we still ultimately want to do ES modules then?

[2018-12-22 12:32] devanshbatra04 commented on #1743
@sidvishnoi should we be creating a completely new package (core/singularize?) that gets activated on including singularize in respec config? Or should I update the functionalities in core/pluralize itself?

[2018-12-22 12:35] sidvishnoi commented on #1743
Update the functionalities in `core/pluralize` itself.
The [pluralize npm package](https://www.npmjs.com/package/pluralize) provides singularize capabilities, so we have to integrate it.

[2018-12-22 12:37] devanshbatra04 commented on #1743
gotcha. thanks :+1:

[2018-12-22 14:32] devanshbatra04 commented on #1846
Can I also take the tests up as well? I have never written tests before (just debugged), excited to learn! :sweat_smile:

[2018-12-22 15:04] devanshbatra04 commented on #1970
I investigated it, the issue seems to be in ```core/highlight``` plugin. It run perfectly well without including it. I will see more into the plugin to find exact cause.

#### After excluding ```core/highlight```
![screenshot from 2018-12-22 20-33-00](https://user-images.githubusercontent.com/33961252/50375773-ed3a7300-0628-11e9-90ab-cc82af8eed9f.png)

[2018-12-23 14:08] saschanaz commented on #1702
I thought I closed this. Fixed by #1920.

[2018-12-23 14:08] #1702 closed

[2018-12-23 14:16] saschanaz opened #1975 "Migrate to webpack/rollup and ditch requirejs"
I'm not sure what we should do for existing `text!` thing yet.

[2018-12-23 21:33] saschanaz commented on #1975
Hmm. @marcoscaceres Thoughts?

[2018-12-25 03:53] saschanaz commented on #1975
Tried this a bit and found we should first remove the `deps/text` things.

[2018-12-25 04:51] marcoscaceres commented on #1975
We should be able to use one of the CSS importer things for text, I think. Or are there actual text we import?

Agree about the UI. We should be able to ditch dynamic imports.

[2018-12-25 15:51] Swapnilr1 commented on #1762
Extremely sorry for the delay, but I am not sure where to implement this feature. To the best of my understanding, I should write the JS code somewhere in `src/core` but I am unable to figure out where? The JS files in that folder apply formatting to different tags/content, but I am not able to find a JS file appropriate for algorithm lists.

Could someone please guide me? Also is there an IRC cha

[2018-12-25 16:12] sidvishnoi commented on #1762
You can do this in `core/inlines`.
But better would be creating a `core/algorithms` module. Don't forget to add it to [js/profile-w3c-common.js](https://github.com/w3c/respec/blob/develop/js/profile-w3c-common.js)

[2018-12-26 05:36] saschanaz opened #1976 "New API for external plugins"
The current plugin API depends on AMD module system (via requirejs) and exposes internal modules. This blocks #1975 and potentially causes breaking changes when any internal module functions change.

We may introduce a new API looks something like webpack one:

[code]

[2018-12-26 06:15] saschanaz commented on #1757
Why POST instead of GET?

[2018-12-26 09:09] sidvishnoi commented on #1757
@saschanaz See https://github.com/sidvishnoi/respec-xref-route/issues/10

[2018-12-28 04:49] saschanaz commented on #1976
Looks like the vast majority of plugin users only depends on `core/pubhubsub`.

[2018-12-28 08:35] saschanaz commented on #1975
A question: Do we want to keep our babel transpiler after webpack/rollup migration? Maybe for debugging, as sourcemaps are not perfect yet?

[2018-12-28 09:15] sidvishnoi commented on #1975
We need babel until Safari supports object spread assignment though.

[2018-12-28 11:06] saschanaz commented on #1976
Maybe we can set `window.require` that supports certain modules to keep backward compatibility. For example:

[code]

[code]

Will probably be longer than this, though... @sidvishnoi, does this idea look okay?

[2018-12-28 11:12] sidvishnoi commented on #1976
That's a really cool idea. We won't need to bundle requireJS this way.

[2018-12-28 14:32] saschanaz commented on #1975
webpack/rollup internally have babel so I think it will be okay.

[2018-12-28 17:13] yatri1609 commented on #1846
@sidvishnoi Is there anything left that I can work on in this issue?

[2018-12-28 17:31] sidvishnoi commented on #1846
@yatri1609 Unfortunately, there isn't anything left in this issue. We can use your help at other issues like https://github.com/w3c/respec/issues/1950, https://github.com/w3c/respec/issues/1713, https://github.com/w3c/respec/issues/1631, https://github.com/w3c/respec/issues/1239

[2018-12-29 12:10] saurabhmittal16 commented on #1713
Hi, I was interested in working on this, could you explain the issue and where to get started?
Thanks

[2018-12-29 13:04] sidvishnoi commented on #1713
Hi @saurabhmittal16 👋
First have a look at our [Developers Guide](https://github.com/w3c/respec/wiki/Developers-Guide). You'll need to create a lint rule in [core/linter-rules](https://github.com/w3c/respec/blob/develop/src/core/linter-rules/).
For a reference on how to create a linter rule, have a look at [local-refs-exist linter rule](https://github.com/w3c/respec/blob/develop/src/core/linter-ru

[2018-12-29 14:59] devanshbatra04 commented on #1950
Can I take this up? As far I as I can tell, we need to implement a warning when ```conf.shortname === key``` in ```core/data-cite``` ?
Also, a quick reference to the html file involving ```USVString```  would be great.

[2018-12-29 15:05] saschanaz commented on #1950
Yes, AFAIK no one is working on this.

Right, though I have a concern: What if `conf.shortName` is intentionally `webidl`? Currently `core/webidl` adds `data-cite="WEBIDL#..."` so it will always generate a warning, which sounds somewhat bad.

[2018-12-29 15:09] devanshbatra04 commented on #1950
Do the warnings show up in the page and not just in the console? Still haven't seen one.
I guess I will wait until this self citing reason becomes more clear.

[2018-12-29 15:18] yatri1609 commented on #1713
@sidvishnoi @marcoscaceres I would like to work on this. Can I go ahead with this?

[2018-12-29 15:34] devanshbatra04 commented on #1950
Can we do this in data-cite:

1. Lookup and like to documentation whether or not ```conf.shortname == key```
2. If ```conf.shortname == key``` issue a warning stating self citing is deprecated and the author should href instead?

[2018-12-29 16:43] saurabhmittal16 commented on #1713
Hi @sidvishnoi, thanks for the information
I will update her as soon as possible

[2019-01-01 03:20] #1743 closed, assigned to nobody

[2019-01-01 04:49] saschanaz commented on #1975
#1981 made the webpack part but not really ditched requirejs.

[2019-01-01 04:50] saschanaz commented on #1976
`window.require` thing landed via #1981

[2019-01-01 13:05] devanshbatra04 commented on #1905
@saschanaz I am taking this up if that's fine. Oh and Happy New Year!! :smiley:

[2019-01-02 04:19] marcoscaceres commented on #1631
@devanshbatra04 take as look at `core/github` and `core/issues-notes`. They both make use of the GitHub API... the idea would be to find a way to harmonize both of those so fetching, caching, and rate limiting is handled better (i.e., a centralized "GitHub-api" module).

See:
https://github.com/w3c/respec/blob/develop/src/core/github.js#L20

And:
https://github.com/w3c/respec/blob/develop/src/core

[2019-01-03 17:45] greenkeeper[bot] opened #1991 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.120.0` to `1.120.1`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fsnyk-1.120.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very likely causi

[2019-01-04 05:09] marcoscaceres opened #1994 "Move CSS out of js folder"
It would be nice if we could move the css out of the js folder, and ultimately delete the js folder (as we use src/ for JS stuff).

[2019-01-04 05:14] marcoscaceres opened #1995 "Built sourcemap name mismatch"
when building, the source map file is currently misnamed... it outputs respec-w3c-common.js.map, but should be "respec-w3c-common.build.js.map".

Alternatively, we should trash "respec-w3c-common.build.js.map" and use "respec-w3c-common.js.map", which is a much nicer name 👀

[2019-01-04 05:15] marcoscaceres commented on #1995
Somewhat high priority this one... as it breaks releasing.

[2019-01-04 05:25] marcoscaceres opened #1996 "Drop shortcut?"
I think we should drop shortcut.js... it adds little value. The "shortcuts" are quite complicated, and rarely used in practice. I'd be ok with just using the ReSpec pill to get to functionality. We could move core things, like "Save HTML..." up a level in the ReSpec pill to make the pill more useful.

Opinions?

[2019-01-04 05:51] saschanaz commented on #1995
I also think the new name is better, given that it doesn't cause a breaking change.

[2019-01-04 05:59] saschanaz commented on #1996
Maybe somehow useful for accessibility but not sure. Definitely not useful for me.

[2019-01-04 06:00] saschanaz commented on #1994
No more debugging hassle with the compiled sourcemaps? I thought it's the last reason we keep `js/`.

[2019-01-04 06:03] saschanaz commented on #1991
The failing branch is not failing 😄

[2019-01-04 06:03] #1991 closed

[2019-01-04 06:05] saschanaz commented on #825
Has this been fixed, given that we have implemented caching?

[2019-01-04 06:30] saschanaz commented on #1054
Currently `<dfn>` doesn't link to others, instead `<a>` links to `<dfn>`, right? This looks okay to me. The IDL name correctly links to the `<dfn>` and warnings occur as expected.

The `<dfn>`-to-others link is probably related to #1103.

[2019-01-04 06:48] saschanaz commented on #1161
@marcoscaceres Suggested fix:

1. Ignore the inner text and only use `data-lt`. An anchor has one single target definition so this should work.
2. Or, support `data-lt-noDefault` for anchors to do exactly same as above but explicitly.

What do you think?

[2019-01-04 07:08] marcoscaceres commented on #1994
What I was thinking was to use the empty folder to generate stuff, but just keep it empty in the tree. If the transpiration is minimal (and whitespace is kept in development), then sourcemaps are not that much of a problem.... but again, it's something that I need to try out to see if it's any better nowadays.

[2019-01-04 07:10] marcoscaceres commented on #825
I guess it's probably as good as it can be, given the limitations that we have.

[2019-01-04 07:10] #825 closed

[2019-01-04 07:14] marcoscaceres commented on #1161
option 1 sounds good.

[2019-01-04 07:15] saschanaz commented on #673
What should the at-risk issue look like? Currently it's "FEATURE AT RISK 1540" if the GitHub issue number is 1540, but this makes me think there are at least 1540 features at risk 😮

[2019-01-04 07:16] marcoscaceres commented on #673
Probably, "FEATURE AT RISK: ISSUE 1540".

[2019-01-04 07:19] saschanaz commented on #673
We have the issue titles following, so something like `FEATURE AT RISK (ISSUE 1540): ISSUETITLE` would have more consistent colon position.

[2019-01-04 07:20] marcoscaceres commented on #673
Agree. That looks good.

[2019-01-04 07:50] #1995 closed

[2019-01-04 08:06] #1950 closed

[2019-01-04 12:30] Swapnilr1 commented on #1239
If no one is working on this, can I take it up? Also, if possible, can anyone explain this issue in some detail?

[2019-01-04 12:36] Swapnilr1 commented on #1804
Can I work on this one? No one is assigned but it seems people were working on this one. Is this still open?

[2019-01-04 12:52] sidvishnoi commented on #1804
@Swapnilr1 See https://github.com/w3c/respec/issues/1804#issuecomment-444866639
It's still active (and high priority) but we're not able to make time for it. We can have you on "show data type on hover" part once we're done with #1848

[2019-01-05 01:32] #673 closed

[2019-01-05 01:48] #510 closed

[2019-01-05 01:48] #1161 closed

[2019-01-05 01:57] saschanaz commented on #1369
Can't reproduce anymore via https://jsbin.com/xuvereyutu/edit?html,output. Please reopen if I'm wrong.

[2019-01-05 01:57] #1369 closed

[2019-01-06 11:35] saschanaz opened #2003 "WebIDL-thing-is-not-defined link is gone"
https://github.com/w3c/respec/wiki/WebIDL-thing-is-not-defined

This link is currently being used to guide users but it's now gone. What happened? [It definitely was there](https://webcache.googleusercontent.com/search?q=cache:J3ZxBIDdGv8J:https://github.com/w3c/respec/wiki/WebIDL-thing-is-not-defined+&cd=1&hl=en&ct=clnk&gl=us).

[2019-01-06 11:40] sidvishnoi commented on #2003
yet another spam bot attack
![image](https://user-images.githubusercontent.com/8426945/50735485-ec334500-11d5-11e9-861a-f071f006a1e8.png)

[2019-01-06 11:45] sidvishnoi commented on #2003
Fixed. [Not our first time](https://github.com/w3c/respec/wiki/WebIDL-thing-is-not-defined/_history).

[2019-01-06 11:45] #2003 closed

[2019-01-06 11:47] saschanaz commented on #2003
TIL I can clone a GH wiki.

[2019-01-06 12:12] saschanaz opened #2004 "Point the IDL block that misses <dfn>"
## Important info

* URL to affected spec: https://w3c.github.io/touch-events/
* ReSpec version: 24.0.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

Currently it's hard to find what elements are causing warnings.

![image](https://user-images.githubusercontent.com/3396686/50735792-ab4c2800-11f7-11e9-97f4-c33631e2bc4e.png)

But

[2019-01-07 01:05] marcoscaceres commented on #2004
Looks like they are trying to define too many things in the same section. The enum, dictionary, and interface should be split into their own `<section>`s.

[2019-01-07 01:33] saschanaz commented on #2004
This was to ease fixing `<a>idlMember</a>` without `data-link-for` (while the screenshot only shows IDL linking. My bad). Splitting a section doesn't really help here.

[2019-01-07 02:08] marcoscaceres commented on #2004
@saschanaz, I'm not sure I follow. Wouldn't something like the following fix things? Or are you consider something better?:

[code]

[2019-01-07 02:37] saschanaz commented on #2004
That would be clean, but think about this:

[code]

Definitely the fix is to add proper `data-dfn-for` but at first one has to find where the warnings are from. Currently the only way is to `Control+F`.

[2019-01-07 02:38] marcoscaceres opened #2005 "Missing .assertion css"
@Swapnilr1, looks like we got so excited about the JS side, we forgot to actually add the CSS part 😂

I think we want:

[code]

Added to:
https://github.com/w3c/respec/blob/develop/js/core/css/issues-notes.css

And we want to check here for ".assertion" being in the document:
https://github.com/w3c/respec/blob/develop/src/core/issues-notes.js#L293

[2019-01-07 02:41] marcoscaceres commented on #2004
Ah, got it. Odd, I thought we were outputting those to the developer console... looking, we definitely don't. I wonder if that's a regression? (maybe not, as I don't see "See developer console.")

[2019-01-07 03:04] saschanaz opened #2006 "respec-w3c-common.js.map cannot be found"
https://www.w3.org/Tools/respec/respec-w3c-common.js.map

Currently this throws HTTP 300 and breaks source mapping. Maybe the server should be configured to correctly redirect it.

[2019-01-07 03:09] marcoscaceres commented on #2006
Ah, I think the w3c server is specifically configured to only work with old file name. We might need to switch back to the crappy name.

[2019-01-07 03:10] saschanaz commented on #2006
Or we can get a symbolic link to the new name for compatibility 😀

[2019-01-07 03:12] marcoscaceres commented on #2006
Ok, let's try for that.

@deniak or @tripu, we previously were getting the W3C to serve:
respec/respec-w3c-common.build.js.map

But we renamed that to:
respec/respec-w3c-common.js.map

Would it be possible to get that updated on the w3c side?

[2019-01-07 03:16] saschanaz commented on #2004
![image](https://user-images.githubusercontent.com/3396686/50747083-7a123d00-1275-11e9-9ba6-6db551184394.png)

We currently correctly get links to the elements but not when linking from `<pre class="idl">`. Fixed the original post to match.

[2019-01-07 03:16] marcoscaceres commented on #1970
@devanshbatra04, do you want to take this one?

[2019-01-07 03:17] saschanaz commented on #2006
Maybe we can also use third-party `unpkg.com` or `rawgit.com`, etc...

[2019-01-07 03:49] marcoscaceres commented on #1804
I think we can probably support `<var data-type>` without #1848. Then #1848 can leverage this.

[2019-01-07 03:57] marcoscaceres commented on #1239
Ok, so the idea with this one is you can do:

[code]

You will notice they look the same (except issues are red).

There are few small, but non-trivial, tasks here:

 1. Look in ReSpec's code for "ednote" - and figure out what it's doing.
 1. Look at https://github.com/w3c/respec/blob/develop/js/core/css/issues-notes.css for "ednote"
 1. Look at https://github.com/w3c/tr-design/blob/gh-pages/src/b

[2019-01-07 04:17] marcoscaceres commented on #399
@saschanaz, IIRC, we need to add a new [specStatus](https://github.com/w3c/respec/wiki/specStatus): EDITED-REC.

The respecConf must then include:

  * prevRecURI

And we should generate the boiler plate that @iherman mentions: "The document thus links to two important resources: the previous edition of the Recommendation via the status section, and the previous draft (the Proposed [Edited] Recomm

[2019-01-07 04:35] marcoscaceres commented on #1996
Yeah, was thinking the same about the a11y aspects... maybe we can roll our own simplified version of the shortcuts?

[2019-01-07 04:50] saschanaz commented on #1996
Yes, that should work. I'd like to hear from what a11y experts think though.

[2019-01-07 05:07] Swapnilr1 commented on #2005
Oh yes, very sorry about that. I will fix that as soon as possible.

[2019-01-07 05:09] marcoscaceres commented on #1846
I think with #1979, we are jQuery free 🎉🤞?

[2019-01-07 05:13] marcoscaceres commented on #2005
Oh, no problem. I also missed it :)

[2019-01-07 05:36] marcoscaceres commented on #1668
Ok, we can definitely do the either inline or we can host our own scripts. I'd personally like to have the scripts hosted (same a ReSpec currently is)... we have very few scripts that would need hosting. Primarily the copy/paste IDL one.

[2019-01-07 06:34] saschanaz commented on #1846
Confirmed we have no more `$()`.

[2019-01-07 06:43] saschanaz commented on #1994
Can the directory be `assets`, as we also have `js/core/images`?

[2019-01-07 06:49] Swapnilr1 commented on #1239
Thanks. It seems to me I have understood what needs to be done. I will begin work after I finish #2005

[2019-01-07 07:03] marcoscaceres commented on #1994
yeah, single `assets` directory would be fine too.

[2019-01-07 10:57] marcoscaceres opened #2008 "best practices boxes look weird"
## Important info

* URL to affected spec: https://w3c.github.io/screen-orientation/#reading-the-screen-orientation
* ReSpec version: Click the ReSpec pill (e.g., 24.1.0).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
What happened (e.g., it crashed)?:
Looking at the screen orientation API spec, it contains a best practices box... but the box doesn't match the sty

[2019-01-07 11:19] devanshbatra04 commented on #1970
Yes definitely!

[2019-01-08 00:36] #1994 closed

[2019-01-08 01:22] saschanaz opened #2010 "fixup.js runs nondeterministically"
Context:

https://github.com/w3c/respec/pull/2007#issuecomment-451948145

https://github.com/w3c/respec/pull/2007#issuecomment-452133496

cc: @marcoscaceres

[2019-01-08 02:20] marcoscaceres commented on #2010
I guess that would be ok so long as fixup self checks that whatever it is trying to fix is already fixed (i.e., it has no effect).

[2019-01-08 07:54] saschanaz commented on #1996
I searched some documents and while all of them require keyboard access support they don't really emphasize the existence of shortcuts.

One example: https://developer.chrome.com/extensions/a11y#shortcuts

[2019-01-08 07:57] marcoscaceres commented on #1996
I also think it would be best if we fix the ReSpec pill's keyboard accessibility issues instead (https://github.com/w3c/respec/issues/1064). Need to basically treat the popup menu as a `<dialog>`, and then make it possible to tab around. Right now, it's completely broken :(

[2019-01-08 08:04] saschanaz commented on #1996
`<dialog>` support is currently extremely bad so we would need a polyfill for that.

[2019-01-08 08:32] saschanaz commented on #2010
I feel we just need a single shortcut to access the pill from anywhere, everything else can be done with the tab key.

[2019-01-08 14:53] plehegar commented on #399
For Edited Recommendation that only contain editorial changes, there is no change in the status section except a short mention that it only contains editorial changes compared to the previous publication.
For Amended Recommendations (contains substantive changes but no published by a Working Group), we do have a special patent policy boilerplate. See https://www.w3.org/pubrules/doc/rules/?profile=

[2019-01-08 14:57] plehegar commented on #399
Note that there is no previous Proposed Recommendation in the case of an Edited Recommendation that only contains editorial changes. We follow the path REC->REC, as illustrated in https://www.w3.org/2018/Process-20180201/#rec-modify .

[2019-01-08 20:17] marcoscaceres commented on #2010
Agree. That would be amazing.

[2019-01-09 00:49] saschanaz commented on #1996
I feel we just need a single shortcut to access the pill from anywhere, everything else can be done with the tab key.

(Moved from https://github.com/w3c/respec/issues/2010#issuecomment-452215116 🤣)

[2019-01-09 01:00] marcoscaceres commented on #1996
Agree. Google ships a really good one (used it before elsewhere): https://github.com/GoogleChrome/dialog-polyfill

[2019-01-09 01:50] marcoscaceres opened #2012 "add eol-last to our ES Lint config"
It's generally nice to have a new line at the end of files, particularly when looking a git changes. As such, we should add add "eol-last: always" to our ES Lint config.

[2019-01-09 01:58] saschanaz commented on #399
So this is a summary of what I understand:

1. New `specStatus: "EDITED-REC"` for editorial changes
   * It should add a short mention that it only contains editorial changes compared to the previous publication
   * No need to require explicit `prevRecURI` because the previous version should be REC
2. New `specStatus: "AMEND-REC"`
   * Include https://www.w3.org/pubrules/doc/rules/?profile=REC-AM

[2019-01-09 02:14] #2005 closed

[2019-01-09 02:18] marcoscaceres commented on #399
Ah, yes, `prevRecURI` won't be needed: I was thinking that would have been a dated URI. The rest sounds right (or at least to start with).

[2019-01-09 02:34] saschanaz opened #2013 "Stop polluting configuration object in w3c/headers.js"
Currently it pollutes the configuration object only to pass them to templates. They should be instead passed as a dictionary object.

[2019-01-09 02:55] marcoscaceres commented on #2013
Agree! and we should identify other modules that do this. So 🤮

[2019-01-09 03:07] saschanaz commented on #399
The Pubrules uses [REC-AMENDED](https://www.w3.org/pubrules/doc/rules/?profile=REC-AMENDED) so maybe we should follow it.

I kind of agree with this, as it's REC->REC not REC->EDITED-REC. Maybe the suggested `prevRecRelationship` would be better... Thoughts?

[2019-01-09 03:18] marcoscaceres commented on #399
I guess it depends on what shows up at the top of the document (and in the SoTD). If it's just "W3C Recommendation", then agree.

The problem remains:

It's possible that Editor's can just manually add this, in which case "REC->REC" holds.

or maybe `recHasBeenEdited: true`?

[2019-01-09 09:54] #2012 closed

[2019-01-09 13:11] Swapnilr1 commented on #1762
I suppose this is closed with pull requests 1987 and 2009.

[2019-01-09 13:13] marcoscaceres commented on #1762
@Swapnilr1, thanks for the reminder!

[2019-01-09 13:13] #1762 closed

[2019-01-09 16:42] Swapnilr1 commented on #1239
I just want to confirm if I have understood this issue correctly.
Since editor's notes and normal notes look same, the same CSS can be applied to them. Now https://github.com/w3c/tr-design/blob/gh-pages/src/base.css does not have CSS for `.ednote` class, so when ReSpec runs on the HTML document, it should change all `ednote` classes to `note`.
And along with it, I also remove redundant CSS code.

[2019-01-09 21:53] gkellogg opened #2019 "replacement for conf.definitionMap?"
## Important info

* URL to affected spec: https://w3c.github.com/json-ld-syntax
* ReSpec version: 24.1.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

  #1954 removed `definitionMap` from the configuration. This is used in my specs to iterate over definitions and remove those that aren't referenced; it's now broken.

  Is there a replacement mechanism for me to

[2019-01-10 02:17] marcoscaceres commented on #1905
@saschanaz, this can be closed, right?

[2019-01-10 02:48] saschanaz commented on #2019
A quick fix is to add `expose("core/dfn-map", { definitionMap });`  in `core/dfn-map.js` which will enable `require("core/dfn-map")`. IMO we should avoid adding such AMD API, though...

[2019-01-10 02:50] marcoscaceres commented on #2019
Agree about not adding that... what are some alternatives? Should we temporarily again expose  `conf.definitionMap` while we figure this out? That will at least fix the existing spec and let us come up with something cleaner.

[2019-01-10 02:51] saschanaz commented on #1905
We still have files without `@ts-check`, so no. The ultimate goal is to add `checkJs: true` in `jsconfig.json` which will enable ts-check in every JS file.

[2019-01-10 02:54] saschanaz commented on #2019
Yes, that will give us some time. #1976 is my suggestion, BTW.

[2019-01-10 02:59] marcoscaceres commented on #2019
I like where #1976 is going. We should pick that back up.

[2019-01-10 03:03] marcoscaceres commented on #1905
Oh, ok. Thanks for confirming.

[2019-01-10 03:15] marcoscaceres opened #2021 "Add <cite> when data-cite="spec" is used."
Given the following `data-cite` (with no path or fragment):

[code]

It would be nice if that was outputted as:

[code]

I think the place where this needs is around here:
https://github.com/w3c/respec/blob/develop/src/core/data-cite.js#L53

After the link is created, if there is no fragment or path, then the `<cite>` can wrap `<a>`.

[2019-01-10 03:16] marcoscaceres commented on #2021
@yatri1609, any chance you could work on this?

[2019-01-10 03:36] marcoscaceres commented on #1239
@Swapnilr1 yes, what you describe is correct.

[2019-01-10 04:00] saschanaz commented on #1905
https://github.com/w3c/webidl2.js/issues/255 is currently a blocker.

[2019-01-10 04:12] marcoscaceres commented on #1905
I need to play less computer games and spend some time learning ts. #lifegoals.

[2019-01-10 04:12] #2019 closed

[2019-01-10 04:32] saschanaz commented on #2021
What does block us from using `<cite>` with fragments/paths?

[2019-01-10 04:35] marcoscaceres commented on #2021
Not much. Just that we have a convention of using `<a data-cite>` for cross refs that use frags and paths.

We could also do:

[code]

Which would actually be nice.

[2019-01-10 04:41] marcoscaceres commented on #2021
Ideally, I'd also like to support:

 * `<a data-cite="payment-request"></a>` and `<cite data-cite="payment-request"></cite>`.

Which, automatically includes the title of the spec as the text content. So, they both output exactly the same thing:

[code]

How nice would that be? 😍

[2019-01-10 05:28] marcoscaceres opened #2023 "Add core defaults"
It would be nice to have a "core/defaults" module, that sets the default core defaults that every specification or document is expected to have. Those can the be amended or overridden by specific profiles.

For example, all specs should have a specStatus of "unofficial" by default. The license should probably be some CC license, and so on...

Example of W3C defaults, on which this could be based:

[2019-01-10 05:35] marcoscaceres commented on #2021
@yatri1609, yes, that's totally fine.

[2019-01-10 14:02] Swapnilr1 commented on #1239
@marcoscaceres One more question. For editor's notes, the text "Editor's note: " is added in the title, while for a normal note, the text "Note: " is added in the title. Do we wish to do away with editor's notes entirely (so even editor's notes would only have ""Note: " added in the title) or just wish to use common CSS?

[2019-01-10 16:24] saurabhmittal16 commented on #2023
Can I try this if no one has started already?

[2019-01-10 17:53] gkellogg commented on #2019
There are different things in https://w3c.github.io/json-ld-syntax/common/common.js besides the support for managing definition lists, the important parts is the following:

https://github.com/w3c/json-ld-syntax/blob/6f92b1d634760cd7a393b41bce01e151bfd753f0/common/common.js#L15-L115

This is based on code originally created by @halindrome (IIRC) but used in a number of projects where multiple spec

[2019-01-10 23:31] marcoscaceres commented on #2023
@saurabhmittal16, sure! Is it clear what needs to be done? Let me know if you need more guidance.

[2019-01-11 16:04] sidvishnoi commented on #1846
We're jQuery free but we're still shipping jQuery for backward compatibility.
I believe you two were waiting on me to close this issue? Thanks 😄 ❤️

[2019-01-11 16:04] #1846 closed

[2019-01-11 16:08] sidvishnoi commented on #2013
I think [core/caniuse.js](https://github.com/w3c/respec/blob/develop/src/core/caniuse.js#L50) is another potential candidate

[2019-01-11 16:13] saschanaz commented on #2013
@sidvishnoi It looks like core/caniuse just normalizes the user configurable fields, which should be okay.

[2019-01-14 03:56] marcoscaceres commented on #1239
Ah, good point about the title. I think we should just use common CSS.

[2019-01-14 04:17] marcoscaceres opened #2030 "Show "Preview of #" in title"
See the following for details:
https://github.com/tobie/pr-preview/issues/23

Basically, the spec's title should come "Preview of PR xxx: " when the spec `isPreview` is true.

This would build on @yatri1609's work:
https://github.com/w3c/respec/pull/1843

[2019-01-14 04:20] marcoscaceres commented on #2030
@yatri1609, you want to take this one too? It's just a repeat of what you did previously - but this one changes the `<h1>` and `<title>` of the document.

[2019-01-14 07:08] saurabhmittal16 commented on #2023
Can you give a brief explanation of how to begin and what should be the default of different config option.
Thanks

[2019-01-14 21:33] CodeTropolis commented on #1025
@dduuu Thank you! `solved Object does not support` remove bug.  IE version: 11.0.9600.19204

[2019-01-15 04:52] yatri1609 commented on #2030
@marcoscaceres I'll take this one up !! :grinning:

[2019-01-15 05:13] marcoscaceres commented on #2030
@yatri1609, much appreciated! Let me know if you need any more details or additional guidance.

[2019-01-15 10:21] marcoscaceres opened #2033 "Example link fragments are crazy long"
## Important info

* URL to affected spec:
https://w3c.github.io/screen-orientation/#ex-1-example-1-script-var-show-function-console-log-orientation-type-is-screen-orientation-type-console-log-orientation-angle-is-screen-orientation-angle-screen-orientation-addeventlistener-change-show-window-onload-show-script-button-onclick-screen-orientation-unlock-unlock-button-button-onclick-screen-orientatio

[2019-01-15 10:40] marcoscaceres opened #2034 "aside example `pre` tags don't self indent"
## Important info

* URL to affected spec:
https://github.com/w3c/payment-request/pull/824/files#diff-eacf331f0ffc35d4b482f1d15a887d3bR1119

## Description of problem
What happened (e.g., it crashed)?:
For whatever reason, when you have:

[code]

The pre highlights, but doesn't correctly remove the whitespace...

While doing:

[code]

But what I was expecting?:

For `<pre class=example>` and `<asi

[2019-01-15 11:53] Swapnilr1 commented on #2034
I would like to take this up.

[2019-01-15 12:57] marcoscaceres commented on #2034
sure, a place to start would be:
https://github.com/w3c/respec/blob/develop/src/core/examples.js#L31

Otherwise, here, where the nightlight happens:
https://github.com/w3c/respec/blob/develop/src/core/highlight.js#L61

[2019-01-15 16:12] tripu commented on #2006
[Done](https://www.w3.org/Tools/respec/respec-w3c-common.js.map). The file should be refreshed automatically, like the rest.

[2019-01-15 16:12] #2006 closed

[2019-01-16 04:44] nkkumawat commented on #2033
@marcoscaceres Can I try this?

[2019-01-16 06:45] marcoscaceres commented on #1699
Closing as done. Looking at making a new W3C profile that excludes jQuery.

[2019-01-16 06:45] #1699 closed

[2019-01-17 01:17] #1713 closed

[2019-01-18 02:41] saschanaz commented on #1975
Currently I have two options:

1. Migrate raw text imports to `fetch()` with a custom webpack plugin that converts `fetch()` into text importer call.
2. Implement a service worker that understands text import request and serves proper JavaScript module instead.

Option 1 needs some study because I don't know details to implement such plugins. Option 2 should be easier but 1) needs a way to detect

[2019-01-18 02:48] marcoscaceres commented on #1975
Good idea - but that's not going to work, unfortunately :( The same origin restriction would mean that each spec would also need to locally host a copy of the service worker.

If the text calls are mostly CSS... we could consider CSS-in-JS?

[2019-01-18 02:52] saschanaz commented on #1975
We can keep using webpack to bundle CSS. The suggested service worker is only for non-bundled development version.

[2019-01-18 02:56] marcoscaceres commented on #1975
Ah, ok. It still doesn't feel right that we would need two versions... from experience, the bundled version should still be debugguble in WebPack (just going to be a big fat file)... so I'm still hopeful we can do this without resorting to 2.

I need to explore exactly what stuff is coming in with !text.

[2019-01-18 03:01] saschanaz commented on #1975
BTW, we can also replace `require()` with native import from our tests if we remove any loader-specific syntax 👍

[2019-01-18 03:04] marcoscaceres commented on #1975
Agree, also makes me a bit 🤢. I think just have a play and experiment and see what works. I don't have a strong opinion here: just want to make sure ReSpec stays easy to set up and hack on (and hopefully we get the bundle size down a little bit more).

That would be nice.

[2019-01-18 03:13] saschanaz commented on #1975
Chromium people just published an intent to implement HTML modules, so maybe one day we can do:

[code]

Still not perfect but this way at least IDEs can still syntax highlight and linters can still work 😆

[2019-01-18 07:13] saschanaz commented on #873
@marcoscaceres Is this still relevant? I think the new `core/exporter` always generates UTF-8.

[2019-01-18 07:40] saschanaz commented on #1484
`npm run karma -- --browsers Chromium` should now work per https://github.com/litixsoft/karma-detect-browsers/pull/27

[2019-01-18 07:40] #1484 closed

[2019-01-18 21:09] marcoscaceres commented on #873
I think the idea was to check if the input is not UTF-8 or if it contains a contradictory `<meta charset>` prior to exporting.

[2019-01-18 23:53] saschanaz commented on #873
I think the only way to check it is to check whether meta[charset] is absent or points a different encoding.

👍

________________________________
From: Marcos Cáceres <notifications@github.com>
Sent: Saturday, January 19, 2019 6:09:46 AM
To: w3c/respec
Cc: Kagami Sascha Rosylight; Comment
Subject: Re: [w3c/respec] Lint for charset not being UTF-8 (#873)

I think the idea was to check if the input

[2019-01-22 05:29] marcoscaceres opened #2041 "Unclear if "can I use" when printing"
## Important info

* URL to affected spec: https://w3c.github.io/payment-request/
* ReSpec version:  24.2.3.
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
When a spec is printed (on paper/PDF), the "can I use" section in the header of doc doesn't actually show if something is supported or not:

![screenshot 2019-01-22 16 25 27](https://user-images.githubuserconten