[2017-03-02 09:30] andrea-perego commented on #1124
Hi, @marcoscaceres .

As far as I know, the approach is to use an empty anchor, of class `sectionRef`. E.g.:

[code]

See: https://github.com/w3c/respec/wiki/section

Actually, the requirements for examples are more similar to what done with figures:

https://github.com/w3c/respec/wiki/figure

BTW, it would be nice to have a "table of examples", as there is a "table of figures".

[2017-03-02 11:37] marcoscaceres commented on #1124
Wow, had no idea. Looks like you don't need the class even. It should be possible to do exactly the same thing without the class and I can use the title attribute for the text content of the link.

[2017-03-03 04:15] palemieux opened #1127 "Run "npm run hb:build" before building"
See http://w3c.github.io/imsc/imsc1/spec/ttml-ww-profiles.html

[2017-03-03 04:16] marcoscaceres commented on #1127
@palemieux, thanks! will fix!

[2017-03-03 04:31] marcoscaceres commented on #1127
fixed! Git is "shift-reload"

[2017-03-03 04:32] palemieux commented on #1127
Thanks. Definitely an opportunity to learn something new everyday.

[2017-03-03 04:34] marcoscaceres commented on #1127
Reopening because the bug is actually that the handle bars generator is currently not run when we release, which actually caused this issue.

[2017-03-03 04:39] #1127 closed

[2017-03-03 04:41] marcoscaceres opened #1128 "Test process version"
We are currently lacking tests for the processVersion, which bit us :( Just need a simple test to check that the processVersion is defaulting correctly. Should also refactor the process version to not be a boolean - that's quite terrible.

[2017-03-03 04:53] marcoscaceres opened #1129 "Switch to some other packaging system"
Ok, yeah... webpack is pretty awesome. It would take care of a ton of things for us - like automatic import of the dependencies, and we could dump use generators for async/await, instead of ES5 regenerator.

[2017-03-03 05:00] marcoscaceres commented on #1025
I've been giving this a lot of thought, but I can't see how it could work as we would constantly be having to backport things to IE. So, like, if we polyfilled Promises, then we would then need to polyfill `Object.keys()`, `Array.from()`, and other things that are widely supported in all other browsers, but are never going to be added to IE.

IMO, we should focus on having great support for Edge i

[2017-03-06 10:19] iherman opened #1131 "Respec interaction button not appearing (again... sometimes:-("
If I look at the example that served as a bug report in #1113 via Firefox (latest release) the interaction button on the upper right hand corner does not always appear (it is not systematic, sometimes it does). The same seems to be the case with Chrome.

Interestingly, if I take a 'real' (and relatively large) example:

http://w3c.github.io/dpub-pwp-ucr/index.html

again, in FF the interaction but

[2017-03-06 10:28] marcoscaceres commented on #1131
@iherman, can you take a look also in Safari? I'm wondering if that "extra.css" is doing funky things. In Safari, the top of the document is disappearing.

[2017-03-06 10:29] marcoscaceres commented on #1131
can't seem to reproduce in firefox or chrome - trying many reloads :(

[2017-03-06 10:30] marcoscaceres commented on #1131
@iherman, please can you also confirm for me that you are on version "10.5.11"

[2017-03-06 10:44] iherman commented on #1131
@marcoscaceres I emptied my cache on FF, and it still does the same. When looking at the browser console it does have some bugs, I do not know whether it is relevant; I attach a screen dump below (I tried to zoom into the browser console to make it readable):

![screen shot 2017-03-06 at 11 41 08](https://cloud.githubusercontent.com/assets/520723/23606703/2e48ca62-0262-11e7-96ca-24176e7b1b14.png)

[2017-03-06 10:45] iherman commented on #1131
@marcoscaceres , how do I find out the version of respec runtime? My script loads respec from the W3C server, and I cleaned up all the caches...

[2017-03-06 10:47] marcoscaceres commented on #1131
@iherman, when the button appears, click it, and select "about respec". The version number appears in the dialog.

Otherwise, `window.respecVersion` in the js developer console.

[2017-03-06 10:47] iherman commented on #1131
@marcoscaceres the test file works all right on safari, so does the larger example.

[2017-03-06 13:03] iherman commented on #1131
@marcoscaceres but the problem is exactly that the button does not appear:-)

but the `window.respecVersion` does work, of course, and it says 10.5.11.

[2017-03-07 01:13] marcoscaceres commented on #1131
I managed to reproduce, but wasn't able to get to where the bug is :( I'm still suspicious of those additional scripts that are being added, because they seem to do things to `ui`, which I suspect is causing this to happen (given that it's the ui that is breaking).

[2017-03-07 02:32] #1120 closed

[2017-03-07 04:51] marcoscaceres opened #1136 "Replace handlebars with hyperHTML"
We should use [hyperHTML](https://github.com/WebReflection/hyperHTML) - it's all ES6 and 1Kb in size. It just uses ES6 template string literals.

[2017-03-07 06:49] marcoscaceres opened #1137 "internationalize humanDate"
Allow date to be returned in any format supported by the browser, and english as a fallback:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat

@dhvenema

[2017-03-07 09:01] iherman commented on #1131
I have created a file without it. So

https://www.w3.org/2017/02/rperror/pr1.html <https://www.w3.org/2017/02/rperror/pr1.html>

contains the reference to the css file, while

https://www.w3.org/2017/02/rperror/pr.html <https://www.w3.org/2017/02/rperror/pr.html>

does not. I experience the same behaviour; I also realized that by making many reloads sometimes the button appears.

B.t.w., I am not

[2017-03-08 00:36] marcoscaceres commented on #1131
@iherman, than you again for putting together the test case! you are a gem 💎. I think I figured it out: in js/core/ui.js, I was trying to insert the pill into the document's body, but didn't check if the body had been created yet. Because scripts can load async, sometimes the body would be there, sometimes not.

I was suspicious of rcollect because it literary seems to be a copy/paste of the UI co

[2017-03-08 00:41] halindrome commented on #1131
I miss the good old days when you could predict the order of operations.

On Tue, Mar 7, 2017 at 6:36 PM, Marcos Cáceres <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2017-03-08 00:44] marcoscaceres commented on #1131
@halindrome don't we all :( Unfortunately, this isn't really our fault... users can set `script` to be either `defer` or `async` or inline. Furthermore, `async` is cache dependent, in that if the script is available, it will run inline.

Best we could do is run tests in multiple modes.

[2017-03-08 02:14] #1131 closed

[2017-03-08 04:35] marcoscaceres opened #1140 "Run tests sync and async"
We should run the test suite using both both sync and async modes, as sometimes things can be racy.

[2017-03-08 07:44] iherman commented on #1131
@marcoscaceres I was also suspicious of my scripts when I first hit the issues of course. But, in the separate tests in `../rperror/...` I removed that script. That was the first, obvious step when trying to reduce it to a test.

I am happy you found the error, but I still do not understand what made that particular small html file so special (that was already the case with the other issue that I

[2017-03-08 07:54] marcoscaceres commented on #1131
@iherman, so what's special is that it's small and respec is loaded synchronously. You have:

[code]

While the tests and many other specs have:

[code]

In your test case, ReSpec is loaded and runs immediately (hence, the body was not yet in the document - which caused the error). Because some of the scripts are using promises, they also make things somewhat erratic - in that `.then()` is in the

[2017-03-08 07:59] #1137 closed

[2017-03-08 07:59] iherman commented on #1131
Ahhhh! And the reason it is so is, I believe, that the original file was used with indeed those scripts you referred to before, I did run respec without `async` for reasons that I do not remember but it worked...

Yet another 👍 to @halindrome :-)

[2017-03-09 12:50] marcoscaceres opened #1143 "Convert AMD modules to ES6 modules"
Only the following remain:

## Core
* [x] jquery-enhanced.js

## W3C
* [x] abstract.js
* [x] aria.js
* [x] conformance.js
* [x] headers.js
* [x] informative.js
* [x] l10n.js
* [x] linter.js
* [x] permalinks.js
* [x] seo.js
* [x] style.js

[2017-03-10 05:02] marcoscaceres commented on #1126
I've filed a bug on the W3C regarding the style sheet stuff we would need: https://github.com/w3c/tr-design/issues/114

[2017-03-10 06:40] tobie commented on #1126
/cc @dontcallmedom

[2017-03-10 09:14] dontcallmedom commented on #1126
I'm not sure I understand why this needs to be added to the TR stylesheet - wouldn't it be easier to add it to the respec stylesheet?

(as an aside, let's not use specStatus=PR for this - that's already used for Proposed Rec :)

[2017-03-10 10:29] marcoscaceres commented on #1126
We are trying to remove the ReSpec style sheet to normalize with BS also.

If both BS and ReSpec require a style, then it makes it a candidate for "standardization".

Heh, good point.

[2017-03-10 10:49] marcoscaceres opened #1148 "npm deprecation warning"
Need to deal with the following sooner rather than later....

[code]

[2017-03-12 14:17] marcoscaceres opened #1150 "Use css "wavy" when supported"
For underlining errors, we use a tiny gif, but most browsers now support: https://developer.mozilla.org/en/docs/Web/CSS/text-decoration-style

Edge would fall back to the gif

[2017-03-13 10:51] marcoscaceres opened #1152 "Generalize l10n module"
Need to have both a generic "core/l10n" and a "w3c/l10n", and just merge the two into `conf`.

[2017-03-13 12:03] #1143 closed

[2017-03-13 13:17] #1152 closed

[2017-03-13 13:49] #1150 closed

[2017-03-15 15:31] mkovatsc opened #1159 "Going faster than browsers in corporate environments (e.g., Firefox ESR)"
I understand that hardcore Web guys like to change specifications every day. However, it gets a bit impractical when adopting features that cannot be used in corporate environments that use modern browsers, but rely on something like the Extended Support Release branch.

Concretely, I am talking about `insertAdjacentElement()`, which is not supported on Firefox's ESR update channel. All current Re

[2017-03-15 16:05] marcoscaceres commented on #1159
Pull requests are welcomed to fix legacy browser support issues.

[2017-03-15 16:09] mkovatsc commented on #1159
Well, if Firefox ESR is legacy, I think you have to sort something out with Mozilla...
Also, I recommend not to merge some if-then-else soup for "legacy browser support issues".
My point is to adopt new features once they are stable in the products of the WHATWG club.

It might also help not to break all W3C specifications instantly, but have some kind of release management for ReSpec. If ReSpec i

[2017-03-15 16:17] marcoscaceres commented on #1159
I'm planning on adding polyfills via Babel preset env (last 2 browser version soon). That's probably the best I can do tho.

[2017-03-15 16:33] marcoscaceres commented on #1159
I think there is a new ESR for firefox - all new features should work. https://www.mozilla.org/en-US/firefox/52.0esr/releasenotes/

Also checked, insertAdjacentElement() is supported in all browsers, including ESR 52.

[2017-03-15 16:39] mkovatsc commented on #1159
Okay, thank you. I hope you understand where this is coming from. I appreciate it very much to have a tool like this!

[2017-03-15 16:40] halindrome commented on #1159
FWIW Matthias everyone is committed to having the toolchain work in as
broad a set of environments as practical.

On Wed, Mar 15, 2017 at 11:39 AM, Matthias Kovatsch <
notifications@github.com> wrote:

--
Shane McCarron
halindrome@gmail.com

[2017-03-15 16:41] mkovatsc commented on #1159
Yes, but there was a gap. I just wanted to make you aware of this issue.

[2017-03-15 16:42] marcoscaceres commented on #1159
I'll see if I can get Travis to run tests against ESR.

[2017-03-15 16:43] marcoscaceres commented on #1159
Trivial to do: https://docs.travis-ci.com/user/firefox/

[2017-03-15 16:46] marcoscaceres commented on #1159
I'll get this set up tomorrow - but wont run against 45. It will be against 52 for the next year.

[2017-03-15 16:50] mkovatsc commented on #1159
Thanks a lot!

[2017-03-17 02:25] marcoscaceres commented on #1159
So ESR is a bit of a s***show. The wrong version was being served by Mozilla (had that fixed) ... and what is in 52 ESR doesn't seem to match 52 stable. Totally weird. Will investigate a bit, but it seems Mozilla is not really taking ESR very seriously.

[2017-03-18 23:26] gkellogg opened #1161 "Referencing term using @data-lt can get confused"
Consider the following:

      <p>
        Define <dfn>bar</dfn> and
        <dfn data-lt="foo-bar" data-lt-noDefault>bar</dfn>
        (which uses <code>@data-lt="foo-bar"</code> and <code>@data-lt-noDefault</code>)
        confuses a reference to <a>bar</a> and <a data-lt="foo-bar">bar</a> (which uses <code>@data-lt="foo-bar"</code>).
      </p>

The last reference to `bar` should get to that de

[2017-03-20 01:22] royfielding opened #1162 "Line breaks in WebIDL pre sections are ignored/replaced"
I am having a hard time rendering an interface that has ridiculously long names:
[code]

ReSpec parses the idl and removes the added line breaks, which results in a very long pre section, which is then truncated in mid-name by the W3C stylesheet. Not useful.

A solution would be to keep the embedded line breaks in the post-respec generated HTML. Another solution might be to use something other tha

[2017-03-20 01:24] marcoscaceres commented on #1162
@royfielding, can you try adding "overlarge" as a class and see if it helps?:

[code]

[2017-03-20 01:27] marcoscaceres commented on #1162
(You might also think about having shorter names - we usually keep names in the web platform pretty short... `storeSiteSpecificTrackingException()` won't fly and "StoreSiteSpecificExceptionPropertyBag" seems like overkill)

[2017-03-20 01:33] royfielding commented on #1162
Thanks, overlarge does add a scrolling view for the online page, but the print version is still truncated. I think preserving embedded line breaks would still be preferable, if possible.

Unfortunately, I didn't choose the names. I'll take that advice back to the WG as well, but I figured the issue was worth reporting anyway.

[2017-03-20 01:34] marcoscaceres commented on #1161
@gkellogg, we would need to teach ReSpec about "schema" as a type (same as we had to teach it about WebIDL). If you are up for it, I'd be happy to at least review.

[2017-03-20 01:36] marcoscaceres commented on #1161
@gkellogg, also note, there is no shame in using `<a href=#thing>` in ReSpec. It's a bit less convenient, sure, but it's totally ok.

[2017-03-20 01:38] marcoscaceres commented on #1162
@royfielding, appreciate the report. I'll look at breaking lines correctly when things don't fit. It not something I can fix in the next few weeks, as I'm traveling.

[2017-03-20 01:46] gkellogg commented on #1161
@marcoscaceres This has nothing to do about ReSpec knowing about "schema", but rather that, if "schema" is defined as a term, as is something like "validate.schema", If I use `<a data-lt="validate.schema">schema</a>`, it ends up referencing the "schema" definition, instead of "validate.schema".

Of course I could use a regular `@href`, but then I don't get ReSpec's error checking, and I'm exposed

[2017-03-20 02:10] marcoscaceres commented on #1161
Yes, that's what is built into the WebIDL module. It does its own linking:
https://github.com/w3c/respec/blob/develop/src/core/webidl.js#L816

Trying your example in basic.html.

[2017-03-20 02:16] marcoscaceres commented on #1161
so yeah, something is busted in:
https://github.com/w3c/respec/blob/develop/js/core/link-to-dfn.js

[2017-03-20 02:17] marcoscaceres commented on #1161
I won't be able to to get to this for about two weeks, as I'm traveling.

[2017-03-20 14:45] MichielBijl commented on #919
What is the current state of this feature? Can we activate it in some way?

[2017-03-20 15:47] nickmccurdy commented on #723
https://github.com/nickmccurdy/karma-edge-launcher/issues/34

[2017-03-20 22:30] marcoscaceres commented on #723
I guess it's time to try SouceLabs.

[2017-03-20 22:32] marcoscaceres commented on #919
I've not done any work to support this. I'll try to prioritize it, but as I'm going to be traveling it will probably be a few weeks.

[2017-03-22 05:01] palemieux opened #1163 "CSS validator complains of @support"
https://jigsaw.w3.org/css-validator/validator?uri=https://www.w3.org/TR/2017/WD-ttml-imsc1.0.1-20170323/

_Sorry, the at-rule @supports is not implemented._

Probably introduced by https://github.com/w3c/respec/issues/1150

[2017-03-25 01:15] gkellogg opened #1164 "Saving as HTML includes the save dialog in the resulting HTML"
ReSpec => Save => Save as HTML. Open resulting file, see "Save Snapshot" dialog.

[2017-03-25 23:19] marcos-travel opened #1165 "Convert moar things to ES6"
Base level things...
 * [x] github.js
 * [x] shortcut.js
 * [x] tmpl.js

📂 Core/
 * [x]  beautify-options.js
 * [x]  issue-notes.js
 * [x]  link-to-dfn.js
 * [x] ui.js

📂  UI/
 * [x] save-html.js

[2017-03-28 01:52] marcoscaceres commented on #1164
I tried locally, but could not reproduce. Could you send me a link to a spec?

[2017-03-28 02:36] marcoscaceres commented on #1163
Hmm... ok, will try to think of something.

@sideshowbarker, what are the odds of updating the CSS validator?

[2017-03-28 05:25] gkellogg commented on #1164
Try https://shexspec.github.io/spec/, save and note the div id="respec-button-save-snapshot-modal" at the end of the saved file. At least it does that using Safari.

[2017-03-28 05:27] marcoscaceres commented on #1164
thanks! I see it now. Will poke around a bit.

[2017-03-28 05:59] marcoscaceres commented on #1164
Found it. ... I had:

[code]

[2017-03-28 07:10] marcoscaceres commented on #1164
Travis-CI is acting up a bit... will have to see what's going on tomorrow. But patch is ready and working fine locally.

[2017-03-28 11:44] sideshowbarker commented on #1163
The CSS validator is actively maintained—not by me, but if you file an issue at https://github.com/w3c/css-validator/issues I expect you will get a response

[2017-03-29 04:57] marcoscaceres commented on #1163
@sideshowbarker thanks! filed https://github.com/w3c/css-validator/issues/71

[2017-03-29 05:40] #1164 closed

[2017-03-29 10:10] dhvenema opened #1170 "Dutch Translations Issue Summary, TOF, References"
There are still a few non-translated names in ReSpec, namely: the Issue Summary, Table of Figures, References, perhaps more. This could be solved by expanding the Dutch translations in core/l10n.js.

* References is stated in core/biblio.js
* List of Figures in core/figures.js
* Issue Summary in core/issues-notes.js

[2017-03-29 10:55] #1170 closed

[2017-03-29 16:28] tidoust opened #1173 "Example titles incorrectly unescaped"
Example 46 in the [Spatial Data on the Web Best Practices](http://w3c.github.io/sdw/bp/) specification has a title that includes a `<` character, escaped with `&lt;`. Problem is ReSpec seems to convert that `&lt;` back to a `<` when it generates the actual markup of the example.

The following markup is used:

[code]

It creates the following title (note "sameAs" disappeared): "Example 46: Discove

[2017-03-30 10:09] marcoscaceres commented on #1173
So, the right thing to do here is to start treating `title=` as markdown.

[2017-03-30 11:38] tidoust commented on #1173
Ha! I thought the content of the attribute was supposed to be plain text and that the unescaping was not deliberate. Your comment suggests that it is actually intended. As long as the rule is clear, it works for me!

I don't have anything against markdown but it seems strange to suddenly start using markdown in specs that were otherwise written using markup.

I would propose to update the [example

[2017-03-31 01:54] marcoscaceres commented on #1173
I agree. But a not so great decision was made to abuse the title attribute on things... and this has lead to a bunch of limitations.

Sure, go for it! I don't know exactly when I will add markdown support for title - so it's a good solution for now.

[2017-03-31 10:36] tidoust commented on #1173
OK, I created a separate [`title` attributes](https://github.com/w3c/respec/wiki/title-attributes) doc page and linked to it from the [`ednote`](https://github.com/w3c/respec/wiki/ednote), [`example`](https://github.com/w3c/respec/wiki/example) and [`note`](https://github.com/w3c/respec/wiki/note) pages.

[2017-03-31 10:36] #1173 closed

[2017-04-04 07:20] #989 closed

[2017-04-07 12:10] dontcallmedom opened #1180 "data-cite and multi-pages spec"
Is there any way to reference a specific sub-page of a multipage spec using `data-cite`? It would be useful e.g. for HTML5.x.

[2017-04-07 15:38] marcoscaceres commented on #1180
Had the same problem. See my recently closed bug over at the specref repo. It's automatically done by the HTML spec, but broke the link checker. It's not a ReSpec issue, but I'm unsure how to proceed.

[2017-04-07 16:46] dontcallmedom commented on #1180
Assuming you're referring to [specref issue 344](https://github.com/tobie/specref/issues/344), it's different from my issue.

What I want is be able to point to e.g. https://www.w3.org/TR/html51/sec-forms.html#the-input-element with `data-cite`.

This could be achieved for instance with `data-cite=!HTML51/sec-forms.html#the-input-element` if respec were to use '/' (or some othre magical separator)

[2017-04-08 00:07] marcoscaceres commented on #1180
Using a slash would probably work.

[2017-04-12 17:18] Evadon-Nathan opened #1181 "Logos for custom profile layout issue"
I'm attempting to use the logos respecConfig option as part of creating a custom profile.

It appears that the logo inserted is not in the correct <p> tag in the source.

The css is looking for `.head p:first-child:not(.copyright)`, but the actual logo is inserted into a second <p> tag in the DOM and is therefore not aligned correctly.

Here's the relevant part of my respectConfig:
[code]
If it he

[2017-04-12 20:58] sandhawke commented on #1163
I wonder if it'd be possible to keep respec from getting ahead of W3C pubrules/validators?   Like, consider the output generating a proper publication as a requirement before releasing changes to respec?    I'd rather not have to hunt down issues like this @support one just to do a publication, and I expect I'm not alone in that.

[2017-04-12 23:02] marcoscaceres commented on #1163
Feel your pain. I'll see if I can remove the @ supports.

[2017-04-12 23:39] sandhawke commented on #1163
Thanks.    There are two other css issues at the moment, from the css validator on respec output, which I haven't tracked down:

 .respec-save-button:link 	Property justify-self doesn't exist : stretch
 .respec-button-copy-paste 	Property user-select doesn't exist : none

[2017-04-13 08:08] anssiko commented on #1163
As noted by @sandhawke, the '[justify-self][1]' and '[user-select][2]' properties that were added to ReSpec CSS some days ago now cause all the HTML snapshots produced with ReSpec fail the CSS validator step in the Pubrules Checker. See an [example of such a CSS validator failure][3].

@marcoscaceres, a possible fix would be to include only the minimum CSS in the HTML snapshot that also passes CSS

[2017-04-13 20:52] palemieux opened #1182 "Referencing Tables"
How does one reference a `table`?

[2017-04-13 21:36] dbooth-boston opened #1183 "Avoid misleadingly displaying RFC 2119 words in lower case"
respec is displaying RFC 2119 words such as "MUST" and "SHOULD" in lower case ("must" and "should").  Although this may look prettier to some authors, it is misleading and should not be done in standards documents.  For example, in
https://www.w3.org/TR/2017/CR-websub-20170411/
the word "MUST" displays as "must" even though it written as "MUST" in the HTML source, and it copy-and-pastes as "MUST".

[2017-04-13 21:46] dbooth-boston commented on #1183
See also https://github.com/w3c/respec/issues/1109 , which I discovered later.

[2017-04-14 11:36] kevinmarks commented on #1183
font-variant: small-caps; is the right typographic answer for this. Removing it is a mistake.

[2017-04-14 11:51] marcoscaceres commented on #1183
It's our policy that when things are controversial we add a preference to ReSpec. Happy to accept a PR to enable this.

[2017-04-14 11:52] marcoscaceres commented on #1183
(Otherwise I'll add it after I'm back from vacation)

[2017-04-14 12:04] halindrome commented on #1183
I will see if I can't jig something up - I have a little spare time.

On Fri, Apr 14, 2017 at 6:52 AM, Marcos Cáceres <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2017-04-14 15:05] marcoscaceres commented on #1163
So yeah, my plan is to split the UI's CSS into a separate file (which will get removed when spec generation happens).

[2017-04-16 08:36] marcoscaceres commented on #1182
I usually write:

[code]

[2017-04-24 23:37] domenic opened #1184 "Help migrate people on recent Web IDL extended attribute changes"
Recently we introduced the concept of extended attributes applying to types. The extended attributes [Clamp], [EnforceRange], and [TreatNullAs] were moved into this category. This means that the following syntactically-allowed Web IDLs are not correct:

[code]

should be

[code]

and

[code]

should be

[code]

To get people to migrate, it would be very helpful if ReSpec could emit an error on suc

[2017-04-26 06:14] marcoscaceres opened #1185 "Linter: Add support for link checking."
Be nice to hook into:
https://validator.w3.org/checklink

Need to talk to @dontcallmedom about how how to... and if at all possible.

[2017-04-28 06:03] marcoscaceres opened #1186 "Consider moving to semantic-release"
Look at using instead of our current release script: https://github.com/semantic-release/semantic-release

[2017-05-01 07:57] marcoscaceres opened #1192 "Greenkeeper no longer working"
@dontcallmedom, sorry... seems something happened and Greenkeeper.io is no longer working on this repository?

Could you click the right buttons from (requires Admin privileges): https://greenkeeper.io

[2017-05-01 08:48] #1163 closed

[2017-05-01 09:23] #1104 closed

[2017-05-01 09:23] marcoscaceres commented on #1104
Added

[2017-05-01 09:25] #575 closed

[2017-05-01 15:03] chaals commented on #919
I filed #1195 as a quick and dirty fix. If people want yet another config option, so feedback mode can be github instead, I can complicate the whole thing^W^W^W^Wplay feature creep^W^W^Wdo that too...

[2017-05-02 05:53] marcoscaceres commented on #919
@chaals, I guess it's a start. I'll try to figure out a better solution.

[2017-05-02 07:41] dontcallmedom commented on #1192
greenkeeper had apparently been installed as an integration (by @tripu or  @deniak I'm guessing?) for @w3c which means that repos now have to be added to the overall configuration for the account - done for this one now.

[2017-05-02 07:41] #1192 closed

[2017-05-02 07:44] marcoscaceres commented on #1192
Thanks @dontcallmedom!

[2017-05-02 08:45] marcoscaceres opened #1196 "Print style sheet broke"
The ReSpec pill is showing up when printing the document.

[2017-05-02 15:13] chaals commented on #919
A better solution would either add a flag option, and github repo, or just key of the presence of wgPublicList and githubRepo to determine which bits to add.

[2017-05-02 17:22] MichielBijl commented on #1097
Any chance you can assign this to me? Keep forgetting to actually do it…

[2017-05-05 04:40] marcoscaceres opened #1198 "data-cite with a missing spec identifier crashes plugin"
Given:
[code]

Should report an error, but not crash.

[2017-05-09 07:25] marcoscaceres commented on #1097
Assigned

[2017-05-10 08:36] #1025 closed

[2017-05-10 08:37] marcoscaceres opened #1206 "Add w3c defaults module"
It would be nice to have a module that sets W3C defaults, like license, and process version, and figures out the IPR links, etc.

[2017-05-11 03:07] marcoscaceres opened #1207 "Investigate switching MD parser to Remarkable"
https://github.com/jonschlinkert/remarkable

[2017-05-11 03:17] marcoscaceres opened #1208 "TypeDefs shouldn't require dfns"
Given:

[code]

One should not need to define Milliseconds, as its defined by the IDL itself.

[2017-05-11 13:32] tobie opened #1214 "Making WebIDL reference normative"
It seems ReSpec references the WebIDL spec informatively when it uses WebIDL syntax which seems weird. See https://heycam.github.io/webidl/#referencing.

[2017-05-12 01:46] marcoscaceres commented on #1214
As stated in the link above, a spec author needs to make a normative assertion in the specification that the IDL must be treated as normative: (i.e., there needs to be at least one "[[!WebIDL]]" somewhere in the spec).

When ReSpec sees "[[!WebIDL]]" it automatically treats all references to WebIDL as normative.

[2017-05-12 05:15] tobie commented on #1214
Well, why doesn't ReSpec handle that for you as soon as you start using WebIDL? Bikeshed does it. It prevents specs like WebRTC only referencING WebIDL informatively.

[2017-05-12 05:16] marcoscaceres commented on #1214
In a different bug someone complained that they wanted to include IDL non-normatively :(

[2017-05-12 05:17] marcoscaceres commented on #1214
We could make it a rule that if you have IDL, then too bad - it's normative.

[2017-05-12 05:19] tobie commented on #1214
So the way Bikeshed handles this is it let's you annotate code blocks as either normative WebIDL or highlighted example code.

[2017-05-12 05:28] marcoscaceres commented on #1214
Yeah, can do that with `<pre class="example idl">` (but idl is currently not something hljs in ReSpec knows how to deal with)... but that's slightly different.

I'm of the opinion that we should have it normative by default (it's what I had in the first place... maybe I can just switch it back if it's causing problems).

[2017-05-17 04:46] marcoscaceres opened #1217 "markdown: Support backticks for webidl"
Would be nice be able to use triple backticks to denote a WebIDL pre.

[2017-05-18 09:34] dhvenema opened #1223 "Github and edDraftURI"
So, github generates the edDraftURI.

As a user I would expect that when both github and edDraftURI are defined, that the edDraftURI would overwrite the generated github URI. Which it does, so that's good. As a user I would also expect that without github defined and with edDraftURI defined, that edDraftURI would still be present in the header, which is currently not happening.

[2017-05-18 09:41] dhvenema opened #1224 "Missing backslash in github.js"
Github.js contains a small type in line 53, resulting in pages not being loaded.
[code]
should be:
[code]

[2017-05-18 09:59] SaschaNaz opened #1225 "respec-w3c-common returns "undefined""
Accessing https://www.w3.org/Tools/respec/respec-w3c-common responds with a single lined "undefined" text. Probably something is broken...

[2017-05-18 10:09] dhvenema commented on #1223
Something similar happens with issueBase. When both issueBase and github are defined, I would expect the pre-defined issueBase to be used for both issues created with data-numbers (which it does) and in the participate header section (which it doesn't).

[2017-05-18 10:31] deniak commented on #1225
Yeah, the [build is broken](https://github.com/w3c/respec/blob/develop/builds/respec-w3c-common.js).

[2017-05-18 10:31] deniak commented on #1225
cc @marcoscaceres

[2017-05-18 10:41] marcoscaceres commented on #1225
Having a look...

[2017-05-18 10:51] #1225 closed

[2017-05-18 10:52] marcoscaceres commented on #1225
Should be good now.

[2017-05-18 11:40] marcoscaceres commented on #1223
So, at least the edDraftURI issue might be happening in the Geonovum fork:
https://github.com/Geonovum/respec/blob/develop/js/geonovum/templates/headers.html#L29

[2017-05-19 09:16] #1224 closed

[2017-05-21 20:48] gkellogg opened #1235 "ReSpec eats <..> sequences from WebIDL"
I've seen this in several places now, looking at https://json-ld.org/spec/latest/json-ld-api/#the-jsonldprocessor-interface, the WebIDL definition looks like the following:

      [Constructor]
      interface JsonLdProcessor {
        Promise<JsonLdDictionary> compact(
          (JsonLdDictionary or sequence<JsonLdDictionary> or USVString) input,
          JsonLdContext context,
          optiona

[2017-05-21 21:07] gkellogg commented on #1235
Driver error, internal processing seems to be the problem.

[2017-05-22 00:51] marcoscaceres commented on #1235
@gkellogg, you need to change:

[code]

to:

[code]

Otherwise, `<JsonLdDictionary>` is seen as a HTML tag.

I could see if it's backwards compatible to take .innerHTML as input for the WebIDL processor.

[2017-05-22 00:58] gkellogg commented on #1235
Doesn't seem to parse right now:

If innerHTML works, that would seem like a good way to go.

[2017-05-22 01:04] marcoscaceres commented on #1235
@gkellogg strange. Having a look.

Maybe both "<" and ">" need to be escaped, as we do in the payments api:
https://w3c.github.io/browser-payment-api/

[2017-05-22 04:00] marcoscaceres commented on #1235
Hmm... so I spent the last 3 hours on this... and got it 99% working... but I'm kinda stuck.

When you do the following (or write it as HTML):

[code]

Ignoring the closing tag there, the browser's HTML parser converts the "tag" "DOMString" to lowercase and I can't see any way to get the origin name of the tag.

[code]
That kinda screws using .innerHTML, because it's losing information. I've asked

[2017-05-22 04:21] domenic commented on #1235
The typical way this is solved is by using an element that can contain unescaped angle brackets, such as `<script type="text/webidl">` or maybe one of the deprecated tags like `<xmp>` or `<plaintext>`.

[2017-05-22 04:27] marcoscaceres commented on #1235
Hmm.... they are all pretty terrible solutions :( I guess if I had to choose,`<script type="text/webidl">` would be the most palatable one.

[2017-05-22 11:00] halindrome commented on #1235
I have addressed this by putting the whole thing in a comment...    The contents of comments in an element are available.  I
probably can find some code somewhere that worked this way if there is
interest.

On Sun, May 21, 2017 at 11:27 PM, Marcos Cáceres <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2017-05-22 11:19] marcoscaceres commented on #1235
I'd recommend not doing that. Using a comment isn't a good fallback if ReSpec or a plugin fails. Let's use script: it most semantically represents what we intend.

[2017-05-22 11:33] marcoscaceres commented on #1235
(Also, you can just keep adding the entities - it's just normal HTML after all)

[2017-05-22 12:56] domenic commented on #1235
How is a comment different from a data-block `<script>`? Both are just documentation.

[2017-05-22 13:09] marcoscaceres commented on #1235
I was imagining setting "display:block; white-space: pre;" to scripts of this kind prior to processing. They would then get processed and replaced with pre elements, as normal.

[2017-05-22 13:32] domenic commented on #1235
Hmm, but ReSpec loads all its stylesheets via script, right? So that would only matter for the case where ReSpec errors out in the middle of processing, but still managed to insert the stylesheet, I guess?

[2017-05-22 13:56] marcoscaceres commented on #1235
Correct.

[2017-05-22 17:53] gkellogg commented on #1235
I did ultimately get this WebIDL to parse right after escaping "<", but it also required some other odd [tweaks](https://github.com/json-ld/json-ld.org/commit/4706e654396e9d3fd5a61f3f41fd856ab42f0f21) that weren't obvious.

[2017-05-22 17:53] #1235 closed

[2017-05-22 23:39] cfdf commented on #1198
[142016516904516NRINTERPRETERSERVICESPORTALFORSMALLCLAIMS (4).pdf](https://github.com/w3c/respec/files/1020515/142016516904516NRINTERPRETERSERVICESPORTALFORSMALLCLAIMS.4.pdf)

[2017-05-23 01:13] marcoscaceres opened #1236 "SoTD text ends up in wrong place when sub sections are included"
given:

[code]

Expected:
[code]

Actual:
[code]

[2017-05-23 05:50] marcoscaceres opened #1237 "Dectect when WebIDL overflows"
Right now, we don't detect when WebIDL overflows. This can be a problem, like in this case:

![screenshot 2017-05-23 15 49 26](https://cloud.githubusercontent.com/assets/870154/26340044/7da7d5c6-3fcf-11e7-9902-c1cfdc6ed1a6.png)
(The SecureContext looks like it's optional!)

When it does, we should set it to "overlarge".

[2017-05-24 00:51] marcoscaceres opened #1238 "caniuse integration"
Would like to dynamically add caniuse integration. Basically, given a "key" or keys would like to read from:

https://github.com/Fyrd/caniuse/blob/master/features-json/

And then display the support. This could be either at the top of a spec, or per section. So:

[code]

And per section:

[code]

[2017-05-26 07:37] #62 closed

[2017-05-26 07:39] marcoscaceres opened #1239 "Convert Editor's Note to normal notes"
... during processing, Editor's Note should become normal notes. The we can remove any CSS that's related to Editor's Note.

[2017-05-31 05:09] marcoscaceres opened #1247 "pre class IDL eats its own CSS classes"
Given:

[code]

Expected:

[code]

Actual:

[code]

[2017-06-01 06:49] #1247 closed

[2017-06-03 06:57] marcoscaceres commented on #1184
This is best handled by WebIDL2.js throwing a parser error. Those errors get displayed to ReSpec users in the pill.

[2017-06-03 09:33] domenic commented on #1184
But it's not a syntax error, it's a semantics error...

[2017-06-03 10:52] marcoscaceres commented on #1184
Ah, my bad. I misunderstood.

[2017-06-04 05:13] #1198 closed

[2017-06-04 05:28] #385 closed

[2017-06-04 05:29] marcoscaceres commented on #416
Mailing lists are no longer required by the w3c + we now have `github` option.

[2017-06-04 05:29] #416 closed

[2017-06-04 05:33] marcoscaceres commented on #453
Snapshots are generated using Electron. It gets the job done nicely - even thought it's a bit huge.

[2017-06-04 05:33] #453 closed

[2017-06-04 05:35] marcoscaceres commented on #269
this doesn't really make too much sense to me. You can't edit the spec in the browser, and saving to github is just using `git push`.

[2017-06-04 05:35] #269 closed

[2017-06-04 05:38] marcoscaceres commented on #457
closing as dup of w3c/respec#331

[2017-06-04 05:38] #457 closed

[2017-06-04 05:42] marcoscaceres commented on #634
Modernized it a bit - now using uglyfy3. Eventually, want to move to webpack #1129

[2017-06-04 05:42] #634 closed

[2017-06-04 08:05] marcoscaceres commented on #473
The new base-runner support async functions as plugins, so the following is a valid plugin:

[code]

[2017-06-04 08:05] #473 closed

[2017-06-04 08:11] marcoscaceres commented on #669
This is now supported, while retaining backwards compat with the old plugin format. However, new plugins added to the project much adhere to the new format.

[2017-06-04 08:11] #669 closed

[2017-06-04 08:34] marcoscaceres commented on #684
What might be nice here is to do something similar to what we do for webidl: set what you are going to cite up the tree, then allow nodes to reference that... so:

[code]

[2017-06-04 09:59] marcoscaceres commented on #651
A link to open an issue is now provided via `github`.

It might be nice to add the ability to select text and file an issue about it, like they have in the WHATWG specs.

[2017-06-04 10:03] marcoscaceres commented on #651
In the URL, one can do:
 * title=
 * body=

[2017-06-04 10:03] #684 closed

[2017-06-04 10:04] marcoscaceres commented on #1148
Not running `prepublish` on install will be great, because currently it generates respec... definitely don't want that.

[2017-06-04 10:04] #1148 closed

[2017-06-04 10:50] marcoscaceres commented on #775
removed by https://github.com/w3c/respec/pull/1144

[2017-06-04 10:50] #775 closed

[2017-06-04 10:56] marcoscaceres commented on #1159
Trying this one last time: https://github.com/w3c/respec/pull/1253

[2017-06-04 11:02] marcoscaceres commented on #1159
Seems ESR is still a pile of garbage - it doesn't behave the same as 52. Sorry, won't be able to support it because I won't be able to test on it. Will try again in a year or so.

[2017-06-04 11:02] #1159 closed

[2017-06-04 14:34] marcoscaceres commented on #900
Duplicate of https://github.com/w3c/respec/issues/394

[2017-06-04 14:34] #900 closed

[2017-06-04 14:38] marcoscaceres commented on #789
Superseded by UglyfyES

[2017-06-04 14:38] #789 closed

[2017-06-04 14:42] marcoscaceres commented on #615
Node8 has utils.promisify() so don't need this

[2017-06-04 14:42] #615 closed

[2017-06-04 14:51] marcoscaceres commented on #829
It's best to add the date/time via 'title='.

[2017-06-04 14:51] #829 closed

[2017-06-05 08:32] #1236 closed

[2017-06-07 00:59] steverep commented on #425
This issue has some fairly old commits - are they ready?  I'm a screen reader user and a member of the AGWG, and I'd really like to see this permalink issue and #827 put to rest.  It's quite annoying navigating the various drafts I'm trying to review, not to mention it's a WCAG failure (and ironically being used to publish WCAG 2.1 drafts).  If resources are the issue in getting it fixed, please l

[2017-06-07 02:37] sandhawke opened #1256 "Timezone affects dates"
publishDate, previousPublishDate, and crEnd (at least) are displaying (and being saved) off by one day. It's set to 2017-06-08 and displays as 20170607.

Workaround is change system timezone from EST to BST.

Observed in Firefox 53.0.3 and Chromium 58.0.3029.110 on Ubuntu 17.04.

(Amusingly, this comment shows up in github as being made "10 hours from now", now that I've been messing with my syste

[2017-06-07 02:49] marcoscaceres commented on #1256
Heh. Sorry about this. I switched to using the system default and `Date.parse()`. But still, it's weird that it's off by one day, as it's just supposed to use the dates gives... date/time is hard.

[2017-06-07 02:54] marcoscaceres commented on #1256
Oh, wait... those are parsed relative to UTC, which might explain the off by one. I'll poke around and see if the `Intl.DateTimeFormat()` can help.

Seems one can also do something like:

[code]

So presumedly, that allows formatting the string as well.

[2017-06-07 04:01] marcoscaceres commented on #425
Definitely not ready. I wonder if for those specs the permalinks should be disabled (there is a ReSpec option that is adding them). I need to rewrite all that code and to understand exactly what is needed.

[2017-06-07 10:46] halindrome commented on #425
Hmm.  I was sure that I fixed this.   Let me take a look at that branch.

On Tue, Jun 6, 2017 at 11:01 PM, Marcos Cáceres <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2017-06-07 23:43] marcoscaceres commented on #1256
Note to self:

[code]

[2017-06-08 09:32] marcoscaceres commented on #1256
@sandhawke, you can set real JS date objects for each of those, which will be in your computer's timezone:

[code]

[2017-06-08 09:35] marcoscaceres commented on #1256
For "previousPublishDate", you are probably safe using an ISO date string: "2010-11-01" or whatever. But the other two you set them as needed - or set them explicitly through JS.

I'll leave this open so I remember to update the docs.

[2017-06-08 10:33] sandhawke commented on #1256
You're saying there's no way for respec to just do the right thing?   This isn't one of those timezone cases that's just weird.  This is simple - the output should be implicitly in whatever timezone the input is considered to be in, so it doesn't matter what zone that is.   It just has to be the same.    Right?

[2017-06-08 10:57] marcoscaceres commented on #1256
There is, but I'm just suggesting a quick fix for you.

Yes, but right now it's using UTC because I'm using the Date.parse(). It's not difficult to fix, but I need to find a spare hour to fix it. I usually try to do bug fixes if I'm bored on the weekend or if it's directly affecting a spec I work on.

If you want to have a go at fixing it, search for "humanDate" in src/core/utils.js.

[2017-06-08 13:27] plehegar opened #1258 "respec borken in Edge 15?"
@jdsmith3000 reported having troubles with respec. It appears that it is broken in Edge 15:
[[
Current window: w3c.github.io/hr-time
TypeError: Unable to get property 'entries' of undefined or null reference
respec-w3c-common (1,470257)
   {
      [functions]: ,
      __proto__: { },
      description: "Unable to get property 'entries' of undefined or null reference",
      message: "Unable to get

[2017-06-08 13:33] marcoscaceres commented on #1258
Thanks, will take a look first thing tomorrow

[2017-06-11 12:13] #1256 closed

[2017-06-12 00:15] #1107 closed

[2017-06-12 02:09] marcoscaceres commented on #504
Not sure if this is still useful to you, @iherman, but I'm adding:

 * publishISODate
 * generatedSubtitle
 * query params as you mentioned above.

[2017-06-12 02:36] #504 closed

[2017-06-12 04:56] marcoscaceres opened #1263 "Remove idlExceptionTmpl and related code"
There is still IDL exception code in webild.js, which is now redundant an can be removed.

[2017-06-12 07:08] iherman commented on #504
@marcoscaceres thanks. I will not change my post processor now, following the "Ain't broken, don't fix it" principle, but it is good to have this nevertheless!

[2017-06-12 11:10] #1263 closed

[2017-06-12 12:57] #1085 closed

[2017-06-12 21:35] gkellogg commented on #1161
Ping, this is still biting.

[2017-06-13 03:50] marcoscaceres commented on #1258
confirmed... Edge doesn't implement URLSearchParam... adding a polyfill.

[2017-06-13 04:08] #1258 closed

[2017-06-13 05:07] marcoscaceres commented on #1161
Will try to work on this next. Happy if anyone else wants to pick this up tho.

[2017-06-13 20:30] jdsmith3000 commented on #1258
Tried it just now.  Worked fine.

[2017-06-14 01:04] tantek opened #1272 "Respec is errantly subtracting 1 day from previousPublishDate and publishDate"
Example: https://tantek.github.io/post-type-discovery/index-wd-src.html (respec generated)

Opened in Firefox 53.0.3.

1. Respec is screwing up previousPublishDate

View source

it has:         previousPublishDate: "2017-03-01",
(which is correct)

the visible page shows (and links to)

"
Previous version:
https://www.w3.org/TR/2017/WD-post-type-discovery-20170228/
"

Why is respec subtracting a d

[2017-06-14 01:12] dissolve commented on #1272
This is happening to me as well.  I had to adjust the html after saving a static html version.

[2017-06-14 03:27] marcoscaceres commented on #1272
@tantek, @dissolve, could you kindly confirm you are using ReSpec 14.0.2? You can do this by clicking on the ReSpec pill, and selection "About ReSpec..." (or type `window.respecVersion` in the dev console). If you are still on an old ReSpec, give it a "shift-refresh".

I introduced that bug by accident a few days ago, but I thought [I'd fixed it](https://github.com/w3c/respec/pull/1259). It happen

[2017-06-14 04:33] #1196 closed

[2017-06-14 05:33] marcoscaceres commented on #1258
Excellent to hear. I've also updated the test suite so it works better with Edge. Edge has several limitations that don't allow us to test it using continuous integration - so if other stuff breaks in the future, please let me know.

[2017-06-14 13:26] dissolve commented on #1272
Tested just now (9:20 AM Eastern), And Its still doing it, on 14.0.4
source has
`publishDate: "2017-06-14",`

resulting file has
<pre>
      "publishDate": "2017-06-14",
...
      "publishISODate": "2017-06-14T00:00:00.000Z",
      "generatedSubtitle": "Working Draft 13 June 2017"
...
&lt;h2 id="w3c-working-draft-13-june-2017"&gt;&lt;abbr title="World Wide Web Consortium"&gt;W3C&lt;/abbr&gt; Worki

[2017-06-15 05:09] marcoscaceres commented on #1272
@dissolve very strange... will see if I can figure out what's going on.

[2017-06-15 05:10] marcoscaceres commented on #1272
(if you need a temporary work around, you can use a JS object)

[code]

[2017-06-15 05:22] marcoscaceres commented on #1272
Actually, probably safer to do:

[code]

Will try to figure out why it's converting to UTC on output.

[2017-06-15 10:06] marcoscaceres commented on #1272
I decided to treat everything as UTC - otherwise, it turns into timezone insanity (and should stop strange things from happening, because dates are given for everything, so they are explicit ISO dates, which are UTC). Sending a PR.

[2017-06-16 01:45] #1272 closed

[2017-06-16 01:55] marcoscaceres commented on #1272
@dissolve, could you please let me know if it's ok now 🤞

[2017-06-16 01:58] marcoscaceres commented on #1272
(actually, give it a minute if you just saw this... currently being released... version should be 14.0.5)

[2017-06-16 13:20] dissolve commented on #1272
Yikes, this actually made it worse for me.
I'm now on 14.0.6
tested this morning at 09:15am EDT
source file:
`         publishDate: "2017-06-16",`

resulting in

<pre>
      "publishDate": "2017-06-16",
...
      "publishISODate": "2017-06-15T00:00:00.000Z",
      "generatedSubtitle": "Working Draft 14 June 2017"
...
    &lt;h2 id="w3c-working-draft-14-june-2017"&gt;&lt;abbr title="World Wide Web

[2017-06-16 15:28] dissolve commented on #1272
So, i have explored a little bit further.
in src/w3c/headers.js
[code]
changing this to just
[code]
fixes the issue, IF I do not set a publishDate in the source document.
If I do, it assumes that the set value is UTC, when it hits this line,
it changes outputs it in localtime, and we get
'2017-06-16'
changed to 'Thu Jun 15 2017 20:00:00 GMT-0400 (EDT)'

I feel like the correct way to solve the iss

[2017-06-16 15:37] dissolve commented on #1272
actually, setting timeZone in ISODate fixes the rest of them too
export const ISODate = new Intl.DateTimeFormat(["en-ca-iso8601"], {
  timeZone: "UTC",

So its just a matter of forcing the timezone to be UTC for set values of publishDate where the timezone is not set.

[2017-06-16 15:51] dissolve commented on #1272
ignore all I said before... created a PR that solves the issues for me, everything gets output with the correct date whether publishDate is set or not.

[2017-06-20 10:04] ldodds opened #1281 "Custom logos broken?"
I've got a specification [here](https://github.com/openactive/modelling-opportunity-data/blob/master/EditorsDraft/index.html) that relies on a custom logo. It's been working OK (there's a previously built version [here](https://www.openactive.io/modelling-opportunity-data/EditorsDraft/).

But I'm currently making local revisions and finding that the logo is now displaying like this:

![screenshot

[2017-06-20 10:15] marcoscaceres commented on #1281
Oh, sorry about that. I think I forgot to update the CG template in a recent update. I'll fix it later today or first thing tomorrow.

[2017-06-20 10:18] ldodds commented on #1281
That would be great, I need to publish 4 updated draft documents from our CG today or tomorrow

[2017-06-20 10:24] ldodds opened #1282 "Example titles display incorrectly"
The examples in our CG specification originally looked liked this:

![screenshot from 2017-06-20 11-21-55](https://user-images.githubusercontent.com/109082/27328673-d64519be-55aa-11e7-9293-fddb0ec91a94.png)

In the latest respec they're displaying as follows:

![screenshot from 2017-06-20 11-22-12](https://user-images.githubusercontent.com/109082/27328681-e080493a-55aa-11e7-9370-73cbdae9aa85.png)

[2017-06-20 10:27] ldodds commented on #1282
This is the markup that I get now:

[code]

[2017-06-20 10:29] marcoscaceres commented on #1282
Ah, that's a missing css rule. Will fix in tge next 24 hours.

[2017-06-20 13:07] marcoscaceres commented on #1282
@ldodds, do you have a link to the spec that is being affected?

[2017-06-20 13:10] marcoscaceres commented on #1281
fix incoming... just waiting for TravisCI to finish

[2017-06-20 13:18] #1281 closed

[2017-06-20 13:21] ldodds commented on #1282
Yes, source is here: https://github.com/openactive/modelling-opportunity-data/blob/master/EditorsDraft/index.html

[2017-06-20 13:28] marcoscaceres commented on #1282
@ldodds, I've not been able to reproduce the above. Can you check again for me in ReSpec 14.0.10 that I just released? (you can check the version by clicking on the ReSpec pill => About ReSpec)

[2017-06-20 13:30] ldodds commented on #1282
@marcoscaceres I've just done a hard refresh and the issue seems to be resolved. All displaying fine now (and the logo!).

Thanks for quick turn around.

[2017-06-20 13:30] #1282 closed

[2017-06-20 13:32] marcoscaceres commented on #1282
No problem. Sorry my oversight on the CG logos. Will make sure to add a test for that.

[2017-06-20 13:33] marcoscaceres opened #1284 "Make sure cg-headers is tested"
Seems we are lacking tests for cg-headers. We can just reuse the headers.html tests.

[2017-06-21 03:33] domenic opened #1285 "ReSpec biblio processing broken in Firefox?"
See https://github.com/WICG/web-share/issues/41 (including comment with a stack trace) and https://wicg.github.io/web-share/. Notice the lack of biblio and linking to other specs, and the progress indicator that spins for a very long while before giving up.

However, in that issue Matt reports it works in his Firefox, so the first thing to do is confirm this happens on someone else's computer...

[2017-06-21 03:37] marcoscaceres commented on #1285
thanks, having a look!

[2017-06-21 03:39] marcoscaceres commented on #1285
confirmed in Firefox 53. Checking 54. Works fine in nightly.

[2017-06-21 03:43] marcoscaceres opened #1286 "double logo in CG specs"
CG specs are getting two icons for some reason.

![screenshot 2017-06-21 13 40 29](https://user-images.githubusercontent.com/870154/27366136-82d9668a-5687-11e7-9da1-1dbd916212b5.png)

[2017-06-21 06:35] marcoscaceres commented on #1223
Talked to dhvenema a bit more. The use case is:

"I have a bug tracker X" but would still like to work on github, but not use GH issues.... so, we need to make `bugTracker` override the issue base and possibly other things.

[2017-06-21 06:49] #1286 closed

[2017-06-21 08:45] marcoscaceres commented on #1285
I'm hitting a [gecko bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1362878) that seems to be fixed in Nightly.

[2017-06-21 09:51] #1285 closed

[2017-06-21 22:58] awoods opened #1290 "Breaking Change: Preface / Editors / Boilerplate / etc section missing"
As of https://github.com/w3c/respec/commit/7e28f119062b0fdd4f0fc50299d2dbdb7e69962e the prefatory information is missing.

Was this change intentional? If not, it appears to be a critical bug... or are there release notes that I am missing?

[2017-06-21 23:17] marcoscaceres commented on #1290
Do you have a link to the spec being affected? Not intentional.

[2017-06-21 23:18] awoods commented on #1290
http://fedora.info/spec/

[2017-06-21 23:19] marcoscaceres commented on #1290
@awoods, thanks! Will get that fixed for you.

[2017-06-21 23:38] marcoscaceres commented on #1290
Ok, PR incoming... it was crashing because of missing `alt:` attribute on the logo :) You might want to add a `alt`, `width`, and `height`.

Also, I guess you don't want the w3c logo if it's unofficial, right?

[2017-06-21 23:46] awoods commented on #1290
Thanks, I will update the logo. As for the w3c... either way is fine.

[2017-06-21 23:51] marcoscaceres commented on #1290
I'm sending a separate PR for making the w3c logo go away.

Just waiting for TravisCI.... SOOO SLLLOOOWW TODAY!!!!!

[2017-06-22 00:23] #1290 closed

[2017-06-22 01:38] awoods commented on #1290
Thanks for the help with this, @marcoscaceres .
Do you have any idea why the `title` is now squished off to the left?
http://fedora.info/spec/

[2017-06-22 02:22] marcoscaceres commented on #1290
I think it's just that the fedora logo is a bit too large. We designed the template to only accommodate small logos. Try setting the logo to around 70px in height.

[2017-06-22 06:21] michael-oneill opened #1294 "Respec not working today"
The Respec library seems to have a bug today. On Chrome https://w3c.github.io/dnt/drafts/tracking-dnt.html shows a blank screen, on Firefox it does not show the Title or the TOC column.

[2017-06-22 07:00] marcoscaceres commented on #1294
@michael-oneill, trying to get it going again.

[2017-06-22 07:21] marcoscaceres commented on #1294
Fix inbound https://github.com/w3c/respec/pull/1296 ... just waiting for tests to finish.

[2017-06-22 07:39] marcoscaceres commented on #1294
... and we are back!

[2017-06-22 07:39] #1294 closed

[2017-06-22 13:14] awoods commented on #1290
Much better.
http://fedora.info/spec/
Thanks again, @marcoscaceres .

[2017-06-22 14:25] michael-oneill commented on #1294
Yay!

[2017-06-22 16:47] beverloo opened #1297 "IDL parser doesn't seem to like record<K, V>"
Basically, when I add the following snipped to a `<pre class="idl">` block the parser seems to stop working:

[code]

No related information is shared in the error or warning bubbles, but a console error is observed (which admittedly isn't very useful either):

[code]

I'll use @tobie's `pr-preview` integration to get an example illustrating this...

[2017-06-22 16:58] beverloo commented on #1297
See:
https://github.com/w3c/push-api/pull/269
https://s3.amazonaws.com/pr-preview/beverloo/push-api/record-fix.html#pushsubscription-interface

[2017-06-23 02:22] marcoscaceres commented on #1297
Thanks! will take a look soon at what's going on.

[2017-06-23 04:31] #1297 closed

[2017-06-27 20:50] awoods opened #1301 "Stable Release URL"
Is there a stable release URL that we can use to avoid unexpected breaking changes?
..or is the suggestion to host a local copy?
http://fedora.info/spec/

[2017-06-27 23:09] marcoscaceres commented on #1301
Not on the w3c version - it's always bleeding edge (because we like to live dangerously🔥). If you want to host your own, it's easy to build a particular version.

Just clone the repo, and then:

[code]

The built bundle ends up in `builds/`, which you can host on your own server.

You can then pull and test against your own specs.

You also have the option of hosting your own fork on github - with

[2017-06-27 23:11] marcoscaceres commented on #1301
(note the you can even serve your own version off github pages, which means you don't need to worry about hosting or anything)

Also, if stuff breaks, please file bugs and let us know. Breaking stuff is no fun, obviously, so helping us better test things really helps.

[2017-06-27 23:11] awoods commented on #1301
Thanks, @marcoscaceres

[2017-06-27 23:11] #1301 closed

[2017-07-05 13:02] dontcallmedom opened #1309 "Do not signal missing definitions for methods marked with [Default]"
The name extended attribute [`Default` defined in WebIDL](https://heycam.github.io/webidl/#Default) allows to define the `toJSON` method as having the default behavior; in that case, I think it would make more sense if ReSpec didn't warn about it if there is no in-line definition (and possibly, instead directly link to the default definition given in the WebIDL spec)

[2017-07-06 02:33] marcoscaceres commented on #1309
@dontcallmedom I'm probably totally wrong here, so please correct me, but the problem I see is that "Default" can mean different things depending on what the extended attribute is applied to.

We could make ReSpec smarter, however, whereby if it sees "`Default`" and "`toJSON`" then it links to the "#default-tojson-operation".

[2017-07-06 03:11] marcoscaceres commented on #1309
Actually, my suggestion above wouldn't be good. I think spec authors should have to explicitly define `toJSON()` as:

[code]

I know it's a bit more work - but otherwise just linking to "Default" doesn't help the reader so much, because they then need to go and figure out what the default for `toJSON()` is. Not defining `toJSON()` would also make specs inconsistent, because ReSpec forces you to de

[2017-07-06 07:55] tobie commented on #1309
So we don't really have plans right now to use [Default] beyond `toJSON`.

I'd encourage you to link it directly and I'll let you know if we ever extend it.

[2017-07-06 08:20] marcoscaceres commented on #1309
Ok, so tasks here:

* [ ] filter out `toJSON()` from wanting.
* [ ] replace current Default link location with #default-tojson-operation.

Will try to get to it soon.

[2017-07-06 22:27] marcoscaceres commented on #1309
Ok, I did one better... now automatically links toJSON and [Default] ... and also gives Editors to define `toJSON()`, if they wish for it to be included in the ToC ... like we do for Payment Request.

[2017-07-06 22:28] marcoscaceres commented on #1309
fixed typo above.

[2017-07-07 14:01] tidoust opened #1313 "Spec rendering borked in Edge due to unwrapped "querySelectorAll" calls"
Edge does not support `forEach` on the structure returned by `querySelectorAll`. These calls need to be wrapped into `Array.from` calls. That's basically done throughout ReSpec code... except:

- in [`src/core/id-headers.js`](https://github.com/w3c/respec/blob/develop/src/core/id-headers.js#L8), because of a [recent change](https://github.com/w3c/respec/commit/c1a7be5890bd8b136418609074dec86cd2e75

[2017-07-07 14:03] tidoust opened #1314 "linter.js crashes on MS Edge due to use ":scope" selector"
MS Edge does not support the `:scope` selector used in [`linter.js` L42](https://github.com/w3c/respec/blob/develop/src/w3c/linter.js#L42) and throws a `SyntaxError`.

[2017-07-10 09:54] marcoscaceres commented on #1313
Thanks, fixing...

[2017-07-10 10:34] #1313 closed

[2017-07-10 10:34] #1314 closed

[2017-07-10 22:46] awoods opened #1317 "Respec License"
I am not seeing a license file or statement on respec. Can you clarify which license applies to this software?

[2017-07-11 05:51] marcoscaceres commented on #1317
https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document

I'll add an explicit license file. It's currently in the package.json

[2017-07-11 13:47] awoods commented on #1317
Thanks, @marcoscaceres .
Please feel free to close this issue after a license file has been added.

As a side note, the reason I brought up this issue is because we are now trying to insulate our site/specification from potential changes and breakage caused by referencing the bleeding-edge of respec. We are now serving a local copy and wanted to make sure that that was within the terms of the lice

[2017-07-12 09:10] marcoscaceres commented on #1317
Should be fine. I'm going to see if I can move ReSpec to a C0 license in the next few months.

Let me know if you need help setting up a custom profile and tests for your project.

[2017-07-12 13:08] awoods commented on #1317
Thanks, @marcoscaceres .

Is your comment about "custom profile and tests" related to the current issue, or https://github.com/w3c/respec/issues/1301 ?

In any case, if you have pointers on how to set up such a profile and tests, I would be interested to explore.

[2017-07-13 11:57] futpib opened #1318 "Warn when href points to undefined id"
Wouldn't it be super nice if respec warned you when you have an `a[href="#that"]` but no `[id="that"]`? Or maybe I'm not doing referencing right and there is a feature for that (instead of defining `id` attribute explicitly)?

I find it very helpful that respec highlights links like `<a>Something</a>` when there is no `<dfn>Something</dfn>` in the document. Similarly, I wish it highlighted `<a hre

[2017-07-13 12:00] futpib commented on #1318
Oh and I'm willing to submit a PR for this, so please let me know if it's desirable.

[2017-07-17 05:08] marcoscaceres commented on #1318
**In theory**, you shouldn't need the above, as all referencing is done via `<a data-lt="whatevs">thing</a>` or just `<a>whatevs</a>`.

**In practice**, however, it might be useful so would certainly welcome a PR (maybe a linter rule?). However, what would be more useful, is the reverse: situations where `dfn` is defined in a document but never used: https://github.com/w3c/respec/issues/904

[2017-07-17 05:44] marcoscaceres commented on #1317
Sorry for the delay, was on vacation

#1301 I would say.

Added some info about custom profiles and testing here:
https://github.com/w3c/respec/wiki/Developers-Guide#custom-profiles

Here is an example of another org using a custom profile:
https://github.com/Geonovum/respec/blob/develop/js/profile-geonovum.js

[2017-07-17 06:05] #1317 closed

[2017-07-18 13:39] #1182 closed

[2017-07-18 13:57] palemieux commented on #1182
OK. FYI. This is semantically unexpected (since a table caption is not really a definition), and not specified in the documentation.

[2017-07-18 14:14] marcoscaceres commented on #1182
Interesting, I'd just assumed that would be semantically fine. I'm open to better suggestions on markup usage.

[2017-07-18 14:21] palemieux commented on #1182
I would use `id` just like figures:
[code]

[2017-07-19 04:40] sandhawke opened #1323 "No translations link?"
[Pubrules](https://www.w3.org/pubrules/doc/rules?profile=REC) says:

Not hard to add by hand, but I'm surprised respec doesn't do it.

[2017-07-19 05:52] marcoscaceres commented on #1323
Good catch... just sent a PR

[2017-07-19 06:48] #1323 closed

[2017-07-19 23:43] marcoscaceres opened #1327 "Fragment identifiers end up with invalid characters."
Or else validator gets upset:
https://lists.w3.org/Archives/Public/public-tr-notifications/2017Jul/0027.html

[2017-07-20 03:36] #1327 closed

[2017-07-23 16:39] #1165 closed

[2017-07-27 03:15] #1126 closed

[2017-07-27 06:14] marcoscaceres opened #1335 "Random document.body races still occuring"
Should switch from `if(document.body)` to `if("body" in document)" in a few places

* [ ] profile
* [ ] aria

Etc.

[2017-07-27 06:53] marcoscaceres opened #1336 "Google getting wrong description"
Because specs lack `<meta description>`, Google is getting confused and grabbing the wrong sentence:

![screenshot 2017-07-27 16 51 53](https://user-images.githubusercontent.com/870154/28657822-09867684-72ec-11e7-9131-d9a190fa8755.png)

We should consider adding `<meta description>`

[2017-07-27 06:54] marcoscaceres commented on #1336
Actually, the above description of the bug is wrong... Google is showing keywords matched. Need to check further if `<meta description>` would actually help.

[2017-07-27 06:57] #1335 closed

[2017-07-27 09:53] marcoscaceres opened #1339 "improve isPreview text"
See:
https://github.com/w3c/respec/pull/1334#issuecomment-318301008

Can add bit of magic, and allow linking back to pull request.

[2017-07-27 14:36] marcoscaceres commented on #1336
We did some checks, and looks like description would totally work... so we are thinking of shoving the first paragraph of the abstract into the description.

[2017-07-28 02:30] marcoscaceres opened #1342 "Investigate bug related to duplicate issue ids"
https://github.com/w3c/payment-handler/pull/195#issuecomment-318536333

[2017-08-03 13:05] tobie opened #1345 "PR Preview / respecDocWriter reporting issues."
PR Preview is getting a bunch of issues building (certain) ReSpec-based specs.

PR Preview relies on the [spec-generator web service](https://github.com/w3c/), which itself relies on https://github.com/w3c/respec/blob/develop/tools/respecDocWriter.js.

Unfortunately, the only error spec-generator manages to surface is "😱 ReSpec error: null" which seems to relate to the following seemingly race-con

[2017-08-03 13:10] iherman commented on #1345
Actually, I have regenerated a new PR for the document and

https://github.com/w3c/pwpub/blob/c728570d629fa7cc408afa3065930feb7cbf95fd/index.html

has the `async` now. Ie, that may not be the problem.

[2017-08-03 13:19] tobie commented on #1345
Okay, so when following the links manually, on the first navigation, I get a completely blank screen, dumping the content of the DOM tree (copy/paste from the console on Chrome) looks like this

[code]
The errors in the console are:

[code]

[code]
[code]

[2017-08-03 13:23] tobie commented on #1345
(Bringing this to your attention @marcoscaceres, because it seems to break pr-preview for a number of people using ReSpec.)

[2017-08-05 06:22] marcoscaceres commented on #1345
@tobie, I think the spec generator might be out of date (I fixed the above bug a few days ago). I'll ask them to update ReSpec.

[2017-08-05 06:24] marcoscaceres commented on #1345
@deniak ^^^ actually, given that you are already tagged. Can you make sure the spec generator is using at least 15.7.4?

[2017-08-07 08:08] deniak commented on #1345
@marcoscaceres that's already the case. I updated respec thinking it'll solve the issue after @tobie ping me

[2017-08-07 08:19] marcoscaceres commented on #1345
@deniak ok, thanks for confirming. I will yank out the code that causing this problem. It was a hack anyway.

[2017-08-07 10:06] #998 closed

[2017-08-07 10:07] #1039 closed

[2017-08-07 10:08] marcoscaceres commented on #1039
Wfm

[2017-08-08 03:49] #20 closed

[2017-08-09 04:55] marcoscaceres opened #1351 "Investigate automatic pluralization of defined terms"
Would be nice to not have to do `<dfn data-lt="things">thing</dfn>` in specs.

https://github.com/blakeembrey/pluralize

[2017-08-09 05:12] marcoscaceres opened #1352 "Expand <a data-cite></a>"
Be cute if given an empty:

[code]

It would expand to:
[code]

That would auto handle specs being renamed, etc.

[2017-08-09 05:48] marcoscaceres commented on #1352
Actually, cooler would be [[[FOO]]] expands out.

[2017-08-09 07:37] yatil opened #1353 "Parentheses in IDs"
I just noted that automatically generated IDs in respec do not remove parentheses from the ID value, resulting, for example, in URLs like this:

Having parentheses is not only hard to type, but they are also quite uncommon in URLs. Email clients sometimes struggle with those characters when linking them, too, resulting in missing the last `)`, therefore breaking the link.

Can respec just ignore p

[2017-08-09 08:12] marcoscaceres commented on #1353
Stripping those characters is doable (I agree... they are super ugly), but it risks the id not longer being unique so might be a bit tricky.  Need to check what the impact would be.

[2017-08-09 22:21] michael-n-cooper commented on #1353
It used to be the behavior that respec would trim parentheses. The example that triggered this issue is that in a WCAG 2.1 publication of 30 June, parentheses were trimmed in generated IDs, as in https://www.w3.org/TR/2017/WD-WCAG21-20170630/#audio-only-and-video-only-prerecorded, while in a 28 July publication of the same document they are not, as in https://www.w3.org/TR/2017/WD-WCAG21-20170728/

[2017-08-09 22:32] michael-n-cooper commented on #1353
BTW the reason I'm pretty sure that commit is where the regression came in is, if I run the code in deleted lines 167 - 170, I get the previous result with parentheses excluded, while if I run the replacement code in added lines 171 - 174 I get the new result with parentheses left in. I tested this in a browser console with:

/* old version, result is "audio-only-and-video-only-prerecorded" */
ale

[2017-08-10 01:21] marcoscaceres commented on #1353
Thanks for checking, @michael-n-cooper. I need to look back a bit further as to why I made the change in the first place. I'll see about re-introducing the `.split(/[^-.0-9a-z_]+/i)` part.

[2017-08-10 08:01] yatil commented on #1353
Thanks, @michael-n-cooper, for the excellent research!

[2017-08-11 16:32] siusin opened #1356 "How to define a method in a partial interface?"
We received a warning in the Beacon spec that there is no `<dfn>` for sendBeacon in Navigator,
 see [#47](https://github.com/w3c/beacon/issues/47).

We would like to fix this bug, but the [suggested method ](https://github.com/w3c/respec/wiki/WebIDL-thing-is-not-defined) doesn't really apply to the partial interface `Navigator` here.

Is there a good way to define a `Method()` when the definition

[2017-08-11 23:36] xfq opened #1357 "RangeError: date value is not finite in DateTimeFormat.format()"
Spec: https://w3c.github.io/html-media-capture/?specStatus=CR;previousMaturity=CR;previousPublishDate=2017-05-04/;crEnd=2017-06-27;publishDate=2017-08-24

Web Console in Firefox DevTools emits the following error:

[code]

-----

* Firefox version: 54.0.1 (64-bit)
* OS: macOS 10.12.6

[2017-08-12 01:49] marcoscaceres commented on #1357
The "/" after 04 in previousPublishedDate seems to cause the error (as it makes the date malformed).

Try:
https://w3c.github.io/html-media-capture/?specStatus=CR;previousMaturity=CR;previousPublishDate=2017-05-04;crEnd=2017-06-27;publishDate=2017-08-24

[2017-08-12 06:13] marcoscaceres commented on #1357
Working on a patch to gracefully handle the errors, and have ReSpec yell about invalid dates.

[2017-08-13 01:32] xfq commented on #1357
I see. Thanks for the hint!

[2017-08-13 12:37] #1357 closed

[2017-08-14 05:10] marcoscaceres commented on #1356
I've tried to fix the documentation to be more clear.

[2017-08-14 05:43] marcoscaceres opened #1360 "Integrate reffy support"
See:
https://github.com/tidoust/reffy

would be nice to have it as a linter module.

[2017-08-14 05:45] marcoscaceres commented on #1360
Will need @tidoust and @dontcallmedom to help me figure out the details. Maybe we can chat about how I could add support at TPAC?

[2017-08-14 06:28] marcoscaceres opened #1361 "Unknown linter warning"
ReSpec is spitting out a random "unknown" linter warning on some specs.

[2017-08-14 08:35] #1361 closed

[2017-08-14 08:50] siusin commented on #1356
Thanks!

[2017-08-15 02:10] marcoscaceres opened #1363 "Reuse cb() for requestIdleCallback"
ReSpec modules sometimes have a `cb()` that is currently a no-op... we could basically repurpose the `cb()` to create a `requestIdleCallback()` queue for super low priority stuff.

[code]

[2017-08-15 11:33] iherman commented on #1345
The problem is still there; I am not sure whether the latest merge was meant to solve the issue.

Here is the PR:

https://github.com/w3c/wpub/pull/33

The file works properly when rawgit is used manually:

https://rawgit.com/w3c/wpub/6f47335caf1c02fb97b4be100f2f5fd366bf3c70/index.html

But the preview does not appear.

(I am just the user, no idea what is happening inside, but @tobie asked me to

[2017-08-15 11:35] tobie commented on #1345
This seems to be the same race conditions as before.

I can repro the issue on first load, but on the second load, it seems to run normally.

[2017-08-17 15:13] tidoust commented on #1360
Very happy to discuss that, @marcoscaceres! @dontcallmedom and I will both be at TPAC. I'll try to flesh out some thoughts on ways to do that by then.

[2017-08-18 04:03] marcoscaceres commented on #1360
Should I be installing Reffy on https://respec.org (it's currently down, don't bother clicking on that link)? or is there a REST interface available somewhere else? I guess I will still need to interface with Reffy from respec.org as to not leak the API key.

Otherwise, I would need to bake a W3C API key into ReSpec, but that makes it easy for anyone to steal.

[2017-08-18 11:27] herrjemand opened #1367 "Override logo just adds another logo to the document"
Hey guys, I am trying to override W3C logo with our own logo, but it seems to just add this logo next to ours.

<img width="859" alt="screenshot 2017-08-18 12 26 52" src="https://user-images.githubusercontent.com/1636116/29457124-8c163e60-8410-11e7-9927-389fe7e24636.png">

How do I set it to non-w3c mode anyway?

[2017-08-19 15:43] iherman commented on #1345
I am not sure it is related, but it might. Several of us have experienced a problem on Firefox when displaying, eg, https://w3c.github.io/wpub/, that the processing does not happen and one has to reload the page. It may be a race condition, and it may be related.

[2017-08-19 16:15] marcoscaceres commented on #1345
Will try to take a look tomorrow. If you can capture any console errors or steps to reproduce, that's hugely helpful.

[2017-08-19 17:06] mattgarrish commented on #1345
I've been having the problem in Chrome, with the result of only a partial load. Here's what I've been getting in the console:

[code]

[2017-08-20 00:41] marcoscaceres commented on #1367
@herrjemand as this particular profile is set up for W3C specs, I think it always injects the logo and a bunch of things tagged with "W3C" (e..g, above it says "W3C Working Draft",  and it injects the w3c styles for W3C Working Draft, and so on).

If you want a profile of ReSpec without all the w3c stuff (i.e., a Fido Alliance Profile), you will need to make a custom profile ([small guide](https:/

[2017-08-20 00:43] marcoscaceres commented on #1356
I think we solved this, so closing. As always, if you have any suggestions for improving things, let me know!

[2017-08-20 00:43] #1356 closed

[2017-08-20 01:53] marcoscaceres commented on #1345
did a couple of thousand runs of ReSpec's test suite randomizing async/defer/sync on tests across Safari, Chrome, and Firefox (cache enabled and disabled), but was still unable to get it to crash or throw any errors :(

[2017-08-20 02:27] marcoscaceres commented on #1206
closed via https://github.com/w3c/respec/pull/1332

Defaults are:
https://github.com/w3c/respec/blob/develop/src/w3c/defaults.js#L50

[2017-08-20 02:27] #1206 closed

[2017-08-20 02:29] marcoscaceres commented on #1336
closed via https://github.com/w3c/respec/pull/1364

[2017-08-20 02:29] #1336 closed

[2017-08-20 02:35] marcoscaceres commented on #640
Seems that w3c is sticking to 2016 for styles for now.... hopefully they will just remove the year, which was a stupid idea to start with.

[2017-08-20 02:35] #640 closed

[2017-08-20 02:37] marcoscaceres commented on #873
We can probably do better, and always convert to UTF-8 on save via Encoding API.

[2017-08-20 05:32] siusin commented on #1356
Thank you for looking into this!

[2017-08-20 07:42] tobie commented on #1345
Can you reproduce the issue described in https://github.com/w3c/respec/issues/1345#issuecomment-319966645, however?

[2017-08-20 08:26] iherman commented on #1345
@marcoscaceres

That PR did not make the FF problem disappear. Your other advice (in the comment) to use `defer` instead of `async` did, though.

[2017-08-20 12:14] marcoscaceres commented on #1345
No :( But I at least I'm pretty sure of where it's happening (in core/base-runner, as it's the only place where `respecConfig` is accessed directly):

I can only think what is happening is that somehow ReSpec is running before the script that declares `respecConfig` is run.

[2017-08-20 14:19] marcoscaceres commented on #1345
If this comes up again for any URLs, please let me know. I'll keep this bug open for a few weeks.

On a positive note, it gave me an opportunity to rewrite some aspects of ReSpec and fixed some smaller bugs along the way.

[2017-08-21 07:04] iherman commented on #1345
There was a new pull request[1] yesterday. This time both the master branch _and_ the branch to be merged use the `defer` attribute. And... it works! :-)

[1] https://github.com/w3c/wpub/pull/43

[2017-08-21 07:41] dontcallmedom commented on #1309
@marcoscaceres it looks like this still emits warnings on `toJSON()` having no `<dfn>`:
```No <dfn> for operation toJSON in RTCSessionDescription.```

[2017-08-21 07:49] marcoscaceres commented on #1309
@dontcallmedom, sorry, could you please link to the spec also? It's probably just not correctly defined.

[2017-08-21 07:51] marcoscaceres commented on #1309
It should still hopefully be defined as, for example:
https://github.com/w3c/payment-request/blob/gh-pages/index.html#L1889-L1897

[2017-08-21 07:55] marcoscaceres commented on #1309
Oh, hehe... I have the memory of a gold fish. I said you could do it without defining it.

[2017-08-21 07:56] marcoscaceres commented on #1309
NB: worst... it turns out gold fish have really good memory.

[2017-08-21 10:05] TakashiSasaki commented on #1367
I added `STYLE `element inside `HEAD `element to hide W3C logo.
It's workaround.
`    <style>
       a.logo {
         display: none
      }
    </style>`

[2017-08-22 07:50] adam-be opened #1369 "Parenthesis on method dfn-tags when method names are reused across interfaces"
I borrowed the snippet below from the docs. If `url` is an attribute, as in the docs example, it work OK. But if `url`is a method, the second definition will be lost and a warning is generated. It works if I add parenthesis to both definitions (`<dfn>url()</dfn>`). Is that required or is this a bug?

[code]

[2017-08-23 01:08] marcoscaceres commented on #1369
Odd, i can't reproduce the error. I adapted the example in the doc, but it all still links correctly:

[code]

[2017-08-23 01:12] marcoscaceres commented on #1367
@TakashiSasaki, problem is that you will still end up with W3C stuff - specially if I change things in the profile.

@herrjemand let me know if you have further questions about custom profiles. If you need guidance getting one set up, give me shout here.  Happy to help!

[2017-08-23 01:12] #1367 closed

[2017-08-23 01:14] marcoscaceres commented on #1369
Here is the rendered output of the above, showing the linking:

![screenshot 2017-08-23 11 08 55](https://user-images.githubusercontent.com/870154/29594400-fd41a656-87f3-11e7-95b5-973eb6690002.png)

@adam-be if you have a more complete document, I can take a look. Maybe add it as a gist or on JS Bin?

[2017-08-23 04:56] marcoscaceres opened #1370 "Make [Exposed=...] mandatory on all interfaces"
Waiting on @tobie for more details.

[2017-08-23 08:05] adam-be commented on #1369
Sorry, my description was a bit unclear. I get the warning when *both* defines represents methods with the same name.

See: https://jsbin.com/xuvereyutu/edit?html,output

Strangely enough, the error disappears if I use a non-camel case name for the method.

[2017-08-23 08:12] marcoscaceres commented on #1369
This works ok tho: https://jsbin.com/lequloloye/1/edit?html,output

(just a adding "()" to the method names... that's the preferred way). But them not lining correctly is when missing "()" is a bug.

[2017-08-23 08:40] #1180 closed

[2017-08-23 09:08] adam-be commented on #1369
Thanks for verifying. I'm currently using parenthesis, and it works fine.

[2017-08-23 09:27] dontcallmedom opened #1372 "Use defined terms list for autolinks in WebIDL when available"
ReSpec kindly links to terms it magically knows in WebIDL fragments. But given that (for better or for worse), there are different versions of different specs that can be used as references for some of these terms, it would be best if it would use instead terms that the spec itself defines and references when it does.

e.g. if a spec uses `[CEReactions]` but doesn't define it, then it would use th

[2017-08-23 09:28] dontcallmedom commented on #1372
(otherwise, this creates issues such as #1105 where informative references that duplicate normative ones are created)

[2017-08-23 10:04] marcoscaceres commented on #1372
Yeah :( custom-elements at least, is not great example... as I think (WHATWG) HTML now owns custom elements.

[2017-08-23 10:09] dontcallmedom commented on #1372
without getting into sadly political considerations, there are any number of other examples that way with DOM, HTML, or even different level/version of a given spec, so I think the feature would be useful in many cases.

[2017-08-23 10:11] marcoscaceres commented on #1372
I'm happy to revise the list, or we could provide some kind of override.

[2017-08-23 10:12] dontcallmedom commented on #1372
override is what I was suggesting - i.e. if the term is cite-defined in the spec, use that definition rather than the default one.

[2017-08-23 11:02] marcoscaceres commented on #1372
I quite like that idea. Should definitely be doable.

[2017-08-23 14:07] tobie commented on #1370
This is basically to make things more explicit and avoid issues where interfaces aren't accidentally exposed by vendors.

Pull request is here: https://github.com/heycam/webidl/pull/423.

[2017-08-28 01:24] marcoscaceres opened #1373 "Github links should include link to pull requests"
I keep having to click on the issues link to get to the pull requests... it's getting a little boring.

[2017-08-28 01:36] marcoscaceres opened #1374 "💅-up linked tests"
Given that tests names themselves contain details about what kinds of tests they are, we can use that information to make the tests a bit nicer.

 * [ ] requires secure connection 🔒
 * [ ] manual tests 💪
 * [ ] automated test 🤖

so, it would be like:  manual test (💪),  requires secure connection (🔒) test-name.

And we can drop the .html part.

[2017-09-20 19:42] birkland opened #1380 "Readability of RFC 2119 terms"
Hello,

I have been noticing several specifications published with ReSpec that render RFC2119 terms as [red lowercase text](https://github.com/fcrepo/fcrepo-specification/issues/195#issuecomment-323314368), rather than capitalized.  Unfortunately, certain individuals (including myself) are colorblind, and cannot distinguish these terms at all when rendered in this manner.

If the desired outcome i

[2017-09-21 01:23] halindrome commented on #1380
I agree that the red, lower case is a poor choice.  I am also
color-challenged, so a distinct shape is better for me.  All caps / small
caps would be great.

On Wed, Sep 20, 2017 at 2:42 PM, Aaron Birkland <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2017-09-21 06:12] marcoscaceres commented on #1380
I'd be happy to also drop the red - but I don't see much need for the small caps: I read with a screen reader, so small caps doesn't help me.

The only way to avoid the problem is to have people not use RFC2119 keywords in non-normative sections of specs.

[2017-09-21 06:17] domenic commented on #1380
Relevant: https://infra.spec.whatwg.org/#conformance

[2017-09-21 06:18] domenic commented on #1380
Bikeshed will also enforce not using these keywords in sections marked non-normative.

[2017-09-21 06:41] marcoscaceres commented on #1380
Bug to add warning to linter: https://github.com/w3c/respec/issues/925

[2017-09-21 06:48] marcoscaceres commented on #1380
there might be a happy place where we could set a conformance option to `null` (WHATWG style - default), or RFC2119, or RFC8174.

When setting `"conformance": "RFC8174"`, the spec would get the RFC8174 boilerplate, etc. for instance (and the linter wouldn't yell at you).

If  RFC2119 and null, the linter yells at you (unless you turn it off).

That should make everyone in the community happy.

[2017-09-21 07:53] dontcallmedom commented on #1380
fwiw, in webrtc specs, I've had to use a local stylesheet to get rfc keywords rendered as small-caps for similar reasons.

[2017-09-21 09:52] marcoscaceres opened #1381 "Test suite linter should check if test files exist"
We currently have the ability to add `data-tests` to elements. However, tests often get moved around or deleted... we should have a linter rule that checks that tests actually exist. This requires using the GitHub API to check the Web Platform Tests repository for the existence of the test files.

Unfortunately, because of quota restrictions, this needs to done through a proxy (i.e., respec.org) .

[2017-09-21 12:39] halindrome commented on #1380
Dom, that's really interesting.   I would think that we would want this
sort of thing rendered / presented visually and semantically the same
across W3C specs.   Is there some guidance from W3M / Fantasai on this?

On Thu, Sep 21, 2017 at 2:53 AM, Dominique Hazael-Massieux <
notifications@github.com> wrote:

--
Shane McCarron
halindrome@gmail.com

[2017-09-21 12:43] dontcallmedom commented on #1380
https://w3c.github.io/manual-of-style/#RFC is the shared guidance on this. Ironically, since the document uses ReSpec, it says "use UPPERCASE", but doesn't show the keywords in uppercase :)

[2017-09-21 12:43] dontcallmedom commented on #1380
filing an issue in https://github.com/w3c/manual-of-style/issues might not be a bad idea

[2017-09-21 13:11] halindrome commented on #1380
Interesting.  Well, if the manual of style is the "law of the land", then
what it says is what ReSpec and Bikeshed should do, right?

On Thu, Sep 21, 2017 at 7:44 AM, Dominique Hazael-Massieux <
notifications@github.com> wrote:

--
Shane McCarron
halindrome@gmail.com

[2017-09-21 13:13] dontcallmedom commented on #1380
it's probably a bit more fluid than this - if ReSpec has good reasons not to capitalize RFC keywords, it may be that the manual of style needs to be updated. But I agree that the onus is probably on ReSpec to justify this stylistic choice :)

[2017-09-21 13:23] marcoscaceres commented on #1380
And I keep arguing that it should be in base.css. ReSpec serves lots of different standards bodies, which is why I don’t want any spec css at all (only css for the ReSpec UI).

[2017-09-21 13:33] halindrome commented on #1380
Yes!  What Marcos said.   It should be in the css that comes from the W3C.

On Thu, Sep 21, 2017 at 8:23 AM, Marcos Cáceres <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2017-09-21 13:36] dontcallmedom commented on #1380
makes sense to me as well - so sounds like an issue for https://github.com/w3c/tr-design/ then :)

[2017-09-22 07:56] marcoscaceres commented on #1380
Ok, y'all... let's get this fixed in tr-design! Go! 🏁 https://github.com/w3c/tr-design/issues/126

I'll remove the offending CSS from ReSpec 🎉

[2017-09-22 07:58] marcoscaceres commented on #1183
Duplicate of https://github.com/w3c/respec/issues/1380

All, please head over to https://github.com/w3c/tr-design/issues/126 to make your preferences heard there! We need to move quickly on it, as the w3c is going to ship an update to base.css in a week!!!!!

[2017-09-22 07:58] #1183 closed

[2017-10-03 07:35] dontcallmedom commented on #1353
another impact of the change in the generation of ids - the internal links to the said anchors are invalid, because they would need to be URL encoded for at least some characters.

For instance, the TOC link to https://w3c.github.io/webrtc-pc/#x%22hold%22-functionality in the WebRTC spec fails in validator.nu because the quote characters are not %-encoded in the markup.

[2017-10-04 04:12] marcoscaceres commented on #1353
Twitter also seems to struggle with these URLs: when pasted into twitter, it doesn't parse them properly. I'll try fix this now...

[2017-10-06 11:26] marcoscaceres commented on #1353
Ok, I have a PR ready for this: #1387... note that there is a very high probability that _a lot of links are going to break_ once I merge that.

Once I merge, I'll let spec-prod know... but naturally people will get upset 😿. If folks yell at us for this would appreciate some support - but it's going to have to be a "ask for forgiveness, not for permission" situation.

[2017-10-06 13:01] Kimberly050174 commented on #1353
Ok

[2017-10-06 13:02] Kimberly050174 commented on #1353
Ok

[2017-10-07 03:55] #1380 closed

[2017-10-07 08:40] #1353 closed

[2017-10-13 06:32] marcoscaceres opened #1389 "marked stripping "*" from pre"
Given:
[code]

marked  is stripping the "*" - it converts to `<em>`

[2017-10-13 06:34] marcoscaceres commented on #1389
Affected spec: https://w3c.github.io/requestidlecallback/

[2017-10-17 07:00] tidoust opened #1391 "Custom logos: width and height swapped in Firefox 56.0.1"
In Firefox 56.0.1, when custom logos get used, the width and height of the logos get swapped, making the logos appear skewed, for instance:

https://w3c.github.io/sdw/ssn/

This currently renders in Firefox 56.0.1 as:
![Screenshot of the SSN Ontology spec headers taken in Firefox 56.0.1 with skewed OGC logo](https://user-images.githubusercontent.com/1122927/31650805-58769446-b319-11e7-897b-c108de5

[2017-10-17 07:13] tidoust opened #1392 "No longer possible to override W3C logo in an official document?"
From time to time, W3C working groups develop specs in collaboration with external organizations. In such cases, we need to add another logo next to the W3C one. Specs developed by the Spatial Data on the Web (SDW) Working Group, a joint W3C/OGC effort, provide a concrete example, e.g. the [SSN Ontology](https://w3c.github.io/sdw/ssn/)

To add the OGC logo, the config uses the `logos` setting to [

[2017-10-17 09:44] marcoscaceres commented on #1391
Thanks! The whole custom logos code seems to be broken. I’m currently rewriting the idl code, so will take me maybe another week or two to get to this.

[2017-10-18 05:05] marcoscaceres commented on #1391
So, confirmed the Firefox bug. It's fixed in 57 it seems - so probably won't fix as it will be adding code that we will have to just rip out again in like 2 weeks.

[2017-10-18 05:05] #1391 closed

[2017-10-18 16:44] mattgarrish opened #1396 "case-insensitive sorting of references"
I've noticed that spec references that begin with a capital letter sort before those with a lowercase letter.

In general this is not a problem as we've tried to use lowercase references in the [Web Pub spec](https://w3c.github.io/wpub/#references), but if you look at the normative section, RFC2119 appears first because it is auto-inserted.

Ideally it would be nice if sorting was case-insensitive

[2017-10-19 01:01] marcoscaceres commented on #653
I think this was fixed by #661.

[2017-10-19 01:01] #653 closed

[2017-10-19 01:06] marcoscaceres commented on #1396
So, we probably want:

[code]

here:
https://github.com/w3c/respec/blob/develop/src/core/biblio.js#L147

[2017-10-19 04:21] #1396 closed

[2017-10-19 04:22] marcoscaceres commented on #1396
I’ll try to do a release later today or tomorrow.

[2017-10-19 11:55] mattgarrish commented on #1396
Thanks!

[2017-10-20 04:07] marcoscaceres opened #1401 "ReSpec not updating on w3c server?"
@dontcallmedom - for some reason, ReSpec is not updating on W3C server (stuck at 17.0.0, should be 17.1.1):

https://www.w3.org/Tools/respec/respec-w3c-common

Could you please take a look on the w3c end? I don't think I've changed anything on the github side to make it stop publishing. I also checked the gh-pages branch, and it's also at 17.1.1.

[2017-10-20 08:17] dontcallmedom commented on #1401
fixed - paging @tripu on this since the problem was linked to his related script to update webidl2.js.

[2017-10-20 08:17] #1401 closed

[2017-10-20 09:33] marcoscaceres commented on #1401
@tripu, eh? I should have guessed! Looking forward to see you all at TPAC! 🍻😺

[2017-10-20 09:51] tripu commented on #1401
:sweat:

(I won't be at TPAC this year&hellip; :confused:)

[2017-10-20 15:05] tripu opened #1403 "Errors in latest Respec (17.1.1) when using "save as""
Symptoms:

* Errors using it from spec-generator (w3c/spec-generator#44)
* Errors detected using it from WebRTC specs (w3c/webrtc-stats#252)

[2017-10-20 15:07] vivienlacourba commented on #1403
See debug from @dontcallmedom https://github.com/w3c/webrtc-stats/pull/252#issuecomment-338233062

[2017-10-22 09:01] #1403 closed

[2017-10-22 22:02] marcoscaceres commented on #818
We will continue to do this incrementally (batched changes), but I don’t think we can do this in one go.

[2017-10-22 22:02] #818 closed

[2017-10-23 09:54] tripu opened #1406 "Fix possible vulnerabilities not reported by snyk (?)"
[NSP](https://nodesecurity.io/) reports these vulnerabilities in current `respec#develop`:

[code]

I see references to some of these vulns in [`.snyk`](https://github.com/w3c/respec/blob/develop/.snyk), and in [the corresponding Snyk page](https://snyk.io/test/github/w3c/respec).

But if those are actually patched, I don't understand why NSP still finds them&hellip; (or are they marked as ignored

[2017-10-23 10:29] tobie commented on #1370
Doesn't that defeat the purpose of making it mandator, though, which is precisely to get editors to think about it?

[2017-10-23 12:57] marcoscaceres commented on #1406
I'm going to switch to commonmark.js instead.... having other issues with marked, and it doesn't seem to be maintained anymore.

[2017-10-23 13:49] marcoscaceres commented on #1406
@tripu, trying to get Snyk to patch it too: https://github.com/chjj/marked/pull/945#issuecomment-338664205

[2017-10-23 18:14] plehegar commented on #653
hu? the webmaster uses the new pubrules. The old pubrules has been retired.

[2017-10-24 04:21] marcoscaceres commented on #1370
Ah, I was viewing it from implementer's perspective of copy/pasting to generate the binding in c++.

To think about it, I would expect `[Exposed]` to provide some guidance (or it it somewhere else): https://heycam.github.io/webidl/#Exposed

Right now, it's quite algorithmic and not that fun to read. What should I point to? Just the bug?

[2017-10-24 04:27] marcoscaceres commented on #1370
I see "Example 52" might actually serve the purpose... maybe we should move that up in the IDL spec?

[2017-10-24 06:00] marcoscaceres commented on #1345
closing, as it hasn't come up again 🤞.

[2017-10-24 06:00] #1345 closed

[2017-10-24 06:02] marcoscaceres commented on #1370
WIP: If it's and interface, a namespace, or a mixin, and it doesn't have "PrimaryGlobal", "Global", or "Exposed" as extended attribute, then warn.

![screen shot 2017-10-24 at 4 57 38 pm](https://user-images.githubusercontent.com/870154/31926884-bb1577a0-b8d4-11e7-9e35-d21656ae8f9f.png)

[2017-10-24 06:04] tobie commented on #1370
Exposed isn't required on mixins.

[2017-10-24 07:45] marcoscaceres commented on #1370
Makes sense. Misread the spec.

[2017-10-24 09:06] tripu commented on #1406
Thanks, @marcoscaceres.
Do you have the other three under control, then?

[2017-10-24 09:30] tobie commented on #1370
(Sorry for the terse comment, I was on my phone).

I need to revamp heycam/webidl#423 given mixins changed a whole bunch of things it was touching. I'll do so shortly and will do my best to include your feedback in that PR.

[2017-10-24 10:00] marcoscaceres commented on #1370
np :)

Ok, I'm also adding a dedicated idl-validator to ReSpec now. Will make it easy to add new warnings... if it proves useful, we could push it to WebIDL2.js, as it just consumes WebIDL2.js output... would be cute to parse and then validate.

[2017-10-24 10:23] marcoscaceres opened #1410 "Ask people to upgrade to 18 when generating specs"
When running the HTML generator, make sure we check that it's ReSpec version 18 or greater... and tell the user to upgrade if its not.

[2017-10-24 10:25] marcoscaceres commented on #1406
I believe so. However, I'm going to also run `snyk protect` at build time instead of during pre-publish.

[2017-10-24 13:17] #1406 closed

[2017-10-24 16:03] #1410 closed

[2017-10-26 01:37] marcoscaceres opened #1416 "Add "kitchen sink" test"
We've been using basic.html to exercise full spec generation - however, it's insufficient and ugly. We  should have a dedicated file to test all the things working together.

[2017-10-26 01:37] #612 closed

[2017-10-26 08:07] anssiko opened #1417 "Snapshot generation fails due to <meta charset> outside the first 1024 bytes"
HTML snapshots generated from ReSpec source that contains `<meta charset>` as its first element in `<head>` fail validation with the following error:

Example ReSpec source:
https://github.com/w3c/manifest/blob/gh-pages/index.html#L4

This means that e.g. automatic WD publications with Echidna fail too.

I think one solution is to inject the chunk of CSS that pushes `<meta charset>` outside the fi

[2017-10-26 09:02] anssiko commented on #1417
The latter error was fixable in source, PR submitted for that: https://github.com/w3c/manifest/pull/625

For former error remains a blocker for Echidna-based WD publication.

[2017-10-26 09:18] marcoscaceres commented on #1417
having a look now.

[2017-10-26 10:14] #1417 closed

[2017-10-26 10:26] anssiko commented on #1417
Thanks, that was fast! I can confirm this fix works as expected and the generated snapshot is now valid. Using the latest ReSpec version 18.2.1 released 9 minutes ago.

[2017-10-26 10:31] marcoscaceres opened #1419 "add test for spec writer"
The "save-html.js" module is attached to the UI, which makes it  hard to test. We should split it out to its own module.

[2017-10-26 10:42] anssiko commented on #1417
Probably not related, but reporting here to retain context:

Something wonky going on with Echidna. Merged https://github.com/w3c/manifest/pull/625 after release 18.2.1 was deployed, but no notification was sent to https://lists.w3.org/Archives/Public/public-tr-notifications/2017Oct/ nor was https://www.w3.org/TR/appmanifest/ updated.

(The lone notification https://lists.w3.org/Archives/Public/pu

[2017-10-26 12:13] anssiko commented on #1417
You can ignore the previous comment, magic happened: https://lists.w3.org/Archives/Public/public-tr-notifications/2017Oct/0047.html

[2017-10-26 23:12] marcoscaceres commented on #1417
Great to hear it’s working.

[2017-10-26 23:16] marcoscaceres commented on #1081
This is now in base runner.

[2017-10-26 23:16] #1081 closed

[2017-10-26 23:23] #608 closed

[2017-11-03 14:27] tobie opened #1423 "Add support for WebIDL mixins"
Hi all!

WebIDL recently introduced [dedicated syntax for mixins][0].

This syntax replaces the `[NoInterfaceObject]` extended attribute and `implements statement` which have been deprecated (except for a few [legacy uses cases][1] explicitely mentioned in the spec).

You can read more about it [here][2].

In most cases, the changes should be relatively straightforward. The now deprecated:

[code]

[2017-11-04 15:40] marcoscaceres commented on #1423
Have it implemented locally :)

[2017-11-08 19:13] marcoscaceres opened #1424 "Shepherd integration"
Need to talk to @plinss about integration with Shepherd.

[2017-11-08 19:20] marcoscaceres opened #1425 "Allow linking to algorithm steps"
Be nice to be able to link to algorithm steps by number.

[2017-11-11 00:13] marcoscaceres commented on #792
Notes from meeting with @dontcallmedom:
 - [ ] On Travis, import specberus into travis, then run it against a spec with all the statuses.

[2017-11-11 00:59] marcoscaceres commented on #792
We figured out the end point :D https://www.w3.org/pubrules/api/

For example:
https://www.w3.org/pubrules/api/validate?url=https://www.w3.org/TR/payment-request/&profile=auto

In theory, can also run locally... but not tried yet.

[2017-11-15 00:25] marcoscaceres opened #1427 "Link to duplicate definition"
When there is a duplicate definition, we should just link to it from the warning.

![screen shot 2017-11-15 at 11 23 21 am](https://user-images.githubusercontent.com/870154/32812149-ad1ac662-c9f7-11e7-9b12-273b7d915782.png)

[2017-11-17 04:51] marcoscaceres commented on #912
closed via #1430

[2017-11-17 04:51] #912 closed

[2017-11-23 12:39] tripu commented on #674
What do you mean by this, @marcoscaceres?

[2017-11-24 00:47] marcoscaceres commented on #674
This is for when people include issues from github into specs:

[code]

The above gets filled with content from github. My idea as to also show any labels associated with the issue.

[2017-11-27 01:03] mgiuca opened #1437 "Fully qualified method names are not coded"
The draft [Web Share](https://wicg.github.io/web-share/) spec has recently (not sure when?) broken all the links to dictionary members. This previously worked.

I have:

[code]

And later in the doc:

[code]

This used to properly link to ... I don't remember. It either linked to the "title" member defined in the IDL, or the `<dfn>title</dfn>` definition element within the ShareData section. I don

[2017-11-27 01:09] marcoscaceres commented on #1437
I dropped support for non-standard “for” a little while ago. Try “data-for” and it should be all good again :)

[2017-11-27 01:33] mgiuca commented on #1437
Hmm, no that doesn't work either.

I'm trying it on the [data-dfn-for](https://github.com/w3c/respec/wiki/data-dfn-for) example:
[code]

I added the final paragraph to the example code. The "bar" generates a red error and isn't linked up, even within the same section.

[2017-11-27 01:39] marcoscaceres commented on #1437
Having a look now. I'll see if I can sprinkle a little magic and get it all working. Will send a PR.

NB: I'm working on a big rewrite of all the IDL handling and linking that will hopefully make this effortless in the future. I'm hoping to finish it over the xmas break.

[2017-11-27 02:27] marcoscaceres commented on #1437
Sent PR to the Web Share spec.

There is bug where `<a>Navigator.share()</a>` is not automatically getting wrapped in `code`. I'll fix that. We can probably merge in the fixes to web share and once I land a fix for this bug that will get automatically fixed.

[2017-11-27 02:49] mgiuca commented on #1437
Aha, so it just needed to be `data-link-for` (not `data-for`). Thanks for the PR, I'll look over it now.

[2017-11-27 03:13] marcoscaceres commented on #1437
Yeah, sorry... shouldn't do bug mail on the train.

[2017-11-30 06:00] marcoscaceres opened #1438 "Internationalization model"
Might be nice to use:
https://codeburst.io/easy-i18n-in-10-lines-of-javascript-poc-eb9e5444d71e

[2017-12-04 21:50] equalsJeffH opened #1439 "Serve save-html.js with a javascript mime type"
seems like the `save-html.js` respec feature is not working (for me at least) due to `https://raw.githubusercontent.com/darobin/respec/gh-pages/js/ui/save-html.js` serving a `X-Content-Type-Options: nosniff` response header field, tho not also declaring the returned content type via a javascript mime type.

From Firefox 56.0.2:
[code]

Safari 11:
[code]

[2017-12-05 02:24] marcoscaceres commented on #1439
@equalsJeffH, do you have a link to the actual spec? Just by looking, you shouldn't be able to load ReSpec off Github like that, as it's really supposed to be loaded up bundled. Regardless, it would be interesting to see what you are trying to do and work out why it's failing.

[2017-12-05 16:11] equalsJeffH commented on #1439
the spec is in a private repo unfortunately.  but in any case, your reply is hinting that our respec snapshot is horked :-/
thanks.

[2017-12-06 04:54] marcoscaceres commented on #1439
@equalsJeffH, because everything does work as expected when served from localhost, my suspicion is that those Github-sent HTTP headers you listed are what is causing things to fail. Hosting ReSpec somewhere else might work - but note that loading the modules independently can have a performance penalty (at least on first load, and if the cache is not tuned just right).

Best of luck with it! If yo

[2017-12-06 04:54] #1439 closed

[2017-12-06 13:01] iherman opened #1440 "Snapshot menu not working on Firefox 57?"
When trying to make a snapshot of a file on Firefox 57, the pop-up menu contains a reference to EPUB3 only. See for example, https://w3c.github.io/publ-loc/?specStatus=FPWD, with the screendump below.

![screenshot-2017-12-6 locators for web publications](https://user-images.githubusercontent.com/520723/33662868-d259189c-da8d-11e7-8cf2-80abaef1c7be.png)

It seems to work all right on a chromium ba

[2017-12-06 13:02] iherman commented on #1440
(I use https://www.w3.org/Tools/respec/respec-w3c-common to link to respec.)

[2017-12-06 13:10] iherman commented on #1440
Sorry, as a further info (if it is important): I run FF 57.0.1 on a Mac Book Pro, OS X 10.11.6 (El Capitan).

[2017-12-06 13:21] marcoscaceres commented on #1440
Thanks! All that info is super helpful. I’ll investigate what’s going on.

[2017-12-06 13:38] innovimax commented on #332
+1

[2017-12-07 20:08] joanmarie opened #1441 "Specref updating is either too infrequent or partially broken"
I'm trying to remove all local biblio references from the ARIA repo and rely 100% on Specref, updating the latter when needed. Because I was seeing a "legacy" reference error from ReSpec, I updated Specref to [move SGML-CATALOG from legacy.json to biblio.json](https://github.com/tobie/specref/pull/430). That change was committed over three hours ago (at the time of this writing), but ReSpec is not

[2017-12-07 23:42] tobie commented on #1441
You might want to clear your browser cache. ReSpec used the same API you are using. I'm getting the updated reference when looking at the ARIA spec from here.

May I kindly remind you that all of these tools are provided to you free of charge and that no one owes you anything. If you think the documentation is lacking (it wasn't in this case, but please bear with me), sending a pull request to fix

[2017-12-07 23:42] #1441 closed

[2017-12-08 01:56] joanmarie commented on #1441
@tobie: Could you please show me where I was complaining or stating an expectation of someone "owing me" something? I'm sorry for whatever language I used which made you reach that conclusion, but I'm afraid I honestly don't know what language is to blame.

In response to your reminder: I didn't know what the point of failure was, so I couldn't very well provide a patch / pull request. I normally

[2017-12-08 03:06] marcoscaceres commented on #1441
@joanmarie, sorry about @tobie's tone - it came through sounding much rougher than I'm sure he intended (certainly not the Tobie I know, who is super nice!). We've had some issues in the past with people demanding things from us - I don't think @tobie meant any ill-will, and we really appreciate your contributions.

I'm having a look to make sure nothing is broken on the ReSpec side. As Tobie said

[2017-12-08 03:10] marcoscaceres commented on #1441
Ok, so "works for me". @joanmarie, if it's still broken on your side, let me know. Worst case, I might need you to empty your IndexedDB database using the browser's Dev Tools.

If the issue is happening in Firefox, then it might be a long standing Firefox bug that affects IndexedDB. Should be fine in all other browsers - and, as I mentioned above, a hard refresh usually fixes things.

[2017-12-08 03:37] joanmarie commented on #1441
@marcoscaceres: Thanks for checking! I *thought* I had cleared the cache, but I cannot swear to it. And it does work for me now, so I guess I hadn't cleared the cache after all. Apologies for the false alarm/report.

[2017-12-08 16:20] tobie commented on #1441
Yeah, sorry. I would have preferred to mail you privately about this, @joanmarie, but couldn't find your email address on your profile. (I now realize it's on the WAI ARIA spec but didn't think about checking there yesterday.)

We interacted a small number of times on the Specref issue tracker and on irc, and overall, the feeling I got out of it was what I expressed above (arguably not the most ki

[2017-12-08 19:06] joanmarie commented on #1441
Wow.... Well, thank you for that feedback @tobie. Yeah, I'd like to discuss this further offline. Please email me.

[2017-12-09 10:53] tobie commented on #1441
@joanmarie and I discussed this offline. Looking at our archived exchanges, it's quite clear that my feeling wasn't backed-up by any data whatsoever, but something I constructed myself (due in part to a number of unrelated interactions that @joanmarie had nothing to do with). I apologized to @joanmarie for this and I'll keep this exchange in mind the next time this feeling shows up again to make s

[2017-12-13 10:18] deniak opened #1443 "Upcoming update to WG notes patent policy text"
@plehegar and @wseltzer agreed to simplify the patent policy text for **WG Notes** (other types of documents remain unchanged).
After https://github.com/w3c/specberus/pull/707 is merged, the markup should simply be:
[code]

Note: we are adding a requirement on the `data-deliverer` attribute which should list the WG IDs which was already in one of the previous patent policy link.

Once we are certa

[2017-12-13 17:59] marcoscaceres commented on #1443
Seems straight forward enough.

[2017-12-14 10:13] iherman opened #1445 "Perma Link refers to #undefined for the document"
Consider, e.g., https://w3c.github.io/pwpub/: the header includes a

[code]

However, the link to the document itself (ie, the permalink sign appearing right at the W3C logo in this case) refers to `#undefined`. One can see that when hovering over the sign or in the generated HTML.

I ran this on Mac OS El Capitan with FF, Safari, and Vivaldi, the result is the same. It is also not document depend

[2017-12-14 15:23] marcoscaceres commented on #1445
Assigned to @halindrome, as I think he wrote the module.

[2017-12-19 03:37] marcoscaceres commented on #1440
@iherman, sorry, I was away last week traveling and just got back to this. I just tried to reproduce in Firefox, but was not able to. The doc you linked to is also now 404?

Could you kindly try it again or send me a link to the new location of that document?  Thanks!

[2017-12-19 11:04] iherman commented on #1440
Oops, I am sorry, @marcoscaceres! We have changed the title and the short name of the document, and I have therefore changed the name of the repository, too. Github redirects a bunch of things but not the github.io addresses. I did not realize I used this example, sorry about that...

Anyway. The new address is:

https://w3c.github.io/wpub-ann/?specStatus=FPWD

and the problem is the same at least

[2017-12-19 23:57] tantek opened #1448 "Autowrap headings+content in section"
note that second two "Changes from" headings in https://tantek.github.io/post-type-discovery/index-src.html#change-log have smaller font than the first two.

while it appears that the latter to "Changes from" headings are being artificially made smaller, what's actually happening is that the two headings before that are being artificially inflated from h3 to h2 headings by respec!

the h2 above th

[2017-12-20 01:34] marcoscaceres commented on #1448
Sent PR to fix https://github.com/tantek/post-type-discovery/pull/35

However, should probably have ReSpec auto-wrap headings and content in `section` so to avoid these problems.  It's silly to force authors to have explicitly include `section`, when it's basically an ReSpec internal opinion.

[2017-12-20 03:55] marcoscaceres commented on #1440
Hmm... so strange... was not able to reproduce in Firefox 57 with the same OS setup as you: I was able to see the buttons and managed to save the snapshot correctly.

Might be you have an old version of ReSpec cached? The latest version is 19.0.1 (check via the ReSpec Pill, and hit "About ReSpec"). Let me know!

[2017-12-20 06:17] iherman commented on #1440
@marcoscaceres it is definitely the last, (19.0.1) version (it links to the version on the W3C site, b.t.w.).

However: I did get one step closer. I started up FF in Save Mode (add-ons disabled) and then things work... Which means there is interference with one of the add-ons. Unfortunately I have a fair number of them, so it will take some time to track down which one is the problem (I do not kno

[2017-12-20 06:23] marcoscaceres commented on #1440
Unfortunately, probably won't be much I can do if it's a browser extension. I don't use any (apart from ad-block) so not sure how to work with them.

[2017-12-20 06:25] iherman commented on #1440
I guess it is still useful if I chase this down. It may give some insight (and document which one to avoid…)

[2017-12-20 07:24] marcoscaceres commented on #1440
That would be great!

[2017-12-20 09:29] marcoscaceres commented on #1440
It will hopefully fix itself once I drop jQuery’s popup in favor of using HTML’s dialog element. I’m hoping to do that switch next year.

[2017-12-20 09:33] marcoscaceres commented on #1440
In any case, I imagine that you can whitelist github.io in the addon? That should hopefully fix things. Thanks again for figuring it out! If it comes up again, we can point people here. Closing for now.

[2017-12-20 09:33] #1440 closed

[2017-12-31 23:59] tantek commented on #1448
Still a bug IMO in that perfectly reasonable HTML markup causes respec to screw up heading levels. Keep the "bug" label, and maybe add "workaround available".

[2018-01-01 04:12] tantek opened #1450 ""Save as HTML" is missing from the Respec menu"
"Save as HTML" is missing from the ReSpec menu

E.g. see: http://ptd.spec.indieweb.org/index-src.html
or http://ptd.spec.indieweb.org/index-wd-src.html (both in Firefox)

This is blocking publication of an end of year NOTE because Echidna requires full server-side HTML, not just JS-generated on the client.

[2018-01-01 06:44] marcoscaceres commented on #1450
Odd, will take a look. Echidna should still be able to publish, as the export API is independent of the save button. But still weird that the menu option vanished.

[2018-01-01 21:04] tantek commented on #1450
Yes all gone. All I see is Save Snapshot which brings up ust EPUB3. Y THO.

Can't publish with Echidna because can't be sure it passes all of Echidna's tests (even if Echidna does somehow magically know to call an export API when given a specific HTML file?). E.g. Specberus also requires a static all-inclusive HTML file to check AFAIK.

[2018-01-01 21:26] marcoscaceres commented on #1450
Trying to reproduce - but was unable to. Can you confirm the ReSpec version for me? Click the ReSpec pill, and hit "About ReSpec". It should say 19.0.1.

[2018-01-01 21:40] marcoscaceres commented on #773
This has shipped.

[2018-01-01 21:40] #773 closed

[2018-01-01 23:49] tantek commented on #1450
Confirmed: About ReSpec - 19.0.1. Screenshot of menu when viewing http://ptd.spec.indieweb.org/index-src.html:

![screen shot 2018-01-01 at 15 47 35](https://user-images.githubusercontent.com/46418/34471974-2f6d061a-ef0b-11e7-886d-8709888bdfa1.png)

No "Save as HTML" as expected (and was there at least as recently as last August).

[2018-01-02 03:42] marcoscaceres commented on #1450
The “Save Snapshot” should have the “Save as HTML” option - so it’s really strange that it’s just showing EPUB. I’ll try a few different versions of Firefox. In the meantime, hopefully it’s fine in Chrome in case you need to export. I’m currently on vacation on the 🏖, but will try to find time to see what’s wrong in the next few days.

[2018-01-02 10:50] marcoscaceres commented on #1450
@tantek I just realized that this is a duplicate of https://github.com/w3c/respec/issues/1440

Do you have [Adblock Ultimate](https://adblockultimate.net/) installed?

[2018-01-02 10:55] marcoscaceres commented on #1450
For record keeping purposes, without browser extensions, 57:

![screen shot 2018-01-02 at 8 46 11 pm](https://user-images.githubusercontent.com/870154/34481633-fe53e428-effe-11e7-93f9-afbec24ee97e.png)

And 59:
![screen shot 2018-01-02 at 8 44 43 pm](https://user-images.githubusercontent.com/870154/34481640-06656ede-efff-11e7-915f-5049d094370c.png)

So likely this is a browse extension removing th

[2018-01-12 23:45] tantek opened #1453 "viewing fails on Safari Version 10.1.2 (10603.3.8)"
Tried using Safari due to issue #1450, and ReSpec completely fails there - doesn't do anything at all - you just see the server-served HTML.

E.g.: http://ptd.spec.indieweb.org/index-src.html

[2018-01-13 00:02] tantek commented on #1450
Confirmed that a fresh Nightly FF shows the Save as HTML option - used that for now. Now to try to narrow down what browser extension could be interfering.

[2018-01-13 00:07] tantek commented on #1450
FWIW I have
* Privacy Badger version 2017.11.20
* AdBlocker Ultimate 2.31  [note the -er on the end. Adblocker, not Adblock]
Following your suspicion about the latter, I chose "Options" from the AdBlocker Ultimate toolbar icon dropdown menu, then "Whitelisted domains" and add ptd.spec.indieweb.org. Reloading http://ptd.spec.indieweb.org/index-src.html then showed the Save as HTML button.

[2018-01-13 05:05] marcoscaceres commented on #1453
Unfortunately, as it’s only me maintaining ReSpec, I’m only able to support the latest stable version of Safari (11) - which is available on the last 3 releases of MacOS X.

I’m guessing you have a machine still using Yosemite?

[2018-01-13 05:10] marcoscaceres commented on #1450
I think the only thing we can do here is just let spec-prod@w3c know. Might also see if I can let tge extension owner know that it’s blocking us incorrectly.

[2018-01-13 08:14] tantek commented on #1453
Yes, Yosemite. I don't upgrade OSs that are productively working in general (e.g. "free" High Sierra updates have been bricking functional systems). Certainly not for a browser.

If the ReSpec JS is so fragile/sensitive that it can't be easily maintained (which I take your word for) across even just one major (default system) browser version, then I think you've convinced me to not write any more

[2018-01-13 13:24] marcoscaceres commented on #1453
Understood - it’s been a tradeoff, and sad that Apple stopped shipping Safari updates for olde MacOS. If you can step up at least to El Capitan, you can get back on Safari latest.

BikeShed is really good tho and their community of contributors is fairly active.

[2018-01-13 13:24] #1453 closed

[2018-01-16 01:25] marcoscaceres commented on #1450
Ok, I've emailed spec-prod and filed a bug with AdBlocker Ultimate. Closing as there is not much more I can do from here.

[2018-01-16 01:25] #1450 closed

[2018-01-23 21:13] majornista opened #1456 "Code samples should not be set to aria-live="polite" after core/highlight executes"
This is a regression for a7394e3cd22513e873a706f6e3391d6fb6bff323, which presents a significant accessibility problem for screen reader users trying to read a spec containing a lot of code examples, because every code sample is sent to the the screen reader buffer to announce at its earliest convenience.

I've sometimes been unable to test a page using VoiceOver with a W3C spec open in another tab

[2018-01-23 23:51] marcoscaceres commented on #1456
Ah yeah, got wrong advice it seems. Will remove.

[2018-01-28 07:16] nileshgulia1 commented on #1129
@marcoscaceres  Can I take this?

[2018-01-28 08:32] marcoscaceres commented on #1129
I don’t think we are quite there. I’ve also been using webpack for another project and kinda concluded that it’s not as awesome as I first thought (configuration is a nightmare). Maybe we should use rollup instead?

[2018-01-28 10:13] nileshgulia1 commented on #1129
Seems a great idea too,adding from me, i give `parcel` also a good option,may be?

[2018-01-28 11:45] marcoscaceres commented on #1129
Either would be great. Feel free to try them out. Ideally, we would like to see some reduction in bundle size.

[2018-01-28 23:08] jonschlinkert commented on #1207
@marcoscaceres I'd be happy to help convert over to remarkable if you want

[2018-01-29 02:16] marcoscaceres commented on #1207
Oh, that would be awesome, @jonschlinkert! The "magic" happens here:
https://github.com/w3c/respec/blob/develop/src/core/utils.js#L21

And is basically consumed at the following:
 * https://github.com/w3c/respec/blob/develop/src/core/markdown.js#L53
 * https://github.com/w3c/respec/blob/develop/src/core/ui.js#L150

Feel free to ignore this suggestion, but I'd really like to move markdown parsing o

[2018-01-29 11:49] jonschlinkert commented on #1207
Thanks for the detail! I'll give it a go and see how far I can get, then I'll probably ask some questions. I might need your help/feedback on the worker and where exactly we'll need to use `async`/`await`.

[2018-01-29 12:08] jonschlinkert commented on #1207
K, I haven't made any changes yet, just pulled everything down, installed deps and ran all three of the test scripts: `test:build`, `test:headless`, and `test:karma`. All tests pass except for the 9th test from `test:headless`.

Just wanted to mention it to have a baseline before I get started.

[2018-01-30 03:23] marcoscaceres commented on #1207
@jonschlinkert, looking good.

So, my workflow is (multiple console tabs/windows) - apologies if this is self evident already:

[code]

Start web server:
[code]

Then I usually test things in "[examples/basic.html](https://github.com/w3c/respec/blob/develop/examples/basic.html)".

To enable markdown, add `"format": "markdown"`. You can find details here:
https://github.com/w3c/respec/wiki/format

[2018-01-30 04:09] marcoscaceres commented on #1207
Feel free to ignore that one :)

[2018-01-30 04:27] #1456 closed

[2018-01-30 14:20] saschanaz opened #1458 "Test failure: 'root' is deprecated, use 'global'"
https://travis-ci.org/w3c/respec/jobs/335038255

Not sure what happened there...

[2018-01-30 14:45] saschanaz commented on #1458
`ReSpec error: (node:6910) DeprecationWarning: 'root' is deprecated, use 'global'`

This seems the cause. Strangely, I rollbacked to the last known good commit and it still happens there.

[2018-01-31 14:23] saschanaz commented on #1458
I think I got the cause. cc: @nileshgulia1

handlebars.js from dependencies starts with:

[code]

Here, the UMD exporting code uses a variable `root`. Our build system somehow convert it to:

[code]

This made Node.js angry where `root` is a deprecated alias of `global`.

[2018-01-31 14:26] saschanaz commented on #1458
Still I have no idea why this is suddenly a problem, and only a problem for the last test.

[2018-01-31 14:27] nileshgulia1 commented on #1458
Nice work @saschanaz  I'll try to figure out the rest.

[2018-01-31 15:30] saschanaz commented on #1458
Generated build result is different with the main repo, probably affected by some change in the dependencies.

[2018-02-01 02:22] marcoscaceres commented on #1458
Just fyi, I’m in the middle of moving house, so will be a bit slow to respond to things till next week! Thanks nonetheless for looking into it.

[2018-02-01 03:23] saschanaz commented on #1458
Oops, I was just to request uploading your local `package-lock.json` to see what update causes this issue :smile:

It seems `yarn.lock` is now too old.

[2018-02-01 04:52] marcoscaceres commented on #1458
Yeah, sorry there is both... npm 5 was... not a great release... so I had to switch between yarn and npm a few times.

[2018-02-01 06:44] saschanaz commented on #1458
No worry, I got a fix 😁 #1461

[2018-02-01 07:27] saschanaz opened #1462 "Forked repositories cannot run karma tests on Travis?"
https://travis-ci.org/saschanaz/respec/jobs/335975836

The same tests for #1461 succeeds on w3c repo and fails on my own repo.

The result says `Encrypted environment variables have been removed for security reasons.`, so maybe some env vars are needed?

[2018-02-01 09:50] #1458 closed

[2018-02-02 04:27] saschanaz opened #1469 "Use/support jsdom to preprocess"
ReSpec shouldn't require installing real browsers to use `respec2html.js` as jsdom supports browser-like DOM manipulation in Node.js. Dropping Nightmare (and so Electron) dependency will allow easier build environment settings on GPU-less CLI environments.

[2018-02-03 01:07] saschanaz commented on #1237
What do you mean by *set it to "overlarge"*?

[2018-02-03 02:56] himanish-star commented on #1363
@marcoscaceres, I would like to work on this issue. May I ?

[2018-02-03 03:05] #1423 closed

[2018-02-03 03:08] marcoscaceres commented on #1363
Sure, but we need to identify some potential candidates that would make use of this. What would be nice little wins?

[2018-02-03 03:09] marcoscaceres commented on #1237
In base.css, there is an “overlarge” css class that might help.

[2018-02-03 03:17] himanish-star commented on #1363
Actually I haven't actually gone into depth in this issue. I am a new contributor to this repo and this issue really caught my interest and I think that I can manage to get this fixed but with some time in hand. It would be really nice if you could guide me a bit regarding this issue. In the meantime I am trying to get familiar with the code

[2018-02-03 03:21] saschanaz commented on #1237
Oh, I see. BTW I see a text wrapping now, is this still an issue?

![image](https://user-images.githubusercontent.com/3396686/35762602-c430af28-08dc-11e8-81cd-424d38286787.png)

[2018-02-03 05:32] himanish-star commented on #651
@marcoscaceres, I went through this issue and also tested out how WHATWG works. So may I give this a try?

[2018-02-03 05:44] himanish-star commented on #651
So do you want to create a new button or you want to add this functionality to the existing `File it!` button shown in the pic below. But in this case the user would have to open `ReSpec > About ReSpec` then click on `File it!`

![image](https://user-images.githubusercontent.com/30361728/35763476-f93ddaec-08d2-11e8-8a79-9dc12e0f8976.png)

[2018-02-03 05:54] saschanaz commented on #1237
IMO it's probably on purpose, though.

[2018-02-03 08:44] marcoscaceres commented on #1237
But would it not be best for words in IDL blocks to not break like that? I’d prefer `PaymentOptions` to be on a new line as a single word, and not split.

[2018-02-03 09:54] saschanaz commented on #1237
Hmm yes, that looks weird.

[2018-02-04 07:55] anweshknayak commented on #1416
hey @marcoscaceres I would like to work on this one. Could you tell me how should I proceed?

[2018-02-04 15:00] himanish-star commented on #651
I have implemented a solution. Please see to the GIF below for viewing the changes. Can I file a PR now?
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/30361728/35778846-1973cb60-09ea-11e8-8f41-853ccae65ab1.gif)

[2018-02-04 17:05] himanish-star commented on #1427
@marcoscaceres, Can I also take over this issue?

[2018-02-04 18:12] himanish-star commented on #1427
I have attempted a solution to this. You can see the GIF below for the changes. Can I file a PR for this ?

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/30361728/35780632-6acde08a-0a04-11e8-9faf-333f4eaa039e.gif)

[2018-02-05 00:05] marcoscaceres commented on #651
Sure, send it up. However, I have some suggestions of how we can make this better from a UI and UX perspective.

[2018-02-05 01:32] himanish-star commented on #1427
@marcoscaceres, please could I get to know what is the IRC of `W3C/respec`?

[2018-02-05 01:50] marcoscaceres commented on #1363
@himanish-star this one might be a bit hard to start with, as it indeed requires understanding subtle behavior in ReSpec (lots of things depend on each other, so if they fall out of sync, things breaks). I'll message you about the issues  you enquired about.

[2018-02-05 01:59] marcoscaceres commented on #1427
@himanish-star, we use the w3c IRC. https://www.w3.org/wiki/IRC

You can find me as "marcosc" in the #specs channel. However, I might be slow to respond today as I'm catching up on a bunch of stuff from last week.

[2018-02-05 02:04] himanish-star commented on #1427
Thanks a lot! :smiley:

[2018-02-05 02:05] himanish-star commented on #1363
@marcoscaceres, ya I realized this later on. But can I work on this as a long term issue while at the same time solving other issues which are relatively simpler. Maybe after working on this repo for a week I can start understanding things better

[2018-02-05 04:35] himanish-star commented on #1427
Actually I do have the things ready, but my laptop's battery was running dry so I have ordered a new battery and I'll surely file a PR after a few hours once I have my laptop back. Sorry for the inconvenience 😞

[2018-02-05 04:41] marcoscaceres commented on #1416
@anweshknayak, I think the easiest thing to do would be to got through the Wiki and copy/paste the examples into a new document. https://github.com/w3c/respec/wiki

you can copy/paste the "starter.html" in example to start with. I would start with a very minimal document and just start adding one one configuration property at a time.

Some things just need to be included into the `respecConfig`, l

[2018-02-05 05:57] marcoscaceres commented on #1427
heh, no problem @himanish-star! Take your time and hope your laptop gets well soon 🔋🚑

[2018-02-05 08:12] marcoscaceres commented on #1469
Definitely. I've hit this on Dreamhost too.

The problem in the past (years ago!) was that JSDOM was super-duper slow for whatever reason - specially on big specs - so it wasn't feasible to use it. That's probably been addressed since then, but someone would need to try it out.

[2018-02-05 08:54] anweshknayak commented on #1416
@marcoscaceres so what I figured out is. I start by copy/pasting the examples from the **wiki** to a document. Something in `respec/tests/` would do?
And do you mean like every configuration into one file?

Sorry If I am wrong.

[2018-02-05 09:12] marcoscaceres commented on #1416
Yep, what you describe is correct. Note that some configuration options will conflict with each other, so just pick ones that don't (ReSpec should warn you if there is a conflict).

The goal is to exercise as much of ReSpec as possible.

However, as you start, keep the commits small (around ~100 lines is ideal)... otherwise it's going to be difficult for us to review. So just send things up as you

[2018-02-05 10:34] shikhar-scs commented on #1425
@marcoscaceres Could you be more clear on which algorithms you are talking about. Are these the ones that exist in the `chai` OR the ones in the `karma-verbose-summary-reporter/README.md` ?

[2018-02-05 10:45] shikhar-scs commented on #1374
If this issue is still up @marcoscaceres may I work on it ?

[2018-02-05 10:50] marcoscaceres commented on #1425
Ah, no. Sorry for not being clear. In specs, we define “steps” to be run.

For example: https://www.w3.org/TR/payment-request/#shipping-address-changed-algorithm

We would need to work out some means on linking to, for example, “step 3.1” in that.

[2018-02-05 10:53] marcoscaceres commented on #1374
Sure is! Absolutely, you can take it. Take a look at: https://w3c.github.io/payment-request/

And search for “tests”. You will see what I mean there. There is lots we could do.

[2018-02-05 11:01] saschanaz opened #1475 "19.1.0 doesn't seem to support interface mixins"
cc: @marcoscaceres

It does not contain support for interface mixins. Probably the scripts were built on a previous commit?

[2018-02-05 11:03] marcoscaceres commented on #1475
Odd. Will check what happened.

[2018-02-05 11:42] shikhar-scs commented on #1374
Do you intend to say this

![hhiih](https://user-images.githubusercontent.com/25258877/35802841-b2c09598-0a97-11e8-9385-691ca3b94255.gif)

[2018-02-05 12:06] shikhar-scs commented on #1425
@marcoscaceres We could work on the lines of the heading `events` in the `table of contents`. Like `events` has a `16.2.1, 16.2.2`, etc. The `examples of usage` heading in the contents list is a similar example too - `2.2.1 & 2.2.2` , etc.

A difference can be that instead of listing some subheadings in the `table of contents` list we can write step 1 step 2 and so on .

[2018-02-05 12:53] saschanaz opened #1476 "CI fails with a message `{}`"
Starting from https://github.com/w3c/respec/commit/670b3120207543cd384b616053cf7d4ab3b2af90:

https://travis-ci.org/w3c/respec/jobs/337395491

[code]

[2018-02-05 13:09] saschanaz commented on #1476
It seems https://w3c.github.io/manifest/ itself has a problem, but that empty error message is still odd.

[2018-02-05 13:18] saschanaz commented on #1476
#1475 seems related. webidl2.js is up to date there but the ReSpec script is not updated to be compatible.

[2018-02-05 14:03] marcoscaceres commented on #1374
Yep, exactly those.

[2018-02-05 14:19] shikhar-scs commented on #1374
So, I'll get working with that. Meanwhile could you tell me how to access the specific tags (requires secure connection lock,  manual tests muscle, automated test robot) and all?

[2018-02-05 14:37] marcoscaceres commented on #1476
Yeah, spotted that too. Will have to look in the morning, as it’s 💤 time here.

[2018-02-05 14:41] marcoscaceres commented on #1374
Please see the developer guide: https://github.com/w3c/respec/wiki/Developers-Guide

Will send details tomorrow as to where the actual code is. However, it be good to discuss a proposal and do some mock-ups before coding anything. This is mostly UI work, so want to make sure we see something nice/usable before we start coding.

[2018-02-05 14:53] shikhar-scs commented on #1374
Sure thing :+1:

I'll try and find them on my own else lookout for it tomorrow :smiley:

[2018-02-05 19:33] himanish-star commented on #674
I mean to cause no inconvenience to anyone by commenting in a number of issues. But I also have a working solution for this issue too! I will also reference my commit here in a while. But I will wait until I'm done with PRs #1477 and #1473 before filing a PR for this issue :smiley:

[2018-02-06 01:05] marcoscaceres commented on #674
@himanish-star, no need for apologies. Please feel free to comment or ask anything. Your help is greatly appreciated.

Looking really great, @himanish-star!

[2018-02-06 01:06] marcoscaceres commented on #1475
ok, trying to rebuild and figure out what happened.

[2018-02-06 01:08] marcoscaceres commented on #1462
That's really strange as our config doesn't use any encrypted vars.

[2018-02-06 01:18] marcoscaceres commented on #1475
Seems we regressed somewhere related to the linking with the recent IDL changes. Will walk it back a bit and see if I can figure it out.

[2018-02-06 01:21] himanish-star commented on #674
Thanks marcos :smiley:

[2018-02-06 01:42] marcoscaceres commented on #1476
Ok, this one seems to have been caused by a bug in HyperHTML. Upgrading the dependency seemed to fix things locally for me. I've pushed this as 19.1.1... but just waiting to CI to acknowledge that it worked.

[2018-02-06 01:53] marcoscaceres commented on #1476
Ok, Travis is happy again 🕺

[2018-02-06 01:53] #1476 closed

[2018-02-06 01:58] saschanaz commented on #1475
Confirmed that 19.1.1 fixes this :tada:

[2018-02-06 01:58] #1475 closed

[2018-02-06 01:59] marcoscaceres commented on #1475
Excellent! Thanks for checking this one too!

[2018-02-06 02:04] marcoscaceres commented on #1462
Could you rebase your fork? Maybe will not magically fix itself? Looking at the log, it seems the fails were Chrome not starting.

[2018-02-06 03:34] saschanaz commented on #1462
It's still failing 😱

https://github.com/travis-ci/travis-ci/issues/8836

The Travis-CI guys recommend `--no-sandbox` when running Chrome on a Travis container, but our w3c/respec repo is totally okay without it. Not sure what's going on.

[2018-02-06 03:37] saschanaz commented on #1462
https://github.com/travis-ci/travis-ci/issues/8836#issuecomment-348332353:

Oh.

[2018-02-06 03:48] marcoscaceres commented on #1462
They are saying there that they fixed it tho. We can definitely try `--no-sandbox` if you'd like. I don't mind, as it's not running on my computer 😂.

[2018-02-06 04:07] saschanaz commented on #1462
We can alternatively try `sudo: required`, or may just wait as:

1) I can now use the official repo to test codes :tada:
2) [They are willing to fix it](https://github.com/travis-ci/travis-ci/issues/8836#issuecomment-359018652)

[2018-02-06 04:57] shikhar-scs commented on #1374
@marcoscaceres If you could help here a bit :smile:

[2018-02-06 05:37] marcoscaceres commented on #1374
Yeah, ping me on IRC.

[2018-02-06 05:39] marcoscaceres commented on #1462
Happy for you to test here :) However, there are a few other forks of this project, so if you think it might help them, we could also add `sudo: required` to the config.

[2018-02-06 06:12] marcoscaceres commented on #1425
I'm pretty open to that.

[2018-02-06 07:43] shikhar-scs commented on #1374
Sure :+1:

[2018-02-06 07:46] shikhar-scs commented on #1425
That would be great.

[2018-02-06 08:11] #1462 closed

[2018-02-06 08:58] marcoscaceres commented on #1374
@shikhar-scs, code is here:
https://github.com/w3c/respec/blob/develop/src/core/data-tests.js

The documentation for usage is here:
https://github.com/w3c/respec/wiki/data-tests

The tests for it are here:
https://github.com/w3c/respec/blob/develop/tests/spec/core/data-tests-spec.js

[2018-02-06 09:52] shikhar-scs commented on #1374
Thanks for that, I'll follow it up soon.

[2018-02-06 10:09] marcoscaceres commented on #1374
ok, but please run your ideas by me as you go. We are going to try to align with BikeShed, as they are doing something very similar: https://github.com/tabatkins/bikeshed/issues/1116

[2018-02-06 10:11] shikhar-scs commented on #1374
Sure! Btw, on your name has been missing on IRC at #spec channel

[2018-02-06 10:14] marcoscaceres commented on #1374
Sorry, went to the gym 💪 My timezone is GMT+10 (Melbourne, Australia).

[2018-02-06 10:40] marcoscaceres opened #1479 "Missing things in IDL index"
Given:

[code]

Expected the following to include both `BeforeInstallPromptEvent` AND `PromptResponseObject`:

[code]

Actual: `PromptResponseObject` object is missing.

[2018-02-06 10:53] shikhar-scs commented on #1374
@marcoscaceres No problem at all. I very easily understand the code now.

However, I have a doubt. Whenever I make changes to the `href` logic below, it does not reflect on the basic.html file
https://github.com/w3c/respec/blob/34822ee20dcbbf186e81d9bfbccd66dc3d51913e/src/core/data-tests.js#L25-L31

we can do away with the `.html` part here itself. Also, where can I access the tags related to a te

[2018-02-06 13:06] shikhar-scs commented on #1425
@marcoscaceres If you could help me locate where the links for all other `toc` are set, that would be great .

Currently I had copied the source code of the part related to algorithm from [here](https://www.w3.org/TR/payment-request/#shipping-address-changed-algorithm). It does produce the page required, however, hard coding it there won't work. So, if you could help me find out the specific js fi

[2018-02-06 18:06] shubhshrma commented on #1479
Can I work on this @marcoscaceres ? I have setup the project and am ready to try to tackle some issues.

[2018-02-07 01:05] saschanaz opened #1482 "Build command hates Windows"
[code]

We may do build jobs with Node.js API rather than shell commands.

[2018-02-07 01:45] marcoscaceres commented on #1374
Ah, about it not reflecting, did you do?:

[code]

That will compile the code for you. I'm around for the next 6 hours or so on IRC. Ping me on there and we can get you up and running.

[2018-02-07 02:27] shikhar-scs commented on #1374
Oops! completely forgot about that. Thanks for reminding.
I have college a bit earlier today, so I wont be around that much for a couple of hours. I'll catch up in a while. Thankyou for your help :bowing_man:

[2018-02-07 02:28] marcoscaceres commented on #1482
Hmm... yeah, it needs to be run in the git-bash on Windows. Was Microsoft planning on releasing a Unix shell? I keep hearing things.

[2018-02-07 02:57] saschanaz commented on #1482
Microsoft provides Ubuntu environment on Windows 10 so users can use bash on it. It's not perfect for ReSpec though, as:

1. karma fails to run because the Ubuntu environment only has CLI
2. It's Ubuntu, so `npm install` wants to install the Ubuntu binary of Electron so that `respec2html` can only run on Ubuntu

So a Windows user currently have to use two shells to build and test (unless the user

[2018-02-07 04:24] marcoscaceres commented on #1425
@shikhar-scs, in "src/core/structure.js", search for "// makeTOC" and "makeTOCAtLevel".

[2018-02-07 05:57] shikhar-scs commented on #1374
@marcoscaceres Can you please tell me again where can I get the tags related to a test ?

[2018-02-07 05:58] marcoscaceres commented on #1374
@shikhar-scs, I'm not exactly sure what you mean by tags? Can you clarify?

[2018-02-07 05:59] shikhar-scs commented on #1374
These

[2018-02-07 07:19] saschanaz opened #1484 "`npm run karma` cannot run Chromium"
Related with https://github.com/litixsoft/karma-detect-browsers/issues/22.

And it never uses headless mode which is better for CI tests (and required for Windows Subsystem for Linux).

[2018-02-07 07:20] saschanaz commented on #1484
BTW, Is it intended to run on every browser installed on the system? I have Chrome, Firefox, Opera and MSEdge and karma wants to run tests on all browsers..

[2018-02-07 07:22] shikhar-scs commented on #1374
@marcoscaceres As of now, we have this (I have zoomed in for a better view)

![heheheheehehe](https://user-images.githubusercontent.com/25258877/35903544-a905c69e-0c05-11e8-9560-6baf42d63c5c.png)

To prettify it further, we should also remove the dashes I guess. Please review

[2018-02-07 07:23] marcoscaceres commented on #1484
That's what I've been doing locally (as I was the lone maintainer). However, we can restrict that now that more people are participating.

[2018-02-07 07:29] marcoscaceres commented on #1374
Looking good, @shikhar-scs.

[2018-02-07 08:01] shikhar-scs commented on #1374
Should I file a PR for the same ??

[2018-02-07 11:39] riannella opened #1485 "SOTD still points to 1 March 2017 W3C Process Document"
How can we get our specs to link to the new 1 Feb 2018 W3C process document in the SOTD section?

[2018-02-07 20:33] OrionStar25 commented on #1373
Hey, I'd like to work on this issue! Can you please elaborate a bit more though?

[2018-02-07 20:40] OrionStar25 commented on #1389
Does the spec still have that issue? I can see the "*" in it though.

[2018-02-08 01:32] marcoscaceres commented on #1485
@riannella, could you please send me a link to the affected document? I'll try to see what is going on. We only rolled out the process changes a few days ago, so there might be a bug.

[2018-02-08 02:12] marcoscaceres commented on #1389
@OrionStar25, thanks for reminding me, we found a work around for it (using back ticks on *, as shown below):

[code]

[2018-02-08 02:17] marcoscaceres commented on #1389
I'm not sure if we should do anything here. I've documented the workaround here: https://github.com/w3c/respec/wiki/format

[2018-02-08 02:17] #1389 closed

[2018-02-08 02:24] marcoscaceres commented on #1373
@OrionStar25 that's great, and should be pretty easy.

See the screenshot below of what is actually needed:

![screenshot_2018-02-08_13_19_00](https://user-images.githubusercontent.com/870154/35952160-d0ddb488-0cd2-11e8-8aaf-17a42f14cb80.png)

You basically just need to add one of these objects here:
https://github.com/w3c/respec/blob/develop/src/core/github.js#L117

And add the localization strin

[2018-02-08 02:26] marcoscaceres commented on #1373
@OrionStar25, if you haven't already, please also see the get started guide for devs https://github.com/w3c/respec/wiki/Developers-Guide

[2018-02-08 07:25] shikhar-scs commented on #1425
I went through `src/core/structure.js` (understanding how the method `makeTOCAtLevel` works )and extensively through the source code of [this page](https://www.w3.org/TR/payment-request/#shipping-address-changed-algorithm) step by step. What I think is that the error lies in the way the data related to algorithm is sent to `structure.js`.

Under the sub-heading `16.2` i.e. `16.2.1` gets wrapped up

[2018-02-08 14:26] shikhar-scs commented on #1352
@marcoscaceres If you could be a bit more clear, I would like to work on this :sweat_smile:

[2018-02-08 14:40] himanish-star commented on #670
I can fix this maybe.

[2018-02-08 15:37] shubhshrma commented on #1479
@marcoscaceres  @saschanaz It would be great help if you people could possibly locate me to some files to change. I understand the issue after looking [this](https://w3c.github.io/manifest/#beforeinstallpromptevent-interface) page and [this](https://github.com/w3c/manifest/blob/gh-pages/index.html) code. But being new I can't find the appropriate files to work on. Please help. Thanks.

[2018-02-09 01:43] marcoscaceres commented on #1479
@shubhshrma, thanks for offering to help - some info below.

The IDL index is generated by:
`src/core/webidl-index.js`

And tests for this are in:
`spec/core/idl-index-spec.js`

If you haven't already, please check out the [developer guide](https://github.com/w3c/respec/wiki/Developers-Guide).

I suggest putting the test case above into the "examples/basic.html" file, and trying to debug it from t

[2018-02-09 06:49] saschanaz commented on #1392
Note that `node ./tools/respec2html.js -e --src https://w3c.github.io/sdw/ssn/ --timeout 30 --out abc.html` also generates wrong logo buttons with empty `href` attributes.

[2018-02-09 19:13] OrionStar25 commented on #1373
Sent a pr 👍

On 8 Feb 2018 7:56 am, "Marcos Cáceres" <notifications@github.com> wrote:

[2018-02-10 04:42] saschanaz commented on #1485
I'm seeing 1 Feb 2018:

![image](https://user-images.githubusercontent.com/3396686/36058605-242dd316-0e68-11e8-9022-356146c377e1.png)

[2018-02-10 04:47] saschanaz opened #1494 "What does handle @@@?"
I found `@@@text@@@` forms in our SOTD template:

https://github.com/w3c/respec/blob/cb910fefe152db689659c6b16b319ffabcc1a239/js/w3c/templates/sotd.html#L37-L53

It seems they are not processed by handlebars or anything, what does handle them?

[2018-02-10 04:48] riannella commented on #1485
Hmmm...looks like it could have been a force-reload webpage issue....

[2018-02-10 04:48] #1485 closed

[2018-02-11 14:56] shubhshrma commented on #1479
@marcoscaceres The problem is that we are appending only the first child of each ```<pre class="idl">``` and not all children. So, only first block of each is present in ```<section class="idl-index">```. I have made some changes. Please see.

[2018-02-11 18:31] OrionStar25 commented on #1437
If it hasn't been solved yet, I'd like to try solving this one!

[2018-02-11 18:43] OrionStar25 commented on #1239
I'd like to try solving this please :3

[2018-02-12 00:05] #1373 closed

[2018-02-12 04:52] marcoscaceres commented on #1437
@OrionStar25, sure... but it's a bit of hard one. You need to start here:
https://github.com/w3c/respec/blob/develop/src/core/link-to-dfn.js#L67

[2018-02-12 05:48] OrionStar25 commented on #1352
@marcoscaceres I'd like to work on this one, please!

[2018-02-12 05:54] marcoscaceres commented on #1494
Heh, I think because we never have member submissions (`isMemberSubmission` being true) in practice, no one has ever seen this bug :)

[2018-02-12 06:02] marcoscaceres commented on #828
Closed via https://github.com/w3c/respec/issues/828

[2018-02-12 06:02] #828 closed

[2018-02-12 06:03] marcoscaceres commented on #1482
@saschanaz, given your work on #1488, what else would now be needed here?

[2018-02-12 06:15] OrionStar25 commented on #1437
@marcoscaceres I'm not understanding much on how to do this right now, so should I move on to something easier first?  :$

[2018-02-12 06:27] OrionStar25 commented on #1217
@marcoscaceres I'd certainly like to work on this! But can you please elaborate a bit more? We need `''' <some WEbIDL pre> ''' ` to show finally onto the doc, right?

[2018-02-12 06:27] saschanaz commented on #1482
https://github.com/snyk/snyk/issues/48 remains, but now there is a simple workaround: `npm run build:components` which does not call snyk.

It's still a problem though.

[2018-02-12 09:29] marcoscaceres commented on #1217
@OrionStar25, that would be correct. However, I'm trying to find you something easier. This one has too many dependencies, so might be too challenging if you are just starting out.

[2018-02-12 09:37] marcoscaceres commented on #1437
@OrionStar25, yeah... might be best... searching for something for you.

[2018-02-12 09:41] marcoscaceres commented on #820
Sorry @nickevansuk, this never happened :( It's still hard for us to do this, because we have scripts and other external dependencies expecting things on gh-pages.

[2018-02-12 09:41] #820 closed

[2018-02-12 09:56] marcoscaceres commented on #857
@OrionStar25, this is a good one, I think. Details of what needs to be done are above. however, you need to modify this instead:
https://github.com/w3c/respec/blob/develop/src/core/biblio.js#L66

It needs to take a citation style (e.g., `wireReference(rawRef, target, style)`). The default is whatever is there at the moment.

But we also want to add the APA citation style:
http://www.bibme.org/cita

[2018-02-12 11:00] #1392 closed

[2018-02-12 18:09] OrionStar25 commented on #857
On it!

On 12 Feb 2018 3:27 pm, "Marcos Cáceres" <notifications@github.com> wrote:

[2018-02-13 06:26] marcoscaceres opened #1502 "META: Google Summer of Code 2018"
🎉 ReSpec has been selected to be part of Google Summer of Code 2018 as a Mozilla project 🎉

This means that there is a really good chance of getting funding for one of you - but it's not yet guaranteed!

## Your proposals
Applicants, please read Google's [student guidelines for project proposals](https://google.github.io/gsocguides/student/writing-a-proposal) carefully:

Important to note from abo

[2018-02-13 07:53] marcoscaceres commented on #1502
Added some tasks above. I would not expect anyone to be able to do more than 3 over the summer.

[2018-02-13 08:58] marcoscaceres commented on #1479
Fixed via https://github.com/w3c/respec/issues/1497

[2018-02-13 08:58] #1479 closed

[2018-02-13 10:49] saschanaz commented on #1502
I was thinking about porting IDL and other templates into hyperHTML (#1136), should I skip IDL part?

[2018-02-13 10:58] saschanaz commented on #1502
For those who wants to replace jQuery:

You may choose to use [Sizzle.js](https://github.com/jquery/sizzle) to do progressive migration. Sizzle.js is an CSS selector library internally used by jQuery, and you may find it useful when dealing with jQuery-specific selectors:

[code]

[2018-02-13 11:11] tripu commented on #674
@himanish-star, good job!

If I may, :+1: to your suggestion, but :-1: to capitalising all labels automatically (I see that labels in the issues you're using for testing are not all in caps themselves: #1369; #1370). Sometimes labels include CamelCase words, acronyms, etc, and that would be lost when capitalising all. ALSO, CAPS REDUCE READABILITY, imho.

[2018-02-13 11:25] marcoscaceres commented on #674
Yeah, might be best to leave the capitalization as is. Well spotted @tripu!

[2018-02-13 12:33] himanish-star commented on #674
Sure I'll see to this

[2018-02-13 13:48] saschanaz opened #1503 "Should RDFa still be supported?"
XHTML is dead, probably no?

[2018-02-13 13:57] marcoscaceres commented on #1503
We should check if there are any instances of anyone using it. But yeah, xhtml is dead and I’ve no idea if RDFa makes sense outside an xhtml context?

[2018-02-13 14:28] halindrome commented on #1503
RDFa has nothing to do with XHTML.   It is an extension to HTML5 and is
part of the HTML5 standard.  It is used throughout the internet.  No reason
to not support it.

On Tue, Feb 13, 2018 at 7:57 AM, Marcos Cáceres <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2018-02-13 15:02] marcoscaceres commented on #1503
I know we have this discussion once every two years, but I’m still not sure what “supported throughout the Internet” means? Would be great to see the spec metadata show up somewhere (e.g., in Google results or something tangible that we can see)? 👀

If something is using the data in a way that benefits the community, we should keep it. But, if not...

[2018-02-13 16:55] gkellogg commented on #1503
From the [November 2017 Common Crawl](http://webdatacommons.org/structureddata/2017-12/stats/stats.html), out of 26,271,491 domains crawled (4.6%), 1,209,430 have RDFa on them. Not as high as JSON-LD (2,685,738) or Microdata (3,743,822), but still something quite substantial.

RDFa in ReSpec is a sunk cost and allows some aspect of our technical communications to be machine understandable, we shou

[2018-02-14 01:05] marcoscaceres commented on #1503
Respectfully, I'm asking two simple question:

 1. who is using the meta data? (e.g., "it's *shown* in Google search results! Look here: screenshot!")
 1. how does that directly benefit ReSpec users?

If the answer to the above is no one, and there is no direct benefit to our community, then we should remove the RDFa stuff.

[2018-02-14 01:05] saschanaz commented on #1370
How about supporting this on WebIDL2.js side?

[2018-02-14 02:53] halindrome commented on #1503
I honestly find this sort of conversation exhausting.    There are two
important arguments here:

   1. We at the W3C need to "eat our own dogfood".  That means
   instrumenting our specifications with metadata.
   2. We *know* that search engines index metadata.   See also
   http://schema.org

However, in deference to your more-or-less reasonable guideline that unused
code is a burden, sure - le

[2018-02-14 02:55] marcoscaceres commented on #1370
@saschanaz, could do... but we need to work out if WebIDL2.js is a non-validating parser (mostly how it works today), or if we need to beef up validation. Otherwise, we could build a separate validator that takes input from WebIDL2.js (I made a small start on this elsewhere).

[2018-02-14 03:09] marcoscaceres commented on #1503
That would be amazing. Again, the question is around W3C specs - I've seen good examples of funky things done in search results with schema.org metadata and Google search results - so want the same wins for ReSpec/W3C Specs.

Hi @danbri! Suggestions?

[2018-02-14 03:17] saschanaz commented on #1370
Or we may add `.validate()` method to the webidl2.js.

[2018-02-14 04:22] marcoscaceres commented on #1129
Thanks to @nileshgulia1,  we concluded that we should keep our current build system and eventually move to ES modules and native `requires()` in the browser.

[2018-02-14 04:22] #1129 closed

[2018-02-14 04:48] marcoscaceres commented on #1370
`.validate()` would be really useful... I'm mostly thinking about web platform tests making primary use of it.

Thinking out loud here, but the trade off with `.validate()` instead of, say, `parse(idlText, {validate: true})` is that we lose line numbers and character position of errors.

[2018-02-14 05:45] saschanaz commented on #1370
Also the method/option name should be more intuitive, `validate` is somewhat confusing to me as a parser always validates the syntax.

[2018-02-14 07:33] marcoscaceres commented on #1370
True that... should we move this discussion to the other repo? This could potentially be quite a large project - but I'm totally keen to discuss it further. And definitely something we could involve a GSoC #1502 student on - as it would require a ton of tests.

[2018-02-14 07:42] #1427 closed

[2018-02-14 07:43] saschanaz commented on #1370
Yes, please open an issue and link back 👍

[2018-02-14 07:56] marcoscaceres commented on #1370
https://github.com/w3c/webidl2.js/issues/138

[2018-02-14 07:58] marcoscaceres commented on #1502
I'd like to share what I have locally with you and have a chat about it. Would be great to plan this out a bit, as it's basically the most important part or ReSpec.

[2018-02-14 08:29] shikhar-scs commented on #1425
@marcoscaceres As work on #1487 is almost over, could you tell me whether my approach for this issue was correct or not ?

[2018-02-14 10:29] danbri commented on #1503
Google (Search, Shopping, News, etc.) has decent RDFa 1.1 capabilities ( I believe everything except the relatively exotic property copying mechanism). All the "rich snippets" and similar structured data functionality should work just fine. Whether the specific vocabulary and data patterns you're publishing map to a current public facing question is another matter. W3C specs are pretty niche if yo

[2018-02-14 12:50] danielpeintner opened #1508 "WebIDL name collision issue"
We, the WoT Scripting API taskforce, run into a little issue with respec when having the same name (even though with different spelling) in WebIDL.

Please take a look at https://rawgit.com/w3c/wot-scripting-api/45666df86df76a7dc76a085c48d1e5d6183a5a42/index.html

In Section "5.7.1 The ThingPropertyInit dictionary" we have `boolean    observable = true;`.

In Section "6. Observables" we have `inte

[2018-02-14 13:18] dontcallmedom commented on #1508
I hit the same issue recently - the workaround is to use `data-dfn-for=""` on the `<dfn>` used to markup the definition associated with the interface - see also https://github.com/w3c/webrtc-pc/commit/9403a1b3dc67db3243ba15f55e98fd6cac928175

[2018-02-14 13:18] dontcallmedom commented on #1508
(leaving the issue open since avoiding the need for that workaround would be nice)

[2018-02-15 02:00] marcoscaceres commented on #1503
So, we won't remove RDFa things in ReSpec that create "rich snippets". And we should actively add things that show up as "rich snippets".

However, if we are ever refactoring code, and we find RDFa stuff that doesn't show up as a "rich snippet", we should remove it (as it adds no value). But we won't actively remove RDFa support.

Sound like a plan?

[2018-02-15 04:14] marcoscaceres commented on #1508
@danielpeintner please also have a quick look at https://github.com/w3c/respec/wiki/WebIDL-Guide

We are working on trying to make ReSpec smarter as part of #1050.

[2018-02-15 04:31] marcoscaceres commented on #1425
I won't be able to tell until you try it out. Having said that - I'm thinking this is probably not high priority at the moment.

[2018-02-15 05:18] saschanaz commented on #1508
[code]

This is a weird situation, the parent `data-dfn-for` makes `<dfn>Observable</dfn>` be resolved like `observable.Observable`. Currently ReSpec first searches the top level `dfn`, then tries lower levels as a workaround.

https://github.com/w3c/respec/blob/29aebe1ebda0a83577eb1c829e0f69d148a4f399/src/core/webidl.js#L972-L976

But it didn't work because of the `boolean observable`.

[2018-02-15 05:25] saschanaz commented on #1508
Currently the definition map is case insensitive, will there any problems if it becomes case sensitive? @marcoscaceres

[2018-02-15 05:27] marcoscaceres commented on #1508
Not for IDL links, but yes for others... so we need to distinguish them.

[2018-02-15 07:30] #1374 closed

[2018-02-15 08:05] marcoscaceres commented on #1503
Tried this again with the json-ld spec too, and similar story... it finds foaf, and hcard, but nothing else... and with no context (i.e., it doesn't seems to express "these people authored this work" or anything "semantic").

@danbri, sorry to bother you again, any suggestions for improving this? A significant chunk of ReSpec code is dedicated to sprinkling RDFa throughout ReSpec, but it all seems

[2018-02-15 08:06] marcoscaceres commented on #1503
Fixed typo above.

[2018-02-15 14:45] shikhar-scs opened #1512 "Typos in the Developer's Guide"
Reading up the developer's guide, I found a couple of typos.

https://github.com/w3c/respec/wiki/Developers-Guide#warning-users-of-errors

`**the** minified JS`

https://github.com/w3c/respec/wiki/Developers-Guide#plugins

`You can also **run** npm run babel:watch`

I'll keep on adding more as and when I reach to them :sweat_smile:

[2018-02-15 15:14] shubhshrma commented on #1419
@marcoscaceres Can I take this forward? Meaning can this be completed keeping upcoming submissions in mind.

[2018-02-15 16:05] gkellogg commented on #1503
The RDFa generated is not “broken”, it just doesn’t generate RDF using schema.org properties and classes. Try it with the [Structured Data Linter](http://linter.structured-data.org) and you will see quite a different result. Outputting the triples as JSON-LD wouldn’t produce any different result. IMO, when talking about a document, using document markup (RDFa) makes sense. When talking about what

[2018-02-15 17:36] halindrome commented on #1503
We could switch to the schema.org vocabulary pretty quickly actually.  I
had forgotten that google's processor only really cares about that vocab.
 myopic, but whatever.

On Thu, Feb 15, 2018 at 10:05 AM, Gregg Kellogg <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2018-02-15 17:48] gkellogg commented on #1503
I'll work on mapping classes and properties, show an experimental result and do a PR.

[2018-02-16 02:27] saschanaz opened #1513 "Integrate highlighter/idl parser into worker"
We are currently highlighter by `importScript`, but this causes additional network request and is not good for version managing. How about building it as a single file as the core library does?

[2018-02-16 03:12] marcoscaceres commented on #1513
In moving highlighter to a worker (and hopefully WebIDL processing), I had the following goals:

 1. reduce the payload size of the ReSpec bundle: ReSpec takes a huge performance hit right now because of bundle size.
 1. allow the highlight script to be cached independently of ReSpec, because it rarely changes.
 1. Doing the highlighting off main thread, because it's a nice to have - but not criti

[2018-02-16 03:41] saschanaz commented on #1503
A newbie question here: why do we add it conditionally? Performance?

[2018-02-16 04:04] marcoscaceres commented on #1503
No, a lot of people in the community don't want RDFa in their specs because they felt it bloated specs with no value to readers or editors (why I keep asking for proof of value and utility to our community).

This is why if we can get the RDFa stuff to show up in Google search results we can go back to the community and be like, "Check this awesomeness out! You know you wanted... see, this semanti

[2018-02-16 04:38] msporny commented on #1503
I know this'll be heresy coming from the ex-Chair of the RDFa 1.1 WG and very active participant in the Microformats community (especially because I dumped years of my life into the efforts), but ultimately I think the RDFa, Microdata, and Microformats experiments have largely failed. The markup is too brittle to survive web designers that aren't deeply steeped in how to to write this stuff, and m

[2018-02-16 04:52] marcoscaceres commented on #1503
Really appreciate your input @msporny! Thank you.

[2018-02-16 05:51] marcoscaceres commented on #1419
@shubhshrma, it could definitely be. However, we'd have to think about how to actually test this. It's not super trivial.

[2018-02-16 05:59] marcoscaceres commented on #1512
Thanks @shikhar-scs. Could you kindly fix any typos you find. Unfortunately, the docs have not had much review.

[2018-02-16 05:59] marcoscaceres commented on #1512
(please close this issue if the above are fixed)

[2018-02-16 06:08] shikhar-scs commented on #1512
Done. ThankYou for making me a `collaborator` :sweat_smile:

[2018-02-16 06:08] #1512 closed

[2018-02-16 11:46] himanish-star commented on #674
![image](https://user-images.githubusercontent.com/30361728/36306263-06a8aa4e-133d-11e8-8c83-31c69f71a1f2.png)

I have made changes but I have some tests failing so I'm looking into that. @tripu are you happy with the changes

[2018-02-16 12:43] haeungun commented on #1502
@marcoscaceres @saschanaz
I am very interested in `Eradicate jQuery and Handlebars` Can I take look?
I will send my proposal ASAP.

[2018-02-16 13:24] tripu commented on #674
@himanish-star, yes, thank you!

(I would suggest perhaps more space between the title of the issue and the set of labels, but we can fine-tune those things once you have a PR ready for review.)

[2018-02-16 13:41] himanish-star commented on #674
Yeah I have still one more test failing which I'm trying to correct

[2018-02-16 14:09] saschanaz commented on #1502
The Handlebars part are being done in #1510 (WIP) and #1514. AFAIK the jQuery part is not, it will be great if you take a look 👍

[2018-02-16 15:23] msporny commented on #1503
Very interesting. So, we're spinning up a JSON-LD 1.1 WG soon-ish, and this should be a topic of discussion there.

What I suggest is that you allocate a schema.org property that says "slurp in the data from HERE" property, and then specify something that a JSON-LD processor can optionally call via the JSON-LD API. I'm trying to make sure that we don't put a heavy implementation burden on JSON-LD

[2018-02-17 01:59] gkellogg commented on #1503
Note that this should just work if the page contains RDFa using subjects that are also in the JSON-LD, so that the triples from the RDFa (or Microdata) would "supplement" that described in JSON-LD. However, my testing output using SDTT with RDFa has not been very successful. Still, IMO, that's they way it should work.

The only large bit of content to be slurped out is the abstract, and that might

[2018-02-17 02:09] gkellogg commented on #1503
I modified a local version of ReSpec to generate schema.org classes and properties rather than what's done now. I ran this on a copied version of the [JSON-LD 1.1 spec](https://json-ld.org/spec/latest/json-ld/), modified to be a "WD", as "CG-DRAFT" does not get the RDFa treatment (even if doRDFa is set explicitly). When saved, [this is generated](https://gist.github.com/gkellogg/3eed670b1df76f4750

[2018-02-17 02:52] marcoscaceres commented on #1503
Hold up on the PR @gkellogg. We have a big PR landing that changes all the templates.

[2018-02-17 03:42] saschanaz commented on #1503
#1514 is now merged!

[2018-02-17 04:31] halindrome commented on #1503
I love this so much. Thanks for doing the important research, Gregg!
Interesting that the Google tool is not doing as well as you expect.   I
look forward to learning more.

On Feb 16, 2018 8:09 PM, "Gregg Kellogg" <notifications@github.com> wrote:

[2018-02-17 10:32] danbri commented on #1503
Interesting, Gregg. Yes - this is a known issue, we do some per-parser postprocessing that currently breaks subjecti-URI merging across syntaxes; I will take a look. Can this idea be extended to encompass css selectors and xpaths?

[2018-02-17 15:44] gkellogg commented on #1503
I think @msporny’s approach probably works best, if the RDFa merging approach is somehow not acceptable. Basically an inference rule that would allow a processor to treat some part of the graph resulting from the embedded JSON-LD as a pointer into the document. The [Role](http://schema.org/Role) class does something like this already, so maybe a subclass of Role that has properties to contain a fr

[2018-02-18 09:19] shubhshrma commented on #1419
So @marcoscaceres, what I need to do is move ```save-html.js``` in ```src/core``` and add tests for it. Please correct me if I am wrong.

[2018-02-18 14:34] haeungun commented on #1502
@saschanaz @marcoscaceres

I am writing the first draft of my proposal for GSoC 2018.
I am considering my tasks at least 2 things.
First one is `Eradicate jQuery`.
And the second one is might be ..

This task is very interesting. Can this task be valid for GSoC 2018?
If so, I want to add this task to my proposal.

If you can talk about this task more concretely. It will be great for me.
Thanks!

p

[2018-02-18 15:02] saschanaz commented on #1502
The *other templates* part are done with #1514. For IDL part, @marcoscaceres has a work-in-progress branch (#1510) so you may want to take a look at it.

[2018-02-19 13:53] saschanaz opened #1519 "Use GitHub v4 API"
GitHub introduced GraphQL for its v4 API.

For example, to get titles for issue 1503/1508 and collaborator list for w3c/respec:

[code]

Trying this on https://developer.github.com/v4/explorer/ gives you:

[code]

This should simplify our GitHub API calls and may fix #670 in a finer manner.

[2018-02-19 14:26] saschanaz commented on #1519
But then it seems v4 requires authentication. 😱

[2018-02-19 18:50] gkellogg commented on #1503
Ultimately having both JSON-LD and RDFa support are not in conflict, but based on the perceived value of the JSON-LD SEO (#1517), the RDFa support is redundant and could be deprecated/removed. This implementation is much more modular and does not send tentacles out into other bits of code, so should be less sensitive to semantic drift.

[2018-02-20 01:15] marcoscaceres commented on #1519
would we maybe need to then proxy them through another server?

[2018-02-20 03:07] marcoscaceres commented on #1503
For the reasons your mentioned, it would be great if we deprecated the RDFa in favor of the new JSON-LD module.

[2018-02-20 03:17] saschanaz commented on #1519
Only if we really want v4, as no v3 deprecation plan has been announced yet.

[2018-02-20 03:23] marcoscaceres commented on #1519
I don't have a strong opinion... but seems like requiring authentication is a non-starter.

[2018-02-20 04:02] halindrome commented on #1503
Honestly, my only 2 comments on all of this are:

1) Gregg - you are a rock star and I can't thank you enough!
2) I am of course cool with this if it happens seamlessly for all users.
 In the interests of making everything better, I would also be cool with
making the new JSON-LD insertion the default so everyone has active
semantics in their specs!

On Mon, Feb 19, 2018 at 9:07 PM, Marcos Cáceres

[2018-02-20 04:09] marcoscaceres commented on #1419
That is correct, @shubhshrma.

[2018-02-20 04:52] saschanaz commented on #1519
I agree, this should be done after GitHub introduces unauthenticated calls.

[2018-02-20 11:35] kenchris opened #1520 "Better integration with infra spec"
Bikeshed has great integration with infra like, if you do for each you can easily refer to which one to use, like

 [=set/For each=] or [=map/For each=] or [=list/For each=]

The infra spec:
http://infra.spec.whatwg.org

[2018-02-20 11:49] r12a commented on #879
Can we raise the priority of this?  I'm trying to prepare a doc for publication and hitting validation errors because the caption of the figure contains a tags linking to definitions.

[code]

Which means that every time i generate the doc from respec, i need to track down and manually change the markup here (by removing the figure caption from the reference).  That's definitely broken!

[2018-02-21 15:57] vivienlacourba opened #1522 "Respec can't check local source files anymore"
respec was able to check a local source file now it seems it is not able to check local files anymore whereas it works fine if the file is retrieved from the web.

With local source file ... **Fails**:
[code]

With same source file fetched from the web ... **Works**:
[code]

If possible please add a new test for using local files as the test you have (number 8 and 9) are using a local webserver, e

[2018-02-21 15:59] vivienlacourba commented on #1522
Hi @marcoscaceres I hope you can help us here.

Side note respec tests are also broken https://travis-ci.org/w3c/respec/jobs/344196977

[2018-02-21 19:37] marcoscaceres commented on #1522
@saschanaz, this is related to us switching to Puppeteer. File URLs might not work until this get addressed: https://github.com/GoogleChrome/puppeteer/issues/1506

@vivienlacourba, the work around in just to spin up a local server for now.

[code]

(or you can npm install `http-server` and use that)

[2018-02-21 20:43] marcoscaceres commented on #1522
@vivienlacourba,

Kindly note the above is a random feature branch, which happens to be failing - but it's not part of the build.

To check the build status of ReSpec (the "develop" branch), go directly to https://travis-ci.org/w3c/respec

[2018-02-22 02:05] marcoscaceres commented on #1520
Would be nice to support these inlines... tho the syntax is kinda fugly.

[2018-02-22 02:09] marcoscaceres commented on #1520
Current solution:

* `<a data-cite="infra#set-iterate">For each</a>`
* `<a data-cite="infra#map-iterate">For each</a>`
* `<a data-cite="infra#list-iterate">For each</a>`

Yes, it's much longer, but it's more clear... I'm open to suggestions on inlining, however... we could just use BS's syntax for compat.

@kenchris, do you know if you get any other bonus things from BikeShed from the above? Or ju

[2018-02-22 06:43] gkellogg commented on #1503
I think we can close this now, somewhat sadly. Above I made the claim that RDFa is best for describing a document, and JSON-LD for describing what the document models, but looking at the implementation, this is much more modular and maintainable, as almost all of the data comes out of the configuration, as managed by other modules along the way. The RDFa really looked like spaghetti code code in c

[2018-02-22 06:48] saschanaz commented on #1503
ReSpec now has JSON-LD support instead of RDFa thanks to @gkellogg. Much appreciated! 👍💕🎉

[2018-02-22 06:48] #1503 closed

[2018-02-22 10:13] kenchris commented on #1520
I am not sure, but the syntax makes the text source very readable

[2018-02-22 17:50] vivienlacourba commented on #1522
@marcoscaceres, thanks I have a PR ready that uses the python webserver https://github.com/w3c/webrtc-respec-ci/pull/25 I'll merge it tomorrow.

[2018-02-22 18:12] marcoscaceres commented on #1522
@vivienlacourba, thanks for the update and for switching over to use a local server. Hopefully we can get this working over "file://" again soon. Will let you know once we do.

[2018-02-22 23:07] marcoscaceres opened #1529 "Highlight variable matching in algorithm"
Given a spec algorithm like:
https://www.w3.org/TR/payment-request/#dfn-update-a-paymentrequest-s-details-algorithm

If a `<var>` is set, it should be possible to click on it and see all the places where the variable is used.

If a `<var>` is set but never used, it that's a bug.

[2018-02-23 16:23] halindrome opened #1530 "Question about IDL classes and properties"
A member of the ARIA group sent me the following question...   @marcoscaceres do you have an opinion?

I am working on the ARIA attribute-reflection branch for Issue #691. I attempted to define the “Role” interface in IDL with a single “role” attribute. However, this is either an IDL error or it’s a ReSpec parsing bug that does not allow the interface name and attribute name to be the same. If you

[2018-02-23 16:25] vivienlacourba commented on #1522
In the end I used Python 3 http.server module which allows to bind to a specific address. Thanks @alvestrand for the security review.

[code]

[2018-02-23 17:27] marcoscaceres commented on #1530
@halindrome, this is a current limitation because the linker code works case insensitively... so can't distinguish between `role` and `Role`. We have a bunch of open bugs for this.

However, specifically with you case, you should really call the mixing `interface mixin AccessibilityMixin {}`, so then if you need to, you can add more things than just `role`.

That is:

[code]

[2018-02-23 23:23] marcoscaceres commented on #1530
Closing, as this is a duplicate of known issue. Happy to discuss further tho!

[2018-02-23 23:23] #1530 closed

[2018-02-24 18:45] marcoscaceres commented on #1502
Potential candidate students: If you are wondering if you have the JS skills to participate in this project, try converting this code to async/await:
https://github.com/w3c/respec/blob/develop/src/core/issues-notes.js#L144

[2018-02-24 21:07] shubhshrma commented on #1502
@marcoscaceres We can submit a PR or it's for practice? :smile:

[2018-02-24 23:24] marcoscaceres commented on #1502
Submitting a PR would be great.

[2018-02-25 03:52] marcoscaceres commented on #1502
Great solutions coming in for https://github.com/w3c/respec/issues/1502#issuecomment-368250097 already! I’ll wait until the 1st of March for more solutions. These will help me evaluate your programming skills.

Lot’s of ways to solve that!

[2018-02-26 02:39] marcoscaceres commented on #1502
I've attempted to expand on the "Refactor the ReSpec pill" task above, as I'd received feedback that it was not entire clear what needed to be done.

[2018-02-26 10:21] marcoscaceres commented on #1520
Agree. Might be something we do as part of #1502 if we get time.

[2018-02-26 10:26] marcoscaceres commented on #1502
Just a reminder that your FIRST DRAFT proposals are due this week (actually, today!... but will extend it until Friday as I'll read them over the weekend).

Reminder, please email me a link to a Google Doc privately (marcos@marcosc.com) - and make sure I have the ability to edit the document!

[2018-02-27 01:22] marcoscaceres opened #1535 "auto normalize references"
today, if you have:

[code]

Or variance in the above, ReSpec warns:

This is annoying for a number of reasons:
 1. finding the culprit duplicate can be really hard in a large document. Specs can be thousands of lines long, and contain 50-100 citations.
 1. Clearly, ReSpec knows the two are clashing - so it should just automatically fix the problem (just use the first encountered convention) and a

[2018-02-27 01:41] shikhar-scs commented on #1535
Is this to be solved here or can it be a part of #1502 (module rewrite) ?

[2018-02-27 01:42] himanish-star commented on #1535
Same question

[2018-02-27 02:37] marcoscaceres commented on #1535
Can be solved whenever :) It should be fairly simple to fix.

[2018-02-27 05:57] anoited007 commented on #1051
@marcoscaceres Can I take this on for GSOC 2018?

[2018-02-27 05:59] marcoscaceres commented on #1051
Sure, this is basically part of the WebIDL rewrite.

[2018-02-27 08:28] marcoscaceres commented on #879
Sorry, trying to get to this :( I agree that it should just be “see Figure 10”.  That’s pretty standard.

[2018-02-27 22:36] marcoscaceres opened #1536 "seo and jsonld modules should be merged"
The [seo](https://github.com/w3c/respec/tree/develop/src/core/seo.js) module and the newly added [jsonld](https://github.com/w3c/respec/tree/develop/src/w3c/jsonld.js) should be merged. They share code and serve a very similar purpose.

[2018-02-27 23:41] gkellogg commented on #1536
Yes, I was thinking that at the time, but thought to keep them separate, as `doJsonLd` is optional. This makes most sense when the JSON-LD script element is standard, rather than optional (who doesn't want good SEO results?).

[2018-02-28 01:45] marcoscaceres commented on #1536
@gkellogg agree. It might mean that we can also get rid of the `<meta description>`.

I'd be interested to see if Bing and DuckDuckGo make use of the JSON-LD (and also the `<meta description>`).

[2018-02-28 01:50] marcoscaceres commented on #1536
Did a bit of searching, it doesn't seem other search engines are onboard yet with JSON-LD 😞

[2018-02-28 05:10] marcoscaceres commented on #1520
For folks following at home, what we need is a generic model for inlining things similar to: https://tabatkins.github.io/bikeshed/#autolinking

We should find a generic way to auto link with some inline syntax that's not super ugly. We don't need to follow BikeShed - the syntax should be intuitive and generalizable.

@kenchris, I can't find the integration in BikeShed... at least, it's not documen

[2018-02-28 05:26] gkellogg commented on #1536
No, it's been a bone of contention in the SEO community that JSON-LD is not more widely adopted; it will be eventually, though.

[2018-02-28 06:04] himanish-star commented on #1520
So this is no longer a part of #1502

[2018-02-28 06:28] saschanaz commented on #1424
Note: see https://api.csswg.org/shepherd/ for API documentation.

[2018-02-28 06:42] marcoscaceres commented on #1520
Still part of #1502. It’s quite a significant problem/task.

[2018-02-28 07:38] #1522 closed

[2018-02-28 08:50] kenchris commented on #1520
@marcoscaceres I saw this used in all the Generic Sensor APIs specs

[2018-02-28 09:54] marcoscaceres commented on #1520
Thanks! Will take a look at how it’s used there. I use an infra list in Payments, so would also benefit.

[2018-03-01 02:28] marcoscaceres commented on #1223
closing as wont fix, unless it comes up as an issue for some organization.

[2018-03-01 02:28] #1223 closed

[2018-03-01 02:43] marcoscaceres commented on #263
A better option would be to just allow people to directly write one:

[code]

And make sure that gets relocated into the head.

[2018-03-01 02:58] marcoscaceres commented on #332
Closed in favor of #1424

[2018-03-01 02:58] #332 closed

[2018-03-01 03:03] marcoscaceres commented on #1494
I think we should just remove support for this from ReSpec. We have better ways to do incubation than relying on member submissions (e.g., regular CGs and the WICG). I've also checked all of Github, and there are zero instances of `isMemberSubmission` set to true.

[2018-03-01 03:07] marcoscaceres commented on #1502
I'm marked some issues as "[good first issue](https://github.com/w3c/respec/labels/good%20first%20issue)" to help folks who still want to get started.

[2018-03-01 04:51] shubhshrma commented on #394
@marcoscaceres what are starting steps with this in ```webidl.js```? I'm trying to include this in my gsoc tasks list.

[2018-03-01 12:55] saschanaz commented on #1494
@marcoscaceres Does the same applies to `isTeamSubmission`?

[2018-03-01 13:01] marcoscaceres commented on #1494
Yeah, I believe so. I will check with W3C staff tho.

[2018-03-01 20:51] OrionStar25 opened #1545 "Back to Top button doesn't work"
eg :- https://www.w3.org/TR/payment-request/
The arrow button used for navigating to the top hasn't been assigned any top link in any of the specs.

[2018-03-02 00:36] marcoscaceres commented on #1545
@OrionStar25, could you clarify a little bit more? I'm having trouble finding the "Back to Top" button you mentioned. If possible, please include a screenshot.

[2018-03-02 02:33] himanish-star commented on #1545
![image](https://user-images.githubusercontent.com/30361728/36880692-0d109514-1df0-11e8-96f0-464becfaaee7.png)

@marcoscaceres this is the `back to top` button which is not functioning. @OrionStar25 Am I right?

[2018-03-02 02:37] marcoscaceres commented on #1545
Ah, got it! ok, it actually _is_ functioning... but it's kinda useless because it links back to the "#toc", which is being displayed in the side panel. If you "collapse side bar", and click it, you can see it working.

But technically, @OrionStar25 is correct that this is confusing. I'll just note that this is something that's being added by the W3C's "inject.js" script, so it's technically not a

[2018-03-02 02:39] himanish-star commented on #1545
:+1:

[2018-03-02 02:45] marcoscaceres commented on #1545
Actually, I lied, it's a ReSpec bug:
https://github.com/w3c/respec/blob/develop/src/core/structure.js#L147

@OrionStar25, you want to fix this?

[2018-03-02 03:20] marcoscaceres opened #1547 "Regression: release.js exits with ERR_FILE_NOT_FOUND"
@saschanaz, sorry, when executing:

[code]

The following is still not producing the correct file URL:
https://github.com/w3c/respec/blob/develop/tools/release.js#L398

It returns:

[code]

[2018-03-02 03:27] marcoscaceres commented on #1494
@dontcallmedom, @plehegar, doing some archeology, it seems like `isTeamSubmission` and `isMemberSubmission` have never been used... how about we remove them from ReSpec?

[2018-03-02 03:32] saschanaz commented on #1547
Sorry, my huge bad 😱 I just pushed a quick fix, does it work?

[2018-03-02 03:35] marcoscaceres commented on #1547
Np :) Testing.

[2018-03-02 03:37] marcoscaceres commented on #1547
perfect! 💃  💃  💃
+ respec@20.0.3

[2018-03-02 03:37] #1547 closed

[2018-03-02 03:56] marcoscaceres opened #1548 "THIS IS A TEST ISSUE"
This issue is used for testing. Don't reopen.

[2018-03-02 03:56] #1548 closed

[2018-03-02 04:39] marcoscaceres commented on #394
@shubhshrma, basically, when we see a "constructor", it needs to create an entry in `conf.definitionMap` that can be linked to as: "InterfaceName.IntefaceFunction()", as described in https://github.com/w3c/respec/issues/394#issuecomment-71237207

You probably don't need to go into this level of detail in you proposal, just describe generally what needs to be fixed overall for WebIDL.

[2018-03-02 05:05] OrionStar25 commented on #1545
Yeah! I'll work on this! :D

On 2 Mar 2018 8:15 am, "Marcos Cáceres" <notifications@github.com> wrote:

[2018-03-02 08:08] OrionStar25 commented on #1545
@marcoscaceres So we want the TOC when the side panel exists and top of the spec when its been collapsed. Or we could just bring it to the top of the spec in both cases as TOC mostly is concise enough (?)

[2018-03-02 08:11] dontcallmedom commented on #1494
I know that at least some Member submissions were written with ReSpec, so I think we should keep it; Team submissions may be rare enough that they could be removed

[2018-03-02 09:13] marcoscaceres commented on #1545
No, let’s make it simpler. Just take the reader back to the very top of the document. Check if you can either hook into the #head or change the scroll position.

[2018-03-02 09:45] OrionStar25 commented on #1545
PR sent!

[2018-03-02 23:20] marcoscaceres opened #1552 "Configure Jasmine to not run in random"
Jasmine 3 made running test in random order the default. Unfortunately, this breaks our test suite.

We should initially disable running the tests randomly, then investigate why we can’t run in random order (sounds like buggy tests).

We need to add:
[code]

In SpecRunner.html and test-main.js.

[2018-03-02 23:30] saschanaz commented on #1552
Oh, what tests are breaking? I recently haven't seen any random breakage.

[2018-03-03 00:02] marcoscaceres commented on #1552
Thought maybe that’s what’s happening here: https://github.com/w3c/respec/pull/1505#issuecomment-370075140

Need to confirm.

[2018-03-03 00:04] marcoscaceres commented on #1552
Seems tests are still failing there even without random, so maybe this is invalid.

[2018-03-03 01:00] saschanaz commented on #1552
The errors say `doc` is undefined, but we already have `beforeAll` hook so it shouldn't be the case...

[code]

[2018-03-03 21:53] sidvishnoi commented on #1529
Hello sir,
Is this what you're looking for? https://streamable.com/i7kns (something like this, needs update on second part (set, never used))

If yes, I can create a PR for this. Hopefully you can help where this needs to be implemented.
If no, sorry I misunderstood the problem. Can you describe more?

[2018-03-04 04:42] marcoscaceres commented on #1502
Thanks everyone who has sent in proposals. I've started to review them - please wait for my feedback.

Please note: Mozilla has put up a template for us to use for the proposals:
https://wiki.mozilla.org/SummerOfCode/ApplicationTemplate

After you receive my initial feedback, please move your content into those headings. Don't add additional headings or things.

Some of the proposals I've received

[2018-03-04 10:19] marcoscaceres commented on #1502
All, I made it through most, but not all proposals. If you've not received feedback yet, I'll try to get to you tomorrow (Monday).

General feedback for everyone: your proposals need to be concise and straight to the point. Don't include things that are not relevant to the [template headings](https://wiki.mozilla.org/SummerOfCode/ApplicationTemplate).  Please  also don't expect the reviewer to cli

[2018-03-04 12:57] goelrohan6 commented on #1536
Hi @marcoscaceres I would like to work on this issue, how do I get familiar with the codebase, I guess for this all I have to do is merge the modules and search for files where the modules are being used respectively.
what will be the name of the final module?
I couldn't find the files where the module's are being imported

[2018-03-05 00:50] marcoscaceres commented on #1536
@goelrohan6, please see the [developers guide](https://github.com/w3c/respec/wiki/Developers-Guide) to understand the codebase/plugin-system.

The idea would be to merge the jsonld.js module into the seo.js module... so, just seo.js :)

The modules are import from the [w3c profile](https://github.com/w3c/respec/blob/develop/js/profile-w3c-common.js).

[2018-03-05 01:47] marcoscaceres commented on #1529
You nailed it @sidvishnoi. That's exactly what I was looking for!

Let's continue the discussions over in the pull request.

[2018-03-05 04:12] marcoscaceres commented on #1552
So weird. @saschanaz, will you want to look into this further, or should we just leave it (i.e., just not to randomize). Having the randomized tests does add some potential value, but can live without it.

[2018-03-05 04:35] goelrohan6 commented on #1536
Got it @marcoscaceres, after merging and removing jsonld package from [w3c profile](https://github.com/w3c/respec/blob/develop/js/profile-w3c-common.js).

also the the jsonld-spec.js will be copied to seo-spec.js as with all the test's right?
any other changes before i send a pr?

[2018-03-05 04:36] saschanaz commented on #1552
Hmm, I will look at it today or tomorrow.

[2018-03-05 04:39] marcoscaceres commented on #1536
Yeah, good catch.

The json-ld module hard codes a W3C copyright into the JSON-LD.... and that's kinda tricky to deal with.

So, maybe as the first step, we should actually merge jsonld.js into:  https://github.com/w3c/respec/blob/develop/src/w3c/seo.js

Then, if we can generalize the copyright issue... and move everything into core/seo.

[2018-03-05 04:41] marcoscaceres commented on #1494
@dontcallmedom is right... there are quite a few ReSpec based member submissions: https://www.w3.org/Submission/

[2018-03-05 04:46] saschanaz commented on #1494
Hmm, so it seems *something* processes those `@@@`, no idea what it is...

[2018-03-05 04:54] marcoscaceres commented on #1494
They are probably just changed manually before the submission gets published... we can definitely fix that. It looks like we need a publish date to generate the submission URL.

[2018-03-05 04:59] goelrohan6 commented on #1536
@marcoscaceres in run function of jsonld there's a condition if(!conf.doJsonLd) // do nothing

should this be followed while moving it to seo too? or the seo run function should run even if it does not satisfy the condition.

and also I should completely delete jsonld file after merging?
I'll send a pr after merging and we can discuss about -spec after that.

[2018-03-05 05:02] marcoscaceres commented on #1536
Not if other parts depend on `conf`.

As above. You will need to check what both modules do.

Yes. That would be great.

[2018-03-05 06:08] marcoscaceres commented on #1536
Thanks @goelrohan6 for the speedy turn-around! Will try to get to it soon! (currently busy with #1502 proposals!)

[2018-03-05 06:18] goelrohan6 commented on #1536
fine @marcoscaceres, actually i'm also a gsoc aspirant, didn't knew about #1502.
will check out and start preparing a  proposal.

[2018-03-05 12:41] sidvishnoi commented on #1502
I am interested in doing the cross-reference task. How can i get some details on the database?

[2018-03-05 14:07] saschanaz commented on #1502
#1424 is related with the Shepherd task.

[2018-03-05 17:50] Orphis opened #1557 "Generated anchors stability"
According to this wiki page https://github.com/w3c/respec/wiki/section the anchors are supposed to usually match `<dfn>-section`. All tests seem to point to autogenerating anchors with `-interface` `-enum` or `-dictionnary` instead.

Since I want to link from my code to the definition of an element in the latest standard, I am wondering if that behavior is documented anywhere and should be expecte

[2018-03-05 21:51] sidvishnoi commented on #825
How about we cache the responses from GitHub in the localStorage (for like 5min)? That can help in reducing the requests to GitHub.

[2018-03-06 00:33] marcoscaceres commented on #825
Need to double-check if GitHub still has the 60/hour limit (I’ve not hit this problem in a long time). But yes, caching them would be good, and using the cached ones first and only invalidating stale ones. We do the same with bibliographical entries.

[2018-03-06 02:25] vinicius0197 commented on #1351
Hi @marcoscaceres , I want to work on this bug. Not really sure how to use this `href-less `element that is mentioned [here](https://github.com/w3c/respec/wiki/ReSpec-Editor's-Guide#user-content-definitions-and-linking), though (I imagine that this is the purpose of pluralizing things here).

I would like to test some examples to try to come up with a solution.

[2018-03-06 02:45] marcoscaceres commented on #1557
@Orphis, thanks, you are correct... `section` description is outdated. Maybe this helps: https://github.com/w3c/respec/wiki/WebIDL-Guide

[2018-03-06 04:09] marcoscaceres commented on #1351
@vinicius0197, thanks for offering to help with this. Unfortunately, I won't be able to provide much help until after the Google Summer of Code stuff is done (few more weeks).

However, you should poke around:
https://github.com/w3c/respec/blob/develop/src/core/dfn.js

basically, given a defined concept `<dfn>apple</dfn>`, the pluralize library (above) should give you "apples", so the output shoul

[2018-03-06 14:19] Orphis commented on #1557
This does not specify any format the autogenerated anchors have. Should I consider them internal and not good for linking externally? Unfortunately, it seems they could be changed anytime.

[2018-03-06 14:27] marcoscaceres commented on #1557
The links are be stable, otherwise lots of cross references would break. We don’t intend to change them.

However, you are correct that the link structure is not well documented.

[2018-03-06 16:31] Orphis opened #1559 "RangeError: Invalid count value exception in idn()"
When rendering the [webrtc-pc](https://w3c.github.io/webrtc-pc/) spec, we get this exception:
[code]

I tracked it down to `idn()` calls with a negative number. Not quite sure why, but it shouldn't throw any exception. Adding a `Math.max(0, lvl)` to `idn()` seems to fix the issue, but I didn't try to see why it would have a negative padding in the first place.

[2018-03-07 01:17] vinicius0197 commented on #1351
All right, thanks!

Don't want to bother you much (and if anyone else can give me just some hints, I will be grateful). I wanted to run https://github.com/w3c/respec/blob/develop/src/core/dfn.js and step through the code. My initial approach was just to `npm start` and navigate to a simple example file and try to use developer tools to put some breakpoints in there. I refreshed the page then, but

[2018-03-07 02:14] marcoscaceres commented on #1351
@vinicius0197 hopefully [these instructions help](https://github.com/w3c/respec/wiki/Developers-Guide#super-fast-get-up-and-running). I think you are just missing the transpile step for babel, which is why your breakpoints are not showing up... otherwise, it's the browser cache - make sure you disable it from your developer tools.

As of yesterday, I'v added the transpile step to `npm start` - but

[2018-03-07 06:39] goelrohan6 commented on #1502
@marcoscaceres can you please review #1534

[2018-03-07 14:34] goelrohan6 commented on #1352
@marcoscaceres how do we generate the url for the element ?
can you brief me more with the flow and also point me to the file in which the hack has to be made.
and also can you tell where can I play along with data-cite and see changes?

[2018-03-07 15:29] tidoust opened #1562 "Some way to drop "Latest published version" link for specs not published yet"
ReSpec automatically generates the "Latest Published Version" link, which is obviously great. That said, that link does not exist before a spec gets published as First Public Working Draft, leading to a broken link in first versions of the Editor's Draft. In some cases, groups may work on Editor's Drafts that are initial proposals without concrete plans to publish the spec in the "/TR/" space.

Th

[2018-03-07 17:20] rjksmith opened #1563 "Documentation/Wiki: First-Time User Feedback"
I've just used ReSpec to create my first document and found it very useful, as it simply handles much of the tedious formatting automatically.

However, there were Wiki issues I encountered as a first-time user which I felt slowed my progress more than they should, and I think addressing these might make the learning experience easier and faster for future novices.

1. The HTML example on the [Hom

[2018-03-08 21:17] sidvishnoi commented on #1128
Closed by 2e838ae and #1480 ?
And delete the wiki page for this also.
I was confused where `processVersion` is being used then I checked year of this issue. Haha.

[2018-03-09 00:38] marcoscaceres commented on #1128
Good catch! Closing

[2018-03-09 00:38] #1128 closed

[2018-03-09 03:58] #1536 closed

[2018-03-09 04:17] #1545 closed

[2018-03-09 19:02] sidvishnoi commented on #1559
I've tracked down the bug to
`src/core/webidl.js#L677 ---  if (meth.static) len += 7;` and
`src/core/webidl.js#L693 --- var pad = max - len;`.

What is this 7?
What should be done? Should we increase `max` by 7 also? or make `pad = Math.max(pad,0)`

[2018-03-10 01:08] saschanaz commented on #1559
`"static ".length === 7`.

Currently the webidl module is slightly a mess... Anyway, the right fix is to do the same `+= 7` in line 594.

https://github.com/w3c/respec/blob/23001a604799c4c7c0d97b01b970128c8cfd6042/src/core/webidl.js#L588-L595