[2019-05-05 01:10] marcoscaceres commented on #2328
Thanks @mkovatsc... sent a fix!

[2019-05-05 03:20] #2328 closed

[2019-05-05 06:55] #2329 closed

[2019-05-05 11:55] marcoscaceres commented on #461
As the document is gone, and this code was refactored, I'm going to assume this is fixed now.

[2019-05-05 11:55] #461 closed

[2019-05-05 14:37] mkovatsc commented on #2328
Great, thanks for the quick fix!

[2019-05-06 02:16] marcoscaceres opened #2333 "Re-check conformance to i18n heading guidance"
@r12a put together a great document on how we should be generating headings. We did some work to improve headings in ReSpec, but would like to go through the document and make sure we cover everything 100%.

http://w3c.github.io/i18n-drafts/questions/qa-reference-links.en

[2019-05-06 05:59] marcoscaceres opened #2334 "Provide title to citation"
Given, for example:

It would be nice to be able to hover over RFC6973 and see what the title of the document is, instead of having to click on it.

[2019-05-06 06:14] marcoscaceres opened #2335 "Best practices summary box has black background"
## Important info

* URL to affected spec:
https://w3c.github.io/fingerprinting-guidance/#bp-summary

## Description of problem
![Screenshot 2019-05-06 16 04 42](https://user-images.githubusercontent.com/870154/57209016-05c88a00-701a-11e9-925c-513dcb07ae51.png)

[2019-05-06 11:45] #2334 closed

[2019-05-06 14:24] AdityaSrivast commented on #2333
@marcoscaceres I would like to work on this issue. Also this is my first issue. Can you brief me on what is to be done, please?

[2019-05-07 05:23] marcoscaceres commented on #2335
Fixed by #2336

[2019-05-07 05:23] #2335 closed

[2019-05-07 06:12] r12a commented on #461
Fwiw, i fixed the link. This was asking for respec to figure out what language the text was in, then choose the section title on that basis, but i think the new approach is ok (all 3, in this case, languages are presented in the link text by default).

[2019-05-07 07:02] r12a opened #2339 "Generating figure link text by language"
* URL to affected spec:  https://w3c.github.io/jlreq/temporary_bilingual_devt/#elements-of-page-formats (replace jlreq with clreq or klreq for other documents to which this applies)
* ReSpec version: 24.21.4
* [x] I did a "hard refresh", but it's still busted.

When generating links to figures, respec creates link text such as "Figure 15" for english documents.  If the html tag has lang="ja", it g

[2019-05-07 07:03] r12a commented on #2333
See https://github.com/w3c/respec/issues/2339 for one specific issue related to our multilingual format.

[2019-05-07 07:08] marcoscaceres commented on #2339
You can probably use `preProccess: []` to add the lang dynamically _before_.

It sounds more sane to me, tbh... that way, I can try to find the `.closest("*[lang]")` in tree order, and use that to localize.

[2019-05-07 07:10] marcoscaceres commented on #2339
(the problem is still that ReSpec is not really designed to allow the content to change dynamically... after the processing run, ReSpec removes itself)

[2019-05-07 07:49] marcoscaceres opened #2341 "Best Practices module needs to be localized."
It's currently only in English.

[2019-05-08 06:07] marcoscaceres commented on #2333
@AdityaSrivast this one is actually turning out to be a bit more complex than I'd envisioned - so removing the Good first issue tag.

If you'd like to get started, please take a look at the Developer's guide from the README.

[2019-05-08 11:15] marcoscaceres opened #2343 "Explore alternative templating engine"
We've been using HyperHTML for a while, and it's served us well. As HyperHTML pioneered this space, a few new alternatives have come along. It might be worth while investigating what else is out there and if ReSpec would benefit from using an even more modern templating engine.

[2019-05-08 11:20] saschanaz commented on #2343
Or actually less modern, because I think we don't need hyperhtml's (or anything else's) dynamic template feature. ReSpec documents in runtime are not mutating their contents in any frequent way.

[2019-05-08 11:21] marcoscaceres commented on #2343
True that.

[2019-05-08 11:27] #2341 closed

[2019-05-08 15:01] sidvishnoi commented on #2343
So, we're looking for a "template string to dom node" template engine, right?

[2019-05-08 16:09] r12a commented on #2339
I changed the document at https://w3c.github.io/jlreq/temporary_bilingual_devt/ which we've been using for testing for multilingual docs, so that now the its- attributes are all followed by lang attributes in the source text (and the function that used to add the lang attributes by script has been disconnected).

[2019-05-10 03:56] marcoscaceres commented on #2343
yep

[2019-05-10 03:58] marcoscaceres commented on #2343
Note that now that we do have authorization from the W3C to start shipping JS code int specs, we can actually start considering making better use of things like hyperHTML to drive the display of things. For instance, the `dfn` pop-box we've talked about stealing from the HTML spec would be one such candidate.

[2019-05-10 04:32] sidvishnoi commented on #2343
For template string to DOM Node, can't we just use `document.createFragment` or `createElement("template")`?

[2019-05-10 04:49] saschanaz commented on #2343
We have to support interpolating DOM elements, which is more complicated than just passing string.

[2019-05-10 05:03] marcoscaceres commented on #2343
Yeah, and there are a bunch of security assurances we get from HyperHTML with attributes and general insertions.

[2019-05-10 05:05] saschanaz commented on #2343
I think we can implement our own assurances with ease, though.

[2019-05-10 07:58] marcoscaceres commented on #2343
Agree, it won’t be hard. The thing to put in perspective is where this sits in relation to the project priorities. Imho, the main thing for us to focus on this year is migrating folks to using xref, and getting specs into Shepherd. In parallel, we need to finish the migration to webpack or similar, as right now debugging remains challenging.

[2019-05-14 00:32] greenkeeper[bot] opened #2347 "An in-range update of puppeteer is breaking the build 🚨"
## The dependency [puppeteer](https://github.com/GoogleChrome/puppeteer) was updated from `1.15.0` to `1.16.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fpuppeteer-1.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

puppeteer is a direct dependency of this project, and

[2019-05-14 15:43] greenkeeper[bot] opened #2348 "An in-range update of snyk is breaking the build 🚨"
## The devDependency [snyk](https://github.com/snyk/snyk) was updated from `1.163.3` to `1.164.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fsnyk-1.164.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a devDependency of this project. It **might not break your prod

[2019-05-16 11:01] greenkeeper[bot] opened #2349 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `4.2.0` to `4.3.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Feslint-config-prettier-4.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-config-prett

[2019-05-17 09:08] #2347 closed

[2019-05-17 09:08] #2348 closed

[2019-05-17 09:08] #2349 closed

[2019-05-18 19:40] andrea-perego opened #2352 "Default licence for unofficial drafts"
## Important info

* URL to affected spec: N/A
* ReSpec version: 24.21.7
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Currently, the default licence for unofficial drafts is CC-BY 3.0.

Shouldn't it be switched to the latest version - namey, 4.0 ?

[2019-05-19 00:37] marcoscaceres commented on #2352
Good suggestion. We should also decouple status and license.

[2019-05-19 07:18] andrea-perego commented on #2352
And maybe also the copyright holder(s).

[2019-05-19 15:48] ThobyV commented on #2084
Oh I've been away for a while but I have all things in check now! Is there someone re-assigned to this already? Would love to work on it @marcoscaceres

[2019-05-19 22:21] andrea-perego opened #2353 "Subtitles in SpecRef entries"
## Important info

* URL to affected spec: https://w3c.github.io/dxwg/dcat/
* ReSpec version: 24.21.7
* ~[x] I did a "hard refresh", but it's still busted.~

## Description of problem

Not sure this is the right place to ask, so my apologies in advance.

The question is whether the `subtitle` string is appended to the title in the entries pushed to SpecRef.

In the specific case above, the issue i

[2019-05-21 06:23] marcoscaceres commented on #2084
@ThobyV, feel free to continue.

[2019-05-21 06:30] marcoscaceres commented on #2353
@dontcallmedom and @tobie... see above... I know this came up before, but I can't recall what happens exactly with regards to subtitle?

[2019-05-21 06:49] tobie commented on #2353
Specref just pulls in the data from W3C’s RDF API. I don’t think there a subtitle concept there.

[2019-05-21 11:13] dontcallmedom commented on #2353
indeed, I don't think we capture subtitles in the TR model - adding @deniak

if the qualification in the subtitle is important, it's probably worth considering putting it in the title itself.

[2019-05-21 12:49] deniak commented on #2353
Yes, we expect the title to be the [first `h1` only](https://github.com/w3c/specberus/blob/master/lib/rules/metadata/title.js). If more and more specs make use of that subtitle, we should probably update the rule to take that into account.

[2019-05-22 04:41] marcoscaceres commented on #2353
Thanks everyone! Closing as answered as not specifically a ReSpec issue... feel free to continue discussing here tho if anything needs to change.

[2019-05-22 04:41] #2353 closed

[2019-05-22 08:50] andrea-perego commented on #2353
@marcoscaceres , where should I post this issue, then? I.e., which is the relevant repo with the scripts in charge of generating the W3C entries for SpecRef?

It's a bit urgent, as we are going to publish the final PWD for DCAT, for CR transition. So, we would like to know if we need to add in the title what is now in the subtitle.

/cc @plehegar , @draggett , @dr-shorthair , @davebrowning

[2019-05-22 10:17] tobie commented on #2353
This would be with W3C webmaster, so I assume @deniak. You can always add a local bibliography for the problematic titles as a workaround.

[2019-05-23 05:26] marcoscaceres opened #2358 "xref error somewhat broken"
Given:

[code]

It produces the following error:

The undefined is wrong...

[2019-05-24 00:28] greenkeeper[bot] opened #2359 "An in-range update of puppeteer is breaking the build 🚨"
## The dependency [puppeteer](https://github.com/GoogleChrome/puppeteer) was updated from `1.16.0` to `1.17.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fpuppeteer-1.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

puppeteer is a direct dependency of this project, and

[2019-05-24 05:22] saschanaz commented on #2359
Failure log: https://travis-ci.org/w3c/respec/jobs/536558727

Somehow `new URL()` in `webidl-spec.js` fails.

[2019-05-24 10:04] saschanaz commented on #2359
Looks like some kind of bug about string on Chrome Canary. This is what I'm getting on Chrome 76:

![image](https://user-images.githubusercontent.com/3396686/58320477-aca08900-7e56-11e9-9c19-19d548de68b3.png)

🤔

[2019-05-24 12:20] saschanaz opened #2361 "Merge reqRef feature into core/anchor-expander?"
Currently `core/requirements` allows `<a class="reqRef" href="#id"></a>` to reference requirements, but maybe we can do this in `core/anchor-expander` without requiring `class="reqRef"`. @marcoscaceres Thoughts?

[2019-05-24 12:24] saschanaz commented on #2361
Are we using this feature BTW?

[2019-05-24 15:43] michael-n-cooper opened #2362 "Incorrect error report for Note-track WD"
## Important info

* URL to affected spec: https://raw.githack.com/w3c/apa/May_2019_WD/captcha/index.html
* ReSpec version: 24.21.7

## Description of problem

Respec reports an error: "Document configured as noRecTrack, but its status ("WD") puts it on the W3C Rec Track. Status cannot be any of: FPWD, WD, FPLC, LC, CR, PR, PER, REC. More info."

But what I was expecting?: Working Draft is a [vali

[2019-05-24 16:49] gkellogg opened #2363 "Self-citing references show in bibliography"
## Important info

* URL to affected spec: https://w3c.github.io/json-ld-syntax/
* ReSpec version: 24.21.7
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:  Reference to self shows up in References ([JSON-LD11], in this case).

But what I was expecting?: According to https://github.com/w3c/respec/commit/9604ca8ca1486996b1c21d2a7cbe

[2019-05-27 06:01] marcoscaceres commented on #2362
Sent a PR to allow FPWD and WD through #2366

[2019-05-27 06:43] marcoscaceres commented on #2363
Let's say we have:

The user clicks [Externally], and they taken to the Bibliography.

If we remove JSON-LD11 from the Bibliography, what would `[JSON-LD11]` above link to? Self citing is somewhat confusing, as it violates user expectations in that it's abnormal for a document to cite itself (as citations are expected for external things, not internal things).

[2019-05-27 07:56] #2362 closed

[2019-05-27 08:41] marcoscaceres opened #2367 "Tooltip on wrapped `var` with `data-var` displays incorrectly"
## Description of problem

What happened (e.g., it crashed)?:

When a var wraps to the next line, this can happens on hover:

![Screenshot 2019-05-27 18 38 35](https://user-images.githubusercontent.com/870154/58407338-ed92da80-80ae-11e9-83f3-00ff0754c4ea.png)

And:

![Screenshot 2019-05-27 18 35 41](https://user-images.githubusercontent.com/870154/58407345-eff53480-80ae-11e9-908b-9071afc49cb4.png)

[2019-05-27 08:45] marcoscaceres commented on #2367
The second image is a firefox issue, according to #2354:

[2019-05-27 09:38] marcoscaceres commented on #2361
I've not seen that used anywhere, tbh. Didn't know it was a thing.

[2019-05-27 19:07] gkellogg commented on #2363
Self-citing is an inevitability when using shared definitions across multiple specs in a series. Arguably, in JSON-LD11, [JSON-LD11] would just link to itself (or the last released document) rather than redirecting through the bibliography. Having a bibliography entry within a document for the document itself flies in the face of a bibliography being a list of cited sources.

Alternatively, if the

[2019-05-28 02:34] #2317 closed

[2019-05-28 02:34] #2321 closed

[2019-05-28 02:34] #999 closed

[2019-05-28 02:34] #1372 closed

[2019-05-28 02:34] #1907 closed

[2019-05-28 02:34] #2004 closed

[2019-05-28 05:50] marcoscaceres commented on #2363
We have a better solution for this that I'd like to pitch to you (using cross-references, `xref`, and `data-cite`). The problem with the current solution of including the defined terms in all the specs is that they:

 * Introduce redundancy as things end up getting defined in multiple specs.
 * are confusing - self-citing is an unexpected thing.
 * introduce bloat: ever spec needs to carry around

[2019-05-29 00:08] gkellogg commented on #2363
It sounds interesting, and I'm certainly willing to give it a try. Let me know what I need to do.

[2019-05-29 05:14] marcoscaceres opened #2370 "Autolink worklet types"
We currently only support linking `Export=` for various worker types. We should also support linking Worklets, like those defined in Web Audio.

[2019-05-31 12:31] saschanaz opened #2374 "Plan to deprecate EdgeHTML support"
Microsoft won't replace the old Edge soon enough, likely to treat it like IE. We won't support it that long so probably we should get a plan to deprecate it.

So...

Remove Edge support and start using new APIs including `Array.prototype.flat`:

1. Now
1. After the new Edge gets its first stable release

I wanted to keep supporting Edge when we had no Chromium Edge, but now I have no strong opinio

[2019-05-31 13:07] sidvishnoi commented on #2374
What are the pain points in supporting current Edge?

[2019-05-31 13:29] saidsoualhi commented on #1025
@dduuu Thank you it worked for me on IE 11

[2019-05-31 14:12] saschanaz commented on #2374
For now the pain is small. Being forced to use `.trimLeft()` instead of `.trimStart()`, being unable to use `Object.fromEntries()` (some code uses `.reduce()` to do this), etc.

[2019-06-01 02:49] saschanaz opened #2377 "DOMHighResTimeStamp fails to link"
## Important info

* URL to affected spec: https://w3c.github.io/performance-timeline/
* ReSpec version: 24.22.3
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

![image](https://user-images.githubusercontent.com/3396686/58742908-45409580-8463-11e9-8776-4ff78172d7dd.png)

The type is from: https://www.w3.org/TR/hr-time-2/#dom-domh

[2019-06-01 02:55] saschanaz commented on #2377
https://respec.org/xref/ gives no result for DOMHighResTimeStamp, any idea? @sidvishnoi

[2019-06-01 06:14] marcoscaceres commented on #2377
It’s not part of the dataset yet. We need to implement #685 first.

[2019-06-01 06:14] sidvishnoi commented on #2377
The terms that are available to xref can be seen here: https://respec.org/xref/meta?fields=terms (Will add them to the UI as auto-predict today)

[2019-06-01 06:16] sidvishnoi commented on #2377
https://github.com/tabatkins/bikeshed-data/blob/046a5d7638be7e629265c7a7e6720747b8810c76/data/anchors/anchors-do.data#L2110 shows it's not exported (see L2127), so it's not part of dataset.

[2019-06-01 06:33] saschanaz commented on #2316
@marcoscaceres What would self-defining exactly mean? To allow IDL definitions lack `<dfn>` and transform anchors to dfn if then?

[2019-06-01 09:27] saschanaz commented on #2377
@sidvishnoi I'm not familiar with the file, what do we expect at L2127?

[2019-06-01 10:38] sidvishnoi commented on #2377
@saschanaz L2127 denotes "export" (1 means true, empty means false)
https://github.com/tabatkins/bikeshed/blob/0da7328/bikeshed/update/updateCrossRefs.py#L313-L328

[2019-06-02 01:31] saschanaz commented on #2359
Closed by #2360

[2019-06-02 01:31] #2359 closed

[2019-06-02 01:33] marcoscaceres commented on #2316
Correct, so, for instance:

[code]

If `state` attribute has no matching `dfn` in the document, it gets wrapped in a `<dfn>`.

[2019-06-02 01:54] marcoscaceres opened #2378 "TypeScript build error"
Build is currently failing failing due to a typescript error... @saschanaz, sorry, could you please take a look?
https://travis-ci.com/w3c/respec/jobs/204748440

My TypeScript skills are still... 😿

[2019-06-02 02:10] #2378 closed

[2019-06-03 05:00] prabhathAmila commented on #1025
https://recalll.co/ask/v/topic/javascript-Object-doesn%27t-support-property-or-method-%27remove%27/5a7bbca51126f4ac718b6019

[2019-06-03 06:54] marcoscaceres commented on #685
Ok, I've updated OP with the actual contract that we need to conform to. The IDL ones are definitely the easiest ones.

[2019-06-03 12:01] marcoscaceres commented on #2374
I think just to be safe, let's wait until first stable. At least then we have a legitimate to drop support for old Edge, and people who run into trouble have an option to use it (without needing to switch browser vendors).

[2019-06-06 15:52] rjksmith opened #2386 "data-cite: No matching dfn found"
## Important info

* URL to affected spec: https://w3c.github.io/sdw/proposals/geotagging/webvmt/
* ReSpec version: 24.23.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: A page that previously gave no errors, now gives 11 Respec errors related to `data-cite` references.

But what I was expecting?: No errors

Optional, steps to r

[2019-06-06 17:12] sidvishnoi commented on #2386
@marcoscaceres

Maybe we can use `/xref/meta?fields=specs` to filter on `data-cite` to show error when spec is in dataset but term isn't.
If we were to simply not show this error when the element has a `data-cite` on itself, we would be potentially missing actual bad links like:
[code]

I'm not sure of cases like `<a data-cite='HTML51'>HTML</a>`.

Another way could be to disable xref on certain li

[2019-06-07 01:00] greenkeeper[bot] opened #2387 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.17.1` to `1.18.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fprettier-1.18.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this project. It **might no

[2019-06-07 15:07] saschanaz commented on #2374
One more pain: a polyfill is required to use `navigator.clipboard.writeText()`. (We already have one but anyway.)

[2019-06-11 09:48] JvGldr opened #2391 "Enhancement Request: generated issuelist using filter"
## Request for Enhancement

https://geonovum.github.io/MIM-Werkomgeving/#bijlage-iv-versielog

## Description of enhancement

Geonovum produces Respec documents containing the description of (geo)standards. Each of these standards are released under a certain version number. In a new version, a number of reported issues are addressed. Issues are tagged in GitHub using the standard tagging mechanis

[2019-06-12 06:43] #2387 closed

[2019-06-12 20:35] gkellogg commented on #2363
I added the xref, but as of 24.23.2, I'm seeing a number of errors about missing `data-cite`, where it is, in fact, using `data-cite`. This seems to be true with or without the `xref`. For example in [JSON-LD11-API](https://w3c.github.io/json-ld-api/), I get the following:

At the reference, I use `<li><a data-cite="JSON-LD11">JSON-LD 1.1</a></li>`.

If this is unrelated, I can file a separate iss

[2019-06-12 20:36] gkellogg commented on #1939
FWIW, I'm still seeing the warning message for [JSON-LD11-API](https://w3c.github.io/json-ld-api/).

[2019-06-13 03:36] marcoscaceres commented on #2363
Hi Greg, yes been wanting to talk to you about all this, but I’m currently afk on vacation for another week. I’d suggest holding off the xref stuff (still “beta”) for a little bit until I’m back, then we can coordinate to get it all working. I’m back week of the 25th.

[2019-06-13 04:05] sidvishnoi commented on #2363
Related: https://github.com/w3c/respec/issues/2386
I'll try to work on it this weekend.

[2019-06-14 05:07] prondubuisi commented on #2352
Hello @marcoscaceres  What is required to solve this issue, Am looking to get started contributing to this project

[2019-06-19 17:58] gkellogg opened #2394 "New data-cite errors"
## Important info

* URL to affected spec: https://w3c.github.io/json-ld-syntax/
* ReSpec version: 24.23.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Lately, our specs are generating errors about missing data-cite on elements which include data-cite. I described this in [this comment](https://github.com/w3c/respec/issues/2363#issuecomment-501445170) on a #2363

[2019-06-20 03:13] marcoscaceres commented on #2394
Oh, argh. Can you use `[[[JSON-LD]]]` for now? That will expand the reference for you in the meantime.

[2019-06-20 03:14] marcoscaceres commented on #2394
Fixed typo above.

[2019-06-20 20:54] gkellogg commented on #2394
I'd rather not change these, as it's often the case that a `[[]]` accompanies the reference. If it's going to be fixed in the near term, I'll just wait for the dust to settle.

[2019-06-20 20:56] marcoscaceres commented on #2394
Will try to fix it soon. I’m currently away at a work thing.

[2019-06-24 19:10] AmeliaBR opened #2397 "GitHub rate limits & authentication"
I'm trying to set up automated builds with the [respec2html tool](https://github.com/w3c/respec/blob/develop/tools/respec2html.js).  However, my spec has lots of issue cross-references to GitHub that need to be fetched.  I get blocked by the Github API if I run the build twice without a wait in between:

I think the "check the docs" suggestion is from GitHub, not ReSpec.  But I'm wondering if ther

[2019-06-26 01:17] marcoscaceres opened #2400 ":focus-within not recognized by CSS Validator"
The inclusion on focus within via MDN annotations is preventing specs from being published.

I've filed:
https://github.com/w3c/css-validator/issues/247

[2019-06-26 03:40] marcoscaceres commented on #2397
Hi @AmeliaBR! So yes, it's indeed a person GitHub token. You have a few options depending on the environment where you want to generate your spec.

On TravisCI, you can securely store the token as an environment variable, then you can do, for example:

[code]

Where "example.com" can be replaced with a localhost server if need be. Basically, you can do the same locally... just store your token as

[2019-06-26 04:29] AmeliaBR commented on #2397
Thanks @marcoscaceres. Yes, that would work.

I'm already using a GitHub token as a Travis configuration variable for the deploy step, so I can definitely use it for the build step as well.  I didn't realize that you could apply the config option on the command line instead of in the source code.

[2019-06-26 04:37] AmeliaBR commented on #2397
Ooops, no, this isn't a solution (not for my use case, anyway).  ReSpec writes config variables set in the command line to the *built* spec. Which my Travis build then committed to Github Pages, and Github's Oath token scanning (thankfully) caught it & revoked the token.

https://github.com/Maps4HTML/HTML-Map-Element-UseCases-Requirements/blob/3f2922fccc324b29ecd394e2753f47eb77f3d452/index.html#L5

[2019-06-26 04:54] marcoscaceres commented on #2397
Ok, let's blacklist ghToken and ghUser from being written into the document. Thanks for catching that.

[2019-06-26 06:24] marcoscaceres commented on #2397
@AmeliaBR, ok... sent a PR (#2401) to make sure the security sensitive properties get removed... note that the token property is called `"ghToken"` and not `"githubtoken"`.

I'll release that in a little bit.

[2019-06-26 07:58] marcoscaceres commented on #2397
@AmeliaBR, PR is merged and released as v24.23.4. Want to try again?

[2019-06-26 08:42] davidcarlisle opened #2402 "recursive data-include not implemented"
## Important info

* URL to affected spec:
This  affects all specs @marcoscaceres confirmed in specprod this is a documented but missing feature

Currently the issue can be seen at
https://davidcarlisle.github.io/mathml/#full-mathml

* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).

24.23.2

* [x] I did a "hard refresh", but it's still busted.

## Description of problem

data-include attrib

[2019-06-26 15:03] AmeliaBR commented on #2397
You sure about that? There's nothing in the repo that references `ghToken` and `ghUser` other than the commits you just added.

Compare:
https://github.com/w3c/respec/search?q=ghToken&unscoped_q=ghToken
with:
https://github.com/w3c/respec/search?q=githubtoken&unscoped_q=githubtoken

[2019-06-26 17:03] sidvishnoi commented on #2397
You're right Amelia. Missed it in review. Sent a fix (#2403). Will release by tomorrow morning.

[2019-06-26 18:07] marcoscaceres commented on #2397
Oops 🙊 sorry Amelia. Confused myself doing this in a hurry. Note that the property is case sensitive, so need an uppercase T for token.

[2019-06-26 18:14] marcoscaceres commented on #2400
Closed by https://github.com/w3c/css-validator/commit/803b2abf4e60f8127245149e2f36bbb0f3a5c337

[2019-06-26 18:14] #2400 closed

[2019-06-27 00:44] saschanaz commented on #2377
This has been fixed. xref is great 🎉 🎉 🎉

[2019-06-27 00:44] #2377 closed

[2019-06-27 01:31] marcoscaceres opened #2406 "support "levels""
Specifications often use "levels", such as https://w3c.github.io/page-visibility/ (level 2)... so it would be nice have a `level:` configuration option that:

 - [ ] combines the level with the shortName (so... page-visibility becomes "page-visibility-2")
 - [ ] automatically appends the "Level X" to the title of the document.
 - [ ] makes sure all appropriate links also get the level, though thes

[2019-07-01 09:54] #2316 closed

[2019-07-02 23:09] marcoscaceres commented on #2402
Discussed this with @davidcarlisle and we decided to keep the current behavior (i.e., no recursive includes). I've updated the Editor's Guide so it no longer says we support recursive imports.

[2019-07-02 23:09] #2402 closed

[2019-07-02 23:10] marcoscaceres commented on #2397
Closing as I think this is now fixed. @AmeliaBR, let me know if  that's not the case for you.

[2019-07-02 23:10] #2397 closed

[2019-07-02 23:19] marcoscaceres commented on #2386
@rjksmith, so... we accidentally didn't think about this case (aliasing specs) when we designed the `xref` feature 😿 To cut a long story short, we've added a `data-no-xref` attribute to overcome this problem.

To fix  the problem, you need to  do:

[code]

Alternatively, you can do (as you  already mentioned):

[code]

Or, maybe better :

[code]

Which will print "Scalable Vector Graphics (SVG) 1.

[2019-07-02 23:19] #2386 closed

[2019-07-03 00:26] marcoscaceres commented on #2394
Closed via #2409

The solution is to use `data-no-xref=""`.

[2019-07-03 00:26] #2394 closed

[2019-07-07 03:49] marcoscaceres commented on #1370
Also applies to namespaces.

[2019-07-07 03:51] marcoscaceres commented on #1370
Heh, was just going to ask which one of the two projects should support this 😁

[2019-07-10 10:32] rjksmith commented on #2386
I've updated my offending `data-cite` references with `data-no-xref=''` as suggested and can confirm that the 11 errors have now gone, which is excellent.

Many thanks for your support.

[2019-07-10 10:57] marcoscaceres commented on #2386
Thanks @rjksmith - sorry to make you do the extra work. Glad it fixed things for you.

[2019-07-10 13:11] saschanaz opened #2415 "Add xref examples"
Just tried to do the following in `examples/basic.built.html`:

[code]

But xref doesn't automatically link EventInit. What should be done exactly? We should add an xref example and possibly some short guide on example documents. @sidvishnoi @marcoscaceres

[2019-07-10 13:29] sidvishnoi commented on #2415
`EventInit` is defined in DOM only. Whereas, the `xref` by default doesn't search in DOM. Adding a `data-cite="dom"` to any parent of this IDL block will fix it.
Another way would be to add `respecConfig.xref = "web-platform"` (which I think should've been the default case)

 Examples and short guide are in todo list. On the higher priority, we need to improve the xref error messages and provide u

[2019-07-10 13:31] sidvishnoi commented on #2415
@marcoscaceres Why are we not using "web-platform" by default? Or is it a bug?
https://github.com/w3c/respec/blob/f4774be2dadc204e69c768232ba9ca1a2d7d8053/src/core/xref.js#L69-L81

[2019-07-10 13:36] marcoscaceres commented on #2415
not a bug... want Editors to think about which specs  they are actually citing.  Using "web-platform" is nice, but "with great power comes great responsibility" 🕷

[2019-07-10 13:39] saschanaz commented on #2415
Letting authors think is good, but failing by default without a quick guide to fix is bad. Maybe we should at least change the link error message...

[2019-07-10 13:40] marcoscaceres commented on #2415
yes, agree.  Definitely need good examples too.

[2019-07-10 13:43] sidvishnoi commented on #2415
For a quick one, when we have a `date-cite` (from some parent or self), we can change the error message to "couldn't find term X in either of these specs: spec1, spec2,.."

[2019-07-16 01:51] marcoscaceres opened #2422 "Add support for fully qualified method definitions and linking"
It would be nice to be able to define an IDL method directly like  this:

[code]

And link to it like:

[code]

[2019-07-17 12:08] greenkeeper[bot] opened #2425 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.3` to `4.36.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fwebpack-4.36.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not bre

[2019-07-17 13:37] saschanaz commented on #2425
`No matching version found for webpack@^4.36.0`? Weird.

[2019-07-17 14:40] saschanaz commented on #2425
Restarting the build fixed the failure, maybe the build started too early.

[2019-07-17 14:40] #2425 closed

[2019-07-18 11:06] sidvishnoi opened #2427 "tests/xref: make it easy to update test files"
Either add a stable xref `id` in test mode
or send requests directly to respec.org/xref

[2019-07-18 11:09] sidvishnoi opened #2428 "xref: fallback to parent data-cite while searching"
[code]
`term` should be looked up first in `json-ld-api11`, then in `dom` and then in `html dom webidl`, with short-circuiting.

[2019-07-18 11:12] sidvishnoi opened #2429 "xref: search externally first, then look for local dfn"

[2019-07-18 15:53] sidvishnoi opened #2430 "Deep config override using URL params"
In `core/override-configuration`, would be nice if we can override config for objects.
Example:
- `?xref.url=custom_xref_url`
- `?xref.specs=[spec1,spec2]`

We would need to whitelist the properties and optionally, their expected types

[2019-07-19 09:52] saschanaz commented on #2235
Closed by #2416

[2019-07-19 09:52] #2235 closed

[2019-07-20 04:17] saschanaz opened #2432 "data-cite=SPECNAME unexpectedly throws"
## Important info

* URL to affected spec: https://webaudio.github.io/web-midi-api/
* ReSpec version: 24.26.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

`<a data-cite="FEATURE-POLICY">Feature Policy</a>` is resolved as `https://www.w3.org/TR/feature-policy-1/` as expected but still marked as an error: *Couldn't match "featur

[2019-07-20 05:57] sidvishnoi commented on #2432
@saschanaz https://github.com/w3c/respec/issues/2394, https://github.com/w3c/respec/issues/2386

`<a data-cite="FEATURE-POLICY">Feature Policy</a>`, by default, xref will look up for "Feature Policy" in "FEATURE-POLICY" spec, which cannot be found. When it fails, it links to the spec only, and also stating an error that "feature policy" couldn't be found - in case that's a mistake trying to link t

[2019-07-20 06:01] saschanaz commented on #2432
Thanks for the explanation! Given that we already have seen several breakages, maybe adding a helpful message would be good.

[2019-07-20 06:03] sidvishnoi commented on #2432
Agreed. First priority is to reduce the breakages, then add more helpful messages. (Hopefully both within this week)

[2019-07-20 14:04] marcoscaceres commented on #2432
It’s weird, as I thought “feature policy” is exported from FEATURE-POLICY.

[2019-07-20 16:34] saschanaz commented on #2429
Why should the xref data preferred? Is current setup causing some problems?

[2019-07-22 06:39] saschanaz opened #2435 "Put xref data into Web IDL validation process"
[code]

The current setup is to parse IDL and immediately pass the results to validator.

My current thoughts:

1. Parse IDL,
2. Detect undefined references, with two possible ways...
   * Extract directly from parser result data by abusing writer hooks. I locally have working code for this, but this creates a duplicate work because `core/dfn-finder` already does this by searching DOM tree...
   *

[2019-07-22 11:33] marcoscaceres commented on #2429
I think the issue is not correctly articulated. The actual problem is that data-cite must not prevent matching local definitions.

[2019-07-22 11:34] saschanaz commented on #2429
You mean must prevent?

[2019-07-22 11:36] marcoscaceres commented on #2429
These must all work:
[code]

[2019-07-22 11:38] marcoscaceres commented on #2429
Nope. Must not.

[2019-07-22 11:39] marcoscaceres commented on #2429
This still means match in current document first, the fall back to data-cite.

[2019-07-22 11:39] saschanaz commented on #2429
Ah okay, understood.

Do `<a id="link3" data-cite="fetch">event handler</a>` possibly fallback to local definitions? The issue title seems it should but I think it should not...

[2019-07-22 11:42] marcoscaceres commented on #2429
Yes, but we may warn. Specs shouldn’t stomp on each other’s definitions - that’s really bad if they do.

[2019-07-22 13:51] sidvishnoi opened #2436 "xref: Links in code should be treated as IDL"
## Important info

* URL to affected spec: https://w3c.github.io/mediacapture-output/#methods (See 5.2 in `setSinkId` method)
* ReSpec version: 24.26.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: Couldn't match "domexception" to anything in the document or to any other spec.

But what I was expecting?:  `DOMException` is prese

[2019-07-22 21:38] marcoscaceres commented on #2436
I don’t think we should support that, tbh. The correct syntax for IDL things is {{DOMException}}.

[2019-07-23 10:25] #2436 closed

[2019-07-23 11:37] #2427 closed

[2019-07-23 11:56] sidvishnoi opened #2438 "tests/xref: refactor xref tests"
There are too many xref tests, a lot of them being duplicates or redundant. A refactor would be nice.

[2019-07-23 12:09] #2428 closed

[2019-07-24 09:24] marcoscaceres opened #2444 "split `decorateDfn()` from `findDfn()` in WebIDL.js"
Finding definitions shouldn't have side effects... decorateDfn() should be called separately.

[2019-07-24 13:35] saschanaz commented on #2415
I think we should at least include `webidl` for the default value of `xref`, otherwise even `DOMString` and `[Constructor]` fail to link and throw. WDYT? @marcoscaceres

[2019-07-24 13:59] sidvishnoi commented on #2415
That reminds me of an incomplete item in initial xref checklist https://github.com/w3c/respec/issues/1662#checklist

[2019-07-24 16:09] scottaohara opened #2446 "[Feature request]: output contributors as list items"
Regarding inclusion of GitHub contributors and commenters in [this HTML AAM PR](https://github.com/w3c/html-aam/pull/228#issuecomment-514471005), just discussed with @marcoscaceres the idea of allowing the `gh-commenters` and `gh-contributors` to output as list items if the IDs were found to be on `ul` elements.

[2019-07-25 02:31] saschanaz opened #2447 "`npm i` fails on Windows"
Regression after #2410:

[code]

Probably an npm bug, but not sure this has ever been supported.

[2019-07-25 02:36] saschanaz commented on #2447
Filed https://github.com/snyk/snyk/issues/683

[2019-07-25 05:00] #2447 closed

[2019-07-25 05:14] saschanaz commented on #631
I intend to fix this in #2187, so removing the tag.

Current state there:

[code]

[2019-07-25 10:49] sidvishnoi commented on #2374
Another pain: 'TextEncoder' is not supported, causing entire xref to fail in Edge ([image](https://user-images.githubusercontent.com/8426945/61868793-ce21fd80-aef7-11e9-871e-da994ac38bda.png)).
TextEncoder is [used in xref](https://github.com/w3c/respec/blob/develop/src/core/xref.js#L427) to create SHA based unique ids.
Version: Microsoft Edge 44.18362.1.0, Microsoft EdgeHTML 18.18362

We can use

[2019-07-25 11:11] marcoscaceres commented on #2374
Xref is a W3C feature really, so I’d be fine with us ignoring Edge support.

[2019-07-26 05:51] sidvishnoi commented on #2446
GitHub v3 APIs for reference:
- Contributors to a repo: [documentation](https://developer.github.com/v3/repos/#list-contributors ), [example](https://api.github.com/repos/w3c/html-aam/contributors)
- Issue commenters: [documentation](https://developer.github.com/v3/issues/comments/#list-comments-in-a-repository), [example](https://api.github.com/repos/w3c/html-aam/issues/comments)

Both APIs get u

[2019-07-26 07:38] sidvishnoi commented on #2310
I think this is fixed with https://github.com/w3c/respec/pull/2434

[2019-07-26 12:35] sidvishnoi commented on #2358
Was working on error messages today. Turns out, the ambiguity can also be caused by "type", as in this case, but [we're just handling `forContext`](https://github.com/w3c/respec/blob/37628a272f982215aa795506172e2e7e3703c48e/src/core/xref.js#L411-L415)

How should we hint user to disambiguate based on type? Ask them to use `data-xref-type`?

I was thinking to not give disambiguation/search hints in

[2019-07-29 02:36] marcoscaceres opened #2451 "add "untilDate" to formerEditor"
There are quite a few instances of people adding "until" to indicate when an editor retired from a spec. This is currently done using the `"note:"` config option of the person object.

We should add support for this "natively" via `untilDate` or `retiredDate`.

[2019-07-29 13:28] #2444 closed

[2019-07-30 06:01] marcoscaceres commented on #2358
We generally want to avoid users ever writing `data-*`... if they can use the alternative syntax, that's better.

Yes, that would be good. We can even pop up xref right in the document as an iframe.

[2019-07-30 06:36] marcoscaceres commented on #2391
Unfortunately, there is no way to do this at the moment, but we'd definitely accept a pull request. Maybe issues could be sorted by label or something similar.

[2019-07-30 07:11] marcoscaceres commented on #2432
For feature policy, it was [= Document/feature policy =] :) thanks @sidvishnoi again for the xref ui!!! 💗

[2019-07-30 07:15] sidvishnoi commented on #2358
That's the plan. Have some works in the local. Will try to send PRs today.

[2019-07-31 01:41] marcoscaceres commented on #2430
not sure... we could just treat each as JSON.

?xref={"url": "someURL", "specs": [spec1,spec2]}&...

and so on...

[2019-07-31 08:21] xfq commented on #1562
FWIW, one of my groups need this feature too. We got a few questions about the 404.

[2019-07-31 11:22] sidvishnoi commented on #2429
This issue was created out of confusion, so closing.

[2019-07-31 11:22] #2429 closed

[2019-08-01 02:53] #2318 closed

[2019-08-01 08:15] sidvishnoi commented on #2358
Closed via https://github.com/w3c/respec/pull/2455

[2019-08-01 08:15] #2358 closed

[2019-08-01 08:15] sidvishnoi commented on #2310
Closed via https://github.com/w3c/respec/pull/2455 and #2434

[2019-08-01 08:15] #2310 closed

[2019-08-01 12:19] saschanaz opened #2461 "Reduce network requests on core/biblio"
https://github.com/w3c/respec/blob/103f318367382c9db105d7a41455a2c6e824647e/src/core/biblio.js#L150-L156

Those two serial requests are one of the major performance bottlenecks in #2187. Maybe we can merge them into one request, or at least we should make them parallel.

[2019-08-01 12:44] saschanaz commented on #2461
@marcoscaceres Any idea why we requests twice here?

[2019-08-01 14:07] #2461 closed

[2019-08-03 02:25] #1955 closed

[2019-08-03 03:07] saschanaz opened #2464 "localBiblio links but unexpectedly also throws"
[code]

[code]

Probably related to xref.

[2019-08-03 06:38] saschanaz commented on #2464
We probably should not xref `<a data-cite="LOCAL">PASS<a></p>` here.

[2019-08-05 04:24] marcoscaceres opened #2466 "Support {{ Parent / "child" }} relationships for enums"
Something occurred to me when working on this regarding enums... the following could totally work too:

[code]

Which is the same as:

[code]

We should support both forms. That's less Editors need to learn.

[2019-08-05 05:09] marcoscaceres commented on #1562
Could use some help with this, as I don't currently have time to get to it. I'd be happy to provide guidance if someone wants to have a go at fixing it. Shouldn't be too hard, given the discussion above.

[2019-08-05 10:49] fycdev commented on #2451
I will like to work on this 👍

[2019-08-05 10:49] marcoscaceres commented on #2451
Awesome! Thanks @fycdev!

[2019-08-05 13:22] sidvishnoi commented on #2466
The regex is clashing with exception. Interesting. Can fix it, but it'll be hacky.

[2019-08-06 00:09] fycdev commented on #2451
#2468
Work in progress PR ☝️

[2019-08-07 04:47] #2466 closed

[2019-08-09 21:31] gkellogg commented on #1370
I updated my documents with WebIDL to add `[Exposed=Window]`, now (with 24.30.3) I'm seeing an error "Couldn't match "`Window`" to anything in the document or in any other document cited in this specification: html.

It was never clear to me that a spec using WebIDL outside of the DOM would need to be exposed to "Window", and how an automatic cite to html gets made here, but clearly something need

[2019-08-09 21:57] sidvishnoi commented on #1370
@gkellogg Can you please share the document link that has the error? I can help with this one.

[2019-08-09 22:46] saschanaz commented on #1370
That error deserves a guide message!

[2019-08-09 23:16] gkellogg commented on #1370
You should see it at https://w3c.github.io/json-ld-api/, but I don't see it there. I see it running locally (using `python3 -m http.server`), which is odd.

[2019-08-10 00:22] palemieux opened #2469 "Built-in IDL datatypes are not linked when specStatus is "unofficial""
## Important info

See attached [sample.zip](https://github.com/w3c/respec/files/3488345/sample.zip)

## Description of problem

Built-in IDL datatypes are not linked when `specStatus: "unofficial"`

In the attached sample, change `specStatus: "unofficial"` to `specStatus: "ED"` and `double` becomes linked to the corresponding IDL definition.

[2019-08-10 05:10] AmeliaBR opened #2470 "Don't default to w3.org/TR/ as canonical URL!"
## Important info

* URL to affected spec: [static snapshot](https://maps4html.github.io/HTML-Map-Element-UseCases-Requirements/) or [source code](https://github.com/Maps4HTML/HTML-Map-Element-UseCases-Requirements/blob/master/index.html)
* ReSpec version: 24.30.3
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened?:

Ran my report through a link checker

[2019-08-10 07:23] saschanaz commented on #2435
Might split validator from `core/webidl` to `core/webidl-validator` to run it after xref. If then, the AST will be saved to be used after.

[2019-08-11 12:28] saschanaz commented on #1370
@gkellogg Weird, can't reproduce it locally here. Could you remove your IndexedDB data and try again, as the local data might be broken?

[2019-08-12 01:15] marcoscaceres commented on #2470
Thanks @AmeliaBR, but indeed. Your suggestion for how to fix this sounds good.

It would be great to have a W3C utility method to determine if a document is on the W3C Rec track.

[2019-08-12 13:53] marcoscaceres commented on #2435
No objection from me. That would be great.

[2019-08-12 14:17] saschanaz commented on #2435
The problem is that it's not very straightforward to get data from xref cache as the keys are all hashed. @sidvishnoi, can we cook a helper function for this? I don't quite understand well about its caching feature.

[2019-08-12 14:22] sidvishnoi commented on #2435
@saschanaz I think we can create a request entry using the given node
https://github.com/w3c/respec/blob/0767dfb64a086fe3c116a135f61d863d134b45b3/src/core/xref.js#L128
and then use it's hash? Can expose those two from `core/xref.js`
Unless I didn't understand the problem

[2019-08-12 14:30] saschanaz commented on #2435
Hmm, so this is some context...

[code]

The type name `DictionaryFromOtherSpec` is not known, so xref will get the data from the remote server and link it properly. And then we want to run WebIDL validator, but the validator still cannot know the type of `DictionaryFromOtherSpec` from the IDL text itself, so it wants to access the xref db to get the info about a type named `DictionaryFromOtherSpe

[2019-08-12 14:40] marcoscaceres commented on #2435
I’m unsure if xref can provide enough details... we might need to ping Reffy maybe to get the actual IDL for DictionaryFromOtherSpec.

[2019-08-12 14:40] saschanaz commented on #2435
Weird solution: We rescan the `<pre>`, get all `<a>` inside them and get type information from there, because xref added one for us.

[2019-08-12 14:48] saschanaz commented on #2435
@marcoscaceres I think it's sufficient to do shallow check for now. More strict validation needs full IDL but it's more complex as it might require many recursive requests...

[2019-08-12 14:56] marcoscaceres commented on #2435
Yes true.

[2019-08-14 06:07] greenkeeper[bot] opened #2471 "An in-range update of webidl2 is breaking the build 🚨"
## The devDependency [webidl2](https://github.com/w3c/webidl2.js) was updated from `23.4.0` to `23.4.1`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fwebidl2-23.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webidl2 is a devDependency of this project. It **might not brea

[2019-08-18 23:41] greenkeeper[bot] opened #2472 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.1.0` to `6.2.0`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Feslint-6.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might not break your

[2019-08-19 03:27] sidvishnoi commented on #2472
Build is breaking due to `no-unused-vars` rule, which is worth fixing (and not to disable). Will do.

[2019-08-19 05:16] sidvishnoi commented on #2472
Looks like a bug in eslint. Telling unused with cases like this:
[code]

[2019-08-20 11:34] saschanaz commented on #2471
Looks like an intermittent failure. Closed by #2474.

[2019-08-20 11:34] #2471 closed

[2019-08-20 11:35] marcoscaceres commented on #2471
yeah, my bad... I accidentally updated ESLint.

[2019-08-20 13:47] nickevansuk opened #2477 "respec2html.js race condition: Target closed"
## Important info

* URL to affected spec: https://www.openactive.io/modelling-opportunity-data/EditorsDraft/edit.html
* ReSpec version: Click the ReSpec pill (e.g., 24.30.4).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

`respec2html "file://$PWD/EditorsDraft/edit.html" "$PWD/out/EditorsDraft/index.html" "EditorsDraft"`

Produces the error:

[code]

The above sh

[2019-08-21 13:45] greenkeeper[bot] opened #2479 "An in-range update of webidl2 is breaking the build 🚨"
## The devDependency [webidl2](https://github.com/w3c/webidl2.js) was updated from `23.5.0` to `23.5.1`.

🚨 [View failing branch](https://github.com/w3c/respec/compare/develop...w3c:greenkeeper%2Fwebidl2-23.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webidl2 is a devDependency of this project. It **might not brea

[2019-08-21 16:18] sidvishnoi commented on #2477
Fixed via https://github.com/w3c/respec/pull/2478

[2019-08-21 16:18] #2477 closed

[2019-08-21 16:19] #2472 closed

[2019-08-21 16:20] sidvishnoi commented on #2451
Done in https://github.com/w3c/respec/pull/2468

[2019-08-21 16:20] #2451 closed

[2019-08-22 05:55] marcoscaceres commented on #2469
@palemieux, so this is actually by design. The unofficial specs profile default all their preferences to "false", including "xref". So to enable it for unofficial documents/specs, you need to explicitly do:

[code]

However, for specs fall into the W3C profile, "xref" is automatically set to true.

[2019-08-22 05:58] palemieux commented on #2469
Great. Is this in the manual? If so, sorry I missed it. If not, perhaps add
your explanation below?

On Wed, Aug 21, 2019 at 22:56 Marcos Cáceres <notifications@github.com>
wrote:

[2019-08-22 06:09] sidvishnoi commented on #2469
[Updated the docs](https://github.com/w3c/respec/wiki/specStatus) to include `xref: true` for auto-linking with `specStatus: "unofficial"`.

[`xref`](https://github.com/w3c/respec/wiki/xref) is a new feature (presently in beta phase) in ReSpec which allows us to auto-link external references (that includes built-in IDL types).  You can read more about [Auto linking external references](https://git

[2019-08-22 10:54] marcoscaceres commented on #2479
@saschanaz, any chance you could check what's going on?

[2019-08-22 10:55] saschanaz commented on #2479
Probably just an intermittent failure? Because 23.5.1 didn't change any source code.

[2019-08-22 10:56] saschanaz commented on #2479
Yup, this is just an intermittent snyk failure.

[2019-08-22 12:22] #2479 closed

[2019-08-22 12:23] marcoscaceres opened #2481 "Use the GitHub Actions"
Because faster :)

[2019-08-22 14:17] palemieux commented on #2469
Looks like the bug label can be removed. Should I close the issue?

[2019-08-22 14:38] #2469 closed

[2019-08-22 14:39] marcoscaceres commented on #2469
Thanks for letting us know and reminding us to update the docs!

[2019-08-22 21:44] marcoscaceres opened #2483 "Exports should retain case"
When IDL exporting definitions, the definitions should retain the same case form. Right now, we are exporting everything as lower case.

[2019-08-23 14:32] Malvoz opened #2485 "[Feature request] upgrade-insecure-requests"
Hi ReSpec!

I'd like to propose a new configuration member allowing editors to enforce [`upgrade-insecure-requests`](https://w3c.github.io/webappsec-upgrade-insecure-requests/) using CSP's [`<meta>` element delivery method](https://w3c.github.io/webappsec-csp/#meta-element) to prevent [mixed content](https://w3c.github.io/webappsec-mixed-content/) blocking, e.g.:

[code]
would output:

[code]

whe

[2019-08-23 14:52] marcoscaceres commented on #2485
Should be trivial to add. Just wondering, what prompted the request?

[2019-08-23 14:52] Malvoz commented on #2485
https://github.com/Maps4HTML/HTML-Map-Element-UseCases-Requirements/issues/126

[2019-08-23 15:02] marcoscaceres commented on #2485
Awesome, thanks!

A challenge might be that ReSpec runs after the DOMContentLoaded fires, which means it might be too late to for the policy to have an effect (things would have already started to load in parallel and like already got blocked). Having ReSpec include the meta tag would only have an effect after the document is exported to raw HTML. However, in such a case, there might be limited va

[2019-08-24 05:06] marcoscaceres commented on #2485
Closing this in light of https://github.com/Maps4HTML/HTML-Map-Element-UseCases-Requirements/pull/129/files

It was a good suggestion.

[2019-08-24 05:06] #2485 closed

[2019-08-24 19:01] #2481 closed

[2019-08-25 04:01] #2483 closed

[2019-08-26 17:07] nitmws opened #2488 "Print-out rendering of pre-code shows long gaps"
## Important info

* URL to affected spec: https://w3c.github.io/odrl/profile-bp/
* ReSpec version: 24.30.5
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
The print-out of the web document shows very long empty gaps around the start of a section inside &lt;pre&gt; &lt;/pre&gt; tags, e.g. for examples. This was tested with the bro

[2019-08-26 22:28] pradeepgangwar commented on #2352
@marcoscaceres I guess this issue has been fixed.

[2019-08-27 05:13] marcoscaceres commented on #2352
Nope, still links to 3.0 in
src/w3c/templates/headers.js:

This needs to be updated:
const ccLicense = "https://creativecommons.org/licenses/by/3.0/";

[2019-08-28 04:56] marcoscaceres opened #2492 "Biblio links should have a `data-link-type="biblio"`"

[2019-08-30 05:45] marcoscaceres opened #2494 "Support new constructor IDL syntax"
We need to make sure we properly link and `code` constructors in a way that is backwards compatible with the old `Constructor=` extended attribute syntax. In particular `data-lt="InterfaceName.InterfaceName()"` should work, as well as `{{Foo/constructor()}}`.

[2019-09-02 08:07] dontcallmedom opened #2495 "Overloaded operations showing as errors"
## Important info

* URL to affected spec: https://w3c.github.io/webrtc-pc/webrtc.html
* ReSpec version: 24.30.5
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
When trying to upgrade the WebRTC spec above (whose online version is currently tied to a static version of ReSpec 24.3.0), it triggers 5 new errors for overloaded operati

[2019-09-02 08:12] dontcallmedom opened #2496 "Reference errors flagged by respec"
## Important info

* URL to affected spec: https://w3c.github.io/webrtc-pc/webrtc.html
* ReSpec version: 24.30.5
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
When trying to upgrade the WebRTC spec above (whose online version is currently tied to a static version of ReSpec 24.3.0), it triggers 30 new errors bound to interfaces o

[2019-09-02 10:49] marcoscaceres commented on #2496
References are contextual (i.e., it looks in the DOM tree)... so, to fix, in theory, you need to add  `data-cite="DOM"` where the `<pre class="IDL">` is defined.

As of like 3  days ago, Constructor is no longer a thing in WebIDL so it's getting confused. We are working to add support for `constructor()` right now :)

Will jump over to the WebRTC pull request and give you a hand soon!

[2019-09-02 11:28] marcoscaceres opened #2498 "Support aliasing with [=linking syntax=]"
Sometimes it's awkward to use some exported terms in prose, so it's useful to be able to alias them. For example:

[code]

Where that would become:
[code]

[2019-09-02 12:00] #394 closed

[2019-09-02 12:00] #2494 closed

[2019-09-02 12:21] dontcallmedom commented on #2496
ah, thanks for the `data-cite` trick, that helps solve most of the reference issues.

Besides the `Constructor` error, respec still doesn't recognize the following names:
* `AlgorithmIdentifier` defined in Web Crytpo
* `VoidFunction` defined in WebIDL

Neither of those appear in the autocompletion box in https://respec.org/xref/

[2019-09-02 12:28] marcoscaceres commented on #2496
Great! will need to check why they are not being exported to Shepherd.

[2019-09-02 13:07] saschanaz opened #2500 "Regression on IDL operation linking"
[code]

![image](https://user-images.githubusercontent.com/3396686/64116661-e8d87380-cdcd-11e9-8564-509e64881844.png)

Different formats of linking gets different styling. A regression after #2484.

[2019-09-02 23:03] #2500 closed

[2019-09-03 13:27] #2498 closed

[2019-09-03 17:33] gkellogg commented on #2496
I am seeing numerous cross-reference errors in my specs as of today:

* https://w3c.github.io/json-ld-syntax/
* https://w3c.github.io/json-ld-api/
* https://w3c.github.io/json-ld-framing/

Running ReSpec 24.31.0. These were all stable as of last week. The errors seem to be reported where a plural reference is used to a singular definition. For example, 'Couldn't match "iris" to anything in the doc

[2019-09-03 19:36] marcoscaceres commented on #2496
Fix for plurals failures coming soon https://github.com/w3c/respec/pull/2505

[2019-09-04 12:50] dontcallmedom commented on #2496
should I raise the problem with `VoidFunction` and `AlgorithmIdentifier` as a separate issue since that one got closed?

[2019-09-04 12:54] marcoscaceres commented on #2496
It seems neither of those have been exported to Shepherd.

[2019-09-04 13:24] marcoscaceres commented on #2496
WebCrypto is too old I think to be part of Shepherd, so we will need to link to it using the old method: data-cite="foo#bar”. I’m afk, but will check why VoidFunction is lacking `data-export`.

[2019-09-04 13:31] sidvishnoi commented on #2496
Found respec-xref-route doesn't have `callback` in supported IDL types (https://respec.org/xref/meta/types). Sending PR..

[2019-09-04 13:36] dontcallmedom commented on #2496
@marcoscaceres if you can say a bit more about the old method - I don't know how to apply it effectively to an IDL fragment.

[2019-09-04 13:50] sidvishnoi commented on #2496
@dontcallmedom add the following at somewhere in the document and the IDL block will link it correctly.
[code]

@marcoscaceres should we add a config option to define the terms that can't be added to xref database? Something like `localBiblio`?  It may not be always meaningful to add a `dfn` in markup just for xref linking.

[2019-09-04 13:55] dontcallmedom commented on #2496
thanks @sidvishnoi that works!

[2019-09-04 14:05] sidvishnoi commented on #2496
@dontcallmedom [`VoidFunction`](https://respec.org/xref/?term=VoidFunction) should also work now by default. Thanks for letting us know.

[2019-09-04 14:17] marcoscaceres commented on #2496
@gkellogg, most errors relating to plurals should be fixed. Will check first thing tomorrow what's going on with those last few errors. Thanks for your patience and apologies for the recent breakage... something about "breaking eggs to make omelettes" :)

[2019-09-04 22:04] gkellogg commented on #2496
The final errors are all related to references into WebIDL defined entries such as `<a data-link-for="JsonLdOptions">ordered</a>` which is defined in the `JsonLdOptions` section as `<dfn data-dfn-for="JsonLdOptions">ordered</dfn>`.

[2019-09-05 10:39] marcoscaceres commented on #2495
@dontcallmedom, the above WebIDL error might be correct. The validator follows the WebIDL spec quite closely.

[2019-09-05 10:57] sidvishnoi commented on #2464
Not sure I follow. What makes `<a data-cite="LOCAL">PASS<a>` special that it shouldn't be xref-ed?
If PASS has a local dfn, only then it won't be xref-ed.
I believe the error is correct. Unless I'm misunderstanding the use of `localBiblio` - include something that's not in specref database.

In case you want to avoid xref, there is an explicit way: `data-no-xref` attribute.

[2019-09-05 14:04] dontcallmedom commented on #2495
huh, you're absolutely right:

Not sure when that landed in WebIDL, but I guess that moves the bug back in our court - sorry for the noise then.

[2019-09-05 14:04] #2495 closed

[2019-09-06 09:37] #2352 closed

[2019-09-07 01:43] marcoscaceres commented on #2496
closing, as I think all issues have been addressed.

I'm not sure... I still think defining terms directly in the spec fine. You would either have to do it in something like localBiblio or directly in markup via a `dfn`. Generally, we always use HTML over JS for  these things.

[2019-09-07 01:43] #2496 closed

[2019-09-09 11:51] #2470 closed

[2019-09-09 11:57] fycdev commented on #2470
Hi @AmeliaBR!
This should hopefully be fixed in v24.32.2 👍

[2019-09-09 19:35] jyasskin opened #2511 "dfn lt lowercased"
## Important info

* URL to affected spec: https://www.w3.org/TR/appmanifest/#dom-webappmanifest
* ReSpec version: ReSpec 24.31.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened?: https://www.w3.org/TR/appmanifest/#dom-webappmanifest defines "WebAppManifest" as

[code]

The [source](https://github.com/w3c/manifest/blob/6851b189ebd73b27eff0876e87d442ec

[2019-09-09 22:16] marcoscaceres commented on #2511
Oh whoops! I thought we’d fixed this. Will look into it.

[2019-09-10 06:27] marcoscaceres commented on #2511
Going to omit.

[2019-09-10 10:05] dontcallmedom opened #2513 "Duplicate ids in markup for overloaded constructors"
## Important info

* URL to affected spec: https://w3c.github.io/mediacapture-main/getusermedia.html in https://github.com/w3c/mediacapture-main/pull/622
* ReSpec version: 24.32.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
The `MediaStream` has 3 overloaded constructors; each of these constructors get assigned the id `idl-def

[2019-09-11 02:48] marcoscaceres commented on #2511
Closed via #2512

[2019-09-11 02:48] #2511 closed

[2019-09-11 02:49] marcoscaceres commented on #2511
@jyasskin, will republish manifest now... might take 12-24 hours for Shepherd to pick it up.

[2019-09-13 16:20] scottaohara commented on #2446
Just checking in for any further movement on this?

If not, no worries.

[2019-09-13 18:20] sidvishnoi commented on #2446
Hi Scott,
Had a discussion on this with Marcos earlier and we do have some work under progress.

Regarding `gh-contributors`:  Do we want to display only GitHub login names of contributors or full names of contributors (with link to GitHub profile maybe?)?

Regarding `gh-commentors`: We're not sure of supporting this feature. Listing all issue commentors requires traversing a really long history o

[2019-09-13 18:40] scottaohara commented on #2446
i'm more concerned with contributors tbh. while some people may primarily contribute through comments, which are appreciated, i'd submit that'd be on the maintainers of a repository to determine a way of giving attribution to them.  e.g. i wouldn't expect to be listed as a contributor to respec per just my comments here! :)

regarding info for contributors... seems all 3 bits of info would be good

[2019-09-13 18:53] sidvishnoi commented on #2446
Okay. For now, we'll work on listing contributors only.

[2019-09-15 03:17] saschanaz commented on #2513
I'm seeing `idl-def-mediastream-constructor-0`, `idl-def-mediastream-constructor-1`, and `idl-def-mediastream-constructor-2` but not `idl-def-mediastream-constructor`. Could you elaborate a bit more?

[2019-09-15 03:19] saschanaz commented on #2513
I do see something wrong, other constructors must not link to the first overload but they do.

[2019-09-15 03:25] dontcallmedom commented on #2513
I [put a `postProcess` in place to override the default behavior](https://github.com/w3c/mediacapture-main/commit/f6fb26b4a166fa3ed9b0033e4e24042a06d6dbbe)

[2019-09-15 03:47] saschanaz commented on #2513
Found that general operation overload is also broken with the same issue.

[2019-09-15 06:29] saschanaz commented on #2464
I mean when people use local biblio, that means the target spec is not in w3c spec database and we can't do automation for them, so xref will almost certainly fail.

[2019-09-15 16:51] sidvishnoi commented on #2464
That does make sense.
Currently, we extensively use `localBiblio` in tests to avoid network requests. I think it would be better if we still try to xref but if it fails, we avoid showing error.

[2019-09-16 00:21] #2513 closed

[2019-09-16 02:07] marcoscaceres opened #2517 "Don't link TreatNullAs= types"
For example:

[code]

EmptyString is not exported from WebIDL.

[2019-09-16 05:02] saschanaz commented on #2517
I saw that `PutForwards` also links in wrong way. Maybe we should make a whitelist for linking?

[2019-09-16 05:13] marcoscaceres commented on #2517
yeah, makes sense to whitelist...

[2019-09-17 14:00] saschanaz opened #2518 "Warn about multiple WebIDL validation errors for a single IDL block"
When a single IDL block has several IDL validation errors, the mouse hovering only shows the last error. We should really show everything.

[2019-09-18 08:51] rdeltour opened #2522 "links in the registry table headers lack contrast"
The use of links in the [registry's table header](https://www.w3.org/TR/timing-entrytypes-registry/#registry) make them very hard to read (low contrats).

<img width="724" alt="screenshot of the header, with low contrast in a couple columns" src="https://user-images.githubusercontent.com/520889/65132888-a2754c80-da3c-11e9-9544-5c0ef739f3c7.png">

It’s probably worth fixing in the spec’s stylesheet

[2019-09-27 03:19] sideshowbarker opened #2523 "List of specs that are generated using Respec?"
Is there a list somewhere of specs that are published using Respec?

[2019-09-27 06:45] dontcallmedom commented on #2523
I don't know if you're interested in W3C/Web specs, or specs in general (since respec is also used outside of the w3c ecosystem).

For W3C, I know collecting a subset of that information via [reffy](https://github.com/tidoust/reffy) would be relatively easy since we need to identify respec-based editors draft when we extract data from specs (cc @tidoust).

(I say subset because reffy doesn't crawl

[2019-09-27 11:54] tidoust commented on #2523
A quick glance suggests that Reffy knows about **51 specs** generated with Respec. As pointed out by @dontcallmedom, this only covers W3C specs that define some WebIDL (or CSS in theory, but all CSS specs seem to be using Bikeshed). Here is the list:

- [Accessible Rich Internet Applications (WAI-ARIA) 1.2](https://rawgit.com/w3c/aria/master/)
- [Audio Output Devices API](https://w3c.github.io/med

[2019-09-27 13:08] wetneb opened #2524 "TOC layout error when served by GitHub pages"
## Important info

* URL to affected spec: https://reconciliation-api.github.io/specs/
* ReSpec version: 24.33.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: The spec renders fine locally or over HTTP but when served on GitHub pages, the Table of Contents is laid out incorrectly (as a horizontal rather than vertical list) and o

[2019-09-27 13:28] sidvishnoi commented on #2524
Seems like a GitHub pages issue. Serving via [githack](https://raw.githack.com/reconciliation-api/specs/master/index.html) also works fine.
I see a CSP error with GitHub pages, which I think is due to missing `schemas/reconciliation-query.json`. gh-pages renders a 404 HTML page, which has a CSP that is violated on `data-include`. Blocking the request to `schemas/reconciliation-query.json` makes it

[2019-09-27 13:28] #2524 closed

[2019-09-27 13:33] sidvishnoi commented on #2524
So the gh-pages' 404 page have some CSS that conflicts with ReSpec's :rofl:
![image](https://user-images.githubusercontent.com/8426945/65773229-8159dd80-e159-11e9-8fb6-d69f2ca02bff.png)

[2019-09-27 15:31] saschanaz commented on #2523
@sidvishnoi You said you previously got a list (that probably does not depend on existence of Web IDL), could you publicize it?

[2019-09-27 15:36] sidvishnoi commented on #2523
I can create a list from the respec.org server logs, but it'll only contain the specs that use either caniuse or xref (via webidl or explicit queries). It does have some non-w3c specs though.

[2019-09-27 15:47] saschanaz opened #2525 "Constructor overloads incorrectly links to the first one"
## Important info

* URL to affected spec: https://w3c.github.io/mediacapture-main/#dom-mediastream-constructor
* ReSpec version: 24.32.1 but also happens on 24.33.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: Overloads link to the first one

But what I was expecting?: Overloads should get their own definitions as general oper

[2019-09-28 04:56] saschanaz opened #2527 "Change overload naming algorithm"
We agree that current `!overload-1` is weird, so I suggest a change:

[code]

Basically we name the operations by its argument names, and if some of them collides, then attach `-(counter)`.

@marcoscaceres and @sidvishnoi, what do you think?

[2019-09-28 05:40] saschanaz opened #2528 "Duplicated identifier error by case insensitivity"
## Important info

* URL to affected spec:
* ReSpec version: 24.33.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: Duplicated identifier error

But what I was expecting?: No error

Optional, steps to reproduce:

[code]

[2019-09-28 05:59] saschanaz opened #2530 "Support linking [PutForwards]"
[code]

`bar` here can be linked to `Foo.bar`.

[2019-09-28 07:59] #2517 closed

[2019-09-28 10:59] #2525 closed

[2019-09-28 11:36] sidvishnoi commented on #2527
I'm in favor of using parameter types instead of names. That feels more natural and is less likely to be changed than names. Though it may result in longer id.
+1 on adding counter on collision.

[2019-09-28 11:50] saschanaz commented on #2527
Especially when the list includes generics or unions. I don't disagree, though:

[code]

Hopefully it won't be too complex in most of situations.

[2019-09-28 11:52] saschanaz commented on #2527
One problem is that we already are using argument names for non-overloads, and those will drastically change if we choose the type name way. 🤔

[2019-09-28 11:58] marcoscaceres commented on #2527
The numbering is very fragile, so definitely needs to go away (eg, if a new overload is added, it breaks). I don't think we should have "overload" in the id either. The uniqueness comes from the args their respective types, so I feel that should form the ID.

More importantly, we need to think about how Editors define and link to overloads without even needing to use the id.... Foo/overload(short

[2019-09-28 11:59] saschanaz commented on #2527
`overload` in the example is just the name of the operation 🤣

[2019-09-28 12:03] marcoscaceres commented on #2527
Oh woops! Lol

[2019-09-28 12:09] saschanaz commented on #2527
Looking at the `core/inline-idl-parser`, it seems it currently treats things between parentheses as "argument values" and thus wraps them as `<var>`. Can it be modified to also use "parameter names" there without breaking existing things?

[2019-09-30 19:03] sidvishnoi commented on #2523
I was able to grab a list of 118 documents using ReSpec. The data comes from server logs of https://respec.org (HTTP `referrer`). The list is likely to be incomplete as it only contains the specs that use WebIDL, xref (auto-linking) or caniuse and I only checked some recent logs.
I hope I did the filtering correctly. If a more complete list is required, I can search into older logs or implement a

[2019-10-01 01:54] marcoscaceres commented on #2523
@dontcallmedom oohhh... do you think we can do something about these ones:

https://dev.w3.org/2009/dap/file-system/file-dir-sys.html
https://dev.w3.org/2009/dap/file-system/file-writer.html
https://dev.w3.org/html5/html-polyglot/
https://dev.w3.org/html5/html-polyglot/html-polyglot.html
https://dvcs.w3.org/hg/dap/raw-file/tip/light/CR.src.html
https://dvcs.w3.org/hg/dap/raw-file/tip/proximity/CR.

[2019-10-01 01:58] marcoscaceres commented on #2523
Similarly with:

https://www.w3.org/2012/nfc/web-api/
https://www.w3.org/2012/sysapps/

We should probably make sure that things in the SysApps repo are no longer using gh-pages:
https://github.com/sysapps/

@anssiko, seems you might still have access to those repos? I can help disable them too if you add me as admin there.

[2019-10-01 03:27] marcoscaceres commented on #2527
Should be fine I think... we can deal with breakage.

[2019-10-01 03:36] saschanaz commented on #2527
I think both are valid use cases, could we support both? 🤔 What does bikeshed do?

[2019-10-01 06:49] anssiko commented on #2523
@dontcallmedom, we'd like to disable gh-pages for all the specs at https://github.com/sysapps/ You seem to have touched these repos most recently.

Maybe replace the ReSpec generated EDs with static HTML snapshots to not break URLs? Or is it better to gut the specs with a clear SoTD? I leave it to your judgement.

[2019-10-01 06:57] dontcallmedom commented on #2523
+1 to creating static snapshots - I'm neutral on gutting the specs. But I'm not volunteering to do the actual work (I only touched the repos because the abandonned sysapps.org domain was breaking links)

[2019-10-01 06:59] saschanaz commented on #2523
Should errors fixed before making snapshot or can we use older ReSpec there?

[2019-10-01 07:01] marcoscaceres commented on #2523
So SysApps, we want to "gut" them... which means removing the body text and saying we are no longer working on these specs.

[2019-10-01 07:06] marcoscaceres commented on #2523
@dontcallmedom I can gut them, but I'll need admin rights on the SysApps org... be quicker that way.

[2019-10-01 07:20] marcoscaceres commented on #2523
Will push up static snapshots like this:

![Screenshot 2019-10-01 17 19 38](https://user-images.githubusercontent.com/870154/65942008-b8890100-e46f-11e9-89eb-59d1c61a3bad.png)

@dontcallmedom, is that ok?

[2019-10-01 07:29] dontcallmedom commented on #2523
@marcoscaceres can you link to the github repo somewhere visible if people want to find out more about the history of the documents?

My preference would be to leave the abstract intact, and use the SoTD to say "work has been discontinued, see github repo for historical information".

[2019-10-01 07:30] marcoscaceres commented on #2523
ok, sounds good.

[2019-10-01 07:40] marcoscaceres commented on #2523
Exhibit A https://sysapps.github.io/app-uri/

[2019-10-01 18:29] ZoeBijl opened #2531 "Fix alert icon styling"
https://github.com/w3c/respec/blob/092e9788b58c342da35378ec29ef26fbb002b4c7/assets/issues-notes.css#L25

Looks a bit funky, APG members will submit PR

[2019-10-02 02:57] marcoscaceres commented on #2523
Ok, all the SysApps ones are done... I've also archived the repos.

[2019-10-02 02:59] marcoscaceres commented on #2523
Closing as @sideshowbarker's question was answered. We should probably spin up a spec hygiene project.

[2019-10-02 02:59] #2523 closed

[2019-10-02 04:54] marcoscaceres commented on #2531
@ZoeBijl yeah, totally needs some love. Appreciate any help making it look better!

[2019-10-02 04:55] marcoscaceres commented on #2531
(as an aside, we might eventually want to push this up to the W3C's base.css so we get consistent styling for warning boxes across all specs)

[2019-10-02 04:58] marcoscaceres commented on #2527
I'm not sure what Bikeshed does :( Any chance you could have a look? I don't mind if we follow whatever it does.

[2019-10-02 11:45] #2522 closed

[2019-10-08 00:52] marcoscaceres commented on #2522
This is now fixed, @rdeltour - but you will need to republish the document on TR.

[2019-10-08 07:52] rdeltour commented on #2522
Thanks @marcoscaceres! 🎉
Ping @plehegar who’s that spec editor (I just happened to notice the issue at TPAC).

[2019-10-09 03:44] marcoscaceres commented on #982
This should link to "stringification behavior" when `stringifier;` appears on its own. When it appears on an attribute, the attribute defines the serialization steps.

[2019-10-09 03:45] marcoscaceres commented on #982
@saschanaz is `stringifier DOMString();` even a thing anymore?

[2019-10-09 03:47] saschanaz commented on #982
It's a thing, but equivalent of `stringifier;`. Yes, stringifier operations always return DOMString [per the spec](https://heycam.github.io/webidl/#idl-stringifiers).

[2019-10-09 03:49] marcoscaceres commented on #982
Ah, ok... so such anonymous translate to toString()? or should we just use "stringification behavior"?

[2019-10-09 03:50] marcoscaceres commented on #982
I'm wondering mostly how we would link to these in a spec... stringifiers are quite rare, judging by Gecko's support of them:
[code]

[2019-10-09 03:56] saschanaz commented on #982
Do you have a preference? `toString` is a reserved identifier so we can freely use it for linking.

Stringifiers are indeed rare, and I failed to find a real example of the longer form of stringifier. There are some `stringifier attribute` but not `stringifier DOMString ()`; Should it be removed? 🤔

The DOMTokenList thing there is just a workaround because gecko doesn't support stringifier attribu

[2019-10-09 04:01] marcoscaceres commented on #982
On reflection, `toString` will be confusing because people will wonder where that method came from.  So I think for `stringifier;` tried to link to "stringification behavior" for `Interface`.

Be nice if that died.

[2019-10-09 04:01] marcoscaceres commented on #982
🤯

[2019-10-09 05:11] saschanaz commented on #982
Found one example in [Selection API](https://w3c.github.io/selection-api/#selection-interface), but AFAICT it's the only spec that uses this form.

[2019-10-09 05:21] saschanaz commented on #982
Filed https://github.com/heycam/webidl/issues/816

[2019-10-09 06:08] saschanaz opened #2535 "Remove w3c/linter module"
See also https://github.com/w3c/respec/pull/2534#discussion_r332840247

[2019-10-09 08:23] saschanaz commented on #2464
Not sure how does that require xref, could you give me more details? Avoiding network requests sounds it also should avoid xref network requests too.

[2019-10-09 08:29] sidvishnoi commented on #2464
... to https://api.specref.org/bibrefs

If we were to "don't xref if spec in localBiblio", we would have to update all xref tests (all xref tests use localBiblio).

that's something I'll do once xref API is final (I think it should be now) and after we refactor the tests.

[2019-10-10 09:46] #2446 closed

[2019-10-11 06:17] marcoscaceres opened #2540 "Icons are 404 on some MDN images"
## Important info

* URL to affected spec: https://www.w3.org/TR/appmanifest/
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

Some icons are returning 404.

But what I was expecting?:

For them not to return 404.

Optional, steps to reproduce:
 1. Run w3c link checker on the

[2019-10-11 06:17] marcoscaceres commented on #2540
cc @contrepoint21, who will help us out with these :)

[2019-10-11 06:18] marcoscaceres commented on #2540
Related code https://github.com/w3c/respec/blob/develop/assets/mdn-annotation.css#L132

[2019-10-11 08:12] palemieux opened #2541 "Feature request: support for errata reports"
The W3C process defines [errata reports](https://www.w3.org/2019/Process-20190301/#errata).

It would be great if respec.js supported those as a `specStatus`, if it does not already.

[2019-10-13 13:11] #2540 closed

[2019-10-16 09:04] marcoscaceres opened #2546 "Top level IDL things should have data-dfn-for="""
If no data-dfn-for and top level WebIDL thing (e.g, dictionary, interface, etc), we should add data-dfn-for="" to be clear it's not for anything.

[2019-10-17 06:16] sidvishnoi commented on #2546
Is this the only thing that needs to be done? :thinking:
https://github.com/w3c/respec/blob/c4ffceaf59a78279df5538ccf6788acfd3bebe49/src/core/dfn-finder.js#L144

[2019-10-17 06:33] marcoscaceres commented on #2546
But it depends on parent... it's makes me sad that the "finder" has side effects, but whatever.

[2019-10-17 06:34] sidvishnoi commented on #2546
cc: @saschanaz

[2019-10-17 06:42] saschanaz commented on #2546
Reasonable. I wonder whether it caused some trouble?

`decorateDfn()` is in dfn-finder but has been split from "finder" functions (in other words, nothing in dfn-finder calls `decorateDfn()` anymore).

[2019-10-19 16:31] #1905 closed

[2019-10-25 09:28] #2161 closed

[2019-10-25 11:06] saschanaz opened #2551 "Remove raw HTML string interpolation"
One consensus in #2548 is that we should remove raw string interpolations. Now we can easily remove them since the PR found all the raw things 🎉

* *Where are those interpolations?:* Find-on-page by `raw(` and all of them are raw string interpolations. There are 21 matches as of now.
* *How to remove them?*: Convert them to inline `Node` or `Element` elements, e.g. `` html`<var>${str}</var>` ``

[2019-10-27 12:02] saschanaz opened #2552 "Remove karma-requirejs"
karma-requirejs shouldn't be needed as no tests currently depend on it, but removing it still breaks karma and causes tests to be not loaded anymore. This needs some investigation.

[2019-10-27 12:21] saschanaz opened #2554 "Migrate to rollup from webpack"
#2553 needs compiling some dependencies (specifically `marked` and `pluralize`) to es modules instead of previous copydeps so that es module system can load them. Webpack does not support emitting es modules yet (https://github.com/webpack/webpack/issues/2933), maybe we should migrate to rollup to do this.

(Currently #2553 uses forked ES module versions of those dependencies, but maintaining fork

[2019-10-28 04:15] marcoscaceres commented on #2554
I don't mind, so long as we get a development server and don't need to (re)compile the code test it.

[2019-10-28 04:18] saschanaz commented on #2554
Compiling dependencies would happen after `npm install` as current copydeps do, so it shouldn't make additional burden when testing 👍

[2019-10-28 04:56] saschanaz commented on #1469
@tidoust Hi! Unfortunately we found that #2187 introduces too many changes and creates additional maintenance burden to us. (Even when it might give some hypothetical wins 👀)

I want to hear your current need again to decide the future of #2187. Could you use `respec2html` now that we depend on headless Chromium? If you can't, what would be the blockers?

[2019-10-28 09:19] tidoust commented on #1469
Hello @saschanaz,

I don't think that there is anything blocking us from using `respec2html` in practice. It was more a matter of reducing dependencies to large binaries (also not to have to run a virtual screen on the server, but that's no longer needed with a headless Chromium).

The one thing that I do now, and which I don't know if I can easily do if we switch to `respec2html`, is to hook my o

[2019-10-28 09:26] dontcallmedom commented on #1469
I agree it'd a nice to have; if it's too costly to maintain, then we'll absorb the cost in running with headless chromium.

[2019-10-28 09:44] saschanaz commented on #2343
Some previous opinions from me: https://github.com/w3c/respec/pull/2340#issuecomment-490346182 https://github.com/w3c/respec/pull/2342#issuecomment-490440217

They were about `_hyper` comments and lack of `DocumentFragment` (hyperhtml uses it's own structure).

[2019-10-28 10:08] saschanaz commented on #1469
Okay, that means this is now officially low-priority unless we find an easier way.

@marcoscaceres I still want to keep #2187 open to 1) extract some good thing from there 2) maybe just for me to experiment things. Sounds good?

[2019-10-28 11:42] saschanaz opened #2557 "Remove unused utils functions"
Currently the list is:

* calculateLeftPad
* ~~xmlEscape~~ (#2578 added a use)
* lead0
* parseSimpleDate
* parseLastModified
* isoDate - This seems simpler alternative over `ISODate.format`?

[2019-10-28 13:46] marcoscaceres commented on #1469
Sounds good. Yes, let’s grab whatever goodies we can from #2187.

[2019-10-29 10:17] sidvishnoi commented on #2546
Somehow, Shepherd (hence bikeshed-data, hence xref) is treating top level things like: https://respec.org/xref/?term=Performance&specs=hr-time&types=interface
Saying `Performance` is defined "for Performance" and is not top level by itself.

[2019-10-29 10:18] saschanaz commented on #2546
Oops, that's problematic indeed!

[2019-10-29 10:24] sidvishnoi commented on #2546
@saschanaz I'm not sure whether https://github.com/w3c/respec/issues/2546#issuecomment-543021791 would be enough or it'll break stuff.

[2019-10-30 09:20] marcoscaceres opened #2559 "Use rollup dev server or watcher"
having to build the profiles when testing with karma is extremely painful, because `<reasons>`. It would be nice if rollup's watcher just did that for us... then it would work like webpack, where it just rebuilds on save, leading to a much nicer development experience.

[2019-10-30 09:24] marcoscaceres commented on #1975
Kinda sad... feels like the end of an era. Oh well! 💃

[2019-10-30 09:30] saschanaz commented on #1975
It's not completely dead just yet, see #2552 😁

[2019-10-30 09:53] marcoscaceres opened #2560 "Auto generate list of external dependencies"
It would be nice ReSpec outputted a a list of terms cited by reference... and, if we know which what the type of a term is, we labelled the term correctly. For example:

"The HTML spec defines the following concepts: queue a task. It also defines the following elements: `<body>`. And it defines the following IDL fragments: `HTMLWhateverThing` interface, and the `Foo` dictionary."

[2019-10-30 10:11] sidvishnoi commented on #1662
Closing as the only task left in this is now at https://github.com/w3c/respec/issues/2560

[2019-10-30 10:11] #1662 closed

[2019-10-30 13:27] marcoscaceres commented on #2552
Heh! Zombie 🧟‍♂️ RequireJS!!  🥰

[2019-10-30 23:01] andrea-perego opened #2561 "Guidance on how to specify changing affiliations"
## Important info

* URL to affected spec: https://www.w3.org/TR/vocab-dcat-2/
* ReSpec version: Click the ReSpec pill (e.g., 24.34.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Some editors of DXWG deliverables have changed affiliation since they joined the WG.

As far as we know, this should be specified in the specs following the guidelines at https://w3c.

[2019-10-31 01:56] marcoscaceres commented on #2561
@andrea-perego, you can just update the company, or, you can make use of the "note:" if you want to say that they used to work for a different company... like `"note": "Previously at BigCorp". However, it's a bit 🤷🏽‍♂️ how you do it or if you do it at all.

[2019-10-31 01:56] marcoscaceres commented on #2561
@andrea-perego here are all the possible fields for a person object:

https://github.com/w3c/respec/wiki/person

[2019-10-31 05:30] saschanaz commented on #2554
Closed by #2553

[2019-10-31 05:30] #2554 closed

[2019-11-05 06:34] #2546 closed

[2019-11-05 06:36] saschanaz commented on #2551
@marcoscaceres Candidate for good first issue? 👀

[2019-11-05 06:39] marcoscaceres commented on #2551
I think so! We just need to make them super easy to find, and really clear how to fix them.

[2019-11-05 06:44] saschanaz commented on #2551
Do we want to keep `conf.*HTML` e.g. `conf.wgHTML` or not?

[2019-11-05 06:46] marcoscaceres commented on #2551
I don't think so... those are all part of the "override" tag'ed tasks.

[2019-11-05 06:52] saschanaz commented on #2551
You mean you want to remove the overriding things? GitHub search shows only [one use of `wgHTML`](https://github.com/OpenMobileAlliance/Tools-Old/blob/031d1d4cb2a49bd201c9a1f82bd8a50592d332cb/oma-profile/oma/headers.js) which is marked as old 👀

[2019-11-05 06:56] marcoscaceres commented on #2551
Maybe we can just entirely remove that.

What I mean is, for a lot of things that insert html from `config`, authors should be actually writing those things directly in the document. There are whole bunch of these:
https://github.com/w3c/respec/issues?q=is%3Aissue+is%3Aopen+label%3AOverride

[2019-11-05 06:58] saschanaz commented on #2551
Right, just like how additional SOTD contents are processed.

[2019-11-06 00:52] marcoscaceres opened #2563 "Suggested fix for WebIDL should write out entities"
Right now, the suggested fix for IDL in the ReSpec Pill are being treated as HTML... meaning that `<Whatever>` in  `Promise<Whatever>` (or any generic) are being treated as a HTML tag.

Actual:
[code]

Expected:

[code]

[2019-11-06 01:43] marcoscaceres opened #2564 "Default Enum values should be validated and linked"
For example:
[code]

We should check if "none" is in `ParityType` and, if it is, we should link to it.

[2019-11-06 01:45] marcoscaceres commented on #2564
@saschanaz, I guess the default value validation could happen in WebIDL2.js? Might be hard if the Enum is not present in the document... but might be a nice feature.

[2019-11-07 05:58] marcoscaceres commented on #2561
Closing as I think this is answered

[2019-11-07 05:58] #2561 closed

[2019-11-07 08:44] sidvishnoi commented on #1724
Thoughts:
[code]

What should be the signature for filter function?
[code]

[2019-11-07 11:13] marcoscaceres commented on #1724
can we use a commit as well?

[2019-11-07 11:17] sidvishnoi commented on #1724
yes. any commit-ish.

[2019-11-08 18:34] deepesh-ludhyani commented on #2551
I would be glad to try to solve this issue.

[2019-11-08 23:18] saschanaz commented on #2551
Hello @deepesh-ludhyani, I'm assigning you for this issue then! Feel free to ask questions whenever needed. 👍

[2019-11-10 16:29] sidvishnoi commented on #2560
`xref` adds a `data-type` attribute on all the links, so we just need to collect all terms by `data-cite` and then by `data-type` and render them.

What about the links which editors added without using xref? Should we show them as "misc" ("xyz also defines a, b, c") or ignore them?

From the current structure of code, this all has to be done before calling `linkInlineCitations` (in `core/link-to-

[2019-11-11 02:14] marcoscaceres opened #2566 "Add support for `data-local-lt`"
Right now, we have a situation where we are exporting, for example:
[code]

We should provide a means to exclude some terms from being exported. BikeShed uses `data-local-lt`, I believe, to achieve the same thing. Would be good if we supported the same thing.

[2019-11-11 02:26] marcoscaceres commented on #2560
We should add them... but we need to look at conventions of how specs do this manually already. For example:
https://fetch.spec.whatwg.org/#index

Basically, the sections:
"Terms defined by this specification"
"Terms defined by reference"

[2019-11-11 19:44] wetneb opened #2568 "Citing academic papers: Crossref integration"
ReSpec has a fantastic system to cite other specs, built on top of the [SpecRef](https://www.specref.org/) database. However it is geared towards specs only: there does not seem to be a simple way to cite academic papers since the data model for the references is not adapted to them. Given ReSpec's scope, I understand the restriction to specs, but I think citing academic papers could still be usef

[2019-11-12 02:13] marcoscaceres commented on #2568
@wetneb, we'd totally take a PR for this! That sounds amazing. We probably want to discuss architecturally how to integrate this, but it should be fairly straight forward.

As the "doi" scheme is somewhat different to the bibref scheme, you probably want to add a matching rule here:
https://github.com/w3c/respec/blob/develop/src/core/inlines.js#L30

And then check for `startsWith([["doi:"):
https:

[2019-11-12 03:21] marcoscaceres commented on #2568
Responded also on spec-prod@. Adding @tobie here as we need to decide if SpecRef is the right integration point, or if ReSpec is.

My gut feeling is that SpecRef is a better integration point. Then both ReSpec and BikeShed don't need to change at all.

[2019-11-12 09:16] wetneb commented on #2568
Ok! Thanks for the enthusiastic reply! (Somehow I don't seem to receive replies to my thread on spec-prod@). I am not familiar with SpecRef's architecture, but my impression was that it was quite reliant on having all the records stored in a local JSON file. For Crossref, that is clearly not an option (JSON dumps weigh gigabytes).

If we want to have a seamless integration of Crossref in there, it

[2019-11-12 09:24] marcoscaceres commented on #2568
It's a NodeJS server application + API end-points... that just happens to store some of its data in JSON. But technically, it can serve as a proxy.

I was thinking "if starts with `doi:` then ping use Crossref, else use internal DB".

Continuing from the above ...When Crossref responds, we convert the data to SpecRef's format (and cache it). So BikeShed and ReSpec don't need to care.

[2019-11-12 09:39] wetneb commented on #2568
That can work for retrieving metadata by identifiers, but what about the search endpoint? (When you don't know the identifier and want to find it by keywords)

AFAICT SpecRef's format is not really suitable to represent academic papers: it is missing fields (DOI, journal, issue, etc) and has fields that do not make sense for academic papers (status for instance). We could expand SpecRef's format,

[2019-11-12 10:05] tobie commented on #2568
Yeah, that doesn't seem too complicated.

It's more complicated for Bikeshed, however, that pulls everything locally. @tabatkins, thoughts/interest here?

[2019-11-12 18:05] wetneb commented on #2568
I'm happy with the integration in SpecRef you suggest - I just thought it might be worth noting that if we go down that route, we could run into rate-limiting issues due to the fact that all requests to Crossref are going to be made via the same IP (SpecRef's server), whereas if the integration is done in ReSpec, calls to the API would be done by each client independently.

In my experience Crossr

[2019-11-12 18:10] tobie commented on #2568
Specref could fairly easily cache those resources in memory for a day.

Light.

[2019-11-13 02:11] marcoscaceres commented on #2568
Wouldn't one just go to search.crossref.org to get that?

As @tobie said, that's pretty trivial. The render is tiny:
https://github.com/w3c/respec/blob/develop/src/core/render-biblio.js#L191-L219

Writing an alternative render would also be pretty simple.

If it becomes widely used, we can also look at actually paying the fee to get more request. I can't figure out if it's US$250 or US$2000... but

[2019-11-13 11:38] wetneb commented on #2568
Ok, I agree caching should solve the issue here since you can expect that only few papers are going to be cited in all specs developed with ReSpec / Bikeshed.

[2019-11-14 06:11] marcoscaceres commented on #2568
Ok, closing this as it seems we have rough consensus that this should be a SpecRef feature. Let's spin up a new bug there if we want to discuss implementation strategy. @wetneb, we can discuss there an implementation strategy.

[2019-11-14 06:11] #2568 closed

[2019-11-15 01:08] fantasai commented on #1752
@marcoscaceres Haven't checked the current state of Respec, but this was bounced back to you in https://github.com/w3c/tr-design/issues/175#issuecomment-472468238

[2019-11-15 16:26] wetneb opened #2570 "Support for COinS standard"
[COinS](https://en.wikipedia.org/wiki/COinS) is a standard to embed machine-readable citation data in web pages. The idea is to embed markup that is not normally rendered but which robots can easily scrape, making it easier to extract citations from a web page.

For instance, if you inspect [the Wikipedia article about COinS](https://en.wikipedia.org/wiki/COinS) (or any other article which uses ci

[2019-11-18 01:51] marcoscaceres commented on #2570
As with other metadata enhancements, that challenge here is trying to balance metadata/markup bloat with utility for spec authors and readers. So, generally what we'd require is to see this supported in software or search engines used by the standards community.

So:

Which bots / clients / harvesters exactly? And how are these used by the W3C community and to what benefit? If none are currently u

[2019-11-18 04:37] marcoscaceres commented on #1752
We don't support this yet in ReSpec. @siusin, could you please transfer this issue to the ReSpec repo for me?

[2019-11-18 10:39] wetneb commented on #2570
The Wikipedia article linked above has a few examples of COinS integrations. Personally, I use Zotero's browser extension. Having COinS support in respec would enable the following workflow:
* read a spec and click on an inline reference, leading you to the reference section;
* fire up the Zotero extension which detects the COinS markup;
* it lets you import the reference in your own bibliography;

[2019-11-18 11:35] siusin commented on #1752
@marcoscaceres this is already in the ReSpec repo :) Btw, I've updated your (the TR Design team) access for this repo to the [Maintain](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization) level.

[2019-11-18 12:10] marcoscaceres commented on #1752
How embarrassing 😳 I thought it was in TR-Design.

[2019-11-18 14:19] marcoscaceres commented on #2570
I’m still worried that we are dealing with a very limited user base for this (i.e., folks who have Zotero installed). There is a non-trivial development, maintenance, and distribution cost.

Instead of using the COins spans, I’m wondering if Zotero can be taught about our current bibliographic structure? I see that it supports data extraction already. We can then sprinkle a few more bits of data i

[2019-11-18 16:00] siusin commented on #1752
haha, no problem :D

[2019-11-18 17:04] wetneb commented on #2570
I totally understand your concerns: as a ReSpec maintainer, I can imagine you are exposed to all sorts of requests from spec writers who tend to get overly excited by all sorts of standards that nobody actually uses!

I would not say that the user base is limited to Zotero users: COinS is a standard that existed long before Zotero came into existence (this is just one example I am personally using

[2019-11-19 03:02] marcoscaceres commented on #2570
It's rare - but it does happen:) That's why we like to see wide impact/benefit before we add anything. For example, for JSON-LD, there was visual evidence that Google's search results would be improved. That has demonstrable proof of the utility for editors and other users who are searching for specs.

This still feels like we'd be serving an extremely limited audience. For specs themselves, we al

[2019-11-19 06:33] wetneb commented on #2570
It would be great to find such a format - I would be keen to implement it (regardless of whether it is actually supported by Zotero or not, in fact). I am not aware of any but I will ask around and report back if I find something.

I suspect asking for no duplication between the human-readable and the machine-readable formats is a relatively big ask, but who knows, maybe that exists. It would basi

[2019-11-19 07:15] marcoscaceres commented on #2570
Appreciate you having a look.

🤞 Seems like it would be a solved problem. Maybe something useful here http://microformats.org/wiki/citation ?

[2019-11-19 15:06] wetneb opened #2575 "Is the "w3c" license supported?"
## Important info

* URL to affected spec: [w3c-license-bug.html.gz](https://github.com/w3c/respec/files/3864459/w3c-license-bug.html.gz)
* ReSpec version: 24.34.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: when setting the `license` to `"w3c"` and enabling JSON-LD generation via `doJsonLd: true`, no JSON-LD is generated.

Bu

[2019-11-19 18:44] wetneb commented on #2570
Actually, I did not realize that the citations can already be exposed in JSON-LD (because of #2575 which prevented it from being generated). That's great! Then I guess this already exposes the citations in machine-readable form, so the need for COinS or other inline alternatives seems weaker.

[2019-11-20 03:10] saschanaz commented on #2566
Relevant Bikeshed doc: https://tabatkins.github.io/bikeshed/#local-lt

[2019-11-20 03:35] saschanaz commented on #2564
Yes, I guess this can be done, given that the enum is in the same document.

[2019-11-20 05:26] marcoscaceres commented on #2575
No, you are correct... it's either w3c-software or "w3c-software" or "w3c-software-doc"

[2019-11-20 05:27] marcoscaceres commented on #2575
The default license is set here:
https://github.com/w3c/respec/blob/develop/src/w3c/defaults.js#L19

[2019-11-20 06:30] #2575 closed

[2019-11-20 11:53] #2563 closed

[2019-11-20 18:41] tidoust opened #2580 "Why do some specs end up with a class="informative" on body?"
## Important info

* URL to affected specs:
https://w3c.github.io/beacon/
https://wicg.github.io/InputDeviceCapabilities/
https://w3c.github.io/input-events/
https://w3c.github.io/mst-content-hint/
https://w3c.github.io/server-timing/

* ReSpec version: 24.34.6
(Not sure whether this is a new issue. All I can say is that it wasn't the case with v23.7.1 which Reffy used until now)

## Description o

[2019-11-20 18:59] sidvishnoi commented on #2580
I'm not sure of the intended behavior. But I think if the spec contains normative content, they should have conformance section too.

This should help anyone looking into this issue:
Relevant code: https://github.com/w3c/respec/blob/0c9f5bd118e02aed32073dcc3123900a49e83fb1/src/core/inlines.js#L183-L186
Relevant PR: https://github.com/w3c/respec/pull/2122/ for https://github.com/w3c/respec/issues/2

[2019-11-20 21:26] marcoscaceres commented on #2580
Yes, this by design. Without a conformance section ReSpec can’t make a determination on what RFC2119 terms or citations mean.

[2019-11-21 00:18] marcoscaceres commented on #2580
@tidoust, add that is needed is `<section id="conformance"></section>` somewhere. ReSpec will fill in the details (the Beacon spec is nearly right, but missing the `id=`... and shouldn't include the boilerplate text... let ReSpec fill that).

[2019-11-21 08:37] tidoust commented on #2580
OK, then the listed specs need fixing :) I'll create bugs or PR for them.

I'm all for requiring conformance sections in normative specs. From a UX perspective, it might have been clearer to be explicit about it. That is, instead of silently assuming that the content is informative when the conformance section is missing, ReSpec could actually report an error such as "No conformance section found

[2019-11-21 08:48] marcoscaceres commented on #2580
Yeah, really good suggestions.

[2019-11-21 08:50] marcoscaceres commented on #2580
Ok, added this to the list of enhancements to make. PR welcome, otherwise we will try to get to it as soon as we can.

[2019-11-21 08:53] #1724 closed

[2019-11-22 02:00] marcoscaceres commented on #2559
Talked to @sidvishnoi about this... I'm currently using `watch` and Sid is using `nodemon`. But what's annoying is that you still need to spin up multiple terminal windows:

1. for Karma
1. for watching files
1. for `npm run`
1. for doing actual work

As `watch` (and `nodemon`) and `serve` (our dev http server) all provide an API, we should be able to build a very light weight server that at least

[2019-11-22 21:58] gkellogg opened #2582 "Link to GitHub commits wrong"
## Important info

* URL to affected spec: https://w3c.github.io/json-ld-api/
* ReSpec version: 24.34.7.
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

The auto-generated link to "Commit History" in the header ends with "/gh-pages"

[2019-11-22 22:14] gkellogg commented on #2582
There's a note in Aliasing Keywords: "Aliased keywords MUST NOT be used within a context, itself.", but it's not normative, and shouldn't use normative language.

There are a number of places in keyword definitions where we say --term-- MUST NOT be aliased, and we probably shouldn't make this statement. It's not that there's something special about a keyword (other than `@context`) that prevents i

[2019-11-23 08:45] wetneb commented on #2570
Closing since we can use JSON-LD's citations instead.

[2019-11-23 08:45] #2570 closed

[2019-11-24 16:57] wetneb opened #2584 "Improve citation export in JSON-LD output"
Currently, the citations are only exported in JSON-LD in a pretty minimal way: only the title, url and specref id are exposed:

[code]
This could be improved by adding other fields such as authors, publishers, publication date and so on.

[2019-11-25 01:26] #2584 closed

[2019-11-25 09:42] marcoscaceres commented on #2582
Confirmed... weird bug.

[2019-11-25 09:51] sidvishnoi commented on #2582
The default branch is `gh-pages`. One has to set branch to master as described in [wiki](https://github.com/w3c/respec/wiki/github).
Alternatively, if we want to link to default GitHub branch, the branch is suffix is unnecessary - so this part can be on ReSpec side also.

[2019-11-25 10:21] sidvishnoi commented on #1615
Closing as no longer an issue due to https://github.com/w3c/respec/pull/2536 and https://github.com/w3c/respec/pull/2538

[2019-11-25 10:21] #1615 closed

[2019-11-25 10:25] sidvishnoi commented on #1519
Closing as [marcoscaceres/respec.org](https://github.com/marcoscaceres/respec.org/) and [sidvishnoi/respec-github-apis](https://github.com/sidvishnoi/respec-github-apis) handle this for us now.

[2019-11-25 10:29] sidvishnoi commented on #1381
@marcoscaceres  Duplicate of https://github.com/w3c/respec/issues/1596?

[2019-11-25 10:33] sidvishnoi commented on #1051
Duplicate of https://github.com/w3c/respec/issues/2560

[2019-11-25 10:33] #1051 closed

[2019-11-25 10:35] marcoscaceres commented on #1381
Duplicate indeed.

[2019-11-25 10:35] #1381 closed

[2019-11-25 10:41] marcoscaceres commented on #2582
Interesting... is being able to work out what the default branch is a new ability that we have with the GH API?

[2019-11-25 10:46] sidvishnoi commented on #2582
Not sure how the API relates to this.

[2019-11-25 12:15] wetneb opened #2586 "Citation export in JSON-LD does not honour aliases"
Suppose I have a bibliographic record which is an alias of another:

[code]

Then if I cite `[[testAlias]]` in a spec, it will be exported in JSON-LD without any metadata:

``{
   type: 'TechReport'
}``

Whereas it should contain metadata from the record:
``{
   type: 'TechReport',
   name: 'Pride and Prejudice'
}``

[2019-11-25 19:32] sidvishnoi commented on #2582
Closing as can be fixed by configuring `github.branch` option.

[2019-11-25 19:32] #2582 closed

[2019-11-26 09:11] SuyashSalampuria commented on #2551
@saschanaz  if no one is working on this, shall I try to solve this issue

[2019-11-26 09:37] saschanaz commented on #2551
@deepesh-ludhyani Are you working on this?

[2019-11-26 12:38] #2559 closed

[2019-11-26 14:28] #2586 closed

[2019-11-26 17:48] SuyashSalampuria commented on #2551
@saschanaz  I am starting to work on this issue.
Please tell if I have understood the issue correctly
Is the requirement to convert
<li>
      ${testFileName}
      <a href="${href}">
    </a> ${emojiList}
        ${testFileName}
      </a> ${emojiList}
    </li>

to
<li>${testFileName}<a href="${href}"></a> ${emojiList}${testFileName}</a> ${emojiList}</li>

[2019-11-26 18:01] sidvishnoi commented on #683
Now that we have express running on respec.org, we can create a form there and give option to download file/view raw html

[2019-11-26 18:09] SuyashSalampuria commented on #2551
@saschanaz I am starting to work on this issue.
Please tell if I have understood the issue correctly
Is the requirement to convert
<li>
      <a href="${href}">
        ${testFileName}
      </a> ${emojiList}
    </li>
to
<li><a href="${href}">${testFileName}</a> ${emojiList}</li>

[2019-11-26 18:16] SuyashSalampuria commented on #2551
@saschanaz  I am starting to work on this issue
Can you confirm if I have understood the issue correctly
Please confirm if have to convert
![Screenshot from 2019-11-26 23-40-25](https://user-images.githubusercontent.com/44131389/69660474-6ac2fa80-10a6-11ea-89f2-7ea590a4a69c.png)
to
```<li>  <a href="${href}">  ${testFileName} </a> ${emojiList} </li>```

[2019-11-26 19:20] sidvishnoi commented on #1596
Got a local version (running on payment-request):
![image](https://user-images.githubusercontent.com/8426945/69664979-6d761d80-10af-11ea-9702-fe4a50b8cab0.png)

Linter API is not flexible enough to provide informative warnings. It cannot tell which test is missing on which `[data-tests]`. Linter API can only tell: "these elements have failed this lint rule" (though nothing stops us `showInlineWarn

[2019-11-27 02:07] saschanaz commented on #2551
@SuyashSalampuria No, that one is fine. What do we want is that we replace normal JavaScript strings into hyperHTML templated string so that we get all of its feature including escaping.

[2019-11-27 13:02] marcoscaceres commented on #2551
@saschanaz, as this is security critical, I'd be more comfortable if you were working on it.

[2019-11-27 13:58] #1217 closed

[2019-11-27 19:07] SuyashSalampuria commented on #2551
I have tried my best to understand the problem and solve it.
Although,  this was my first contribution to open source. Please tell me if I have understood the problem correctly and solved it as required

[2019-12-03 05:03] marcoscaceres opened #2596 "Treat webIDL language tag as case insensitive in Markdown"
## Important info
* URL to affected spec: https://github.com/WICG/serial/pull/75

## Description of problem

What happened (e.g., it crashed)?:

When using three backticks, I was expecting `WebIDL` to work..

But what I was expecting?:

To be able to use `WebIDL` or `webIDL` or just `IDL`... or even WEBIDL.

Optional, steps to reproduce:
 1. Set `format: "markdown"` in the config.
 1. Make a code

[2019-12-03 10:38] sidvishnoi commented on #2596
Relevant code: https://github.com/w3c/respec/blob/2e7e0e19035304f9816107ad45acf4f41e5fb487/src/core/markdown.js#L90-L95

[2019-12-04 02:09] mimoo opened #2600 "Add support for importing a markdown file"
## Important info

Hello,

First, let me say that this project is pretty awesome!

One minor minor issue I'm running into is that my IDE is automatically formatting the html page which messes up the markdown I have in there. I think a feature to inject a markdown file into the page would be pretty cool in order to fix this!

[2019-12-04 03:59] marcoscaceres commented on #2600
Thanks for your words of support!

It may be possible to do:

[code]

Though we could add better support via data-include-format.

[2019-12-04 04:03] marcoscaceres opened #2601 "Dev server should undo changes to builds/"
Case in point: https://github.com/w3c/respec/pull/2597/files

[2019-12-04 05:31] mimoo commented on #2600
doesn't seem to work : o

[2019-12-04 06:47] mimoo opened #2602 "hljs with Rust not working"
## Important info

Following the instruction here: https://github.com/w3c/respec/wiki/pre-and-code-elements I cannot seem to get hljs working with rust (https://raw.githubusercontent.com/highlightjs/highlight.js/c7ead7223a17e9394ae421a5fbf5b995e072141a/src/languages/rust.js)

## Description of problem

The page doesn't render

To reproduce:

[code]

[2019-12-04 07:08] mimoo commented on #2600
I take it back, it doesn't work if I simply open the file in the browser but works if I serve it with python!

[2019-12-04 07:08] #2600 closed

[2019-12-04 07:16] mimoo opened #2603 "markdown expects tabs instead of spaces for nested lists"
Using respec with markdown, it seems like nested lists don't work if they aren't using tabs.

[code]

* this
  - is
    + a nested list :)

[2019-12-04 08:57] sidvishnoi commented on #2552
Closed via https://github.com/w3c/respec/pull/2598

[2019-12-04 08:57] #2552 closed

[2019-12-04 09:16] marcoscaceres commented on #2600
Ah yes, sorry. I forgot about that!

[2019-12-04 09:18] marcoscaceres commented on #2603
Yeah, that's odd... we might need to look into that.

[2019-12-04 09:18] marcoscaceres commented on #2603
@mimoo, can you provide us with the exact markdown you are using?

[2019-12-04 09:33] marcoscaceres commented on #2602
@mimoo any error in the developer console?

[2019-12-04 09:50] #1596 closed

[2019-12-04 10:29] sidvishnoi commented on #2492
Relevant code: https://github.com/w3c/respec/blob/d78ccf01fadee0303d7676aef3c9dad902a12db4/src/core/render-biblio.js#L158-L162

[2019-12-04 11:43] sidvishnoi commented on #2152
Had a play at this locally.

Unfortunately, highlightjs doesn't export the languages in the way ReSpec wants to use.
The prod build has language as commonjs modules ([example](https://unpkg.com/highlight.js@9.16.2/lib/languages/rust.js)), and the GitHub repo has anonymous function ([example](https://raw.githubusercontent.com/highlightjs/highlight.js/master/src/languages/rust.js))
So, we can't dire

[2019-12-04 13:08] sidvishnoi opened #2606 "GitHub issue label is breaks into lines"
* URL to affected spec: https://w3c.github.io/json-ld-api/#h-issue-4
* ReSpec version: 24.35.2

![image](https://user-images.githubusercontent.com/8426945/70144925-f222f600-16c4-11ea-8948-2fcb8c24ddb8.png)
^^ The issue label "defer-future-version" is broken into multiple lines.

Relevant file: [assets/issues-notes.css](https://github.com/w3c/respec/blob/d78ccf01fadee0303d7676aef3c9dad902a12db4/ass

[2019-12-04 17:57] mimoo commented on #2603
[code]

[2019-12-04 17:58] mimoo commented on #2602
<img width="576" alt="Screen Shot 2019-12-04 at 9 58 33 AM 1" src="https://user-images.githubusercontent.com/1316043/70167950-ae0c0300-167c-11ea-854a-fee523c53bde.png">

[2019-12-04 18:00] mimoo commented on #2602
using this example:

[code]

[2019-12-04 18:01] sidvishnoi commented on #2602
@mimoo Try using a https://raw.githack.com/ URL in langURL. raw.githubusercontent.com doesn't return correct MIME types.

[2019-12-04 18:53] mimoo commented on #2602
I see, now I'm getting a different error : o

![Screen Shot 2019-12-04 at 10 53 30 AM](https://user-images.githubusercontent.com/1316043/70171816-596c8600-1684-11ea-85e9-476cacef82d3.png)

[2019-12-04 19:00] mimoo commented on #2602
I think this is because hljs files are not meant for browser consumption by default

[2019-12-04 19:02] mimoo commented on #2602
Alright, I added the shims present in the wiki example and it works! ( https://gistcdn.githack.com/mimoo/a9e28fc565dddb369477e8bd34e6a1ae/raw/d8a7057fe9c7140f7ef5972b333716d9933fa29b/hljs-rust.js )

[2019-12-04 19:02] #2602 closed

[2019-12-04 19:03] sidvishnoi commented on #2602
You're right. Those shims are needed in browser. We've have an open issue to support highlighting custom languages (https://github.com/w3c/respec/issues/2152) that should simplify this workflow.

[2019-12-04 19:08] mimoo commented on #2602
actually the highlighting still doesn't work : /

[2019-12-04 19:11] sidvishnoi commented on #2602
Any error in console?
You might have to use `<pre class="rust">` (if you're not using already)

[2019-12-04 19:14] sidvishnoi commented on #2602
Worked for me:
[code]

[2019-12-04 19:22] sidvishnoi commented on #2602
Did not work with markdown back-ticks.

[2019-12-04 19:32] mimoo commented on #2602
ah, that's the markdown issue then : (

[2019-12-04 19:37] sidvishnoi opened #2607 "Syntax highlighting with markdown backticks doesn't work"
* ReSpec version: 24.35.2

Also, the indentation gets messed up.

![image](https://user-images.githubusercontent.com/8426945/70174816-a0e22900-16fb-11ea-8a5a-f6c1c2c06c15.png)

Minimal example:
[code]

[2019-12-04 19:38] sidvishnoi commented on #2602
Filed https://github.com/w3c/respec/issues/2607

[2019-12-04 20:48] #2601 closed

[2019-12-04 21:23] mimoo commented on #2607
in the mean time this might be helpful to people trying to make it work:

[code]

[2019-12-05 00:55] mimoo commented on #2603
maybe the problem comes from this function removing the padding: https://github.com/w3c/respec/blob/develop/src/core/markdown.js#L148

[2019-12-05 01:14] mimoo commented on #2603
indeed, converting all spaces with tabs fix the issue. In the mean time this script might be useful to people encountering the same issue:

[code]

[2019-12-05 08:50] sidvishnoi opened #2609 "Indentation is messed up in markdown code blocks"
ReSpec version: 24.35.2

![image](https://user-images.githubusercontent.com/8426945/70219006-1a186500-176a-11ea-8bea-d4b72ebd32d3.png)
![image](https://user-images.githubusercontent.com/8426945/70219057-2bfa0800-176a-11ea-8422-43df01e4590f.png)

`normalizePadding` is causing troubles here.

[2019-12-05 10:11] saschanaz commented on #2609
... and `normalizePadding` is completely a mess... 🤦‍♀️

I once suggested replacing it with core/reindent and it turns out there are legacy specs that depend on the current weird untested indentation behavior 😣

[2019-12-05 10:51] marcoscaceres commented on #2609
Yeah, normalizePadding() is just awful 🤢. We could easily fix the specs, I think. There are probably maybe 10-20 or so markdown specs and use the newer function.

[2019-12-05 13:05] #2607 closed

[2019-12-05 18:26] mimoo commented on #2609
related to https://github.com/w3c/respec/issues/2603 it seems : )

[2019-12-08 20:07] ridhishjain commented on #2606
@sidvishnoi Can I work on this task?

[2019-12-09 00:30] marcoscaceres commented on #2606
Go for it @ridhishjain.

[2019-12-09 03:52] janiceshiu commented on #2596
Fixed in #2611

[2019-12-09 03:52] #2596 closed

[2019-12-09 04:15] janiceshiu opened #2614 "Allow "webidl" css class on pre tags to denote a WebIDL block"
## Important info
First discussed [here](https://github.com/w3c/respec/pull/2611#discussion_r355242835)

[code]
We'd like the code above ^ to have webIDL syntax highlighting. Right now, it is highlighted as a  generic code block.

[code]
^ `pre.webidl` blocks should behave similarly to `pre.idl` blocks, which already behave in the intended way.

### To get started
* https://github.com/w3c/respec/b

[2019-12-09 05:19] sidvishnoi commented on #2606
@ridhishjain This issue occurs at a specific combination of issue title length and its label's length.
Have a look at the [Developers Guide](https://github.com/w3c/respec/wiki/Developers-Guide) to get things set up locally.

To reproduce this issue locally, you can change `examples/basic.html` to add:
[code]

and change `respecConfig.github` to `"w3c/json-ld-api"`

Or you can play with the CSS usi

[2019-12-09 09:03] yash-agarwal17 commented on #2606
@sidvishnoi I have worked on this issue and want to contribute. If I am allowed to make a PR, i wanted to ask if we only have to reproduce this issue in basic.html and solve the error?

[2019-12-09 09:08] sidvishnoi commented on #2606
@yash-agarwal17 I think @ridhishjain has already started working on this.
You can look into other issues marked as [good first issues](https://github.com/w3c/respec/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22).
https://github.com/w3c/respec/issues/2084 and https://github.com/w3c/respec/issues/2492 are good to get you started.

[2019-12-09 09:12] yash-agarwal17 commented on #2492
Can I work on this?

[2019-12-09 09:13] sidvishnoi commented on #2492
Yep! Go for it!

[2019-12-09 17:34] ridhishjain commented on #1181
@marcoscaceres, as no in assigned, can I work on this issue?

[2019-12-09 19:02] sidvishnoi commented on #1181
@ridhishjain Sure. Go for it!
This is an old issue though, so the code above is outdated - and the issue _might_ be already fixed.

[2019-12-09 19:03] sidvishnoi commented on #1181
The code now lives in [src/w3c/templates/](https://github.com/w3c/respec/tree/91232584dd2163aa6a9222709e79fe8152a17b3a/src/w3c/templates/)

[2019-12-10 06:25] #2566 closed

[2019-12-10 08:25] marcoscaceres commented on #2566
Added documentation:
https://github.com/w3c/respec/wiki/data-local-lt

@sidvishnoi, want to check it?

[2019-12-10 08:27] sidvishnoi commented on #2566
Nice. Thanks!

[2019-12-10 08:33] marcoscaceres opened #2618 "Teach release script about "enhancement""
The release script doesn't know how to treat commits prefixed with "enhancement"... they should be treated the same as "feat". The kids are also using "enh()" as a shorthand, I hear. We might want to support that too because "enhancement" eats like half a commit message.

[2019-12-10 08:35] marcoscaceres commented on #2618
Relevant bits to change:
https://github.com/w3c/respec/blob/67edc4971ece9c91acccc7b03bc15a47cb136363/tools/release.js#L134

And, in particular:
https://github.com/w3c/respec/blob/67edc4971ece9c91acccc7b03bc15a47cb136363/tools/release.js#L196

[2019-12-10 08:36] marcoscaceres commented on #2618
@janiceshiu would you be ok to take this one? Should be a quick one. We can probably just use the same emoji that we use for "feat".

[2019-12-10 08:38] marcoscaceres commented on #2618
(the release script has no tests ... because that's how we roll 🔥🦹‍♀️🔥 )

[2019-12-10 08:41] sidvishnoi commented on #2618
:rofl:

:+1:

[2019-12-10 12:21] ridhishjain commented on #1181
@sidvishnoi, I think, the issue is already resolved. The alignment of the logo is all good, and it is inserted in DOM's first child, not second
![Screenshot (51)](https://user-images.githubusercontent.com/45514905/70529029-98637580-1b75-11ea-9d50-133971b962f4.png)

[2019-12-10 12:27] sidvishnoi commented on #1181
Looks right. Closing this as fixed.
@Evadon-Nathan please reopen if you believe something is wrong.

[2019-12-10 12:27] #1181 closed

[2019-12-10 13:04] sidvishnoi commented on #2606
Fixed in https://github.com/w3c/respec/pull/2617

[2019-12-10 13:04] #2606 closed

[2019-12-10 22:54] ridhishjain commented on #2557
@saschanaz by removing, u mean commenting out or deleting the code?

"src\core\utils.js"....Is this the right path to where they are to be deleted?
If it is, I am taking this issue

[2019-12-11 04:21] sidvishnoi commented on #2580
@ridhishjain would you like to work on this?

[2019-12-11 11:03] saschanaz commented on #2618
Or just `enh`, because we don't support longhands e.g. `accessibility`, `documentations`, and `feature` 😁

[2019-12-11 11:05] marcoscaceres commented on #2618
Whatever is most natural. So long as we all agree on what to use and we are not overly restrictive.

[2019-12-11 11:20] saschanaz commented on #2618
BTW, what kind of enhancement are we talking about? Can't we use `feat`, `fix` and `refactor` there?

[2019-12-11 11:35] marcoscaceres commented on #2618
That's a great question... because it makes me think we are solving the wrong problem. Maybe what we actually want is a GitHub action that checks that every pull request starts with feat, fix, refactor, or one of our known types.

[2019-12-11 12:38] janiceshiu commented on #2618
Since we're discussing naming... is there a guide somewhere that contributors - especially new ones - can refer to when naming their PRs and commits?

back when i [first contributed to respec](https://github.com/w3c/respec/pull/2544), i read the [developer's guide](https://github.com/w3c/respec/wiki/Developers-Guide) and didn't see anything about the format. I ended up guessing that the pattern is

[2019-12-11 14:00] saschanaz commented on #2618
We are generally following [AngularJS conventions](https://gist.github.com/stephenparish/9941e89d80e2bc58a153#format-of-the-commit-message). This should be added to the guide too 👀

[2019-12-11 14:13] saschanaz commented on #2618
The developer's guide doesn't really seem to be a contribution guide. Should we also add a GitHub pull request template too?

[2019-12-11 21:49] ridhishjain commented on #2564
@marcoscaceres I would like to work on this issue

[2019-12-11 22:37] ridhishjain commented on #2614
@janiceshiu @saschanaz I would like to work on this issue

[2019-12-12 02:07] janiceshiu commented on #2618
I did not realise this. Yes - a guide would be good. We do allow more types than the linked doc though. For example, we have `l10n` and `breaking change`. Thus, perhaps we should write a respec-specific guide? We could always link to the original inspiration.

---

This would be good, yes. To start, we could include something like

[code]

Regarding the contribution guide - things such as a remind

[2019-12-12 03:36] marcoscaceres commented on #2618
Ok, let’s start with adding the labels to the docs and saying we roughly follow Angular. We should add a CONTRIBUTING.md file too, with the labels and a link to the developer guide.

[2019-12-12 11:12] SuyashSalampuria commented on #2609
@marcoscaceres  @saschanaz
Shall I go on with this.
Shall I write a new function similar to normalizePadding or modify it

[2019-12-12 11:17] saschanaz commented on #2609
Ah, I already have a local branch to fix this, sorry 😅

[2019-12-12 11:26] SuyashSalampuria commented on #2609
NP!!

[2019-12-12 12:32] SuyashSalampuria commented on #2438
@sidvishnoi  Shall I try on this

[2019-12-12 18:01] ridhishjain commented on #2614
I would like to work on this issue.
`export async function run() {`
  `const idls = document.querySelectorAll("pre.idl");`
  `const webidls = document.querySelectorAll("pre.webidl");`
  `...(changes)`
`}`
Can the function present in the `src/core/webidl.js` be made to work similarly for `"pre.webidl"` class like the above code?

[2019-12-13 13:08] SuyashSalampuria commented on #2133
@marcoscaceres @saschanaz Shall I take up the issue.
Please correct me if I have not understood the task rightly
I have to replace practicelab with advisement
Also, giving strong to those spans so that advisement can be used

[2019-12-13 13:40] saschanaz commented on #2133
Oops, this one is fixed by #2340. Sorry for confusion!

[2019-12-13 13:40] #2133 closed

[2019-12-13 19:52] SuyashSalampuria commented on #2557
`function* walkTree(walker) {
  while (walker.nextNode()) {
    yield /** @type {T} */ (walker.currentNode);
  }
}
`
is also unused.
Should this too be removed @saschanaz @marcoscaceres

[2019-12-14 07:50] saschanaz opened #2632 "Remove conf.bugTracker support"
It seems there is no test that uses `conf.bugTracker`.

@marcoscaceres Do we use this feature? AFAIK all modern specs should use GitHub issue tracker, should we drop this?

[2019-12-14 13:27] marcoscaceres commented on #2632
You are right. I think that’s obsolete with github member. Let’s remove it. I don’t even think it’s documented.

[2019-12-14 13:28] saschanaz commented on #2632
@SuyashSalampuria Hey, wanna try working on this too? 😎

[2019-12-14 13:37] SuyashSalampuria commented on #2632
Yes sure, @saschanaz  I was researching on how to tests for rconf.bugTracker support.
The task has become much simpler now
I think I will make the PR within a day for this

[2019-12-14 16:01] ridhishjain commented on #2580
Absolutely @sidvishnoi
Sorry for delay, was busy with another issue

[2019-12-14 16:23] wetneb commented on #696
At the moment it seems that for an unofficial draft, whatever license I add in the config, respec will always display "This document is licensed under a Creative Commons Attribution 4.0 License."

Another license can be added for unofficial drafts using `additionalCopyrightHolders` but that is pretty counter-intuitive: as a user, I expect the `license` field to be used to generate this text, regar

[2019-12-15 04:11] #2632 closed

[2019-12-15 12:00] saschanaz commented on #2614
Yup, this is fixed in #2627. 🎉

[2019-12-15 12:00] #2614 closed

[2019-12-15 12:02] saschanaz commented on #2531
Seems to be fixed by #2539. Please reopen if not.

[2019-12-15 12:02] #2531 closed

[2019-12-15 12:48] SuyashSalampuria opened #2638 "Invalid self-referencing anchor created in absence of wgPatentURI"
## Important info

* URL to affected spec: https://github.com/w3c/respec/blob/develop/src/w3c/templates/sotd.js

Invalid self-referencing anchor are created if there is no conf.wgPatentURI value set.
Replacing `[conf.wgPatentURI]` with `conf.wgPatentURI` gives an error in
`npm run test:headless`

[2019-12-15 13:30] saschanaz commented on #2557
Seems that #2662 fixed it.

[2019-12-15 13:30] #2557 closed

[2019-12-16 20:23] ridhishjain commented on #2492
as @yash-agarwal17 removed his assignment, I'll be working on this.

[2019-12-17 11:40] SirArlo commented on #1025
@dduuu I love you <3 having to support enterprise websites on this crap browser sucks.

[2019-12-17 17:08] #2492 closed

[2019-12-17 18:15] ridhishjain commented on #2084
@marcoscaceres, @sidvishnoi, are the 4 modules src/w3c (the above ones which are not checked) still needed to be refactored??
If yes, I would like to take this issue.

[2019-12-17 18:22] sidvishnoi commented on #2084
@ridhishjain that's correct. Assigning it to you!
Feel free to split it into multiple PRs if change set is large.

[2019-12-17 18:47] SuyashSalampuria commented on #2361
@marcoscaceres  @saschanaz
It can be done surely and it will be making the code a bit lighter too.
But without referencing the class reqRef, do we need to do the same for all the matching anchor tags(even without reqRef class)?
If I have understood the issue correctly, shall I try working on it

[2019-12-18 11:14] #1103 closed

[2019-12-18 12:38] saschanaz opened #2647 "Release script generates profiles with older version number"
When we build a profile, the version number is coming from package.json:

https://github.com/w3c/respec/blob/37d9f95fca6e2b08f46533cea03fe304ec0887e8/tools/builder.js#L99-L103

But the release script first generates profiles and then updates package.json, resulting new profiles with older version number.

https://github.com/w3c/respec/blob/cff0580fc6d4feeda4c5d2e7fd493bff083e3ce5/tools/release.js#

[2019-12-18 12:52] #2647 closed

[2019-12-19 12:41] saschanaz commented on #2603
The indentation is wrong there. It starts with 2-space indented section and then zero-indented markdown. Adding indentation fixes the issue.

[2019-12-19 14:01] mimoo commented on #2603
this is what the [doc](https://github.com/w3c/respec/wiki/format) says:

[2019-12-19 14:14] saschanaz commented on #2603
Yes... so this is where it starts to be confusing:

This part is a total mess and no one understands what it really does. We should ultimately remove this, please don't depend on it. Sorry 🙇‍♀️

The "support for padded markdown" infers the base indentation from the very first line of markdown - which is `<section>` in your example (as markdown includes some HTML support). It then tries its best to

[2019-12-20 08:54] jakubklimek opened #2651 "Dark mode in respec"
Respec is currently missing support for dark mode, e.g. using the `@media (prefers-color-scheme: dark)` CSS media query.

Is there an interest in implementing such a feature?

I gave it a try in our [respec fork](https://github.com/opendata-mvcr/respec) that we use for data standards in Czechia, you can see the result (with dark mode enabled) e.g. here: https://ofn.gov.cz/rozhraní-katalogů-otevřen

[2019-12-20 10:21] marcoscaceres commented on #2651
Very nice 👍 the base.css changes would need to go through the w3c (tr-design project repo) - but if they accept it, I think this would be a great addition!

[2019-12-22 09:36] SuyashSalampuria commented on #2361
It will be surely a nice idea to do this in core/anchor-expander .
Shall I try upon this issue @saschanaz

[2019-12-22 09:43] saschanaz commented on #2361
We should first make sure that specs do use this feature, or we would be working on a feature that nobody uses.

[2019-12-22 10:05] saschanaz commented on #2361
Seems the only use is in an inactive spec named CoreMob: https://github.com/coremob/coremob-2012/blob/gh-pages/index.html

[2019-12-22 10:45] marcoscaceres commented on #2361
That spec is long dead. We can remove this.

[2019-12-22 10:50] SuyashSalampuria commented on #2361
Ohkay!! I am gonna remove this spec then!!

[2019-12-22 10:53] saschanaz commented on #2361
Now I wonder anyone uses `.req` 👀

[2019-12-23 00:57] marcoscaceres commented on #2361
It's not part of base, at least:
https://github.com/w3c/tr-design/blob/gh-pages/src/base.css

[2019-12-23 01:01] marcoscaceres commented on #2361
I'm not seeing any `<p class="req">:
https://github.com/search?l=HTML&q=org%3Aw3c+%3Cp+class%3D%22req%22%3E&type=Code

[2019-12-23 04:41] marcoscaceres commented on #2603
Agree... if you use markdown, please treat the whole document as markdown. Mixing and matching is on per section will confuse the markdown parser... most of the time, we literally just take the `body` element's content and give it to marked.js, and just print whatever comes out. We can't really do any special handling apart from that.

[2019-12-23 04:45] SuyashSalampuria commented on #884
I would like to take up the issue @marcoscaceres . Can you please guide me from which of [these](https://github.com/w3c/respec/issues/884#issuecomment-242375658) I should begin now

[2019-12-23 06:06] marcoscaceres commented on #884
@SuyashSalampuria, I think the first is done. So, just start with the second... and have a read of the related 💩 article 😂 It should help if we need to restructure anything. To find where the pill is inserted, checkout src/core/ui.js . The structure there should be fairly obvious for how the ReSpec pill is generated.

[2019-12-23 06:21] marcoscaceres commented on #696
We should use the same as NPM's package.json... and the same identifiers. We can get the same list from OSI or whomever it is that publishes it.

[2019-12-23 08:00] saschanaz commented on #2361
I couldn't find one either. Maybe we can remove core/requirements altogether.

[2019-12-23 08:03] marcoscaceres commented on #2361
Let’s do it.

[2019-12-23 08:03] SuyashSalampuria commented on #2361
Ohkay ! I will do that small task for you commander @saschanaz

[2019-12-23 08:05] saschanaz commented on #2361
Will you modify #2653 or you prefer merging it first? Whichever is okay.

[2019-12-23 08:08] SuyashSalampuria commented on #2361
MOdifying #2653  is always better . Similar commits made at one place !!

[2019-12-23 08:20] #2361 closed

[2019-12-25 03:51] marcoscaceres commented on #2603
closing as "won't fix" given the above discussion.

[2019-12-25 03:51] #2603 closed

[2019-12-25 08:34] #113 closed

[2019-12-25 09:26] SuyashSalampuria commented on #884
@marcoscaceres  Can you please help me by telling how can i find all the dialogs/overlays generated by respec.
Thanks in advance!!

[2019-12-26 01:59] #263 closed

[2019-12-26 01:59] #2243 closed

[2019-12-26 02:05] marcoscaceres commented on #884
@SuyashSalampuria sorry for the delay.

Each panel can be found here:
https://github.com/w3c/respec/tree/develop/src/ui

They add themselves like this, for example:
https://github.com/w3c/respec/blob/a1f5e8b975232fa7be323fedcefa2c69fa9fd8a8/src/ui/about-respec.js#L12-L17

Each panel is basically a bit of logic and templated HTML.

[2019-12-26 04:11] marcoscaceres commented on #919
Closed via #2660 and using the `github` config option.

[2019-12-26 04:11] #919 closed

[2019-12-26 04:15] marcoscaceres commented on #696
I did a little investigating, and unfortunately it's not possible to use SPDX because it's missing too much critical information.

However, it's now possible to simply override the copyright by including a `<p class="copyright">` at the top of the document. ReSpec then moves the paragraph to the right place.

[2019-12-26 04:15] #696 closed

[2019-12-26 06:07] marcoscaceres commented on #1108
This was fixed when we added xref support by default to WebIDL blocks. 🎈

[2019-12-26 06:07] #1108 closed

[2019-12-26 06:08] marcoscaceres commented on #479
Decided again we won't fix this... 5 years of putting this off is probably enough.

[2019-12-26 06:08] #479 closed

[2019-12-26 06:35] #273 closed

[2019-12-26 06:35] #2580 closed

[2019-12-28 02:12] marcoscaceres commented on #514
Reflecting on this, the presentation of conformance requirements is somewhat specific to each specification and needs of each WG (or even each implementer and how they choose to implement things!).

As a community, we haven't come up with an established way of concisely gathering and presenting conformance requirements (apart from the specifications themselves). What we have established is a stron

[2019-12-28 02:12] #514 closed

[2019-12-28 02:15] marcoscaceres commented on #631
@saschanaz, looks like you had coverage kinda working in #2187... is it possible to extract just that from #2187?

[2019-12-28 03:31] saschanaz commented on #631
@marcoscaceres

1. It works on Node.js, which we don't prioritize now 😱
2. I used another test framework to do that, migration was not very straightforward.

[2019-12-28 05:31] marcoscaceres commented on #631
No problem. I’ll see if there is some other alternative.

[2019-12-28 05:33] marcoscaceres commented on #1416
Sticking with current test set.

[2019-12-28 05:33] #1416 closed

[2019-12-28 05:35] marcoscaceres commented on #1185
Link checking is done by respec-validator.

[2019-12-28 05:35] #1185 closed

[2019-12-28 05:43] marcoscaceres commented on #1855
I’m still worried this will cause confusion, so I’m closing as “won’t fix”.

[2019-12-28 05:43] #1855 closed

[2019-12-29 03:57] marcoscaceres commented on #2227
Closing as duplicate of #2010.

[2019-12-29 03:57] #2227 closed

[2019-12-29 14:49] #444 closed

[2019-12-29 15:57] ridhishjain commented on #2084
all `src/w3c/templates` files are refactored in these PRs.
Not sure what to do in `src/w3c/headers.js` as it does not have any `l10n` object in it.

[2019-12-29 16:07] SuyashSalampuria opened #2673 "require('os').tmpdir() has been depriciated and should be replaced by another package"
* URL to affected spec: https://github.com/w3c/respec/blob/develop/tools/respecDocWriter.js

The use of this npm package has been depreciated . It should be replaced by another package

[2019-12-30 08:38] #817 closed

[2019-12-30 09:43] marcoscaceres commented on #2673
I'm not sure this is correct? The "os" package is part of node and I don't think it's been deprecated:
https://nodejs.org/api/os.html#os_os_tmpdir

Where did you see this message?

[2019-12-30 09:46] marcoscaceres commented on #685
Ok, I think we are good with implementing the contract with respect to IDL. I've documented that we support the same values as bikeshed for data-dfn-type. The next release of ReSpec supports  better exports of IDL operations too.

[2019-12-30 09:46] #685 closed

[2019-12-30 09:47] marcoscaceres commented on #2673
Closing as invalid, but can reopen once we hear back from @SuyashSalampuria.

[2019-12-30 09:47] #2673 closed

[2019-12-30 10:03] SuyashSalampuria commented on #2673
I was just having a read of this page
https://www.npmjs.com/package/os-tmpdir
And it asks us require('os-tmpdir')() gives a more consistent behaviour
If it is not affecting our specs, no issues @marcoscaceres

[2019-12-30 13:39] marcoscaceres commented on #2609
Reopening... we will need to fix the specs depending on the bad behavior first.

[2019-12-31 04:27] marcoscaceres commented on #2084
@ridhishjain would be cool just to go through src/w3c/headers.js and see if there is some possibility to localize anything there. There might not be (and that's totally fine), but would be great to just have quick look.

[2019-12-31 12:48] ridhishjain commented on #2084
There's one thing, we are importing `hyperHTML` from core/import-maps, which itself is importing the same from node_modules directory. Will it be ok to import `hyperHTML` directly in headers.js??

In fact, why do we even need import-maps.js?. Can't we just directly import the stuff wherever it is needed?

[2020-01-01 13:00] ridhishjain commented on #2438
@SuyashSalampuria are u working on some other issue??
if so, @sidvishnoi can I take this?

[2020-01-02 06:23] marcoscaceres opened #2680 "No GSoC in 2020 - Please read!"
**ReSpec is NOT part of GSoC 2020.**

If you'd like to see Mozilla's GSoC proposals:
http://github.com/mozilla/GSOC2020/tree/master/proposals

Any questions, please file a bug:
http://github.com/mozilla/GSOC2020/issues

[2020-01-02 06:28] marcoscaceres commented on #2438
@ridhishjain, yes, feel free to take it.

[2020-01-02 06:37] marcoscaceres commented on #2084
Import map is needed, unfortunately, to handle the import for us... it's a long story, but we can't get rid of it right now :(

[2020-01-02 11:07] ridhishjain commented on #2084
I guess the issue can be closed then

[2020-01-03 08:43] sidvishnoi opened #2686 "Exported definitions should be marked"
In `ui/dfn-list` (Definitions), exported definitions should be marked differently than non-exported definitions. The UI for marking is for discussion.

[2020-01-03 15:56] sidvishnoi commented on #2438
Closing as discussed in https://github.com/w3c/respec/pull/2681#issuecomment-570612971

[2020-01-03 15:56] #2438 closed

[2020-01-04 04:52] ridhishjain commented on #2686
@sidvishnoi, as this is UI related, can u tell me how to reproduce the behavior...or where to look for different UIs of exported and non-exported definitions?

[2020-01-04 04:55] sidvishnoi commented on #2686
src/`ui/dfn-list`.js, as mentioned in description. This shows up as ReSpec menu button -> Definitions.

[2020-01-04 15:54] Ayush23Dash commented on #2680
Hi,can you please help me with what kind of coding skills are requires. I have learnt how to use npm packages to deal with the extremities of a webapp and want to contribute to open source via gsoc.
Looking forward for your reply

[2020-01-04 16:03] sidvishnoi commented on #2680
Please have a look at previous years' GSoC for more information at https://github.com/w3c/respec/issues/1502 and https://github.com/w3c/respec/issues/2124

[2020-01-04 16:38] sidvishnoi commented on #2084
I'll do the remaining ones.

[2020-01-04 21:23] ridhishjain commented on #2686
What I understood is that we need to change the UI of the definitions (links) appearing in the popup box. And corresponding to that, we may need to change assets/ui.css

![Screenshot (65)](https://user-images.githubusercontent.com/45514905/71771702-bdc18480-2f65-11ea-8fbc-b8bdb14781f7.png)

[2020-01-05 08:56] sidvishnoi commented on #2686
That's correct @ridhishjain But changes would go in `respec.css` (`.respec-dfn-list`).
More importantly, we need to decide first how we want exported/non-exported dfn to look like

[2020-01-05 09:43] #2084 closed

[2020-01-06 15:39] mimoo opened #2700 "indentation in codeblocks still doesn't work with markdown"
I've had many issues trying to make markdown work.

* using triple backticks for codeblocks with markdown, indentation is broken (everything is flushed to the left)
* after converting codeblocks to `<pre class="rust"></pre>`, codeblock does not work anymore because I use `data-include` to include my code within the html file:

[code]

* inlining my markdown within the file, and with `<pre class="r

[2020-01-09 06:45] janiceshiu opened #2705 "HTML attributes not showing up in xref"
## Important info

* URL to affected spec: [discovered is HTML spec issue #5193](https://github.com/whatwg/html/pull/5193)
* ReSpec version: [Latest version of xref](https://respec.org/xref/)
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

**What happened:** I cannot find the [HTML attribute for iframe allow](https://html.spec.whatwg.org/multipage/iframe-embed-obje

[2020-01-09 12:19] #2705 closed

[2020-01-09 19:46] jyasskin opened #2708 "Short syntax to link to fragment inside other spec"
## Important info

* URL to affected spec: https://github.com/w3c/fingerprinting-guidance/pull/39/files
* ReSpec version: 25.0.4
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened?:

The syntax `<a data-cite="?HTML/webstorage.html#user-tracking">[HTML#user-tracking]</a>` links to a fragment inside the HTML spec, but `[[[?HTML/webstorage.html#user-trackin

[2020-01-09 20:08] sidvishnoi commented on #2708
The `[[[expand]]]` syntax presently only works for spec names and local anchors, as we already have their textContent values.
What should the textContent be in this case?

[2020-01-09 20:37] jyasskin commented on #2708
I don't have a strong opinion: it's a stylistic choice, just like the choice to render `[[expand]]` as "[expand]". I used "[HTML#user-tracking]" as the text content, omitting the "/webstorage.html", but including it would be fine with me.

[2020-01-09 20:39] sidvishnoi commented on #2708
Wouldn't the inverse be a better option where author specifies the text and ReSpec appropriately links? We already support this for definitions and IDL, we can extend support for other terms as well.

[2020-01-09 20:41] sidvishnoi commented on #2708
Also, how about `[[[ expand | textContent ]]]`? I'm not sure if it's better than `data-cite` syntax though.
We already support `[= link term | textContent =]` for definitions.

[2020-01-09 20:44] jyasskin commented on #2708
Supporting `[[[?HTML/webstorage.html#user-tracking]]]` (with implied text content of "[HTML/webstorage.html#user-tracking]") and `[[[?HTML/webstorage.html#user-tracking | replacement text content]]]` would be fine with me. I would be sad if the `| replacement text content` were required.

[2020-01-09 20:48] jyasskin commented on #2708
For reference, Bikeshed's similar feature is described at https://tabatkins.github.io/bikeshed/#section-links.

[2020-01-13 11:33] saschanaz commented on #2700
We had fixed it but found that there are some breakage in existing specs. We'll revisit it soon.

[2020-01-13 18:28] ridhishjain commented on #2535
@saschanaz I would like to work on this issue, can you please guide me through this?

[2020-01-14 03:20] saschanaz commented on #2535
I couldn't find any clue that we ever used w3c/linter, especially when it essentially is just a partial duplicate of w3c/defaults. I think we should just remove it, what do you think @sidvishnoi?

[2020-01-14 08:42] sidvishnoi commented on #2535
Yes. We should remove it as the linter rules are already registered in `w3c/default`

[2020-01-14 10:54] SuyashSalampuria opened #2713 "Improve styling of anchor tags on focussing upon them"
* URL to affected spec: https://github.com/w3c/respec/blob/develop/src/ui/save-html.js

When the anchor tags namely-HTML, XML, EPUB3 are in focus, they are not clear.
We need better styling .
(They open on clicking export after respec pill)

[2020-01-14 12:29] #2535 closed

[2020-01-14 19:03] ridhishjain commented on #2560
@marcoscaceres @sidvishnoi I would like to work on this. Seems challenging, a little help regarding understanding this more thoroughly would be great!

[2020-01-14 19:27] sidvishnoi commented on #2560
As Marcos said "we need to look at conventions of how specs do this manually already". So, presently, we need to do some research how other documents try to list terms defined externally, and then decide which one we want to support.
Some examples of what we're trying to generate:
https://w3c.github.io/manifest/#terms-defined-by-reference
https://w3c.github.io/sensors/#index-defined-elsewhere
http

[2020-01-15 11:25] #2686 closed

[2020-01-15 12:08] ridhishjain commented on #2713
I'll be working on this

[2020-01-15 12:29] SuyashSalampuria commented on #2713
Sure @ridhishjain
![Screenshot from 2020-01-15 17-57-17](https://user-images.githubusercontent.com/44131389/72433962-83a37e80-37c0-11ea-8edd-5e475417d6f3.png)

First click Respec button and then then export, focus on buttons using TAB spaces. You will see that close button is in focus initially!!

[2020-01-16 01:40] mimoo commented on #2700
any proposed approach that would work for the moment? Should I just give up on indentation until this is fixed? Or should I just switch my specification to full HTML instead of markdown?

[2020-01-16 11:53] saschanaz commented on #2700
You can try v25.0.0 which includes my proposed fix that got reverted later.

[2020-01-17 13:21] #2713 closed

[2020-01-17 13:51] ridhishjain commented on #1917
@saschanaz, I got what you've done in #1892, however, the directory structure is changed a lot since then.
can u tell me where to look for the processing part of `textContent` you've mentioned?

[2020-01-19 10:09] KarimCypher commented on #2651
Hey, @marcoscaceres I would like to work with this issue if no is working on this issue. This is my first contribution so it would be helpful if you could help me out a bit working on this issue.

[2020-01-19 11:36] #2700 closed

[2020-01-20 23:56] marcoscaceres commented on #2651
@Fahad999, this is probably not a good issue to to work on, as @jakubklimek has already done all the work :) If something else comes up that's easy to fix, I'll let you know.

[2020-01-23 03:54] saschanaz opened #2729 "Consider migrating to Playwright from Puppeteer"
https://twitter.com/aslushnikov/status/1220168031583649792

Playwright is a same tool but cross-platform, written by the same puppeteer team. It's said to be the successor of puppeteer, so we'll want to try it when it hits 1.0.

[2020-01-23 03:59] marcoscaceres commented on #2729
Oh wow! that's really cool! Yeah, we should definitely switch to that.

[2020-01-26 13:16] AnkitaPriya042 commented on #2680
Any updates on GSOC2020 @marcoscaceres  @sidvishnoi

[2020-01-26 13:55] marcoscaceres commented on #2680
Not yet. Hopefully by tge end of the week.

[2020-01-28 09:34] janiceshiu opened #2731 "Respec thinks that PR numbers are definitions"
## Important info

* URL to affected spec: [Example spec](https://w3c.github.io/navigation-timing/?isPreview=true&prNumber=23)
* ReSpec version: 25.1.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
**What happened?:** Unexpected error in respec pill.
**But what I was expecting?:** No errors.

### Steps to reproduce:
 1. Add `?isPreview=true&prNumber=23` to a spec.

[2020-01-28 10:03] sidvishnoi commented on #2731
@janiceshiu `prUrl` is required along with `?isPreview=true&prNumber=23`. How did you reach the above config without getting `prUrl`?

[2020-01-28 10:08] janiceshiu commented on #2731
https://github.com/w3c/respec/blob/develop/src/w3c/headers.js#L269-L271

[2020-01-28 10:10] sidvishnoi commented on #2731
This part to be precise:
https://github.com/w3c/respec/blob/b3922e7c1ee774dd0de61430c61d609fa2dc543d/src/w3c/templates/headers.js#L101-L104

[2020-01-29 00:29] amiller-ims opened #2733 "<pre> blocks in a markdown list are not indented correctly"
## Important info

* URL to affected spec: Not yet public
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1). 25.1 (dev edition https://github.com/w3c/respec/commit/b3922e7c1ee774dd0de61430c61d609fa2dc543d)
* [X] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

I am using markdown. The first line of  a `<pre>` is indented too much i

[2020-01-29 08:12] #2731 closed

[2020-01-29 22:27] amiller-ims commented on #2733
It looks like the problem is in markdown.js _normalizePadding_. When `doc` is created from `text`, the HTML parser implicity removes a newline after <pre> (again).

Adding a newline back into the <pre> seems to solve the problem without breaking reindentation.

[2020-01-29 22:41] carmacleod opened #2737 ".hljs-comment, .hljs-quote color does not pass WCAG contrast"
As a follow-on to PR https://github.com/w3c/respec/pull/2683, the `.hljs-comment` color in `highlight.css` does not have enough contrast.

The failing color is `#a0a1a7`, and it fails against a white background, and also against the very light orange `.example` color `#fcfaee` that is used in the ARIA spec, the APG, and possibly others.

[code]

The screen snap below shows a comment in example cod

[2020-01-29 23:09] carmacleod commented on #2737
Just leaving an FYI note here that there's an [a11y-light theme](https://github.com/highlightjs/highlight.js/blob/b7337391a18276c52b3d55b14117d3b3d6632f77/src/styles/a11y-light.css) on highlight.js now...
and its `.hljs-comment` color is `#696969`... in case you feel like an even darker grey...

[code]

[2020-01-31 19:41] ridhishjain commented on #2551
@saschanaz, can I take this issue?

[2020-01-31 23:39] saschanaz commented on #2551
Several are already removed by others, not sure whether there is a remaining. If you can find one, please do.

[2020-02-01 06:05] ridhishjain commented on #2551
I did not find any in src/w3c,  src/ui and, src/geonovum
any other directories to look for?
otherwise, the issue is resolved I guess

[2020-02-01 09:24] ridhishjain commented on #2638
@SuyashSalampuria can u please describe how to reproduce this behavior?

[2020-02-01 10:16] saschanaz commented on #2638
I think it's already self-explanatory, focus on this part:

`npm run test:headless`

[2020-02-01 11:35] ciradu2204 commented on #884
@marcoscaceres, @halindrome , and @SuyashSalampuria is this issue still open? If not, what's left?

[2020-02-01 12:51] SuyashSalampuria commented on #884
I think it is done and can be closed.
Is there still anything left @saschanaz  @marcoscaceres

[2020-02-01 14:58] AnkitaPriya042 commented on #2680
What are the updates @marcoscaceres . Its the end of the week

[2020-02-02 21:04] marcoscaceres commented on #2680
We’ve decided not to take part this year.

[2020-02-04 02:49] marcoscaceres commented on #2708
so unfortunately we don't support this yet, but we are exploring how to add it on the Respec.org server/service. Will leave this open for now.

[2020-02-05 09:18] gittysachin commented on #2680
Hi @marcoscaceres @sidvishnoi, can you please tell me what are the repositories of Mozilla that are going to be selected for GSOC'20. So that I would be able to contribute to those repositories. I'm skilled in C++, Git, JavaScript, HTML, CSS, React, Redux, NodeJS and other frameworks of JavaScript.

I saw that GSOC 2020 proposals list in the above-given link. But the actual repositories of those p

[2020-02-06 09:25] marcoscaceres commented on #2680
Hi @gittysachin, please ask here instead: http://github.com/mozilla/GSOC2020

[2020-02-10 05:18] marcoscaceres commented on #884
@ciradu2204, if possible, it would be great if you could compare what was suggested in https://github.com/w3c/respec/issues/884#issuecomment-242375658

And see if we addressed everything that @patrickhlauke had outlined there. There might be a few things we missed.

In terms of functionality, it's still buggy in Safari - but works well in Chrome. However, it doesn't work too well on mobile devices

[2020-02-10 06:55] saschanaz commented on #884
That's [`:focus-visible`](https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible) but sadly nobody supports that yet.

[2020-02-11 05:13] marcoscaceres commented on #2737
Closed via #2738

[2020-02-11 05:13] #2737 closed

[2020-02-11 07:30] marcoscaceres opened #2743 "Duplicate code in profiles"
We should look at reducing the duplication between W3C and DINI profiles. If we have things that are share, those should move to "core/". We should otherwise export things from core/*.js that can be used by DINI.

See https://github.com/w3c/respec/pull/2739 for specifics.

[2020-02-12 01:11] marcoscaceres opened #2745 "Add support for "group(s)""
It would be nice if ReSpec supported just having a "group" configuration option, that would pull all the relevant information about a working group from somewhere.

Group should be a string, like "WebApps". That would map to a W3C Group ID, and we could then pull the group information from the W3C API.

And example of this is done here:
https://w3c.github.io/webappswg/

We might also need to deal

[2020-02-12 09:19] sidvishnoi commented on #2745
How do we plan to use the group information from the API? The only group related info I found is presently being used in SOTD (_"This document was published by the Web Applications Working Group as a Living Document."_)

[2020-02-12 09:21] sidvishnoi commented on #2374
I guess we can drop old Edge now

[2020-02-12 09:27] saschanaz commented on #2374
Yes, as the new Microsoft Edge is available on https://www.microsoft.com/edge 👍

[2020-02-12 09:32] marcoscaceres commented on #2374
Awesome! let's do this!!! What do we need to do??!?

[2020-02-12 09:34] sidvishnoi commented on #2374
Collected from comments above:
- [ ] Replace `trimLeft`, `trimRight`
- [ ] Use `Object.entries()` where applicable
- [ ] Use `Array@flat`
- [ ] Clipboard

[2020-02-12 09:39] sidvishnoi commented on #2374
I'll be working on `Array.flat` part for now

[2020-02-12 14:33] saschanaz opened #2749 "Refactoring suggestion: Export classes from modules"
From https://github.com/w3c/respec/pull/2747/files#r378205900:

[2020-02-13 07:55] marcoscaceres commented on #2749
The be really nice... and less gross than today’s 🤮

[2020-02-13 07:59] marcoscaceres commented on #2745
Oh, the IPR link, the mailing list, the group’s actual full name, etc. All sorts of goodies.

[2020-02-13 10:17] sidvishnoi commented on #2745
I see. `wg`, `wgURI`, `wgPatentURI`, `wgPublicList` configuration options to be precise.

Problems to be solved:
- Finding group id from a group short name. W3C API doesn't provide any such information.
- We need to use a common API key (otherwise ask spec authors, which is uncool), so API limits will be an issue.
- W3C API is a proper rest API, which means, we've to traverse a request tree to fin

[2020-02-13 15:23] saschanaz commented on #2745
Maybe we can skip the public list, as everyone uses GitHub now.

[2020-02-17 04:41] marcoscaceres commented on #2745
Some groups still like their mailing lists, but I agree it should be opt-in somehow.

[2020-02-17 09:19] saschanaz commented on #2638
@marcoscaceres, should this be an error?

[2020-02-18 03:01] marcoscaceres commented on #2638
Yes, this should definitely be an error. I wonder also why it's in "[]"... not checked, but that seems odd.

[2020-02-19 11:12] iherman opened #2759 "HTML Entities should be converted when generating XHTML"
## Important info

* URL to affected spec: https://w3c.github.io/pub-manifest/ (just as an example, it is a general issue)
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1). 25.2.01
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

If I generate XHTML (as opposed to HTML), all browsers experience an XML error and stop. The reason: the HTML file contains HTML ent

[2020-02-19 11:22] marcoscaceres commented on #2759
Um... Ivan... serious question: isn't xhtml deprecated? Or is this for epub (which I think also now supports plain old HTML)?

[2020-02-19 11:56] iherman commented on #2759
Well... I do not know whether xhtml is deprecated or not, but I don't think so. Looking at [§1.6 of the latest spec](https://www.w3.org/TR/html52/introduction.html#html-vs-xhtml) suggests otherwise. (I agree, though, that most, if not almost all, people producing Web pages these days use HTML.)

Yes, at present, it is important for EPUB. At this moment, the official EPUB3 relies on XHTML, per [Cor

[2020-02-19 13:10] sidvishnoi commented on #2374
I guess we can cleanup `utils@children` also:
https://github.com/w3c/respec/blob/d3ca6fddfc944b7be9bffb27d059926b7e171a53/src/core/utils.js#L770-L796

[2020-02-19 13:15] sidvishnoi commented on #2733
@amiller-ims Did #2715 fix the issue? (Referring to https://github.com/w3c/respec/pull/2736#issuecomment-585968237)

[2020-02-19 13:18] sidvishnoi commented on #2530
@saschanaz I guess this if fixed?

[2020-02-19 13:45] saschanaz commented on #2530
No, we need to special-case `PutForwards`, currently we do not.

[2020-02-19 14:18] saschanaz commented on #2759
I can't reproduce this; first, the suggested affected spec does not include `&nbsp;` and second, the exporter correctly replaces entities into the actual characters (e.g. `&nbsp;` into ` ` and `&copy;` into `©`).

[2020-02-19 14:47] iherman commented on #2759
@saschanaz, thanks for checking. Here is what I realized:

- The `&nbsp;` is indeed not in the original respec code. Respec adds a non-breaking space for each reference (which is great!)
- You are right that on Chrome and Firefox it the results are non-breaking space characters. However, on Safari (on a Mac) the resulting file does include the `&nbsp;` entity and not the unicode character.

Ie, my

[2020-02-19 16:04] amiller-ims commented on #2733
@sidvishnoi Yes it did! Closing.

[2020-02-19 16:04] #2733 closed

[2020-02-19 16:18] #2374 closed

[2020-02-19 16:38] saschanaz commented on #2759
That sounds like an `XmlSerializer` implementation bug on Safari. I don't have a Mac so it's a bit limited to test it, could you file an issue on WebKit side?

[2020-02-19 16:41] iherman commented on #2759
Hm. Is it 'just' am XMLSerializer bug or something in the context? I must admit I am not familiar with that level of APIs, so it is a bit awkward for me to raise a bug whose details I do not really understand...

[2020-02-19 16:52] saschanaz commented on #2759
In that case I can do it myself. Could you confirm that [this minimal repro](https://codepen.io/SaschaNaz/pen/zYGKvOQ) shows `&nbsp;` on Safari? It does on my Epiphany but not on Firefox nor Chrome, so it should definitely something about `XMLSerializer`.

[2020-02-19 20:36] marcoscaceres commented on #2759
Confirmed, it's a Safari bug.

[2020-02-19 20:57] marcoscaceres commented on #2759
@saschanaz can you help me write the bug report for Webkit. I'm happy to file it. Does this sound ok?

I'm a bit unsure if the above is correct... as when I check Firefox it is correct:
<img width="518" alt="Firefox" src="https://user-images.githubusercontent.com/870154/74875536-8e03fa00-53b6-11ea-9068-ee719faf5ccd.png">

But chrome outputs:
<img width="352" alt="Screenshot 2020-02-20 07 55 54" sr

[2020-02-19 21:01] marcoscaceres commented on #2759
(we will probably need to consult the HTML spec to see what is supposed to happen to entities upon XML serialization... @travisleithead, as editor of the serialization spec, maybe you can save us a bit of time? Is Chrome/Safari right? or is Firefox right?)

[2020-02-19 23:34] travisleithead commented on #2759
Well, the spec aligns with Firefox/Chrome behavior.
https://w3c.github.io/DOM-Parsing/#xml-serializing-a-text-node
Since `&nbsp;` is just a Text node in the DOM, it is serialized as a space since there's no need to entity-encode anything there.

Having said that, a lot of this spec was fiction, and there's work to be done (by someone at some point) to try to align it with implementations :) But to

[2020-02-20 00:03] saschanaz commented on #2759
@marcoscaceres That's just the DOM inspector. Try `$0.textContent` on your console and it will show `"<p xmlns="http://www.w3.org/1999/xhtml" id="nbsp"> </p>"` as expected.

[2020-02-20 00:58] marcoscaceres commented on #2759
ah! thanks for checking/explaining that @saschanaz. You are the best! Ok, so WebKit bug it is.

[2020-02-20 01:11] marcoscaceres commented on #2759
Ok, filed:
https://bugs.webkit.org/show_bug.cgi?id=207976

Closing, as it's not something we can fix here :) XHTML lives to fight another day!

[2020-02-20 01:11] #2759 closed

[2020-02-20 01:14] marcoscaceres commented on #2759
Thanks also @travisleithead for the explanation and helping understand the state of that spec. Hopefully we can get around to updating it!

[2020-02-20 07:50] iherman commented on #2759
@marcoscaceres @saschanaz @travisleithead thanks for carrying this through. @saschanaz I only saw [your note](https://github.com/w3c/respec/issues/2759#issuecomment-588323232) when starting my day a few minutes ago (the joys of cooperating over diverse time zones 😄

[2020-02-20 12:50] #2406 closed

[2020-02-22 19:43] gkellogg opened #2767 "WebIDL breaks with attribute named "object""
## Important info

* URL to affected spec: https://w3c.github.io/json-ld-api/
* ReSpec version: 25.3.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

The WebIDL block for [RdfTriple](https://w3c.github.io/json-ld-api/#dfn-rdftriple) does not render properly. Changing "object" to "obj" (as is done in w3c/json-ld-api#384) makes it work, but clearly ReSpec shouldn't

[2020-02-22 21:02] sidvishnoi commented on #2767
If I understand correctly, we can't have an identifier as one of [DistinguishableType](https://heycam.github.io/webidl/#prod-DistinguishableType), so identifiers like `object`, `boolean` would be invalid. Though we can escape them (`_object` will work). @saschanaz can tell more on WebIDL.

It is coming from [common.js#L131](https://github.com/w3c/json-ld-api/blob/8099234347af489b1ca7a82ec87014877f

[2020-02-23 02:25] saschanaz commented on #2767
Updated Web IDL spec explicitly allows them, so this is a bug on webidl2.js side.

[2020-02-23 02:34] saschanaz commented on #2767
Oops, actually no. `object` is a special keyword and [the allowed argument keyword list](https://heycam.github.io/webidl/#prod-ArgumentNameKeyword) does not include `object`. You can open a bug there side if this sounds like a problem.

[2020-02-23 03:22] gkellogg commented on #2767
I've got to say, the seemingly arbitrary restrictions that get added make managing specs pretty challenging. In this case, we use _subject_, _predicate_, and _object_ rather pervasively, as they are core RDF concepts. To all of a sudden have one of these core principles become unavailable is frustrating. It would be useful if you could establish some form of configuration parameter that allowed su

[2020-02-23 03:26] gkellogg commented on #2767
Does this mean I can make the errors go away by defining `definitionList`? What would go in there?

`common.js` does a number of things, but the one that binds it to jQuery is the use in managing shared definitions. When last I checked, the issue was having an effective replacement for `makeID`, which was defined on an element. At some point, it would be good to remove jQuery stuff, as managing co

[2020-02-23 03:32] saschanaz commented on #2767
@gkellogg I can file an issue to the IDL spec to explicitly allow `object` (so far the spec authors appreciate such suggestion), do you want me to do so?

[2020-02-23 18:06] gkellogg commented on #2767
Thanks, that would be great. But, please consider a respecConfig field that can override these restrictions.

[2020-02-24 01:39] marcoscaceres commented on #2767
I'm not sure we want to deviate from standard WebIDL, as restrictions in WebIDL are usually in place for very good reasons (e.g., deviating might be web incompatible, or conflict with the underlying ECMAScript concepts on which WebIDL depends on). Also, please remember what I said previously about using WebIDL for an untended purpose: it's not well-suited for data models - only for web exposed API

[2020-02-24 05:12] gkellogg commented on #2767
This strikes me as something to TAG may need to take up sometime, as JSON-LD _is_ used in the browser, and is an emerging best practice for data within web pages as well as with Web Workers, and [the TAG has considered its use before](https://github.com/w3ctag/design-reviews/issues/312#issuecomment-434689623). Aside from carving out namespaces for things like "object", the restriction for dictiona

[2020-02-24 05:30] saschanaz commented on #2767
Will open an issue to ping IDL people later today to allow this 👍

[2020-02-24 05:39] bzbarsky commented on #2767
Why do you need to rename anything?  If the IDL has `_object` as the name of the attribute, that serves as an escape to indicate "I mean the identifier with the string `object`, not the keyword `object`".  That is, if you use `_object` the actual JS reflection will have a property named `"object"`, which is what you want.

[2020-02-24 10:20] xfq opened #2768 "Conformance section with customized title and content?"
## Important info

* URL to affected spec: https://w3c.github.io/miniapp/specs/uri/#conformance
* ReSpec version: 25.3.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Is it possible to add a section with `id="conformance"` but change the section title and the boilerplate?

[2020-02-24 10:24] sidvishnoi commented on #2768
Yes. You can use the [`override`](https://github.com/w3c/respec/wiki/override) class

[code]

[2020-02-24 10:36] xfq commented on #2768
I see. Thank you!

[2020-02-24 10:36] #2768 closed

[2020-03-02 10:28] marcoscaceres opened #2776 "Switch to muhtml"
Successor of hyper, lighter, html...

https://github.com/WebReflection/uhtml#readme

@WebReflection suggested it might be good for us to migrate. Good reasons:

https://gist.github.com/WebReflection/761052d6dae7c8207d2fcba7cdede295#dom-engines-features-comparison

Looks like it should be super painless to do so.

[2020-03-02 12:00] WebReflection commented on #2776
So ... beside suggesting some of my latest/greatest creations, I wanted to understand the _respec_ use cases, hence I did some quick analysis of the current `src` folder.

### Current Status

It looks like here and there you are using most _hyperHTML_ features, including:

  * partial attributes (only one single instance found in `constrib.js`
  * wires with reference, and wires with both referenc

[2020-03-02 12:03] WebReflection commented on #2776
P.S. something I've forgotten to mention, latest _hyperHTML_ supports attribute setters, as in `.src=${value}` for images, as example, and in that case there won't be ever a 404, because the template parses that exactly as `.src` attribute, not as `src`, hence no triggering with temporary interpolated data ever happens.

This is true for all the 3 libraries I've mentioned already, they all support

[2020-03-03 04:00] marcoscaceres opened #2777 "Support accessibility checks via linter"
In a different forum, some folks were asking about supporting a11y checks on specs. We might be able to hook up Axe:

https://github.com/dequelabs/axe-core

Axe looks pretty trivial to implement. We could ask the w3c to host the javascript library (or we just put it on respec.org), then we can make a simple opt-in option in ReSpec to add the required script tag and we can report out errors/warning

[2020-03-05 08:48] marcoscaceres opened #2780 "Using working group data from w3c"
Look at pulling working group data from:
https://www.w3.org/PM/Groups/chairboard.html?gid=114929

[2020-03-05 08:54] sidvishnoi commented on #2780
Is this different from https://github.com/w3c/respec/issues/2745?

[2020-03-05 08:54] marcoscaceres commented on #2780
closing as dup... will add the link above to the other issue

[2020-03-05 08:54] #2780 closed

[2020-03-05 08:55] marcoscaceres commented on #2745
We can pull data from this new datasource: https://www.w3.org/PM/Groups/chairboard.html?gid=114929

[2020-03-05 08:57] sidvishnoi commented on #2745
It's pulling data from W3C API itself...

[2020-03-05 19:49] saschanaz commented on #2776
Yes, true.

[2020-03-05 20:16] WebReflection commented on #2776
@saschanaz if that's the case, as I've seen new files using `import hyperHTML as html` which is exactly hat I'd do in your most common use case too, what are the main pain-points that you encountered, in using `html...` to create one-off dom nodes, beside those two cases I've mentioned?

my only concern is that you'd be after a big refactoring, for no real-world gaining, and dare I say it'd be the

[2020-03-06 21:02] saschanaz opened #2782 "Merge changelog generation into release script?"
Seems there is a good npm package named [`release`](https://npmjs.com/release). Haven't tried it but it's something to consider.

[2020-03-07 13:07] #2777 closed

[2020-03-07 17:19] saschanaz opened #2784 "Replace Greenkeeper with Snyk"
From #2781:

[2020-03-07 18:34] saschanaz commented on #2776
Can't recall everything but one thing is that we had to insert `${" "}` like `` hyperHTML`<a href="#${link.id}">${link.title}</a>${" "}` `` to insert a space, because otherwise it will be trimmed.

[2020-03-07 18:50] WebReflection commented on #2776
that's an interesting case, as everyone else, apparently, expects templates to always be trimmed ... can you please remember in which case it was needed?

[code]

all of that should work, meaning the case for a space seems very specific to a CSS gotcha, otherwise as nested interpolation you can always put spaces around, unless I am missing some use-case here, thanks!

[2020-03-07 18:56] WebReflection commented on #2776
P.S. however irrelevant this is, when you have a space around a node, and that node is the only one in the template, the derived fragment content would contain one node, and one text node, resulting into a _persistent fragment_ operation, that is usually bad for performance (not "_that_" bad, but worse).

For this reason, my libraries trim templates so that you can write:

[code]

without worrying

[2020-03-07 19:00] WebReflection commented on #2776
P.S.2 to be clear with terms, _wires_ in hyperHTML are "_maybe fragments_", while _bind_ are "_containers_" ... the "_maybe fragments_" bit means that, if you have holes out of the box, as in ``hyperHTML`this is ${hole1} and ${hole2}` ``, those 4 nodes are inevitably handled as persistent fragment, but if you have ``hyperHTML`<div>this is ${hole1} and ${hole2}</div>` `` you have a single div node

[2020-03-08 05:36] marcoscaceres commented on #2782
Could be nice. We haven't integrated "github_changelog_generator" because it's a ruby gem. I don't mind which one we use, but yeah... our CHANGELOG situation is sad.

[2020-03-08 10:11] saschanaz commented on #2776
It's from:

https://github.com/w3c/respec/blob/a7d64f4e8805ce4c0154f8b27a67347431995794/src/core/dfn-panel.js#L114-L124

This code wants to insert a space after each anchor.

[2020-03-08 12:08] WebReflection commented on #2776
Wouldn't an `&nbsp;` solve that case? (haven't tried though) ... but the thing is, unless I explicit export an utility a part for this edge case, none of the alternatives would solve that, for the previously mentioned reasons.

[2020-03-08 14:45] saschanaz commented on #2776
`&nbsp;` will literally not break so no, but `&#32;` may work.

[2020-03-10 09:44] WebReflection commented on #2776
@saschanaz I have found another solution that's [proven to work](https://codepen.io/WebReflection/pen/OJVzwaZ?editors=0010) well. The chosen name is `<sep/>` but it could as well be a valid custom element name such as `<a-space/>`.

It's more like a workaround, but I believe it's a very semantic one:

[code]

The `<sep>` tag has its own CSS definition:
[code]

As there are more than a work around

[2020-03-12 15:37] tguild opened #2789 "otherLinks without href don't render"
It seems the behavior of otherLinks has changed, at least between when Time-OWL was last published and now

https://www.w3.org/TR/2017/REC-owl-time-20171019/

The editors chose to use otherLinks as advertised

https://github.com/w3c/respec/wiki/ReSpec-Editor's-Guide#extra-links-at-top-of-the-document

[[There are times when you might need extra links or other important information to appear togeth

[2020-03-12 16:03] sidvishnoi commented on #2789
Regression from https://github.com/w3c/respec/pull/1514.

[2020-03-12 16:38] #2789 closed

[2020-03-12 16:44] sidvishnoi commented on #2789
Thanks for reporting @tguild!
Updated the wiki to reflect that `href` is optional.

[2020-03-14 18:26] tguild commented on #2789
Thanks @sidvishnoi

[2020-03-18 05:10] marcoscaceres opened #2792 "Conceptual for should be treated as case insensitive"
For example:

[=list/For each=]

And
[=List/For each=]

should both link.

Right now, [=List/For each=] is not found.

[2020-03-18 08:47] sidvishnoi commented on #2792
Found a case where we can't simply just lowercase the forContext: [`[= AbortSignal/add =]`](https://respec.org/xref/?term=add&types=_CONCEPT_&for=AbortSignal) - add is a concept here, not a method.
But on xref server, we can try the lowercase forContext if the original one is not found.

[2020-03-19 06:42] #2792 closed

[2020-03-20 10:14] sidvishnoi opened #2797 "Heading order doesn't fix itself"
## Important info

* URL to affected spec: https://w3c.github.io/using-aria/
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1). 25.4.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?: Enabled `respecConfig.a11y`, got a warning for `heading-order` rule.

But what I was expecting?: ReSpec to fix the heading numbers automatically

[2020-03-23 06:54] sidvishnoi commented on #2560
Taking following features from examples above:

- https://w3c.github.io/manifest/#terms-defined-by-reference
  - links to the [reference] also
- https://fetch.spec.whatwg.org/#index-defined-elsewhere, https://w3c.github.io/sensors/#index-defined-elsewhere
  - back references to usage in current document
  - looks clean
- https://w3c.github.io/sensors/#index-defined-elsewhere
  - column layout save

[2020-03-23 07:13] sidvishnoi commented on #2560
Another idea is to roll our own, as described in the issue description, i.e. no lists/tables but natural language.

[2020-03-23 07:15] marcoscaceres commented on #2560
Yes, that would be awesome. If we know the type that would be amazing!

[2020-03-23 07:24] marcoscaceres commented on #2560
Imagine this serves as a kind of "book index"... so we could also look at how books do this. So we do want a list, I think. And it's nice to scan terms. Some alternatives might be to order them in different ways: like alphabetically, and then put the spec after each. That would make it more useful.

[2020-03-23 07:28] marcoscaceres commented on #2560
Looking at fetch, what BikeShed does with classification is actually pretty good (specially in the local ones)... and adding the type info (and appropriate style) would make it even better + plus making it multi-column.

[2020-03-25 00:48] marcoscaceres opened #2806 "Add Web Monatization to ReSpec"
It would be nice if ReSpec could be monetized in a number of ways:

 1. add Web Monetization support.
 1. add a direct link to our open collective in the ReSpec pill.
 1. add "buy us a coffee" https://www.buymeacoffee.com support, as a little button.

For 1, we should default to out own Wallet - but allow others to configure their own wallet if they want - so individual specs can be monetized if p

[2020-03-27 10:29] #2560 closed

[2020-03-29 18:43] sidvishnoi opened #2817 "Auto generate list of local definitions"
Local dfn counterpart of https://github.com/w3c/respec/issues/2560

[2020-03-30 07:56] marcoscaceres opened #2818 "child concepts should pluralize"
For instance, [=list/contain=] it should be possible to write:

Right now, one needs to alias:

[2020-04-02 07:40] #2817 closed

[2020-04-02 11:16] sidvishnoi commented on #2680
Closing as proposal period is over.

[2020-04-02 11:16] #2680 closed

[2020-04-07 01:00] AmeliaBR commented on #2432
Is there any update on this? What is the current best practice if I just want to link to a spec, not a particular term in that spec?

As is, I'm currently getting all sorts of spurious errors even though the generated links are exactly what I want. It makes it pretty difficult to identify real errors.  The `data-no-xref` attribute no longer works, although turning off xref linking altogether (with

[2020-04-07 09:23] sidvishnoi commented on #2432
You can use either `[[spec]]` or `[[[spec]]]`.

Can you share markup or URL to the spec?

[2020-04-07 16:09] AmeliaBR commented on #2432
That doesn't work if you need custom link text.

[Markup for whole document](https://github.com/Maps4HTML/HTML-Map-Element-UseCases-Requirements/blob/master/index.html) (our hosted page is a static snapshot, so you'll need to download or use a rawgit-like proxy). Some snippets:

[code]

----------

Overall, I'm glad to see the XRef functionality added, but I wish it used a new `data-xref-specs` at

[2020-04-07 22:42] marcoscaceres commented on #2432
I think what ReSpec is telling you there is correct (i.e., your usage of `data-cite` is incorrect)... for instance:

"fullscreen mode" is not a defined thing in the fullscreen spec. You would need to find some explicitly exported concept to link to from fullscreen specification. Maybe `[=fullscreen element=]`?

If none of the exported concepts are suitable, then you need to ping the Editor of the

[2020-04-07 23:11] AmeliaBR commented on #2432
The `[[[shortname]]]` syntax for citing a spec often doesn't work in prose because the official spec titles can be awkward or inconsistent.  E.g., `[[[Geolocation]]] and [[[geolocation-sensor]]]` expands to ”Geolocation API Specification 2nd Edition and Geolocation Sensor”, which doesn't make sense in my sentence.

That triple-bracket syntax was always [described](https://github.com/w3c/respec/wik

[2020-04-08 07:43] sidvishnoi opened #2822 "Allow aliasing in inline spec citation"
We should extend `[[spec]]` syntax to support aliasing as `[[spec | textContent]]` as described in https://github.com/w3c/respec/issues/2432#issuecomment-610478412.

[2020-04-08 07:47] sidvishnoi commented on #2432
`data-no-xref` not working was a bug (#2821). You can enable xref again with that.
We're also extending `[[spec]]` syntax to support custom text in #2822.

[2020-04-08 13:19] #2822 closed

[2020-04-08 16:15] sidvishnoi commented on #2432
With the next release (tomorrow probably), we can link to a spec as:
- `[[SPEC]]` or `[[SPEC|custom text]]` - will link to bibliographic entry (references section), which in turn links to the spec
- `<a data-cite="SPEC" data-no-xref>custom text</a>` - direct link to spec (also added to references section)
- `<a href="SPEC_URL">custom text</a>` works as always, but won't create an entry in referenc

[2020-04-08 17:24] AmeliaBR commented on #2432
Thanks for the very helpful updates and bug fixes @sidvishnoi!

[2020-04-09 13:59] sidvishnoi opened #2825 "Open dfnPanel using keyboard"
Presently, [core/dfn-panel](https://github.com/w3c/respec/blob/58b9c4442d3dcc7d671a3270341d7f0da8fe4f25/src/core/dfn-panel.js) can be opened only with a mouse click. It would be good for accessibility if we can open it using keyboard. For that, `<dfn>` would need to be keyboard focusable first, and we should probably open panel on `Enter` - opening just on focus might be annoying.

[2020-04-10 07:03] himorin opened #2828 "(feature request) a configuration to add updated date to title page publication date"
## Important info

* URL to affected spec: https://www.w3.org/TR/2018/REC-ttml-imsc1.1-20181108/
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1).
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

Timed-Text WG is planning to update IMSC recommendations in-place following [republishing procedure](https://www.w3.org/2003/01/republishing/).
This requires to modif

[2020-04-12 14:31] sidvishnoi opened #2830 "Refactor linker modules"
Presently, the linker modules, mainly `core/data-cite` and `core/link-to-dfn` are doing a lot of related/unrelated work. Would be helpful to simplify the linking logic. We should run them as 3 modules in following order:
1. `core/link-to-dfn`: links to local definitions and marks everything else external
2. `core/xref`: links external terms
3. `core/data-cite`: converts data-cite attributes create

[2020-04-14 08:43] #2828 closed

[2020-04-14 08:57] sidvishnoi commented on #2828
@himorin Released #2834 and now available in ReSpec 25.6.0.
Preview: https://w3c.github.io/imsc/imsc1/spec/ttml-ww-profiles.html?modificationDate=2020-04-13
Wiki: https://github.com/w3c/respec/wiki/modificationDate

[2020-04-14 09:16] saschanaz opened #2835 "State object instead of module states"
From #2832:

[2020-04-14 12:41] nigelmegitt commented on #2828
Thanks for the quick turnaround on this @sidvishnoi

[2020-04-17 01:49] marcoscaceres opened #2845 "Unable to publish because of CSS validator issues"
Echidna is upset :(

[code]

[2020-04-17 08:59] sidvishnoi commented on #2845
CSS Custom properties are not yet supported with CSS validator https://github.com/w3c/css-validator/pull/173 :disappointed:
I'll send a PR to remove our use of custom properties until it is supported. Would need to incorporate it in our frozen w3c-common profile also. :disappointed:

[2020-04-17 12:05] sidvishnoi commented on #2784
Hi @siusin!
Can you disable the Greenkeeper integration in ReSpec?

[2020-04-17 12:33] #2845 closed

[2020-04-17 14:04] siusin commented on #2784
done! @sidvishnoi

[2020-04-17 14:48] sidvishnoi commented on #2784
Thanks @siusin!
Thank you for your contribution on open collective also!

[2020-04-17 20:47] jnurthen opened #2848 "ARIA specs broken - definitionMap not defined"
## Important info

* URL to affected spec: https://w3c.github.io/aria/
* ReSpec version: 25.6.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

ARIA (and a number of specs) have shared terms. We clean these up by removing any which are not referenced in https://github.com/w3c/aria-common/blob/master/script/resolveReferences.js which includes the following where it

[2020-04-17 20:47] jnurthen commented on #2848
https://github.com/w3c/aria/issues/1244

[2020-04-17 21:33] sidvishnoi commented on #2848
That's indeed a regression. We [recently stopped](https://github.com/w3c/respec/pull/2838) supporting the w3c-common profile, but I'll get the fix for this bug in.

Alternatively, if you could explain what exactly resolveReferences.js does, we might be able to integrate it in ReSpec. I've seen [similar](https://github.com/w3c/respec/issues/2767#issuecomment-590022201) thing being used in json-ld s

[2020-04-17 21:34] saschanaz commented on #2848
Sounds good, we should still maintain it even when we don't add features.

[2020-04-20 12:47] siusin commented on #2784
You're welcome. Thanks for all you have done for the projects!

[2020-04-21 09:45] sebastian-meyer opened #2850 "HTML gets ignored in markdown specs"
## Important info

* URL to affected spec: https://dini-ag-kim.github.io/oer-service-card/draft/
* ReSpec version: 25.6.2
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened: HTML sections like `abstract`, `conformance` etc. are no longer recognized. The spec is using `format: "markdown"`, where the main file is HTML, but it includes some markdown files (

[2020-04-21 10:15] sidvishnoi commented on #2850
Can you tell when it worked? It might be a regression.

This seems to be a problem with indentation logic. The quick "fix" here is to unindent everything to zero-indentation.

[2020-04-21 11:49] sidvishnoi commented on #2850
cc: @saschanaz

[2020-04-21 12:31] saschanaz commented on #2850
The real problem is that `data-include-format` is missing. The indentation logic is fired only for markdown formats.

[2020-04-21 12:37] saschanaz commented on #2850
Seems we need to modify the check as it really should fire for all `data-include` whose ancestor is markdown, not just for markdown-formatted inclusion.

[2020-04-21 12:41] sebastian-meyer commented on #2850
So, I should remove `format: "markdown"` from configuration, since my main file is HTML, but include `data-include-format="markdown"` on every `data-include`, right?

[2020-04-21 12:42] saschanaz commented on #2850
Yup, that's my current understanding.

[2020-04-21 12:52] sebastian-meyer commented on #2850
I tested it locally, but can't confirm. Removing `format: "markdown"` and adding `data-include-format="markdown"` on every include (except for the JSON examples) just leads to everything being interpreted as markdown. So it's even worse than before. 😕

Test branch: https://github.com/dini-ag-kim/oer-service-card/tree/test-data-include-format

[2020-04-21 13:02] saschanaz commented on #2850
Ah, I guess we also need `data-format=markdown` for each section.

@sidvishnoi could you explore a fix mentioned here https://github.com/w3c/respec/issues/2850#issuecomment-617152537 ?

[2020-04-21 15:56] sidvishnoi commented on #2850
@saschanaz I tried various combinations and fiddled around with indentation and markdown logic, but it didn't work for nested sections. Should we try to unindent sections in a depth-first order?

[2020-04-24 18:32] gkellogg opened #2852 "FPWD-NOTE vs FPWG-NOTE"
## Important info

* URL to affected spec: https://github.com/w3c/json-ld-streaming
* ReSpec version: 25.6.3
* [x] I did a "hard refresh", but it's still busted.

## Description of problem
ReSpec documents various [`specStatus`](https://github.com/w3c/respec/wiki/specStatus) configuration values, including `FPWD-NOTE`. However, the [PubRules](https://www.w3.org/pubrules/doc) document defines `FPWG

[2020-04-29 09:53] marcoscaceres commented on #2852
Argh, we might need to dig through the w3c templates and set the right conditions for this. It’s weird that PubRules is getting confused though.

[2020-05-02 06:39] xfq commented on #639
Related: https://github.com/w3c/respec/issues/792

[2020-05-02 09:03] sidvishnoi commented on #639
We should do this in [respec-validator](https://github.com/marcoscaceres/respec-validator) probably.

[2020-05-11 02:13] sideshowbarker opened #2859 "Browser Support table generated by caniuse feature should factor in mobile versions of Chrome, Firefox, and Safari"
With the `caniuse` feature enabled, Respec apparently doesn’t take mobile versions of Chrome, Firefox, and Safari into consideration when generating the Browser Support table.

An example where that can lead to misleading information is the Network Information API:

https://wicg.github.io/netinfo/

That shows misleadingly shows only Chrome and (Blink-based) Edge have support. But in fact Firefox f

[2020-05-11 03:57] marcoscaceres commented on #2859
Hi @sideshowbarker, please see https://github.com/w3c/respec/wiki/caniuse ... it can be configured specifically to show mobile versions.

[2020-05-11 04:21] sideshowbarker commented on #2859
aha — I should have taken time to read the docs… Will close this and file an issue against the Netinfo spec. Thanks!

[2020-05-11 04:21] #2859 closed

[2020-05-11 04:22] marcoscaceres commented on #2859
Sounds good. See you over in the other repo :) Should be quick to fix.

[2020-05-11 04:58] marcoscaceres opened #2860 "MDN configuration should allow defining different key"
The mdn config option currently takes a single argument `true`, and derives which data to pull down from MDN based on the `shortName`... however, there are cases where the `data` is not at the `shortName` (e.g., `netinfo` on MDN, while the spec's short name was `netinfo-api`).

It would be great if `mdn` allowed string override (e.g., `mdn: "netinfo"`), in addition to `true`... and then true can j

[2020-05-11 08:29] marcoscaceres opened #2861 "Better support indicators for MDN boxes"
Elsewhere, @sideshowbarker wrote:

@marcoscaceres This reminds me that I’ve been meaning to suggest an enhancement to the MDN annotations generated by Respec: We can add an implementation-status indicator to the collapsed MDN buttons. Take a look at https://wicg.github.io/webusb/#device-usage

The (Bikeshed-generated) MDN annotations there shout pretty loudly (maybe too loudly…) that `USBDevice` i

[2020-05-11 08:31] marcoscaceres commented on #2861
Sample of not supported:

![Screenshot 2020-05-11 18 30 45](https://user-images.githubusercontent.com/870154/81540832-949e7e00-93b5-11ea-89c5-aa243feab73e.png)

Sample of supported:

![Screenshot 2020-05-11 18 30 59](https://user-images.githubusercontent.com/870154/81540838-9700d800-93b5-11ea-8922-2b1163108a6d.png)

[2020-05-12 09:53] #2860 closed

[2020-05-12 11:35] saschanaz opened #2865 "Create a playground page"
It would be great to get a playground page so that users can try a feature or file a bug.

Some examples:

* https://prettier.io/playground/
* typescriptlang.org/play/

A ReSpec playground might get a side-by-side columns where the left one is a mere textbox and the right one is a ReSpec renderer.

[2020-05-12 11:52] saschanaz opened #2866 "<var> doesn't match if it includes a newline"
## Important info

* URL to affected spec:
* ReSpec version: 25.7.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:

Clicking a `var` does not highlights others.

But what I was expecting?: Both should be highlighted

Optional, steps to reproduce:
1. Insert

[code]

2. Check clicking either one highlights the other.

[2020-05-12 12:03] #2866 closed

[2020-05-15 10:24] saschanaz opened #2869 "Migrate to RegExp lookbehind once possible"
https://github.com/w3c/respec/blob/3fdd807b94804e78386f5540846960ac8bae0ccb/src/core/inlines.js#L62-L70

https://github.com/w3c/respec/blob/be3430cd0c35a3f644e6ea66389536354e723291/src/core/inline-idl-parser.js#L15-L17

The patch just landed in Firefox 🎉🥳 https://bugzilla.mozilla.org/show_bug.cgi?id=1634135

We should still wait for Safari, though.

[2020-05-15 20:52] sidvishnoi opened #2874 "Use custom ReSpec version while generating via respec2html"
There was a discussion earlier about pinning ReSpec version while exporting document - bypassing the version spec was originally using. (https://github.com/w3c/respec/pull/2702)

I've found another use case for doing so. I was thinking of creating a GitHub Action for monitoring regressions in ReSpec, by using actual specs. Idea is similar to using https://respec-preview.netlify.app, but automate i

[2020-05-18 01:36] sideshowbarker commented on #2861
I realize now I misspoke a bit in what’s in the issue description here. It’s not actually necessary to re-write an algorithm for generating the implementation-status indicatators.

That’s because all the https://w3c.github.io/mdn-spec-links/ JSON data already now includes an `engines` array that lists the shortname of each engine that supports a particular feature; like this:

[code]
So you can ju

[2020-05-18 04:23] marcoscaceres commented on #2865
We should do this over at https://github.com/marcoscaceres/respec.org .... should probably be the landing page.

[2020-05-18 21:30] sidvishnoi commented on #2729
Playwright 1.0 has been released :tada:

[2020-05-19 08:16] saschanaz commented on #1469
A new possibility: someone [made a JS-to-binary compiler](https://github.com/NectarJS/nectarjs) that also supports WASM.

Not sure it's any valid, though.

[2020-05-20 17:27] sidvishnoi opened #2889 "Remove legacy code related to w3c-common profile"
- [ ] Remove code due to legacy support
- [ ] Fix highlightjs dynamic language loading - uses accessing worker with `require`
- [ ]  Fix tools/respecDocWriter.js - uses exporter with `require`
- [ ] Remove `require` support - do not `expose` anymore - BREAKING CHANGE

[2020-05-20 20:11] sidvishnoi opened #2890 "IDL linking error with typedef"
## Important info

* URL to affected spec: https://wicg.github.io/js-self-profiling/
* ReSpec version: 25.8.1
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

typedef `ProfilerResource` fails to link when `data-link-for="ProfilerTrace"` is present.

[code]

Regression from: https://github.com/w3c/respec/pull/2847

[2020-05-20 20:23] sidvishnoi commented on #2271
Closed by #2873, #2868 and some part already existed.

[2020-05-20 20:23] #2271 closed

[2020-05-21 07:48] sidvishnoi commented on #924
This is now supported (since more than a year). You can do `{{Foo/[[bar]]}}` in ReSpec also.

[2020-05-21 07:48] #924 closed

[2020-05-21 08:00] marcoscaceres commented on #1110
with data-dfn-for, don't need this anymore!

[2020-05-21 08:00] #1110 closed

[2020-05-21 08:02] marcoscaceres commented on #1448
Closing, as ReSpec remains opinionated about requiring sections.

[2020-05-21 08:02] #1448 closed

[2020-05-21 08:06] marcoscaceres commented on #2324
The {{ Syntax }} caters for this, so I think this can be closed. @sidvishnoi, wdyt?

[2020-05-21 09:31] #2324 closed

[2020-05-21 12:51] xfq commented on #651
FYI - this is what WebDriver uses: https://github.com/w3c/webdriver/blob/master/issue.js

[2020-05-22 09:05] sidvishnoi commented on #2767
If https://github.com/heycam/webidl/issues/845 is supported, it will eventually be fixed in w3c/webidl2.js. Until then, `_object` remains the way to declare identifier.

[2020-05-22 09:05] #2767 closed

[2020-05-22 09:09] sidvishnoi commented on #2618
Closing based on https://github.com/w3c/respec/issues/2618#issuecomment-564496630

[2020-05-22 09:09] #2618 closed

[2020-05-25 01:47] marcoscaceres opened #2902 "xref linking bug"
Given `xref: "web-platform"` in the config, the following works fine:

[code]

While the following does not (complains it's ambiguous, because HTML also defines `body`):

[code]

For whatever reason, xref is not getting the citation context from its closest parent.

[2020-05-25 06:48] sidvishnoi commented on #2902
xref is indeed getting context from closest parent, but the problem is, it doesn't stop when it has found a term. It's a major logical bug in respec-xref-route's search function.

[2020-05-25 09:32] andrea-perego opened #2904 "W3C logo showing up in unofficial drafts"
## Important info

* URL to affected spec: https://ec-jrc.github.io/dcat-ap-jrc/
* ReSpec version: Click the ReSpec pill (e.g., 20.0.1): 25.6.0
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

The W3C logo is showing up in unofficial drafts, even if the `logos` field is missing in `config.js`. This was not happening until recently.

It seems to be the same problem r

[2020-05-25 12:12] marcoscaceres commented on #2902
Oops

[2020-05-26 04:31] marcoscaceres opened #2913 "Weirdness of "application/x-www-form-urlencoded""
In [xref search](https://respec.org/xref/?term=application%2Fx-www-form-urlencoded),   "application/x-www-form-urlencoded" is categorized as a HTML attribute... might be a bug in HTML that it's being exported incorrectly?

We are suggesting it be cited as "[^application/x-www-form-urlencoded^]", which doesn't actually match anything.

[2020-05-26 07:11] #2902 closed

[2020-05-26 08:20] marcoscaceres opened #2914 "Be nice to link "coded" things"
Consider:

[code]

It would be super nice to just write:
[code]

[2020-05-26 08:49] sidvishnoi commented on #2913
This seems to be an issue with HTML spec. Bikeshed is treating it as:
https://github.com/tabatkins/bikeshed-data/blob/260ae9181b3940eb7301a1446c64e3eddc09b206/data/anchors/anchors-ap.data#L888-L896